#define( $headerMarkup )

	<link rel="stylesheet" type="text/css" href="css/cms.css"/>
	<link rel="stylesheet" type="text/css" href="applications/jscalendar/skins/aqua/theme.css"/>
	<script type="text/javascript" src="applications/jscalendar/calendar.js"></script>
	<script type="text/javascript" src="applications/jscalendar/lang/calendar-en.js"></script>
	<script type="text/javascript" src="applications/jscalendar/calendar-setup.js"></script>
	
	<script type="text/javascript">
	<!--

		function skipAndCancel()
		{
			document.editForm.target = "_parent";
			document.editForm.action = "CreateContentWizardFinish!cancel.action";
			document.editForm.submit();
		}	
	
		function next()
		{
			document.editForm.submit()
		}	

		$(document).ready(function(){
				
			$("#closeDialog").click(function(){
				if(parent && parent.closeInlineDiv) parent.closeInlineDiv(); else if(parent && parent.closeDialog) parent.closeDialog(); else window.close();
		   	});
		
			document.editForm.name.focus();
			
		});
	-->
	</script>
	
#end

################################
##BEGIN REAL CODE
################################

#beginLightCommonToolV3Impl("tool.contenttool.createContentWizardInputContent.title" "" "" false true $!disableCloseButton $headerMarkup false "")

	#lightMenuToolbar("" $buttons $rightButtons) 

	<div style="clear: both;"></div>

	<form name="editForm" method="post" action="CreateContentWizardInputContent.action">
		<input type="hidden" name="isBranch" value="false" />
		<input type="hidden" name="parentContentId" value="$!parentContentId">
		<input type="hidden" name="repositoryId" value="$!repositoryId">
		<input type="hidden" name="unrefreshedContentId" value="$!parentContentId" />
		<input type="hidden" name="changeTypeId" value="2" />
		<input type="hidden" name="userSessionKey" value="$!userSessionKey"/>
		<input type="hidden" name="returnAddress" value="$returnAddress"/>
		<input type="hidden" name="disableCloseButton" value="$!disableCloseButton"/>
	
		<div id="igEditArea" class="igScrollArea">
		
			<h3>$ui.getString("tool.contenttool.createContentWizardInputContent.title")</h3>
	
			<p>#editTextField("Content.name" "name" $!name "30" "normaltextfield" "")</p>
	
			#if($enableDateTimeDirectEditing == "true")
				#set($dateReadonly = "")
			#else
				#set($dateReadonly = "readonly='readonly'")
			#end
			<p><b>$ui.getString("tool.common.publicationSpan.label")</b></p>
			<p>#editDateField("Content.publishDateTime" "publishDateTime" $!publishDateTime "30" "date" "ViewCalendar.action?date=$!publishDateTimeAsLong&formPath=document.editForm.publishDateTime" "$dateReadonly")</p>
			<p>#editDateField("Content.expireDateTime" "expireDateTime" $!expireDateTime "30" "date" "ViewCalendar.action?date=$!expireDateTimeAsLong&formPath=document.editForm.expireDateTime" "$dateReadonly")</p>
			<p>
				$ui.getString("tool.contenttool.newContent.contentType")<br/>
				<select class="contenttypes" name="contentTypeDefinitionId">
				#foreach ($contentTypeDefinitionVO in $contentTypeDefinitions)
					#if($contentTypeDefinitionId == $contentTypeDefinitionVO.contentTypeDefinitionId)
						<option value="$contentTypeDefinitionVO.getContentTypeDefinitionId()" selected="1">$contentTypeDefinitionVO.getName()</option>
					#elseif(!$allowedContentTypeNames || $allowedContentTypeNames.indexOf("$contentTypeDefinitionVO.getName(),") > -1)
						<option value="$contentTypeDefinitionVO.getContentTypeDefinitionId()">$contentTypeDefinitionVO.getName()</option>
					#end
				#end
				</select>
			</p>
			
			#lightFooterToolbar($footerButtons)
		
		</div>
		
	</form>

#endLightCommonToolV3()
