#define($headerMarkup)

	<style type="text/css">
		@import "script/jqueryplugins/dataTables/media/css/ig_table.css";
	</style>
	<script type="text/javascript" language="javascript" src="script/jqueryplugins/dataTables/media/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" charset="utf-8">
	<!--
		$(document).ready(function() {
			#set($extraParameter = '')
			#initDataTableImpl("dataTable" $extraParameter)
		});
	-->
	</script>
#end

################################
##BEGIN REAL CODE
################################
#beginLightCommonToolV3Impl("tool.mydesktoptool.myPages" "" "" false true $!disableCloseButton $headerMarkup false "")

	##lightMenuToolbar("" $buttons $rightButtons) 

	<div style="clear: both;"></div>
	
	<div id="igEditArea" class="igScrollArea" onfocus="this.blur();">
	
	<h3>$ui.getString("tool.mydesktoptool.myPages")</h3>

	<p>$ui.getString("tool.mydesktoptool.myPages.intro")</p>
			
	<table cellpadding="0" cellspacing="0" border="1" class="display" id="dataTable">
		<thead>
			<tr>
				<th>$ui.getString("tool.mydesktoptool.myPages")</th>
				<th>$ui.getString("tool.mydesktoptool.expirationDate")</th>
			</tr>
		</thead>
		<tbody>
		
			#foreach ($siteNodeVO in $siteNodeVOListLastModifiedByPincipal)
				<tr>
					<td>
						<a href="#" class="page" onclick="top.openUrlInWorkArea('ViewSiteNode.action?siteNodeId=$siteNodeVO.id', '$siteNodeVO.name', 'structure', '$ui.getString("tool.common.pageTabLabelPrefix")');">$this.getSiteNodePath($siteNodeVO.id)</a><br/>
					</td>
					<td>
						<span>$formatter.formatDate($siteNodeVO.expireDateTime, "yyyy-MM-DD HH:mm")</span>
					</td>
				</tr>
			#end
			
		</tbody>
	</table>
	
	##lightFooterToolbar($footerButtons)

#endLightCommonToolV3()