#define($headerMarkup)

	<style type="text/css">
		@import "script/jqueryplugins/dataTables/media/css/ig_table.css";
	</style>
	<script type="text/javascript" language="javascript" src="script/jqueryplugins/dataTables/media/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" charset="utf-8">
	<!--
		function invokeWorkflowView(workflowId, actionId, view)
		{
			var url = "";
			if(view.indexOf("?") > -1)
				url="" + view + "&workflowId=" + workflowId + "&actionId=" + actionId + "&returnAddress=$URLBase/Workflow!invoke.action&finalReturnAddress=$URLBase/ViewMyDesktop.action";
			else
				url="" + view + "?workflowId=" + workflowId + "&actionId=" + actionId + "&returnAddress=$URLBase/Workflow!invoke.action&finalReturnAddress=$URLBase/ViewMyDesktop.action";
			
			//alert(url);
	
			document.location.href = url;
		}

		$(document).ready(function() {
			#set($extraParameter = '"aoColumns": [ { "sWidth": "30px" }, null, null, null ]')
			#initDataTableImpl("workflows" $extraParameter)
			#initDeleteLink()
		});
	-->
	</script>
	
#end

################################
##BEGIN REAL CODE
################################
#beginLightCommonToolV3Impl("tool.mydesktoptool.ongoingWorkflows" "" "" false true $!disableCloseButton $headerMarkup false "")

	##lightMenuToolbar("" $buttons $rightButtons) 

	<div style="clear: both;"></div>
	
	<div id="igEditArea" class="igScrollArea" onfocus="this.blur();">
	
	<h3>$ui.getString("tool.mydesktoptool.ongoingWorkflows")</h3>

	<p>$ui.getString("tool.mydesktoptool.ongoingWorkflows.intro")</p>	
			
	<table cellpadding="0" cellspacing="0" border="1" class="display" id="workflows">
		<thead>
			<tr>
				<th>$ui.getString("tool.common.action.label")</th>
				<th>$ui.getString("tool.mydesktoptool.workflowNameLabel")</th>
				<th>$ui.getString("tool.mydesktoptool.stepNameLabel")</th>
				<th>$ui.getString("tool.mydesktoptool.actionNameLabel")</th>
			</tr>
		</thead>
		<tbody>
		
			#set($myActions = $this.getWorkflowActionVOList($webwork.bean('org.infoglue.cms.util.workflow.OwnerStepFilter')))
		
			#foreach ($workflowVO in $workflowVOList)
				#set($action = "")
				#foreach ($workflowActionVO in $workflowVO.globalActions)
					#set($iconUrl = $workflowActionVO.metaAttributes.get("icon"))
					#set($viewGlobalAction = $workflowActionVO.getView())
					#if($viewGlobalAction == "")
						#set($viewGlobalAction = "ViewMyDesktopToolStartPage!invoke.action")
					#end
					#set($viewGlobalAction = "$quote$viewGlobalAction$quote")
					#set($action = "$!action <a href='javascript:invokeWorkflowView($workflowActionVO.getWorkflowId(), $workflowActionVO.getId(), $viewGlobalAction);'><img src='$iconUrl' border='0' width='15' height='15' alt='$workflowActionVO.getName()'/></a>")
				#end

				#set($view = "$quote$workflowVO.getView()$quote")				
				#if($workflowVO.getTitle())
				  	#set($fullTitle = "$workflowVO.getName() - $workflowVO.getTitle()")
					#set($visibleTitle = $fullTitle)
					#if($fullTitle.length() > 40)
						#set($visibleTitle = "$fullTitle.substring(0,37)...")
					#end
				#else
					#set($fullTitle = "$workflowVO.getName()")
					#set($visibleTitle = $fullTitle)
					#if($fullTitle.length() > 40)
						#set($visibleTitle = "$fullTitle.substring(0,37)...")
					#end
				#end
				
				#set($row = ["<a href='javascript:showDiv(${quote}activeWorkflow${workflowVO.workflowId}DetailsProperties${quote});'><img src='images/infoWorkflow.gif' border='0' alt='Start workflow'></a>", "<a title='$fullTitle' href='javascript:showDiv(${quote}activeWorkflow${workflowVO.workflowId}DetailsProperties${quote});'>$visibleTitle</a>", "$!action"])
				#set($cnt = $cnt + 1)
				
				#foreach($workflowActionVO in $myActions)
					#if($workflowActionVO.workflowId == $workflowVO.id)
						#set($view = $workflowActionVO.getView())
						#if($view == "")
							#set($view = "Workflow!invoke.action")
						#end
						
						#set($stepWorkflow = $workflowActionVO.step.workflow)
						#if($stepWorkflow.title)
						  	#set($fullTitle = "$stepWorkflow.name : $stepWorkflow.title")
						#else
							#set($fullTitle = "$stepWorkflow.name")
						#end
						<tr>
							<td>
								#set($action = "")
								#foreach ($workflowActionVO in $workflowVO.globalActions)
									#set($iconUrl = $workflowActionVO.metaAttributes.get("icon"))
									#set($viewGlobalAction = $workflowActionVO.getView())
									#if($viewGlobalAction == "")
										#set($viewGlobalAction = "Workflow!invoke.action")
									#end
									#set($viewGlobalAction = "$viewGlobalAction")
									<a href="javascript:invokeWorkflowView($workflowActionVO.getWorkflowId(), $workflowActionVO.getId(), '$viewGlobalAction');"><img src="$iconUrl" border="0" alt="$workflowActionVO.getName()"/></a>
								#end
							</td>
							<td><a title="$fullTitle" href="#" onclick="parent.openInlineDiv('Workflow!showRunningWorkflowDetails.action?workflowId=$workflowVO.workflowId', 600, 800, true, true, 'Workflow');">$visibleTitle</a></td>
							<td><a href="javascript:invokeWorkflowView($workflowActionVO.getWorkflowId(), $workflowActionVO.getId(), '$view');">$workflowActionVO.name</a></td>
							<td>$workflowActionVO.stepName</td>
						</tr>
						#set($cnt = $cnt + 1)
					#end
				#end
		
			#end
		</tbody>
	</table>
	
	##lightFooterToolbar($footerButtons)

#endLightCommonToolV3()