#beginLightCommonToolV3("tool.managementtool.createEmailChooseRecipients.title" "" "" false true $!disableCloseButton)

<style type="text/css">
	
	.userSelectBox
	{
		width: 200px;
		height: 200px;
	}
	
	.moveButton
	{
		width: 50px;
	}
</style>

<script type="text/javascript">
	<!--
		$(document).ready(function(){
			$("#tabsContainer").tabs({ show:function() { resizeInlineTabDivs();} });
		});
				

		function submitForm()
		{
			document.editForm.submit();
		}
		
		function showUsers()
		{
			openPopup('ViewListSystemUser!userListForPopupV3.action', 'Users', 'width=400,height=600,resizable=yes,scrollbars=yes');
		}
		
		function selectUser(userName)
		{
			$("#userList").append("<li id='" + userName + "'><input type='hidden' name='userName' value='" + userName + "'/>" + userName + " <a href=\"javascript:deleteUser('" + userName + "');\" class=\"deleteCross\" style=\"display: inline-block; width: 20px; height: 20px; text-decoration: none;\">&nbsp;</a></li>");
		}
		
		function deleteUser(userName)
		{
			$("#" + userName).remove();
		}
		
		function selectUserFromField(userName)
		{
			jQuery.getJSON("ViewCommonAjaxServices!userSearch.action", { "q": "" + $("#userNameField").val(), "fieldToMatchExact": "email" }, function(data) { 
				console.log(data.users.length);
				if(data.users.length == 0)
					alert("$ui.getString("tool.common.noUserWithEmailFound.warning")");
				else
				{
					selectUser($("#userNameField").val());
				}
			});
		}
		
		
	-->
</script>

<div onfocus="this.blur();">
    
	#lightMenuToolbar("" $buttons $rightButtons) 

	<div style="clear: both;"></div>
	
	<h3 style="text-indent: 16px;">$ui.getString("tool.managementtool.createEmailChooseRecipients.title") 
		#if($errorMessage && $errorMessage != "")
			<span style="color:red">$errorMessage</span><br/>
		#end
	</h3>


	<form method="POST" name="editForm" action="CreateEmail!inputCreateEmailV3.action" autocomplete="off" onsubmit="selectAll('userName')">
		<input type="hidden" name="igSecurityCode" value="$!securityCode"/>
		<input type="hidden" name="returnAddress" value="$!returnAddress"/>
		<input type="hidden" name="originalUrl" value="$!originalUrl"/>
		<input type="hidden" name="extraText" value="$!extraText"/>
		<input type="hidden" name="extraTextProperty" value="$!extraTextProperty"/>
		<input type="hidden" name="userSessionKey" value="$userSessionKey"/>
		<input type="hidden" name="disableCloseButton" value="$!disableCloseButton"/>
				
		<div style="color: black;">
			
			<div id="tabsContainer" class="flora">      
				<ul>
			        ##if($enableUsers)
			        <li><a href="#usersTab"><span>$ui.getString("tool.managementtool.createEmailChooseRecipients.usersTabLabel")</span></a></li>
			        ##end
			        #if($this.hasAccessTo("ToolTabsAndButtons.MessageCenterRolesAndGroups", true, false))
			        <li><a href="#rolesTab"><span>$ui.getString("tool.managementtool.createEmailChooseRecipients.rolesTabLabel")</span></a></li>
			        <li><a href="#groupsTab"><span>$ui.getString("tool.managementtool.createEmailChooseRecipients.groupsTabLabel")</span></a></li>
			    	#end
			    </ul>
				
				##if($enableUsers)
				<div id="usersTab" class="recipientTab inlineTabDiv">	
					
					<div>
					<h3>$ui.getString("tool.managementtool.createEmailChooseRecipients.enterUserNameOrMailOrSearchUserLabel")</h3>
					<p>
					<input type="text" id="userNameField" name="userName"/> 
					<a href="javascript:selectUserFromField();">Add</a><a class="showUsers" href="javascript:showUsers(0);" style="display: inline-block; height: 20px; width: 20px; background: url(css/images/spyglassIcon.gif) no-repeat 0px 0px; margin-left: 4px;">&nbsp;</a>
					</p>
					</div>
					
					<h4>$ui.getString("tool.managementtool.createEmailChooseRecipients.selectedUsersLabel")</h4>
					<ul id="userList">
					</ul>
				</div>
				##end
				
				<div id="rolesTab" class="recipientTab inlineTabDiv" style="padding: 10px"> 				
					#foreach ($roleVO in $roles)
						<input type="checkbox" name="roleName" value="$roleVO.name"/> $roleVO.name<br/>
					#end
				</div>
				
				<div id="groupsTab" class="recipientTab inlineTabDiv" style="padding: 10px"> 				
					#foreach ($groupVO in $groups)
						<input type="checkbox" name="groupName" value="$groupVO.name"/> $groupVO.name<br/>
					#end
				</div>
			</div>		
			
		</div>
			
	</form>

</div>

#lightFooterToolbar($footerButtons)

#endCommonToolV3()
