<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#beginManagementTool("tool.managementtool.createRepository.header" "tool.managementtool.createRepository.header" "")

<div class="fullymarginalized">

	<form name="editForm" method="post" action="CreateRepository!V3.action">
		<input type="hidden" name="igSecurityCode" value="$!securityCode"/>
		<p>#editField("Repository.name" "name" $!name "51")</p>
		<p>#editField("Repository.description" "description" $!description "51")</p>
		<p>#editField("Repository.dnsName" "dnsName" $!dnsName "51")</p>
		<p><b>$ui.getString("tool.managementtool.chooseRepositoryLanguages.header")</b></p>
		<p>
		#foreach ($availableLanguageVO in $availableLanguages)
			<input type="checkbox" name="languageId" value="$availableLanguageVO.id">$availableLanguageVO.name</input>
		#end
		</p>
	</form>

</div>

<div onfocus="this.blur();" id="footertoolbar">
	<div style="float: left; margin-left: 10px;">
		<input type="button" class="save" value="$ui.getString("tool.common.saveButton.label")" onclick="save(document.editForm);"/>
		<input type="button" class="cancel" value="$ui.getString("tool.common.cancelButton.label")" onclick="document.location.href='ViewListRepository.action';"/>
	</div>
</div>

</body>
</html>
