#beginManagementToolV3("tool.managementtool.messageSent.title" "" false)

<link rel="stylesheet" href="script/jqueryplugins/ui/themes/flora/flora.all.css" type="text/css" media="screen" title="Flora (Default)">
<script type="text/javascript">
	function closeDialog()
	{
		if(parent && parent.closeInlineDiv) 
			parent.closeInlineDiv(); 
		else if(parent && parent.closeDialog) 
			parent.closeDialog(); 
		else if (window.opener)
			window.close();
		else
			history.back();
	}
</script>

<p>$ui.getString("tool.managementtool.messageSent.title"):</p>
<p>
  	$ui.getString("tool.managementtool.messageSent.text"): $recipients.replaceAll(";", ", ")
</p>

<a href="javascript:closeDialog();">Close</a>

#endManagementTool()
