#beginCommonToolV3("tool.managementtool.viewGroup.header" "$!groupName" "" false true true)

<script type="text/javascript">
		
    YAHOO.example.init = function () 
    {
        YAHOO.util.Event.onContentReady("buttons", function () 
        {	        
			var oRightButton = new YAHOO.widget.Button("transferRightButton");
			var oLeftButton = new YAHOO.widget.Button("transferLeftButton");
						
        	oRightButton.on("click", function (p_oEvent){
	   			!$('#unassignedUserNameList option:selected').remove().appendTo('#userName');  
        	});
        	oLeftButton.on("click", function (p_oEvent){
				!$('#userName option:selected').remove().appendTo('#unassignedUserNameList');  
        	});
        });
    }();
	
	function markNearestOption()
	{
		var searchField = document.getElementById("searchField");
		var list        = document.getElementById("unassignedUserNameList");
		//alert("list:" + list);
		
	  	sNode = list.options;
	  	for(i=0;i<sNode.length;i++)
		{
			currentNode = sNode[i];
			//alert("currentNode:" + currentNode.text);
			//alert("searchField:" + searchField.value);
			//alert("index:" + currentNode.text.indexOf(searchField.value));
			if(currentNode.text.toLowerCase().indexOf(searchField.value.toLowerCase()) > -1)
			{
				list.selectedIndex = i;
			  	break;		
			}
	  	}
	}
	
	function save(form)
	{
		var list = document.getElementById("userName");
		
	  	sNode = list.options;
	  	for(i=0;i<sNode.length;i++)
		{
			currentNode = sNode[i];
			//alert("CurrentNode:" + currentNode);
			//alert("currentNode:" + currentNode.name);
			//alert("CurrentNode:" + currentNode.selected);
			currentNode.selected = true;
		}
		form.submit();
	}

	function saveAndExit(form, action)
	{
		form.action = action;
		save(form);
	}

</SCRIPT>

#menuToolbar("$!primaryKey" $buttons $rightButtons) 

<div style="clear: both;"></div>

#if($supportsUpdate == false)
	#set($readonly = "disabled")
#else
	#set($readonly = "")
#end
#set($hasAccessToManageUsers = $this.hasAccessTo("Group.ManageUsers", "$groupName"))

<div id="igEditArea" class="igScrollArea">

<form id="inputForm" name="inputForm" method="POST" action="UpdateGroup!v3.action">
<input type="hidden" name="igSecurityCode" value="$!securityCode"/>
<input type="hidden" name="groupName" value="$!groupName">

	<fieldset class="ig-fieldset">
		<!--<legend class="ig-legend">$ui.getString("tool.managementtool.createGroup.header")</legend>-->
		#editTextFieldCSS("Group.groupName" "groupName" "$!groupName" "51" true, "disabled")
		#editTextFieldCSS("Group.description" "description" "$!description" "51" true "")

		#labelCSS("tool.managementtool.groupManageMemebers.label" "ig-section-label")
		
		<div>
			<table cellpadding="0" cellspacing="0">
				<tr>
				  <td>
					<table width="100%" border="0" cellpadding="0" cellspacing="2">
					  <tr>
					    <td>$ui.getString("tool.managementtool.stateNameOrChooseFromList.label"):<br>
					        <input type="text" id="searchField" name="searchField" class="ig-textfield" style="width:300px;" onkeypress="javascript:markNearestOption();" onchange="javascript:markNearestOption();">
					      </td>
					    <td>&nbsp;</td>
					    <td valign="bottom">$ui.getString("tool.managementtool.members.label")</td>
					  </tr>
					  <tr>
					    <td>
					    	<select class="ig-select" id="unassignedUserNameList" name="unassignedUserNameList" MULTIPLE SIZE="10" style="width:300px;">
					          	#foreach ($infoGluePrincipal in $allInfoGluePrincipals)
									<option value="$infoGluePrincipal.name" title="$infoGluePrincipal.name">$infoGluePrincipal.name</option>
								#end
					        </select>
					    </td>
					    <td align="center">
					        <input id="transferRightButton" name="transferRightButton" type="button" name="right" value=" &gt;&gt; " style="width:50px; font-family: verdana; font-size: 10px;"><BR><BR>
							<input id="transferLeftButton" name="transferLeftButton" type="button" name="left" value=" &lt;&lt; " style="width:50px; font-family: verdana; font-size: 10px;"><BR><BR>
						</td>
					    <td>
					      	<select class="ig-select" id="userName" name="userName" multiple size="10" style="width:300px;">
								#foreach ($assignedInfoGluePrincipal in $assignedInfoGluePrincipals)
									<option value="$assignedInfoGluePrincipal.name" title="$assignedInfoGluePrincipal.name">$assignedInfoGluePrincipal.name</option>
								#end
						    </select>
					    </td>
					</tr>
					</table>
					</td>
				</tr>
			</table>
		</div>
					
		<div class="ig-row">
			<label class="ig-label-nl" for="contentTypeDefinitionId">$ui.getString("tool.managementtool.groupContentTypeDefinition.label")</label>
			<select name="contentTypeDefinitionId" class="ig-select">
				<option value="">$ui.getString("tool.managementtool.chooseContentTypeDefinition.label")</option>
				#foreach ($contentTypeDefinitionVO in $contentTypeDefinitionVOList)
					#set($selected = "")
					#foreach ($assignedContentTypeDefinitionVO in $assignedContentTypeDefinitionVOList)
						#if($assignedContentTypeDefinitionVO.id == $contentTypeDefinitionVO.id)
							#set($selected = "selected")
						#end 
					#end
					<option value="$contentTypeDefinitionVO.id" $selected>$contentTypeDefinitionVO.getName()</option>
				#end
			</select>
		</div>
		
		<div style="clear: both;"></div>
		
	</fieldset>

</form>
</div>

#footerToolbar($footerButtons)

#endCommonToolV3()