{
	"sEcho": $sEcho, 
	"iTotalRecords": $totalRecords, 
	"iTotalDisplayRecords": $totalDisplayRecords, 
	"aaData": [ 
		#foreach($principal in $infogluePrincipals)
		#if($velocityCount > 1),#end["<a href='javascript:selectUser(&#34;$principal.name&#34;);'>$principal.name</a>","$principal.firstName","$principal.lastName"]
		#end
	] 
}