#define( $headerMarkup )

#end


#if($showInline)
	#beginLightCommonToolV3Impl("tool.managementtool.viewSystemUserPasswordDialog.header" "$!userName" "" false true true $headerMarkup)
#else

<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>$ui.getString("tool.managementtool.viewSystemUserPasswordDialog.header")</title>
	
	#includeLatestJQuery()
	
	<script type="text/javascript" src="script/v3/infoglue.js"></script>

	<link rel="stylesheet" type="text/css" href="css/v3/infoglue.css" />
	<link rel="stylesheet" type="text/css" href="css/v3/tabs.css" media="screen">

	<meta http-equiv="Expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

</head>

<body class="generaltooledit">
	
#end

#set($infogluePrincipalId = $formatter.encodeURI($userName)) 

#if(!$showInline)
	#lightMenuToolbar("" $buttons $rightButtons) 
#end

<form method="POST" name="editForm" action="UpdateSystemUserPassword!v3.action">
	<input type="hidden" name="igSecurityCode" value="$!securityCode"/>
	<input type="hidden" name="userName" value="$!userName">
	<input type="hidden" name="returnAddress" value="$!returnAddress">

	<div id="igEditArea" class="igScrollArea" onfocus="this.blur();">

	<fieldset class="ig-fieldset">

		#editPasswordFieldCSS("SystemUser.oldPassword" "oldPassword" "" "51" true "")<br/>
		#editPasswordFieldCSS("SystemUser.newPassword" "newPassword" "" "51" true "")<br/>
		#editPasswordFieldCSS("SystemUser.verifiedNewPassword" "verifiedNewPassword" "" "51" true "")<br/>
	
		<div style="clear: both;"></div>
	
		<div id="buttons" class="ig-buttonRow">
			<a id="savePassword" class="igButton" href="#" onclick="showDiv('newSubscriptionForm');" title="$ui.getString("tool.common.saveButton.title")"><span class="igButtonOuterSpan" title="$ui.getString("tool.common.saveButton.title")"><span class="save" title="$ui.getString("tool.common.saveButton.title")">$ui.getString("tool.common.saveButton.label")</span></span></a>
			#if($standalone != "false")
			<a id="cancelPassword" class="igButton" href="#" onclick="showDiv('newSubscriptionForm');" title="$ui.getString("tool.common.cancelButton.title")"><span class="igButtonOuterSpan" title="$ui.getString("tool.common.cancelButton.title")"><span class="cancel" title="$ui.getString("tool.common.cancelButton.title")">$ui.getString("tool.common.cancelButton.label")</span></span></a>
			#end
		
			<script type="text/javascript">
			<!--
			$("#savePassword").click(function(){
				document.editForm.submit();
	        });
			$("#cancelPassword").click(function(){
				#if($showInline)
					if(parent && parent.closeDialog) parent.closeDialog(); else window.close();
				#else
					document.location.href = 'ViewSystemUser!v3.action?userName=$infogluePrincipalId';					
				#end
	        });
			-->
			</script>
	
		</div>
		
		</fieldset>

	</div>
</form>
</div>

</body>
</html>
