#define($headerMarkup)

	<style type="text/css">
		@import "script/jqueryplugins/dataTables/media/css/ig_table.css";
	</style>
	<script type="text/javascript" language="javascript" src="script/jqueryplugins/dataTables/media/js/jquery.dataTables.min.js"></script>

	<script type="text/javascript">
	<!-- 		
		$(document).ready(function(){
			
			#set($extraParameter = '"bProcessing": true, "bServerSide": true, "fnServerData": function ( sSource, aoData, fnCallback ) { jQuery.post( sSource, aoData, fnCallback, "json" ); }, "sAjaxSource": "ViewListSystemUser!popupProcessAndFilter.action"')
			#initDataTableImpl("dataTable" $extraParameter)
	
			$("#dataTable_processing").prepend("<img src='css/embla/images/loading.gif' width='16'/>").css("color", "blue");
			$("#dataTable_filter input").attr("id","sSearch").hide();
			$("#dataTable_filter").append("<input type='text' id='searchField'/> <img id='reset' src='images/v3/cross.png'>");
			$("#reset").click(function() { $("#searchField").val(""); $("#sSearch").val("").trigger('keyup'); }).hide();
			$("#searchField").keyup(function(e) {
				if(e.keyCode == 13) {
					if($("#searchField").val().length > 2)
					{
						$("#sSearch").val($("#searchField").val()).trigger('keyup');
						$("#reset").show();
					}
					else
						alert("You must state at least 3 characters for the search to work");
				}
			});
			
			window.resizeTo(500, 600);
		});

		function hideUsers()
		{
			window.close();
		}
	
		function selectUser(userName)
		{
			if(window.opener && window.opener.selectUser)
				window.opener.selectUser(userName);
	
			window.close();
		}
		
	-->
	</script>

#end

################################
##BEGIN REAL CODE
################################

#beginLightCommonToolV3Impl("tool.managementtool.viewSystemUserList.header" "" "" false true $!disableCloseButton $headerMarkup false "")

	<div style="clear: both;"></div>
	
	<h3>$ui.getString("tool.managementtool.viewSystemUserList.header")</h3>
	
	<div id="igEditArea" class="igScrollArea" onfocus="this.blur();">
		
		#*
		<ul id="index" style="list-style: none; height: 16px; margin: 0 10px 0 10px; background-color:#F5F5F5; border:1px solid #CCCCCC; padding:4px;">
			<li style="float: left;">Alphabetic: </li>
			#foreach($char in $usersFirstNameChars)
			<li style="float: left; margin-left: 4px; text-transform: capitalize;">
				#if("$filterChar" == "$char")
					$char
				#else
				<a href="ViewListSystemUser!userListForPopupV3.action?filterChar=$char" style="text-decoration: underline;">$char</a>
				#end
			</li>
			#end
			<li style="float: left; margin-left: 4px;">
				#if("$filterChar" == "all")
					All
				#else
					<a href="ViewListSystemUser!userListForPopupV3.action?filterChar=all" style="text-decoration: underline;">All</a>
				#end
			</li>
		</ul>
		*#

		<table cellpadding="0" cellspacing="0" border="1" class="display" id="dataTable">
			<thead>
				<tr>
					<th>$ui.getString("entity.SystemUser.userName.label")</th>
					<th>$ui.getString("entity.SystemUser.firstName.label")</th>
					<th>$ui.getString("entity.SystemUser.lastName.label")</th>
				</tr>
			</thead>
			<tbody>
				#if(("$!filterChar" == "" && $infogluePrincipals.size() < 300) || "$!filterChar" == "all")
					#set($filteredInfogluePrincipals = $infogluePrincipals)
				#end
			
				#foreach($user in $filteredInfogluePrincipals)

					<tr>
					  	<td><a href="javascript:selectUser('$user.name');">$user.name</a></td>
					  	<td>$user.firstName</td>
					  	<td>$user.lastName</td>
					</tr>
				
				#end
				
			</tbody>
		</table>
				
	</div>
		
#endLightCommonToolV3()