#if($format != "compact")
{
	"sEcho": $sEcho, 
	"iTotalRecords": $totalRecords, 
	"iTotalDisplayRecords": $totalDisplayRecords, 
	"aaData": [ 
		#foreach($principal in $infogluePrincipals)
		#if($velocityCount > 1),#end["<a class='deleteCross' title='$ui.getString("tool.common.delete.label") $principal.name' href='UpdateRole!deleteUser.action?roleName=$formatter.encodeBase64("$roleName")&userName=$formatter.encodeBase64($principal.name)&igSecurityCode=$securityCode&test=$principal.name'>&nbsp;</a>","$principal.name","$principal.firstName","$principal.lastName"]
		#end
	] 
}
#else
{
	"sEcho": $sEcho, 
	"iTotalRecords": $totalRecords, 
	"iTotalDisplayRecords": $totalDisplayRecords, 
	"users": [ 
		#foreach($principal in $infogluePrincipals)
		#if($velocityCount > 1),#end{"userName": "$principal.name", "name": "$principal.firstName $principal.lastName"}
		#end
	] 
}
#end