#define($headerMarkup)

	<style type="text/css">
		@import "script/jqueryplugins/dataTables/media/css/ig_table.css";
	</style>
	<script type="text/javascript" language="javascript" src="script/jqueryplugins/dataTables/media/js/jquery.dataTables.min.js"></script>

	<script type="text/javascript">
	<!-- 		
		$(document).ready(function(){
			#set($extraParameter = '"bProcessing": true, "bServerSide": true, "fnServerData": function ( sSource, aoData, fnCallback ) { jQuery.post( sSource, aoData, fnCallback, "json" ); }, "sAjaxSource": "ViewListSystemUser!processAndFilter.action", "aoColumns": [ { "sWidth": "30px" }, null, null, null ]')

			#initDataTableImpl("dataTable" $extraParameter)
			#initDeleteLink()
			
			$("#dataTable_processing").prepend("<img src='css/embla/images/loading.gif' width='16'/>").css("color", "blue");
			$("#dataTable_filter input").attr("id","sSearch").hide();
			$("#dataTable_filter").append("<input type='text' id='searchField'/> <img id='reset' src='images/v3/cross.png'>");
			$("#reset").click(function() { $("#searchField").val(""); $("#sSearch").val("").trigger('keyup'); }).hide();
			$("#searchField").keyup(function(e) {
				if(e.keyCode == 13) {
					if($("#searchField").val().length > 2)
					{
						$("#sSearch").val($("#searchField").val()).trigger('keyup');
						$("#reset").show();
					}
					else
						alert("You must state at least 3 characters for the search to work");
				}
			});
		});
	-->
	</script>

#end

################################
##BEGIN REAL CODE
################################

#beginLightCommonToolV3Impl("tool.managementtool.viewSystemUserList.header" "" "" false true $!disableCloseButton $headerMarkup true "")

	##lightMenuToolbar("" $buttons $rightButtons) 

	<div style="clear: both;"></div>
	
	<h3>$ui.getString("tool.managementtool.viewSystemUserList.header")</h3>
	
	<div id="igEditArea" class="igScrollArea" onfocus="this.blur();">
		
		<table cellpadding="0" cellspacing="0" border="1" class="display" id="dataTable">
			<thead>
				<tr>
					<th>$ui.getString("tool.common.action.label")</th>
					<th>$ui.getString("entity.SystemUser.userName.label")</th>
					<th>$ui.getString("entity.SystemUser.firstName.label")</th>
					<th>$ui.getString("entity.SystemUser.lastName.label")</th>
				</tr>
			</thead>
			<tbody>
			
		    	#foreach ($infogluePrincipal in $infogluePrincipals)
					<tr>
						<td><a class="deleteCross" title="$ui.getString("tool.common.delete.label") $infogluePrincipal.name" href="DeleteSystemUser.action?userName=$formatter.encodeBase64($infogluePrincipal.name)&igSecurityCode=$securityCode">&nbsp;</a></td>
						<td>
							##<a href="#" class="user" onclick="top.openUrlInWorkArea('ViewSystemUser!V3.action?userName=$infogluePrincipal.name', '$infogluePrincipal.name', 'management', '$ui.getString("tool.common.managementTabLabelPrefix")'); return false;">$infogluePrincipal.name</a>
							<a class="user" href="ViewSystemUser.action?userName=$formatter.encodeBase64($infogluePrincipal.name)">$infogluePrincipal.name</a>
						</td>
						<td>$infogluePrincipal.firstName</td>
						<td>$infogluePrincipal.lastName</td>
					</tr>
				#end
				
			</tbody>
		</table>
				
	</div>
		
#endLightCommonToolV3()