#define( $headerMarkup )

<style type="text/css">

	#tabsContainer {
		position: relative; 
	}
	
	#basicTab > div, #search > div {
		margin: 8px 0px 0px 8px;
		position: relative; 
	}

	label {
		margin-top: 6px;
		margin-bottom: 2px;
		display: block;
		float: left;
		width: 100%;
	}

	input, select {
		margin-bottom: 4px;
	}
			
	.ui-tabs .ui-tabs-panel {
		padding: 0px;
		background-color: #F6F6F6;
	}
</style>

	<script type="text/javascript">
	<!-- 
		#set($sortArg = "")
		#if($languageId && $languageId != -1)
			#set($sortArg = "&sortLanguageId=$!{languageId}")
		#end

	    function notifyIsLoaded()
	    {
	    }
	    
	    function notifyExp(v)
	    {
	    }
      	
	    function htmlTreeItemClick(entityId, repositoryId, path)
		{
			document.inputForm.parentSiteNodeId.value = entityId;
			document.inputForm.repositoryId.value = repositoryId;
			document.inputForm.path.value = path;	
		}
	
	    function changeRepository(selectBox)
		{
			var repositoryId = selectBox.value;
			var url = "CreateSiteNodeWizardFinish.action?repositoryId=" + repositoryId + "&siteNodeId=$siteNodeId&languageId=$languageId&contentId=-1&componentId=$componentId&propertyName=$propertyName&refreshAddress=$encodedRefreshAddress&showSimple=$showSimple";
			document.location.href = url;
		}
	    
		function treeItemDblClick(id, label)
      	{
      		submitBindning();
      	}

		function useSelectedAsset()
		{
			document.inputForm.submit();
		}
		    
	    function save()
		{
			document.inputForm.submit();
		}
		
	-->
	</script>
#end

#beginLightCommonToolV3Impl("tool.structuretool.choosePageLabel" "" "" false true $!disableCloseButton $headerMarkup false "")
	
	#lightMenuToolbar("" $buttons $rightButtons) 

	<div style="clear: both;"></div>
	
	<div id="igEditArea" class="igScrollArea">
		
		<h3>$ui.getString("tool.structuretool.chooseParentPageLabel")</h3>
		
		<p>
			<select size="1" name="repositoryId" class="sitedropbox" onchange="changeRepository(this);">
			    <option value="">$ui.getString("tool.contenttool.chooseRepositoryLabel")</option>
			    #foreach ($repositoryVO in $repositories)
			    <option value="$repositoryVO.getRepositoryId()">$repositoryVO.getName()</option>
			    #end
			</select>
		<p>
		
		<p>
			<iframe frameborder="0" name="itreeFrame" id="itreeFrame" src="ViewStructureHtmlTree!v3.action?repositoryId=${repositoryId}&showLeafs=false" width="100%" height="426" ></iframe>
		</p>
	</div>
	
	#lightFooterToolbar($footerButtons)
	
	<form name="inputForm" action="$returnAddress">
		<input type="hidden" name="siteNodeId" value="$siteNodeId">
		<input type="hidden" name="entityId" value="">
		<input type="hidden" name="repositoryId" value="">
		<input type="hidden" name="parentSiteNodeId" value="">
		<input type="hidden" name="path" value="">
	</form>

#endLightCommonToolV3()