#define( $headerMarkup )

	<link rel="stylesheet" type="text/css" href="css/cms.css"/>
	
	<script type="text/javascript">
		
		function save()
		{
			document.editForm.submit();
		}

		function close()
		{
			if(!parent)
			{
				document.location.href = "ViewContent.action?contentId=$!parentContentId&repositoryId=$!repositoryId";
			}
			else
			{
				if(parent && parent.closeInlineDiv) parent.closeInlineDiv(); else if(parent && parent.closeDialog) parent.closeDialog(); else window.close();
			}
		}	
	</script>
#end

################################
##BEGIN REAL CODE
################################
#beginLightCommonToolV3Impl("tool.contenttool.importContent.header" "" "" false true $!disableCloseButton $headerMarkup false "")

	#lightMenuToolbar("" $buttons $rightButtons) 

	<div style="clear: both;"></div>

	<h3>$ui.getString("tool.contenttool.importContent.header")</h3>
	
	<p>
		$ui.getString("tool.contenttool.importContent.introduction")<br/><br/>
	</p>
	
	<form enctype="multipart/form-data" name="editForm" method="POST" action="ImportContent.action">
		<input type="hidden" name="parentContentId" value="$!parentContentId"/>
		<p>
			$ui.getString("tool.contenttool.importContent.fileUploadFileLabel")<br/>
			<input size=30 type="FILE" name="file1">
		</p>
		<p>
			$ui.getString("tool.contenttool.importContent.onlyLatestVersionsLabel")<br/>
			<input type="checkbox" name="onlyLatestVersions" value="true" checked="1">
		</p>
	</form>	

#lightFooterToolbar($footerButtons)

#endLightCommonToolV3()