<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
	<title>$ui.getString("tool.contenttool.selectImageTitle")</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	
	<link rel="stylesheet" type="text/css" href="css/cms.css" /> 
	<script type="text/javascript" src="script/listview.js"></script>
	
	<script language="JavaScript">
	<!--		
		#set($exp = $this.getExpansion($oldContentId))
		var exp = "$exp";
		
	    function notifyExp(v)
	    {
	    	//alert("v:" + v);
	    	// The html tree notifies this page about the
	    	// current expansion key, so that we can reload
	    	// the tree with the same expansion.
	    	exp=v;
	    }

		function notifyIsLoaded()
	    {
	    	//alert("Tree was loaded - notifyIsLoaded");
	    	treeIsLoaded = true;
	    }
		
		function changeRepository(selectBox)
		{
			//alert("selectBox:" + selectBox);
			var repositoryId = selectBox.value;
			var url = "ViewContentVersion!viewAssetsDialogForFCKEditor.action?repositoryId=" + repositoryId + "&contentId=-1&languageId=$languageId&treatAsLink=$treatAsLink";
			document.location.href = url;
		}
		
		function htmlTreeItemClick(entityId, repositoryId, path)
		{
			var url = "ViewContentVersion!viewAssetsForFCKEditor.action?contentId=" + entityId + "&languageId=$languageId&treatAsLink=$treatAsLink";
			document.getElementById("contentVersionAssetsFrame").src = url;
		}
		
		function onOk(contentId, assetKey)
		{
			var url = "DownloadAsset.action?contentId=" + contentId + "&languageId=$languageId&assetKey=" + assetKey;
			window.top.opener.SetUrl( url );
			window.top.close();
			window.top.opener.focus();
		}
		
		function getDownloadUrl(contentId, assetKey)
		{
			return "DownloadAsset.action?contentId=" + contentId + "&languageId=$languageId&assetKey=" + assetKey;
		}
		
		function onCancel() 
		{
			window.top.close();
			window.top.opener.focus();
		}	

		function getRequestParameter(url, parameterName)
		{
			value = "";
			valueIndex = url.indexOf(parameterName + "=");
			if(valueIndex > -1)
			{
				//alert("valueIndex:" + valueIndex);
				endIndex = url.indexOf("&", valueIndex);
				if(endIndex != -1)
					value = url.substring(valueIndex + parameterName.length + 1, endIndex);
				else
					value = url.substring(valueIndex + parameterName.length + 1);
				//alert("value:" + value);
			}
			return value;
		}
		
		function init() 
		{
			//window.resizeTo(770,680);

      		if(top.opener.document.title == "Image Properties")
				var txtUrl 		= top.opener.document.getElementById("txtLnkUrl").value;
				if(txtUrl == "")
					txtUrl 		= top.opener.document.getElementById("txtUrl").value;
			else
				var txtUrl 		= top.opener.document.getElementById("txtUrl").value;
			
			contentId 		= getRequestParameter(txtUrl, "contentId");
			//alert("contentId:" + contentId);
			if(!contentId || contentId == "")
				contentId = "$!contentId";
			languageId 		= getRequestParameter(txtUrl, "languageId");
			assetKey 		= getRequestParameter(txtUrl, "assetKey");
			
			//alert("contentId:" + contentId);
			document.getElementById("entityId").value = contentId;
		  	
			document.getElementById("itreeFrame").src = "ViewContentHtmlTree.action?repositoryId=$!repositoryId&exp=$exp&akey=/" + contentId + "/&select=" + contentId;
			
			document.getElementById("contentVersionAssetsFrame").src = "ViewContentVersion!viewAssetsForFCKEditor.action?contentId=" + contentId + "&languageId=$languageId&assetKey=" + assetKey + "&treatAsLink=$treatAsLink";
		};
		
		function toggleDiv(id, id2)
		{
			var div = document.getElementById(id);
			if(div && div.style.display == "block")
				div.style.display = "none";
			else
				div.style.display = "block";

			var div2 = document.getElementById(id2);
			if(div2 && div2.style.display == "block")
				div2.style.display = "none";
			else
				div2.style.display = "block";
		}
		-->
	</script>
	
	<META HTTP-EQUIV="pragma" CONTENT="no-cache" />
	<META HTTP-EQUIV="expires" CONTENT="-1" />	
</head>

<body class="contenttooledit" onload="init();">

<form name="inputForm" action="CreateServiceBinding.action">
	<input type="hidden" id="entityId" name="entityId" value="">
	<input type="hidden" name="repositoryId" value="">
	<input type="hidden" name="path" value="">
	<input type="hidden" name="qualifyerXML" value="">
</form>

<table border="0" width="100%" cellpadding="2" cellspacing="0">
<tr>
	<td valign="top">

		<table cellpadding="0" cellspacing="0" border="0" width="350">
		<tr class="darkgreen">
			<td class="smalllabel">$ui.getString("tool.contenttool.chooseContentLabel")</td>
			<td class="smalllabel"><img src="images/spyglassIcon.gif" width="16" height="16" onclick="toggleDiv('searchDiv', 'treeDiv');"></td>
		</tr>
		<tr>
			<td bgcolor="#EEF7DC" colspan="4" height="1"><img src="images/trans.gif" width="1" height="1"></td>
		</tr>
		<tr>
			<td bgcolor="#C7D1B3" colspan="4" height="1"><img src="images/trans.gif" width="1" height="1"></td>
		</tr>
		<tr>
			<td height="1"><img src="images/trans.gif" width="1" height="5"></td>
		</tr>		
		<!-- 
		HERE IS THE REPOSITORY-LIST FOR LATER 
		-->
		<tr>
			<td>
		  		<select size="1" name="repositoryId" class="sitedropbox" onChange="javascript:changeRepository(this);" class="contenttool">
				    <option value="">$ui.getString("tool.contenttool.chooseRepositoryLabel")</option>
				    #foreach ($repositoryVO in $repositories)
				    <option value="$repositoryVO.getRepositoryId()">$repositoryVO.getName()</option>
				    #end
				</select>
			</td>
		</tr>
		<tr>
			<td height="1"><img src="images/trans.gif" width="1" height="5"></td>
		</tr>		
		<tr>
			<td class="menu">  
				<div id="searchDiv" style="display:none;">
					<IFRAME frameborder="0" name="resultFrame" id="resultFrame" src="SearchContent!inputInlineAsset.action?repositoryId=${repositoryId}" width="350" height="400" align="baseline"></IFRAME>
				</div>
				<div id="treeDiv" style="display:block;">
				#if($tree == "applet")
					#showJavaTree("350" "400" "254" "248" "208" "Content" $repositoryId "false")
				#else
					<IFRAME frameborder="0" name="itreeFrame" id="itreeFrame" src="" width="350" height="510" align="baseline"></IFRAME>
				#end
				</div>
			</td>
		</tr>	
		</table>

	</td>
	
	<td valign="top">
		<table cellpadding="0" cellspacing="0" border="0" width="350">
		<tr class="darkgreen">
			<td class="smalllabel">$ui.getString("tool.contenttool.associatedAttachments")</td>
		</tr>
		<tr>
			<td bgcolor="#EEF7DC" colspan="4" height="1"><img src="images/trans.gif" width="1" height="1"></td>
		</tr>
		<tr>
			<td bgcolor="#C7D1B3" colspan="4" height="1"><img src="images/trans.gif" width="1" height="1"></td>
		</tr>
		<tr>
			<td height="1"><img src="images/trans.gif" width="1" height="5"></td>
		</tr>		
		<tr>
			<td>
				#if($oldContentId > 0)
					<IFRAME frameborder="0" name="contentVersionAssetsFrame" id="contentVersionAssetsFrame" src="" width="370" height="540" align="baseline"></IFRAME>
				#else
					<IFRAME frameborder="0" name="contentVersionAssetsFrame" id="contentVersionAssetsFrame" src="" width="370" height="540" align="baseline"></IFRAME>
				#end
			</td>
		</tr>
		</table>
	</td>
</tr>
</table>

</body>
</html>