#define( $headerMarkup )

	<link rel="stylesheet" type="text/css" href="css/cms.css"/>
	
	<script type="text/javascript">
		
		function close()
		{
			if(!parent)
			{
				document.location.href = "ViewContent.action?contentId=$!parentContentId&repositoryId=$!repositoryId";
			}
			else
			{
				top.frames['contentTreeIframe'].location.reload(true);
				if(parent && parent.closeInlineDiv) parent.closeInlineDiv(); else if(parent && parent.closeDialog) parent.closeDialog(); else window.close();
			}
		}	
	</script>
#end

################################
##BEGIN REAL CODE
################################
#beginLightCommonToolV3Impl("tool.contenttool.importContent.headerFinished" "" "" false true $!disableCloseButton $headerMarkup false "")

	#lightMenuToolbar("" $buttons $rightButtons) 

	<div style="clear: both;"></div>

	<h3>$ui.getString("tool.contenttool.importContent.headerFinished")</h3>
	<p>
		$ui.getString("tool.contenttool.importContent.finishedText")
	</p>

#lightFooterToolbar($footerButtons)

#endLightCommonToolV3()