#define( $headerMarkup )

	<link rel="stylesheet" type="text/css" href="css/cms.css"/>
	
	<script type="text/javascript">
		
		function close()
		{
			if(parent && parent.closeInlineDiv) parent.closeInlineDiv(); else if(parent && parent.closeDialog) parent.closeDialog(); else window.close();
		}	
	</script>
#end

################################
##BEGIN REAL CODE
################################
#beginLightCommonToolV3Impl("tool.contenttool.exportContent.headerFinished" "" "" false true $!disableCloseButton $headerMarkup false "")

	#lightMenuToolbar("" $buttons $rightButtons) 

	<div style="clear: both;"></div>

	<h3>$ui.getString("tool.contenttool.exportContent.headerFinished")</h3>
	<p>
		$ui.getString("tool.contenttool.exportContent.finishedText")
	</p>
	<p>
		<a href="$fileUrl">$fileName</a><br/><br/>
	</p>

#lightFooterToolbar($footerButtons)

#endLightCommonToolV3()