################################
##BEGIN REAL CODE
################################
#beginLightCommonToolV3Impl("tool.common.constraintException.title" "" "" false true true "" false "")

	##lightMenuToolbar("" $buttons $rightButtons) 

	<div style="clear: both;"></div>
	
	<h3>$ui.getString("tool.common.constraintException.header")</h3>
	
	<p>
		#foreach($errorList in $errors.allErrors)
	  		#foreach($error in $errorList)
	      		<font color="red">
	      			Error: $error
	      		</font>
	    	#end
	    #end
	    #if($returnAddress && $returnAddress != "")
		    <br><br>
		    #if("!$extraAccessRightInfo" != "")
		    <div id="debug" style="font-size: 8px; font-weight: normal; overflow: auto; display: none; height: 500px; width: 90%; border: 1px solid #ccc; background-color: #fff;">
		   	 	<pre>$extraAccessRightInfo</pre>
		    </div>
		    <a href="javascript:$('#debug').toggle();">Show/Hide debug</a>
		    <br><br>
	    	 #end
	    	<a href="$returnAddress">Ok</a>
	    #end
	</p>
				
	##lightFooterToolbar($footerButtons)

#endLightCommonToolV3()

#*
<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#if($colorScheme == "ManagementTool")
	#beginManagementTool("tool.contenttool.accessDenied" "Access Denied" "null")
#elseif($colorScheme == "StructureTool")
	#beginStructureTool("tool.contenttool.accessDenied" "Access Denied" "null" "null" "null" "null")
#elseif($colorScheme == "PublishingTool")
	#beginPublishingTool("tool.contenttool.accessDenied" "Access Denied" "null" "null" "null" "null")
#else
	#beginContentTool("tool.contenttool.accessDenied" "Access Denied" "null" "null" "null" "null")
#end

    <table width="100%">
      <tr>
        <td>
          <table width="100%">
            <tr>
              <td class="smalllabel">
              	#foreach($errorList in $errors.allErrors)
              		#foreach($error in $errorList)
			      		<font color="red">
			      			Error: $error
			      		</font>
			    	#end
			    #end
			    #if($returnAddress && $returnAddress != "")
				    <br><br>
				    #if("!$extraAccessRightInfo" != "")
				    <div id="debug" style="font-size: 8px; font-weight: normal; overflow: auto; display: none; height: 500px; width: 90%; border: 1px solid #ccc; background-color: #fff;">
				   	 	<pre>$extraAccessRightInfo</pre>
				    </div>
				    <a href="javascript:$('#debug').toggle();">Show/Hide debug</a>
				    <br><br>
			    	 #end
			    	<a href="$returnAddress">Ok</a>
			    #end
  			  </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</table>
*#