#define( $headerMarkup )

	<script type="text/javascript">
	<!--
		function save()
		{
			document.editForm.submit();
		}
	-->
	</script>
	
	<link rel="stylesheet" type="text/css" href="css/cms.css"/>

	<style>
		fieldset
		{
			border: 1px solid #cccccc;
			width: 300px;
			margin-left: 16px
		}		
	</style>

#end

################################
##BEGIN REAL CODE
################################
#beginLightCommonToolV3Impl("tool.contenttool.exportContent.header" "" "" false true $!disableCloseButton $headerMarkup false "")

	#lightMenuToolbar("" $buttons $rightButtons) 

	<div style="clear: both;"></div>
	
	<h3>$ui.getString("tool.contenttool.exportContent.header")</h3>

	<form name="editForm" method="POST" action="ExportContent.action">
		<input type="hidden" name="contentId" value="$!contentId">
		<input type="hidden" name="repositoryId" value="$!repositoryId">
		
		<p>
			$ui.getString("tool.contenttool.exportContent.introduction")
		</p>
		<p>
	 		<fieldset>
			<legend>Export limitations</legend>
	 		<label for="assetMaxSize">$ui.getString("tool.contenttool.exportContent.assetMaxSizeLabel"):</label>
	 		<select name="assetMaxSize">
	 			<option value="-1" #checkSelected("-1" "$assetMaxSize")>No limit</option>
	 			<option value="50000" #checkSelected("50000" "$assetMaxSize")>50 KB</option>
	 			<option value="100000" #checkSelected("100000" "$assetMaxSize")>100 KB</option>
	 			<option value="300000" #checkSelected("300000" "$assetMaxSize")>300 KB</option>
	 			<option value="500000" #checkSelected("500000" "$assetMaxSize")>500 KB</option>
	 			<option value="1000000" #checkSelected("1000000" "$assetMaxSize")>1 MB</option>
	 			<option value="5000000" #checkSelected("5000000" "$assetMaxSize")>5 MB</option>
	 			<option value="10000000" #checkSelected("10000000" "$assetMaxSize")>10 MB</option>
	 			<option value="100000000" #checkSelected("100000000" "$assetMaxSize")>100 MB</option>
	 		</select>
			</fieldset><br/>
		</p>
	</form>	

#lightFooterToolbar($footerButtons)
	
#endLightCommonToolV3()