/* Distributed as part of The Coolest DHTML jscalendar
   Author: Mihai Bazon, www.bazon.net/mishoo
   Copyright Dynarch.com 2005, www.dynarch.com
*/

div.jscalendar { position: relative; z-index: 100;}

.jscalendar, .jscalendar table {
  border: 1px solid #bdb2bf;
  font-size: 11px;
  color: #000;
  cursor: default;
  background: url("normal-bg.gif");
  font-family: "trebuchet ms",verdana,tahoma,sans-serif;
}

.jscalendar {
  border-color: #797979;
}

.jscalendar .button { 
  text-align: center;    
  padding: 2px;         
  background: url("title-bg.gif") repeat-x 0 100%; color: #000;
  font-weight: bold;
}

.jscalendar .nav {
  font-family: verdana,tahoma,sans-serif;
}

.jscalendar .nav div {
  background: transparent url("menuarrow.gif") no-repeat 100% 100%;
}

.jscalendar thead tr { background: url("title-bg.gif") repeat-x 0 100%; color: #000; }

.jscalendar thead .title { 
  font-weight: bold;      
  text-align: center;
  padding: 2px;
  background: url("title-bg.gif") repeat-x 0 100%; color: #000;
}

.jscalendar thead .headrow { 
}

.jscalendar thead .name { 
  border-bottom: 1px solid #797979;
  padding: 2px;
  text-align: center;
  color: #000;
}

.jscalendar thead .weekend {
  color: #c44;
}

.jscalendar thead .hilite { 
  background: url("hover-bg.gif");
  border-bottom: 1px solid #797979;
  padding: 2px 2px 1px 2px;
}

.jscalendar thead .active { 
  background: url("active-bg.gif"); color: #fff;
  padding: 3px 1px 0px 3px;
  border-bottom: 1px solid #797979;
}

.jscalendar thead .daynames { 
  background: url("dark-bg.gif");
}

.jscalendar tbody .day { 
  font-family: verdana,tahoma,sans-serif;
  width: 2em;
  color: #000;
  text-align: right;
  padding: 2px 4px 2px 2px;
}
.jscalendar tbody .day.othermonth {
  font-size: 80%;
  color: #999;
}
.jscalendar tbody .day.othermonth.oweekend {
  color: #f99;
}

.jscalendar table .wn {
  padding: 2px 3px 2px 2px;
  border-right: 1px solid #797979;
  background: url("dark-bg.gif");
}

.jscalendar tbody .rowhilite td,
.jscalendar tbody .rowhilite td.wn {
  background: url("rowhover-bg.gif");
}

.jscalendar tbody td.today { font-weight: bold;  }

.jscalendar tbody td.hilite { 
  background: url("hover-bg.gif");
  padding: 1px 3px 1px 1px;
  border: 1px solid #bbb;
}

.jscalendar tbody td.active { 
  padding: 2px 2px 0px 2px;
}

.jscalendar tbody td.weekend { 
  color: #c44;
}

.jscalendar tbody td.selected {
  font-weight: bold;
  border: 1px solid #797979;
  padding: 1px 3px 1px 1px;
  background: url("active-bg.gif"); color: #fff;
}

.jscalendar tbody .disabled { color: #999; }

.jscalendar tbody .emptycell {
  visibility: hidden;
}

.jscalendar tbody .emptyrow { 
  display: none;
}

.jscalendar tfoot .footrow { 
  text-align: center;
  background: #565;
  color: #fff;
}

.jscalendar tfoot .ttip { 
  padding: 2px;
  background: url("status-bg.gif") repeat-x 0 0; color: #000;
}

.jscalendar tfoot .hilite { 
  background: #afa;
  border: 1px solid #084;
  color: #000;
  padding: 1px;
}

.jscalendar tfoot .active { 
  background: #7c7;
  padding: 2px 0px 0px 2px;
}

.jscalendar .combo {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 4em;
  cursor: default;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #797979;
  background: url("normal-bg.gif"); color: #000;
  z-index: 100;
  font-size: 90%;
}

.jscalendar .combo .label,
.jscalendar .combo .label-IEfix {
  text-align: center;
  padding: 1px;
}

.jscalendar .combo .label-IEfix {
  width: 4em;
}

.jscalendar .combo .hilite {
  background: url("hover-bg.gif"); color: #000;
}

.jscalendar .combo .active {
  background: url("active-bg.gif"); color: #fff;
  font-weight: bold;
}

.jscalendar td.time {
  border-top: 1px solid #797979;
  padding: 1px 0px;
  text-align: center;
  background: url("dark-bg.gif");
}

.jscalendar td.time .hour,
.jscalendar td.time .minute,
.jscalendar td.time .ampm {
  padding: 0px 5px 0px 6px;
  font-weight: bold;
  background: url("normal-bg.gif"); color: #000;
}

.jscalendar td.time .hour,
.jscalendar td.time .minute {
  font-family: monospace;
}

.jscalendar td.time .ampm {
  text-align: center;
}

.jscalendar td.time .colon {
  padding: 0px 2px 0px 3px;
  font-weight: bold;
}

.jscalendar td.time span.hilite {
  background: url("hover-bg.gif"); color: #000;
}

.jscalendar td.time span.active {
  background: url("active-bg.gif"); color: #fff;
}