<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
	<title>MyDesktopTool</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>

<frameset rows="1,*" FRAMESPACING="0" FRAMEBORDER="NO" BORDER="0">
  <frame name="header" marginwidth="0" marginheight="0" scrolling="no" noresize target="menu" src="ViewMyDesktopToolHeader.action">
	  <frameset rows="57,*" FRAMESPACING="0" FRAMEBORDER="NO" BORDER="0">
		<frame name="toolbar" id="toolbar" marginwidth="0" marginheight="0" scrolling="no" target="none" src="cms/mydesktoptool/loading.html">
		<frame name="main" id="main" marginwidth="0" marginheight="0" scrolling="auto" target="none" src="ViewMyDesktopToolStartPage.action">
	  </frameset>
</frameset>

</html>