<div>
	#if($unpublishRequest)
	<h2>$ui.getString("tool.publishingtool.approveMail.titleUnpublish")</h2>
	#else
	<h2>$ui.getString("tool.publishingtool.approveMail.title")</h2>
	#end
</div>
<div>
	$principal.firstName $principal.lastName (<a href="mailto:$principal.email">$principal.name</a>) $ui.getString("tool.publishingtool.approveMail.submittedText", $events.size())<br/>
	<br/>
	$comment
	#*
	#foreach($event in $events)
		$event.name - $event.description<br/>
	#end
	<hr/>
	*#
	
	<ul>
	#foreach($eventHref in $eventHrefs)
		<li>$eventHref</li>
	#end
	</ul>
	
	<br/>
	$ui.getString("tool.publishingtool.approveMail.instructions")<br/>
	<br/>
	<hr/>
	$ui.getString("tool.publishingtool.approveMail.footerText")<br/>
</div>