<div><h2>$ui.getString("tool.publishingtool.approveMail.title")</h2></div>
<div>
	$principal.firstName $principal.lastName ($principal.name) $ui.getString("tool.publishingtool.approveMail.submittedText", $events.size())<br/>
	<br/>
	<h3>Items</h3>  
	#*
	#foreach($event in $events)
		$event.name - $event.description<br/>
	#end
	<hr/>
	*#
	
	<ul>
	#foreach($eventHref in $eventHrefs)
		<li>$eventHref</li>
	#end
	</ul>
	
	<br/>
	$ui.getString("tool.publishingtool.approveMail.instructions")<br/>
	<br/>
	<hr/>
	$ui.getString("tool.publishingtool.approveMail.footerText")<br/>
</div>