<script type="text/javascript">
<!--
	var cmsBaseUrl = "${cmsBaseUrl}";
	var componentEditorUrl = "${componentEditorUrl}";
	var currentContext = "${contextName}";
	var currentUrl = "${currentUrl}";
	var userPrefferredLanguageCode = "${userPrefferredLanguageCode}";
	var userPrefferredWYSIWYG = "${userPrefferredWYSIWYG}";
	var editOnSightAttributeNames = new Array();
	var sortBaseUrl = "${sortBaseUrl}";
	
	var repositoryId = ${repositoryId};
	var languageId = ${languageId};
	var contentId = ${contentId};
	var metaInfoContentId = ${metaInfoContentId};

	var approveEntityName = "${approveEntityName}";
	var approveEntityId = "${approveEntityId}";
	var publishingEventId = "${publishingEventId}";
			
	${limitedUserWarning}
	
	try { document.execCommand('BackgroundImageCache', false, true); } catch(e) {}
	try 
	{ 
		if(parent.setPageContext)
			parent.setPageContext("${siteNodeId}", "${repositoryId}");

		var agt=navigator.userAgent.toLowerCase();
   	    if(agt.indexOf("safari")!=-1)
   	    {
   	   	    if(parent && parent.frames[2] && parent.frames[2].refreshStructureToolBar) 
			{
   	   	  		var position = parent.frames[2].document.location.href.indexOf("siteNodeId=${siteNodeId}&");
   	   	  		if(position == -1)
 	   	    		parent.frames[2].refreshStructureToolBar('${componentEditorUrl}', 'tool.structuretool.siteNodeComponentsHeader', 'tool.structuretool.siteNodeComponentsHeader', 'siteNodeId=${siteNodeId}&repositoryId=${repositoryId}&isBranch=true', '${repositoryId}', '${siteNodeId}', '${path}'); 
			}
   		}
   	    else	
   	    {
			if(parent && parent.frames["toolbar"] && parent.frames["toolbar"].refreshStructureToolBar)
			{
				var position = parent.frames["toolbar"].document.location.href.indexOf("siteNodeId=${siteNodeId}&");
				if(position == -1) 
					parent.frames["toolbar"].refreshStructureToolBar('${componentEditorUrl}', 'tool.structuretool.siteNodeComponentsHeader', 'tool.structuretool.siteNodeComponentsHeader', 'siteNodeId=${siteNodeId}&repositoryId=${repositoryId}&isBranch=true', '${repositoryId}', '${siteNodeId}', '${path}'); 
			}
		}
	} 
	catch(e) {/*alert("e:" + e);*/}

	setTimeout("keepSession()", 60000);
-->	
</script>
<script type="text/javascript" src="${contextName}/script/componentEditor.js"></script>
<link rel="stylesheet" type="text/css" href="${contextName}/css/componentEditor.css" />

<link type="text/css" href="script/jqueryplugins-latest/ui/css/jquery-ui.css" rel="stylesheet" />	
<script type="text/javascript" src="script/jquery-latest/jquery.min.js"></script>
<script type="text/javascript" src="script/jqueryplugins-latest/ui/js/jquery-ui.min.js"></script>

<script type="text/javascript" src="${contextName}/script/jqueryplugins-latest/thickbox/thickbox-compressed.js"></script>
<style type="text/css" media="all">@import "${contextName}/script/jqueryplugins-latest/thickbox/thickbox.css";</style>

<script type="text/javascript" src="${contextName}/applications/${WYSIWYGEditorJS}"></script>
#set($userPreferredWYSIWYG = "${userPrefferredWYSIWYG}")
#if($userPreferredWYSIWYG == "ckeditor4")
<script type="text/javascript" src="${contextName}/script/ckeditorplugins/autogrow/ckeditor_autogrow.js"></script>
<script type="text/javascript">
<!--
	if(typeof CKEDITOR == "undefined")
	{
	 	var maxAutogrowHeight = $(window).height()-200;
	 	CKEDITOR.dtd.$editable.span = 1;
		CKEDITOR.config.extraPlugins = 'ckeditor_autogrow';
		CKEDITOR.config.minHeight = 200;
	    CKEDITOR.config.maxHeight = maxAutogrowHeight;
	}    
-->
</script>
#end

<script type="text/javascript" src="${contextName}/applications/jscalendar/calendar.js"></script>
<script type="text/javascript" src="${contextName}/applications/jscalendar/lang/calendar-en.js"></script>
<script type="text/javascript" src="${contextName}/applications/jscalendar/calendar-setup.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="${contextName}/applications/jscalendar/skins/aqua/theme.css" title="aqua" />

<script type="text/javascript">
<!--
	function keepSession() 
	{ 
		jQuery.get("UpdateCache!testV3.action"); 
		setTimeout("keepSession()", 60000); 
	}

   	function openInlineDiv(url, height, width, modal) 
   	{
   		openInlineDivImpl(url, height, width, modal, false);
	}
		
   	function openInlineDivImpl(url, height, width, modal, unescapeAmps) 
   	{
		if(unescapeAmps)   		
   			url = url.replace(/\&amp;/g,'&');
   		
		var windowHeight = getWindowHeight();
   		//alert("windowHeight:" + windowHeight);
   		if(windowHeight < height)
   			height = windowHeight - 60;

		var windowWidth = getWindowWidth();
   		//alert("windowWidth:" + windowWidth);
   		if(windowWidth < width)
   			width = windowWidth - 60;
   			
   	  	var separatorSign = "?";
   		if(url.indexOf("?") > -1)
	  		separatorSign = "&";
   		
   		var addition = separatorSign + "KeepThis=true&TB_iframe=true&height=" + height + "&width=" + width + "&modal=true";
   		
   		tb_show('Redigera', url + addition, 'Redigera');
   		hideIGMenu();
   		
   		return false;
   	}
   	
   	function closeFavouriteComponentsPalette()
	{
		$("#paletteDiv").hide();
	}

	$(function() {
		
		var useInlinePropertiesIcon = ${useInlinePropertiesIcon};
		if(useInlinePropertiesIcon)
		{
			$(".sortableComponent").mouseover(function(e) {
				//alert($(this).find(">:first-child").prop("tagName"));
				if($(this).find(">:first-child").size() > 0 && $(this).find(">:first-child").prop("tagName") == "DIV")
				{
					if($(this).find(".propertiesButton").size() == 0)
					{
						//console.log("ID:" + $(this).closest( ".sortableComponent" ).attr("id"));
						var id = $(this).closest( ".sortableComponent" ).attr("id");
						id = id.substr(id.lastIndexOf("_")+1).replace("Comp","");
						//console.log("id: " + id);
						$(this).find(">:first-child").css("position", "relative");
						$(this).find(">:first-child").append("<img src=\"css/images/v3/menu_img.png\" class=\"propertiesButton\" style=\"display: block; position: absolute; top: 0px; right:0px; width: 16px; height: 16px; background-color: white; border: 1px solid #ccc; padding: 2px; margin: 0 0 0 0; z-index: 200000;\" onclick=\"showComponentProperties('component" + id + "Properties');\"/>");
					}
				}
				else
				{
					//console.log("Special:" + $(this).find(".propertiesButton").size());
					if($(this).find(".propertiesButton").size() == 0)
					{
						var id = $(this).closest( ".sortableComponent" ).attr("id");
						id = id.substr(id.lastIndexOf("_")+1).replace("Comp","");
						//console.log("id: " + id);
						$(this).append("<img src=\"css/images/v3/menu_img.png\" class=\"propertiesButton\" style=\"display: block; position: absolute; top: 0px; right:0px; background-color: white; border: 1px solid #ccc; padding: 2px; margin: 0 0 0 0; z-index: 200000;\" onclick=\"showComponentProperties('component" + id + "Properties');\"/>");				
					}
				}
				
			    $(this).css("outline", "rgba(82,168,236,.8) auto 3px").parents().css("outline", "0px");
			    $(this).find(".propertiesButton").first().show();
			    e.stopPropagation();
			}).mouseout(function(e) {
			    $(this).css("outline", "0px");
			    $(this).find(".propertiesButton").first().hide();
			});
		}

		var isDragActive = false;
        $(document).mouseenter(function(e){
			//alert("dragHTML:" + isDragActive + ":" + parent.getIsDragCompleted  + ":" + !parent.getIsDragCompleted()  + ":" + parent.getDragHTML());
			if(!isDragActive && parent.getIsDragCompleted && !parent.getIsDragCompleted() && parent.getDragHTML() != "")
			{
				isDragActive = true;
				$("#tempDraggable").remove();
				$("body").append("<div id=\"tempDraggable\" style=\"background-color: white; position: absolute; top: 0px; left: 0px;\">" + parent.getDragHTML() + "</div>");
				parent.disableDrag();
				
			    $(".igAddComponent").addClass("blockedDropzone");
			    
			    var draggedComponentName = $("#tempDraggable input[name='encodedComponentName']").val();
			    var draggedComponentGroupNames = $("#tempDraggable input[name='encodedGroupNames']").val();
			    var draggedComponentGroupNameArray = draggedComponentGroupNames.split(",");
			    
			    $(".okAny").each(function (i) {
			    	$(".igAddComponent:first", this).removeClass("blockedDropzone").addClass("dropzone");
			    });
			    $(".okName" + draggedComponentName).each(function (i) {
			    	$(".igAddComponent:first", this).removeClass("blockedDropzone").addClass("dropzone");
			    });
			    
			    var classes = "";
			    for(draggedComponentGroupName in draggedComponentGroupNameArray)
				{
					if(classes == "")
						classes = classes + ".okGroupName" + draggedComponentGroupNameArray[draggedComponentGroupName];
					else
						classes = classes + ",.okGroupName" + draggedComponentGroupNameArray[draggedComponentGroupName];
				}			    
				
				$("" + classes).each(function (i) {
			    	$(".igAddComponent:first", this).removeClass("blockedDropzone").addClass("dropzone");
			    });
			    			    
			    draggedComponentId = $("#tempDraggable img").attr("id");
			    if(draggedComponentId.indexOf("comp_") > -1)
			    	draggedComponentId = draggedComponentId.substring(5);
			    
			}	
        });

		$(document).mousemove(function(e){
			if(isDragActive)
			{
				var pageCoords = "( " + e.pageX + ", " + e.pageY + " )";
			    var clientCoords = "( " + e.clientX + ", " + e.clientY + " )";
				$("#tempDraggable").css("top", (e.pageY + 5) + "px").css("left", (e.pageX + 5) + "px");
			}
		});
		$(document).mouseup(function(e){
			if(isDragActive)
			{
				isDragActive = false;
				$("#tempDraggable").remove();
				parent.disableDrag();
				parent.dragCompleted();
			}
		});

		$(document).mouseleave(function(){
			//alert("out");
			isDragActive = false;
			if(parent.getIsDragCompleted && !parent.getIsDragCompleted())
				parent.enableDrag();
			
          	$("#tempDraggable").remove();
        });
        
        if(${editOnSightFooterToolbarIsActive})
        {
        	if(typeof(CKEDITOR) != 'undefined')
	        	CKEDITOR.disableAutoInline = true;
	        updatePageStatus();	
	        hideFooterButtons();	
	        setTimeout(function(){registerOnChange();}, 1000);
        }	
	});
-->
</script>

<!--[if lte IE 6]>
<style type="text/css">
.questionMark {	
    display: none;
}
.tooltipDiv {	
    width: 1px;
    height: 1px;
    display: none;
}
</style>
<![endif]-->

<style type="text/css">
body {
margin-bottom: 43px !important;
}
.igAddComponent {
	outline: 1px dashed #ccc;
	background-color: #ffff9d;
	font-size: 11px;
	font-family: arial;
	/*min-height: 16px;*/
	text-align: center;
	display: inline-block;
	width: 100%;
	position: relative;
}
/*
.slotMenuButton{
	position: absolute;
	width: 16px;
	height: 16px;
	right: 0px;
}
*/

.addComponentButton {
	display: none;
    width: 16px;
	height: 16px;
}
.addComponentText {
	clear: both;
}
.slotId {
	display: none;
}
.slotDisplayName {
	margin-bottom: 4px;
}
.rightClickToAddText {
	display: none;
}
/*
.componentDiv img.componentMenuButton {
	position: absolute;
	width: 16px;
	height: 16px;
	right: 0px;
	z-index: 100;
	bottom: 0px;
}
.componentDiv .componentDiv img.componentMenuButton {
	position: absolute;
	width: 16px;
	height: 16px;
	right: 0px;
	z-index: 100;
	top: 0px;
}
*/
#pageToolbar {
	position: fixed;
	height: 43px;
	width: 100%;
	bottom: 0px;
	margin: 0px;
	border-top: 0px solid #9caabd;
	width: 100%;
	z-index: 100;
	background-image: url("${contextName}/css/images/v3/footerBackground.gif");
	background-repeat: repeat-x;
	background-color: white;
	float: left;
	font-family: Arial;
	box-shadow: 10px 10px 10px 10px #666;
}
#pageToolbar > .left {
	float: left;
	margin-right: 10px;
}
#pageToolbar > .right {
	border-left: 1px solid #ccc;
	float: right;
	margin-top: 12px;
	margin-right: 10px;
	font-size: 13px;
	padding-left: 10px;
}
#pageToolbar > .middle {
	border-left: 1px solid #ccc;
	float: right;
	margin-right: 10px;
	margin-left: 300px;
	font-size: 13px;
	padding-left: 10px;
	
}
.working {
	margin-bottom: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin-top: 7px !important;
	font-size: 12px !important;
	background-color: #f89406 !important;
	color: white !important;
	padding: 6px; 
	border: 1px solid #B4B4B4 !important;
}

.published {
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin-top: 7px !important;
	font-size: 12px !important;
	background-color: #4b883e !important;
	color: white !important;
	padding: 6px; 
	border: 1px solid #B4B4B4 !important;
}
.mySettings {
	background: url(${contextName}/css/images/v3/mySettingsIcon.gif) no-repeat left center;
	background-position: 10px 0px;
	background-size: 16px 16px;
	width: 26px;
	height: 16px;
}
.openInNewWindow {
	background: url(${contextName}/css/images/v3/openInNewWindowIcon.gif) no-repeat left center;
	background-position: 10px 0px;
	background-size: 16px 16px;
	width: 26px;
	height: 16px;
}
.myHome {
	background: url(${contextName}/css/images/v3/house.png) no-repeat left center;
	background-position: 10px 0px;
	background-size: 16px 16px;
	width: 26px;
	height: 16px;
}
.validateW3C {
	background: url(${contextName}/css/images/v3/validateW3C.png) no-repeat left center;
	background-position: 10px 0px;
	background-size: 16px 16px;
	width: 26px;
	height: 16px;
}
.errorCountW3C {
	border: 2px solid rgb(223, 223, 223);
	border-radius: 5px;
	display: none;
	padding: 2px 5px;
	float: right;
	margin-top: -8px;
	position: absolute;
	margin-left: -9px;
	background-color: rgb(219, 0, 0);
	color: rgb(255, 255, 255);
	font-size: 8px;
}

.blockedDropzone {
	background-color: #c0c0c0;
}
.dropzone {
	background-color: #ffff9d;
}
.dropzone:hover {
	background-color: #ffff00;
	border: 1px solid blue;
}
${editOnSightFooterToolbarOverideCSS}
</style>

</head>