<script type="text/javascript">
<!--
	var cmsBaseUrl = "${cmsBaseUrl}";
	var componentEditorUrl = "${componentEditorUrl}";
	var currentContext = "${contextName}";
	var currentUrl = "${currentUrl}";
	var userPrefferredLanguageCode = "${userPrefferredLanguageCode}";
	var userPrefferredWYSIWYG = "${userPrefferredWYSIWYG}";
	var editOnSightAttributeNames = new Array();
	var sortBaseUrl = "${sortBaseUrl}";
	
	var repositoryId = ${repositoryId};
	var languageId = ${languageId};
	var contentId = ${contentId};
	var metaInfoContentId = ${metaInfoContentId};

	var approveEntityName = "${approveEntityName}";
	var approveEntityId = "${approveEntityId}";
	var publishingEventId = "${publishingEventId}";
			
	window.publishedLabel = "${publishedLabel}";
	
	var componentHandlers = new Object();
			
	${limitedUserWarning}
	
	try { document.execCommand('BackgroundImageCache', false, true); } catch(e) {}
	try 
	{ 
		if(parent.setPageContext)
			parent.setPageContext("${siteNodeId}", "${repositoryId}");

		var agt=navigator.userAgent.toLowerCase();
   	    if(agt.indexOf("safari")!=-1)
   	    {
   	   	    if(parent && parent.frames[2] && parent.frames[2].refreshStructureToolBar) 
			{
   	   	  		var position = parent.frames[2].document.location.href.indexOf("siteNodeId=${siteNodeId}&");
   	   	  		if(position == -1)
 	   	    		parent.frames[2].refreshStructureToolBar('${componentEditorUrl}', 'tool.structuretool.siteNodeComponentsHeader', 'tool.structuretool.siteNodeComponentsHeader', 'siteNodeId=${siteNodeId}&repositoryId=${repositoryId}&isBranch=true', '${repositoryId}', '${siteNodeId}', '${path}'); 
			}
   		}
   	    else	
   	    {
			if(parent && parent.frames["toolbar"] && parent.frames["toolbar"].refreshStructureToolBar)
			{
				var position = parent.frames["toolbar"].document.location.href.indexOf("siteNodeId=${siteNodeId}&");
				if(position == -1) 
					parent.frames["toolbar"].refreshStructureToolBar('${componentEditorUrl}', 'tool.structuretool.siteNodeComponentsHeader', 'tool.structuretool.siteNodeComponentsHeader', 'siteNodeId=${siteNodeId}&repositoryId=${repositoryId}&isBranch=true', '${repositoryId}', '${siteNodeId}', '${path}'); 
			}
		}
	} 
	catch(e) {/*alert("e:" + e);*/}

	setTimeout("keepSession()", 60000);
-->	
</script>

<script type="text/javascript" src="${contextName}/script/componentEditor.js"></script>
<link rel="stylesheet" type="text/css" href="${contextName}/css/componentEditor.css" />
${skinDeliveryCSS}

<link type="text/css" href="script/jqueryplugins-latest/ui/css/jquery-ui.css" rel="stylesheet" />	
<script type="text/javascript" src="script/jquery-latest/jquery.min.js"></script>
<script type="text/javascript" src="script/jqueryplugins-latest/ui/js/jquery-ui.min.js"></script>

<script type="text/javascript" src="${contextName}/script/jqueryplugins-latest/thickbox/thickbox-compressed.js"></script>
<style type="text/css" media="all">@import "${contextName}/script/jqueryplugins-latest/thickbox/thickbox.css";</style>


<script type="text/javascript" src="${contextName}/applications/${WYSIWYGEditorJS}"></script>
#set($userPreferredWYSIWYG = "${userPrefferredWYSIWYG}")
#if($userPreferredWYSIWYG == "ckeditor4")
<script type="text/javascript" src="${contextName}/script/ckeditorplugins/autogrow/ckeditor_autogrow.js"></script>
<script type="text/javascript">
<!--
	if(typeof CKEDITOR == "undefined")
	{
	 	var maxAutogrowHeight = $(window).height()-200;
	 	CKEDITOR.dtd.$editable.span = 1;
		CKEDITOR.config.extraPlugins = 'ckeditor_autogrow';
		CKEDITOR.config.minHeight = 200;
	    CKEDITOR.config.maxHeight = maxAutogrowHeight;
	}    
-->
</script>
#end

<script type="text/javascript" src="${contextName}/applications/jscalendar/calendar.js"></script>
<script type="text/javascript" src="${contextName}/applications/jscalendar/lang/calendar-en.js"></script>
<script type="text/javascript" src="${contextName}/applications/jscalendar/calendar-setup.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="${contextName}/applications/jscalendar/skins/aqua/theme.css" title="aqua" />

<script type="text/javascript">
<!--
	function keepSession() 
	{ 
		jQuery.get("UpdateCache!testV3.action"); 
		setTimeout("keepSession()", 60000); 
	}

   	function openInlineDiv(url, height, width, modal) 
   	{
   		openInlineDivImpl(url, height, width, modal, false);
	}
		
   	function openInlineDivImpl(url, height, width, modal, unescapeAmps) 
   	{
		if(unescapeAmps)   		
   			url = url.replace(/\&amp;/g,'&');
   		
		var windowHeight = getWindowHeight();
   		if((windowHeight-60) < height)
   			height = windowHeight - 80;

		var windowWidth = getWindowWidth();
   		//alert("windowWidth:" + windowWidth);
   		if(windowWidth < width)
   			width = windowWidth - 60;
   			
   	  	var separatorSign = "?";
   		if(url.indexOf("?") > -1)
	  		separatorSign = "&";
   		
   		var addition = separatorSign + "KeepThis=true&TB_iframe=true&height=" + height + "&width=" + width + "&modal=true";
   		
   		tb_show('Redigera', url + addition, 'Redigera');
   		hideIGMenu();
   		
   		return false;
   	}
   	
   	function closeFavouriteComponentsPalette()
	{
		$("#paletteDiv").hide();
	}

	$(function() {
		
		var useInlinePropertiesIcon = ${useInlinePropertiesIcon};
		if(useInlinePropertiesIcon)
		{
			$(".sortableComponent").mouseover(function(e) {
				//alert($(this).find(">:first-child").prop("tagName"));
				if($(this).find(">:first-child").size() > 0 && $(this).find(">:first-child").prop("tagName") == "DIV")
				{
					if($(this).find(".propertiesButton").size() == 0)
					{
						//console.log("ID:" + $(this).closest( ".sortableComponent" ).attr("id"));
						var id = $(this).closest( ".sortableComponent" ).attr("id");
						id = id.substr(id.lastIndexOf("_")+1).replace("Comp","");
						//console.log("id: " + id);
						$(this).find(">:first-child").css("position", "relative");
						$(this).find(">:first-child").append("<img src=\"css/images/v3/menu_img.png\" class=\"propertiesButton\" componentid=\"" + id + "\" style=\"display: block; position: absolute; top: 0px; right:0px; width: 29px; height: 29px; margin: 0 0 0 0; z-index: 200000;\" onclick=\"componentHandlers[$(this).attr('componentid')].onContextMenu(event,this);\"/>");
					}
				}
				else
				{
					//console.log("Special:" + $(this).find(".propertiesButton").size());
					if($(this).find(".propertiesButton").size() == 0)
					{
						var id = $(this).closest( ".sortableComponent" ).attr("id");
						id = id.substr(id.lastIndexOf("_")+1).replace("Comp","");
						//console.log("id: " + id);
						$(this).append("<img src=\"css/images/v3/menu_img.png\" class=\"propertiesButton\" componentid=\"" + id + "\" style=\"display: block; position: absolute; top: 0px; right:0px; margin: 0 0 0 0; z-index: 200000;\" onclick=\"componentHandlers[$(this).attr('componentid')].onContextMenu(event,this);\"/>");				
					}
				}
				
			    $(this).css("outline", "rgba(82,168,236,.8) auto 3px").parents().css("outline", "0px");
			    $(this).find(".propertiesButton").first().show();
			    e.stopPropagation();
			}).mouseout(function(e) {
			    $(this).css("outline", "0px");
			    $(this).find(".propertiesButton").first().hide();
			});
		}

		var isDragActive = false;
        $(document).mouseenter(function(e){
			//alert("dragHTML:" + isDragActive + ":" + parent.getIsDragCompleted  + ":" + !parent.getIsDragCompleted()  + ":" + parent.getDragHTML());
			if(!isDragActive && parent.getIsDragCompleted && !parent.getIsDragCompleted() && parent.getDragHTML() != "")
			{
				isDragActive = true;
				$("#tempDraggable").remove();
				$("body").append("<div id=\"tempDraggable\" style=\"background-color: white; position: absolute; top: 0px; left: 0px;\">" + parent.getDragHTML() + "</div>");
				parent.disableDrag();
				
			    $(".igAddComponent").addClass("blockedDropzone");
			    
			    var draggedComponentName = $("#tempDraggable input[name='encodedComponentName']").val();
			    var draggedComponentGroupNames = $("#tempDraggable input[name='encodedGroupNames']").val();
			    var draggedComponentGroupNameArray = draggedComponentGroupNames.split(",");
			    
			    $(".okAny").each(function (i) {
			    	$(".igAddComponent:first", this).removeClass("blockedDropzone").addClass("dropzone");
			    });
			    $(".okName" + draggedComponentName).each(function (i) {
			    	$(".igAddComponent:first", this).removeClass("blockedDropzone").addClass("dropzone");
			    });
			    
			    var classes = "";
			    for(draggedComponentGroupName in draggedComponentGroupNameArray)
				{
					if(classes == "")
						classes = classes + ".okGroupName" + draggedComponentGroupNameArray[draggedComponentGroupName];
					else
						classes = classes + ",.okGroupName" + draggedComponentGroupNameArray[draggedComponentGroupName];
				}			    
				
				$("" + classes).each(function (i) {
			    	$(".igAddComponent:first", this).removeClass("blockedDropzone").addClass("dropzone");
			    });
			    			    
			    draggedComponentId = $("#tempDraggable img").attr("id");
			    if(draggedComponentId.indexOf("comp_") > -1)
			    	draggedComponentId = draggedComponentId.substring(5);
			    
			}	
        });

		$(document).mousemove(function(e){
			if(isDragActive)
			{
				var pageCoords = "( " + e.pageX + ", " + e.pageY + " )";
			    var clientCoords = "( " + e.clientX + ", " + e.clientY + " )";
				$("#tempDraggable").css("top", (e.pageY + 5) + "px").css("left", (e.pageX + 5) + "px");
			}
		});
		$(document).mouseup(function(e){
			if(isDragActive)
			{
				isDragActive = false;
				$("#tempDraggable").remove();
				parent.disableDrag();
				parent.dragCompleted();
			}
		});

		$(document).mouseleave(function(){
			//alert("out");
			isDragActive = false;
			if(parent.getIsDragCompleted && !parent.getIsDragCompleted())
				parent.enableDrag();
			
          	$("#tempDraggable").remove();
        });
        
        $("#pageComponents").bind("contextmenu",function(e){
        	e.preventDefault();
        	return false;
        });
      
        if(${editOnSightFooterToolbarIsActive})
        {
        	if(typeof(CKEDITOR) != 'undefined')
	        	CKEDITOR.disableAutoInline = true;
	        updatePageStatus();	
	        hideFooterButtons();	
			if(!useDoubleClickOnTextToInlineEdit)
			{
		        setTimeout(function(){registerOnChange();}, 1000);
		    }
        }	
	});
-->
</script>

<style type="text/css">
${editOnSightFooterToolbarOverideCSS}
</style>

</head>