#beginLightCommonToolV3("tool.common.install.introduction.title" "" "" false true $!disableCloseButton)

<script type="text/javascript">
	function next()
	{
		document.editForm.submit();
	}
</script>

<style type="text/css">
	#languages
	{
		margin-top:50px;
	}
	#languages a
	{
		text-transform: capitalize;
	}
</style>

#lightMenuToolbar("" $buttons $rightButtons)

<div style="clear: both;"></div>

<h1>$ui.getString("tool.common.install.title")</h1>

#installProgressDiv(0)

<h3>
	$ui.getString("tool.common.install.introduction.title")
</h3>

<form method="POST" name="editForm" action="Install.action">
	<input type="hidden" name="igSecurityCode" value="$!securityCode"/>
	
	<p>
	    $ui.getString("tool.common.install.introduction.text")
	</p>
	
	<p id="languages">
	#foreach($locale in $this.getToolLocales())
		#if($locale.language != $this.locale.language)
		<a href="Install!input.action?languageCode=$locale.language">$locale.getDisplayName($locale)</a>
		#end
	#end
	</p>
	
</form>		
	

#lightFooterToolbar($footerButtons)

#endCommonToolV3()