<div id="emptySlotMenu" class="skin0">
<div class="igmenuitems" onmouseover="javascript:highlightie5(event);" onmouseout="javascript:lowlightie5(event);" onclick="submitToPublish($siteNodeId, $contentId, $languageId, $repositoryId, '$originalFullURL');">$submitToPublishHTML</div>
<div id="addComponentMenuItem" class="igmenuitems" onmouseover="javascript:highlightie5(event);" onmouseout="javascript:lowlightie5(event);" onclick="insertComponent();">$addComponentHTML</div>
<div class="igmenuitems" onmouseover="javascript:highlightie5(event);" onmouseout="javascript:lowlightie5(event);" onclick="$saveTemplateUrl">$savePageTemplateHTML</div>
<hr id="emptySlotMenuTopSeparator"/>
<div id="accessRightsMenuItem" class="igmenuitems" onmouseover="javascript:highlightie5(event);" onmouseout="javascript:lowlightie5(event);" onclick="setAccessRights(slotName, slotContentId);">$accessRightsHTML</div>
<div id="pageComponentsMenuItem" class="igmenuitems" onmouseover="javascript:highlightie5(event);" onmouseout="javascript:lowlightie5(event);" onclick="toggleDiv('pageComponents');">$pageComponents</div>
<div id="openInNewWindowMenuItem" class="igmenuitems" onmouseover="javascript:highlightie5(event);" onmouseout="javascript:lowlightie5(event);" onclick="window.open(document.location.href,'PageComponents','');">$componentEditorInNewWindowHTML</div>
<div id="viewSourceMenuItem" class="igmenuitems" onmouseover="javascript:highlightie5(event);" onmouseout="javascript:lowlightie5(event);" onclick="javascript:viewSource();">$viewSource</div>
</div>

<div id="componentMenu" class="skin0">
<div class="igmenuitems" onmouseover="javascript:highlightie5(event);" onmouseout="javascript:lowlightie5(event);" onclick="edit();">Edit</div>
<div id="addComponentMenuItem" class="igmenuitems" onmouseover="javascript:highlightie5(event);" onmouseout="javascript:lowlightie5(event);" onclick="insertComponent();">$addComponentHTML</div>
<div id="deleteComponentMenuItem" class="igmenuitems" onmouseover="javascript:highlightie5(event);" onmouseout="javascript:lowlightie5(event);" onclick="deleteComponent();">$deleteComponentHTML</div>
<div id="changeComponentMenuItem" class="igmenuitems" onmouseover="javascript:highlightie5(event);" onmouseout="javascript:lowlightie5(event);" onclick="changeComponent();">$changeComponentHTML</div>
<div class="igmenuitems" onmouseover="javascript:highlightie5(event);" onmouseout="javascript:lowlightie5(event);" onclick="$saveTemplateUrl">$savePageTemplateHTML</div>
<div class="igmenuitems" onmouseover="javascript:highlightie5(event);" onmouseout="javascript:lowlightie5(event);" onclick="$savePartTemplateUrl">$savePagePartTemplateHTML</div>
<hr id="componentMenuTopSeparator"/>
<div class="igmenuitems" onmouseover="javascript:highlightie5(event);" onmouseout="javascript:lowlightie5(event);" onclick="javascript:showComponent();">Properties</div>
<hr id="componentMenuMiddleSeparator"/>
<div id="pageComponentsMenuItem" class="igmenuitems" onmouseover="javascript:highlightie5(event);" onmouseout="javascript:lowlightie5(event);" onclick="toggleDiv('pageComponents');">$pageComponents</div>
<div id="openInNewWindowMenuItem" class="igmenuitems" onmouseover="javascript:highlightie5(event);" onmouseout="javascript:lowlightie5(event);" onclick="window.open(document.location.href,'PageComponents','');">$componentEditorInNewWindowHTML</div>
<div id="viewSourceMenuItem" class="igmenuitems" onmouseover="javascript:highlightie5(event);" onmouseout="javascript:lowlightie5(event);" onclick="javascript:viewSource();"><nobr>View Source</nobr></div>
</div>

<div id="componentInTreeMenu" class="skin0">
<div id="deleteComponentInTreeMenuItem" class="igmenuitems" onmouseover="javascript:highlightie5(event);" onmouseout="javascript:lowlightie5(event);" onclick="deleteComponent();">$deleteComponentHTML</div>
<div id="changeComponentInTreeMenuItem" class="igmenuitems" onmouseover="javascript:highlightie5(event);" onmouseout="javascript:lowlightie5(event);" onclick="changeComponent();">$changeComponentHTML</div>
<div class="igmenuitems" onmouseover="javascript:highlightie5(event);" onmouseout="javascript:lowlightie5(event);" onclick="$saveTemplateUrl">$savePageTemplateHTML</div>
<div class="igmenuitems" onmouseover="javascript:highlightie5(event);" onmouseout="javascript:lowlightie5(event);" onclick="$savePartTemplateUrl">$savePagePartTemplateHTML</div>
<hr id="componentInTreeMenuTopSeparator"/>
<div class="igmenuitems" onmouseover="javascript:highlightie5(event);" onmouseout="javascript:lowlightie5(event);" onclick="javascript:showComponent();">Properties</div>
<hr id="emptySlotMenuMiddleSeparator"/>
<div id="pageComponentsMenuItem" class="igmenuitems" onmouseover="javascript:highlightie5(event);" onmouseout="javascript:lowlightie5(event);" onclick="toggleDiv('pageComponents');">$pageComponents</div>
<div id="openInNewWindowMenuItem" class="igmenuitems" onmouseover="javascript:highlightie5(event);" onmouseout="javascript:lowlightie5(event);" onclick="window.open(document.location.href,'PageComponents','');">$componentEditorInNewWindowHTML</div>
<div id="viewSourceMenuItem" class="igmenuitems" onmouseover="javascript:highlightie5(event);" onmouseout="javascript:lowlightie5(event);" onclick="javascript:viewSource();">View Source</div>
</div>
<script type="text/javascript">
$addComponentJavascript
$deleteComponentJavascript
$changeComponentJavascript
$changeAccessJavascript

$submitToPublishJavascript
$pageStructureJavascript
$openInNewWindowJavascript
$allowViewSourceJavascript
</script>