#define( $headerMarkup )
	<script type="text/javascript">
	<!-- 
	    function notifyIsLoaded()
	    {
	    }
	    
	    function notifyExp(v)
	    {
	    }

		## If the tree view in the iframe is a binding view this method is called and not htmlTreeItemClick
		function structureTreeItemClick(itemId)
		{
			htmlTreeItemClick(itemId);
		}

		function htmlTreeItemClick(itemId, repoId)
		{
		    document.inputForm.newParentSiteNodeId.value = itemId;
		}
	
		function loadMainArea(siteNodeId, repositoryId, path)
		{
		    document.inputForm.newParentSiteNodeId.value = siteNodeId;
		}
	    
	    function save()
		{
			var newParentSiteNodeId = document.inputForm.newParentSiteNodeId.value;
			if(newParentSiteNodeId != "")
			{
			    if (confirm('$ui.getString("tool.structuretool.moveSiteNode.areYouSureWarning")'))
				{
					document.inputForm.submit();
				}
			}
		    else
		    {
				alert("$ui.getString("tool.structuretool.moveSiteNode.mustSelectSiteNodeWarning")");
			}
		}
	-->
	</script>
#end

#beginLightCommonToolV3Impl("tool.structuretool.moveSiteNode.header" "" "" false true $!disableCloseButton $headerMarkup false "")
	
	#lightMenuToolbar("" $buttons $rightButtons) 

	<div style="clear: both;"></div>
	
	<form name="inputForm" action="MoveSiteNode!V3.action">
		<input type="hidden" name="userSessionKey" value="$userSessionKey"/>
		<input type="hidden" name="repositoryId" value="$repositoryId"/>
		<input type="hidden" name="siteNodeId" value="$siteNodeId"/>
		<input type="hidden" name="newParentSiteNodeId" value=""/>
		<input type="hidden" name="changeTypeId" value="3">
		<input type="hidden" name="returnAddress" value="$returnAddress">
		<input type="hidden" name="originalAddress" value="$originalAddress">
		<input type="hidden" name="sortLanguageId" value="#if($sortLanguageId)$sortLanguageId#else1#end">
	
		<div id="igEditArea" class="igScrollArea" onfocus="this.blur();">
	
		<h3>$ui.getString("tool.structuretool.moveSiteNode.headline", $siteNodeName)</h3>
		
			
		
		<p>
			<iframe frameborder="0" name="itreeFrame" id="itreeFrame" src="ViewStructureHtmlTree!bindingViewV3.action?showLeafs=no&repositoryId=${repositoryId}&sortLanguageId=#if($sortLanguageId)${sortLanguageId}#else1#end" width="350" height="460" ></iframe>
		</p>
	
		#lightFooterToolbar($footerButtons)
	
	</form>

#endLightCommonToolV3()