#define( $headerMarkup )
	
#end

#beginLightCommonToolV3Impl("tool.structuretool.welcomeHeader" "" "" false true $!disableCloseButton $headerMarkup)

	<div id="igEditArea" class="igScrollArea">

		<h3>$ui.getString("tool.structuretool.welcomeHeader")</h3>
		<p>$ui.getString("tool.structuretool.welcomeText")</p>

	</div>

#endLightCommonToolV3()