<?xml version="1.0" encoding="UTF-8"?> 
 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

##beginContentTool($ui.getString("tool.contenttool.contentVersionHeader") "Content version" "contentId=$contentId&languageId=$languageId&contentVersionId=$contentVersionId" "0" "0" "0")

<html>
<head>
	<title>$ui.getString("tool.contenttool.contentVersionHeader")</title>
	
	<script type="text/javascript">
	   _applicationContext = "${root}/";
	   _editor_url = "${root}/applications/HTMLArea/";
	   _editor_lang = "en";
	</script>
	
	<link rel="stylesheet" type="text/css" href="css/cms.css" /> 
	<script type="text/javascript" src="script/listview.js"></script>
	<script type="text/javascript" src="script/calendar1.js"></script>
	<script type="text/javascript" src="script/editor.js"></script>
	<script type="text/javascript" src="applications/HTMLArea/InfoGlueHTMLArea.js"></script>
	<script type="text/javascript" src="applications/HTMLArea/htmlarea.js"></script>
	<META HTTP-EQUIV="pragma" CONTENT="no-cache" />
	<META HTTP-EQUIV="expires" CONTENT="-1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	
	<script language="JavaScript"> 
		//window.resizeTo(800,700);
	</script> 
	
</head>

<body class="contenttooledit" onload="javascript:generateWYSIWYGS();">
#set( $lvColor = "green")

<script language="javascript" src="script/jsrsClient.js"></script>

<script type="text/javascript">
<!--
	var currentEditorIdHash = new Array();
	var attributesStatus = new Array();
	var plainEditors = new Array();
	var htmlEditors = new Array();
	

	//*******************************************
	// This function changes language version
	//*******************************************
	
	function changeLanguage(contentId)
	{
		languageId = document.editForm.languageId.value;
		
		if (confirm('$ui.getString("tool.contenttool.languageVersionChangeWarning")'))
		{
			window.location.href="ViewContentVersion.action?contentId=" + contentId + "&languageId=" + languageId;
		}
		else
		{
			document.editForm.languageId.selectedIndex = originalIndex - 1;
		}
	}

	//*******************************************
	// This function opens up the form editor
	//*******************************************
	
	function openFormEditor(url)
	{
		openPopup(url, "FormEditor", "width=700,height=600,left=" + (document.body.clientWidth / 4) + ",top=" + (document.body.clientHeight / 4) + ",toolbar=no,status=yes,scrollbars=yes,location=no,menubar=no,directories=no,resizable=yes");
	}

	//*******************************************
	// This function opens up the form editor
	//*******************************************
	
	function openRelationEditor(url)
	{
		openPopup(url, "RelationEditor", "width=700,height=600,left=" + (document.body.clientWidth / 4) + ",top=" + (document.body.clientHeight / 4) + ",toolbar=no,status=yes,scrollbars=yes,location=no,menubar=no,directories=no,resizable=yes");
	}

	//*******************************************
	// This method changes state on a content
	//*******************************************
	 
	function changeContentState(contentVersionId)
	{
		stateId = document.editForm.stateId.value;
		languageId = document.editForm.languageId.value;
		contentId = document.editForm.contentId.value;
		
		#if(!$this.hasAccessTo("Common.SubmitToPublishButton", true))
		if(stateId == "2")
		{
			alert("$ui.getString("tool.contenttool.statePublishForbidden")");
			document.editForm.stateId.selectedIndex = originalStateIndex - 1;
			return;
		}
		#end
		
		if (confirm('$ui.getString("tool.contenttool.stateChangeQuestion")'))
		{
			window.location.href="ChangeContentState.action?contentVersionId=" + contentVersionId + "&stateId=" + stateId + "&contentId=" + contentId + "&languageId=" + languageId;
		}
	}
	
	var navigationTitleHash = new Array();
	
	function fetchPageNavigationTitle(baseUrl, params)
	{
		//alert("fetchPageNavigationTitle:" + baseUrl);
	    jsrsPOST = false;
	  	jsrsExecute(baseUrl, myCallback, "test", params);
	}
	
	function myCallback( siteNodeId, navigationTitle )
	{
	  //alert("Inside myCallback with " + siteNodeId + ":" + navigationTitle);
	  navigationTitleHash[siteNodeId] = navigationTitle;
	  //alert("Stored title: " + navigationTitleHash[siteNodeId]);
	  //alert("navigationTitleHash:" + navigationTitleHash.length);
	} 

	/**
	 * This method precaches all needed navigationtitles.
	 */
	 
	function preCacheNavigationTitles(plainAttribute, document)
	{
		//alert("Inside preCacheNavigationTitles");
		//alert("plainAttribute1:" + plainAttribute);
		
		siteNodeIdStartIndex = plainAttribute.indexOf("getPageNavTitle(");
		//alert(siteNodeIdStartIndex);
		while(siteNodeIdStartIndex > -1)
		{
			siteNodeIdEndIndex = plainAttribute.indexOf(")", siteNodeIdStartIndex);
			//alert("siteNodeIdStartIndex" + siteNodeIdStartIndex);
			//alert("siteNodeIdEndIndex" + siteNodeIdEndIndex);
			if(siteNodeIdStartIndex < siteNodeIdEndIndex)
			{
				siteNodeId = plainAttribute.substring(siteNodeIdStartIndex + 16, siteNodeIdEndIndex);
				//alert("siteNodeId:" + siteNodeId);
				
				if(siteNodeId > 0 && !navigationTitleHash[siteNodeId])
				{
					dataBaseUrl = "$deliveryBaseUrl/ViewApplicationSettings!getPageNavigationTitle.action";
					fetchPageNavigationTitle(dataBaseUrl, "siteNodeId=" + siteNodeId + "&languageId=1&contentId=-1");
				}
			}
						
			siteNodeIdStartIndex = plainAttribute.indexOf("getPageNavTitle(", siteNodeIdEndIndex);	
			//alert("siteNodeIdStartIndex" + siteNodeIdStartIndex);		
		}
		
		return false;
	}

	//*******************************************
	// This is a timer that warns the user about saving his work once in a while so he does not
	// get a new login-screen next time he saves.
	//*******************************************
	var beenWarned = false;
	var inaktiveTime = 0;
	var timeout = 1000000;
    function warnForTimeout()
    {
       	alert("Please save your work often to avoid loosing it due to the security timeout. If you suspect you might not have saved for 10-20 minutes or so we recommend you copy all of your text before you press save so you don't risk loosing it.");
		beenWarned = true;
		inaktiveTime = inaktiveTime + timeout;
		setTimeout("warnForTimeout()", timeout);
	}
	
	//*******************************************
	// This is the method that generates the wysiwygs when the page is loaded
	//*******************************************

	function generateWYSIWYGS()
	{
		for (var i in plainEditors) 
		{
			var plainTextAreaName = plainEditors[i];
			//alert("Creating a textarea for " + plainTextAreaName.name + " = " + i);

			//alert("Generation in progress..");

			var plainTextArea = document.getElementById(plainTextAreaName);
			var plainAttribute = plainTextArea.value;
			//alert(plainAttribute);
			plainAttribute = transformAttribute(plainAttribute, document);
			plainTextArea.value = plainAttribute;
			
			var config = new HTMLArea.Config();
			configInfoGlue(config);
									
			//alert("Generation in progress..");
										
			//alert("Height:" + document.getElementById(plainTextAreaName).offsetHeight);
			tempWYSIWYGEditor = new HTMLArea(plainTextAreaName, config);
			htmlEditors[plainTextAreaName + "WYSIWYGEditor"] = tempWYSIWYGEditor;
			tempWYSIWYGEditor.generate();
			
			//alert("Changing status to plain...");
			setTimeout(changeToPlainAttribute, 500);
		}
	}	
	

	function changeToPlainAttribute()
	{
		for (var i in plainEditors) 
		{
			var plainTextAreaName = plainEditors[i];
			var plainTextArea = document.getElementById(plainTextAreaName);
			
			//alert("UseExdendedEditor:" + attributesStatus[plainTextAreaName + "ActivateExtendedEditorOnLoad"])
			if(attributesStatus[plainTextAreaName + "ActivateExtendedEditorOnLoad"] == false)
			{
				//alert("Changing status to plain...");
				changeEditor(0, plainTextAreaName);
			}
		}
	}
	
	//*******************************************
	// This is a timer that keeps track of the number of minutes the user has been on the page without saving.
	//*******************************************
	var textArea;
	var contentVersionId 	= "$contentVersionId";
	var contentId 			= "$contentId";
	var languageId 			= "$languageId";
	
	var count = 0;
	var minute = 60000;
	function doTimer()
	{
		count += 1;
		setTimeout("doTimer();", minute);
	}
	
	doTimer();
	setTimeout("warnForTimeout()", timeout);
		
-->
</script>

<div class="fullymarginalized">

<form method="POST" name="editForm" action="CreateContentWizardInputContentVersions.action">
 
<table border="0" width="500">	
	<!-- here goes the field generation -->
		
	#foreach($attribute in $contentTypeAttributes)
		
		## ANNOTATION ELEMENTS
		#set($attributeTitle = "")
		#set($attributeTitle = $!attribute.getContentTypeAttribute("title").getContentTypeAttributeParameterValue().getLocalizedValue("label", $session.locale))
		#if($attributeTitle == "")
			#set($attributeTitle = "$attribute.name")
		#end

		#set($attributeDescription = "")
		#set($attributeDescription = $!attribute.getContentTypeAttribute("description").getContentTypeAttributeParameterValue().getLocalizedValue("label", $session.locale))
		#if($attributeDescription != "")
			#set($attributeDescription = "- $attributeDescription")
		#end
	
		#set($class = "")
		#set($class = $!attribute.getContentTypeAttribute("class").getContentTypeAttributeParameterValue().getValue("label"))
		#if($class == "")
			#set($class = "longtextfield")
		#end

		#set($rows = "")
		#set($rows = $!attribute.getContentTypeAttribute("rows").getContentTypeAttributeParameterValue().getValue("label"))
		#if($rows == "")
			#set($rows = "5")
		#end

		#set($cols = "")
		#set($cols = $!attribute.getContentTypeAttribute("cols").getContentTypeAttributeParameterValue().getValue("label"))
		#if($cols == "")
			#set($cols = "75")
		#end

		#set($enableWYSIWYG = "")
		#set($enableWYSIWYG = $!attribute.getContentTypeAttribute("enableWYSIWYG").getContentTypeAttributeParameterValue().getLocalizedValue("label", $session.locale))
		#if($enableWYSIWYG == "")
			#set($enableWYSIWYG = "false")
		#end

		#set($enableFormEditor = "")
		#set($enableFormEditor = $!attribute.getContentTypeAttribute("enableFormEditor").getContentTypeAttributeParameterValue().getLocalizedValue("label", $session.locale))
		#if($enableFormEditor == "")
			#set($enableFormEditor = "false")
		#end

		#set($enableContentRelationEditor = "")
		#set($enableContentRelationEditor = $!attribute.getContentTypeAttribute("enableContentRelationEditor").getContentTypeAttributeParameterValue().getLocalizedValue("label", $session.locale))
		#if($enableContentRelationEditor == "" || $enableContentRelationEditor == "false")
			#set($enableContentRelationEditor = $!attribute.getContentTypeAttribute("enableRelationEditor").getContentTypeAttributeParameterValue().getLocalizedValue("label", $session.locale))
			#if($enableContentRelationEditor == "" || $enableContentRelationEditor == "false")
				#set($enableContentRelationEditor = "false")
			#end
		#end
		
		#set($enableStructureRelationEditor = "")
		#set($enableStructureRelationEditor = $!attribute.getContentTypeAttribute("enableStructureRelationEditor").getContentTypeAttributeParameterValue().getLocalizedValue("label", $session.locale))
		#if($enableStructureRelationEditor == "")
			#set($enableStructureRelationEditor = "false")
		#end

		#set($activateExtendedEditorOnLoad = "")
		#set($activateExtendedEditorOnLoad = $!attribute.getContentTypeAttribute("activateExtendedEditorOnLoad").getContentTypeAttributeParameterValue().getLocalizedValue("label", $session.locale))
		#if($activateExtendedEditorOnLoad == "")
			#set($activateExtendedEditorOnLoad = "false")
		#end
		<script type="text/javascript">
		<!--
			attributesStatus["${attribute.name}ActivateExtendedEditorOnLoad"] = $activateExtendedEditorOnLoad;
		-->
		</script>
	
		#set($currentEditorId = 0)
		
		<tr>
			<td colspan="3"><img src="images/trans.gif" width="1" height="5"/></td>
		</tr>
		<tr>
			<td colspan="3">
			
				#if($attribute.inputType == "textfield")
					$attributeTitle ("$attribute.name") $attributeDescription<br/>
					<input $readonly type="text" length="50" class="$class" maxlength="" id="$attribute.name" name="$attribute.name" value=""/>
				#elseif($attribute.inputType == "textarea")
					
					<table cellpadding="0" cellspacing="0" border="0" width="100%">
					    <tr>
					    	<td align="left">$attributeTitle ("$attribute.name") $attributeDescription </td>
					    	<td align="right">
					    		#if($enableFormEditor == "false" && $enableContentRelationEditor == "false"  && $enableStructureRelationEditor == "false")
					    			<a href="javascript:changeEditor(0, '${attribute.name}');">$ui.getString("tool.contenttool.editorPlainLabel")</a> 
								#end
					    		#if($enableFormEditor == "false" && $enableContentRelationEditor == "false"  && $enableStructureRelationEditor == "false" && $enableWYSIWYG == "true")
					    		| <a href="javascript:changeEditor(1, '${attribute.name}');">$ui.getString("tool.contenttool.editorHTMLWYSIWYG")</a> 
					    		#end
							</td>
					    </tr>
					</table>
					
					#set($width = 0)
					#set($width = $!attribute.getContentTypeAttribute("width").getContentTypeAttributeParameterValue().getLocalizedValueAsInt("label", $session.locale))
					#if($width == 0)
						#set($width = 700)
					#end

					#set($height = 0)
					#set($height = $!attribute.getContentTypeAttribute("height").getContentTypeAttributeParameterValue().getLocalizedValueAsInt("label", $session.locale))
					#if($height == 0)
						#set($height = 150)
					#end
					
					#set($wysiwygHeight = $height - 40)
					#if($width >= 700)
						#set($wysiwygHeight = $height - 20)
					#end
			
					<textarea $readonly rows="$rows" cols="$cols" style="visibility: visible; width:${width}px; height:${height}px; border: 1px solid #C2D0E2;font-family:verdana,arial,sans-serif;font-size:8pt;" id="$attribute.name" name="$attribute.name" $readonly></textarea> 
					
					#if($enableWYSIWYG == "true")
						<!-- Here comes the WYSIWYG-editor layer -->
						
						<script type="text/javascript">
							// Replace an existing textarea with an HTMLArea object having the above config.
							plainEditors["${attribute.name}"] = "${attribute.name}";
							
							currentEditorIdHash["${attribute.name}CurrentEditorId"] = 1;
							#set($currentEditorId = 1)
						</script>

					#end
					
					#if($enableFormEditor == "true" && $readonly == "")
						<!-- Here comes the Form editor layer -->
						<input type="hidden" id="${attribute.name}EditorType3IsActive" name="${attribute.name}EditorType3IsActive" value="false">
						<div id="${attribute.name}EditorType3" name="${attribute.name}EditorType3" style="display:none; width:${width}px; height:${height}px; z-index:1; border: 1px solid #C2D0E2;">
						    <table cellpadding="0" cellspacing="0" border="0" width="100%" height="100%">
						    <tr>
						    	<td colspan="2" bgcolor="white" valign="top">
									#if($contentVersionId > -1)
									As the form editor is somewhat complex you have to open it in a new window.
									Click <a href="javascript:openFormEditor('ViewFormEditor.action?contentVersionId=$!contentVersionId&contentVersionAttributeName=$!attribute.name');changeEditor(3, '${attribute.name}');"><strong>here</strong></a> for it.
									Edit the form there and close the window when you are done. 
									#else
									You cannot use the editor until you have saved the first version of this content. Fill
									in the rest of the form values and save without entering anything in this field. After that you
									will be able to use the editor.
									#end
								</td>
						    </tr>
						    </table>
						</div>
						
						<script type="text/javascript">
							document.getElementById('${attribute.name}').style.display = "none";
							document.getElementById('${attribute.name}EditorType3').style.display = "block";							
						</script>
						
					#end

					#if($enableContentRelationEditor == "true" && $readonly == "")
						<!-- Here comes the Content Relation editor layer -->
						<input type="hidden" id="${attribute.name}EditorType4IsActive" name="${attribute.name}EditorType4IsActive" value="false">
						<div id="${attribute.name}EditorType4" name="${attribute.name}EditorType4" style="display:none; width:${width}px; height:${height}px; z-index:1; border: 1px solid #C2D0E2;">
						    <table cellpadding="0" cellspacing="0" border="0" width="100%" height="100%">
						    <tr>
						    	<td colspan="2" bgcolor="white" valign="top">
									#if($contentVersionId > -1)
									As the relationeditor is somewhat complex you have to open it in a new window. 
									Click
									<a href="javascript:openRelationEditor('ViewContentRelationEditor.action?updateAction=ViewContentRelationEditor!updateQualifyer.action&entityName=ContentVersion&entityId=$!contentVersionId&attributeName=$!attribute.name');"><strong>here</strong></a> to open it now.
									Edit the relations there and close the window when you are done. 
									#else
									You cannot use the editor until you have saved the first version of this content. Fill
									in the rest of the form values and save without entering anything in this field. After that you
									will be able to use the editor.
									#end
								</td>
						    </tr>
						    </table>
						</div>
						
						<script type="text/javascript">
							document.getElementById('${attribute.name}').style.display = "none";
							document.getElementById('${attribute.name}EditorType4').style.display = "block";							
						</script>
					#end

					#if($enableStructureRelationEditor == "true" && $readonly == "")
						<!-- Here comes the Structure Relation editor layer -->
						<input type="hidden" id="${attribute.name}EditorType5IsActive" name="${attribute.name}EditorType5IsActive" value="false">
						<div id="${attribute.name}EditorType5" name="${attribute.name}EditorType5" style="display:none; width:${width}px; height:${height}px; z-index:1; border: 1px solid #C2D0E2;">
						    <table cellpadding="0" cellspacing="0" border="0" width="100%" height="100%">
						    <tr>
						    	<td colspan="2" bgcolor="white" valign="top">
									#if($contentVersionId > -1)
									As the relationeditor is somewhat complex you have to open it in a new window. 
									Click 
									<a href="javascript:openRelationEditor('ViewStructureRelationEditor.action?updateAction=ViewStructureRelationEditor!updateQualifyer.action&entityName=ContentVersion&entityId=$!contentVersionId&attributeName=$!attribute.name');"><strong>here</strong></a> to open it now.
									Edit the relations there and close the window when you are done. 
									#else
									You cannot use the editor until you have saved the first version of this content. Fill
									in the rest of the form values and save without entering anything in this field. After that you
									will be able to use the editor.
									#end
								</td>
						    </tr>
						    </table>
						</div>
						
						<script type="text/javascript">
							document.getElementById('${attribute.name}').style.display = "none";
							document.getElementById('${attribute.name}EditorType5').style.display = "block";							
						</script>
					#end
					
		    		#if($enableFormEditor == "true" && $readonly == "" && $contentVersionId > -1)
		    		<script type="text/javascript">
		    			document.getElementById('${attribute.name}').style.display = "none";
		    			showdiv = document.getElementById('${attribute.name}EditorType3');
						showdiv.style.visibility = "visible";
		    		</script>
		    		#end
		    		#if($enableContentRelationEditor == "true" && $readonly == "" && $contentVersionId > -1)
		    		<script type="text/javascript">
			    		document.getElementById('${attribute.name}').style.display = "none";
		    			showdiv = document.getElementById('${attribute.name}EditorType4');
						showdiv.style.visibility = "visible";
		    		</script>
		    		#end
		    		#if($enableStructureRelationEditor == "true" && $readonly == "" && $contentVersionId > -1)
		    		<script type="text/javascript">
			    		document.getElementById('${attribute.name}').style.display = "none";
		    			showdiv = document.getElementById('${attribute.name}EditorType5');
						showdiv.style.visibility = "visible";
		    		</script>
		    		#end
		
					
					<script type="text/javascript">
						//alert("CurrentEditorId:" + currentEditorIdHash["${attribute.name}CurrentEditorId"])
						if(!currentEditorIdHash["${attribute.name}CurrentEditorId"])
							currentEditorIdHash["${attribute.name}CurrentEditorId"] = 0;
						
						var plainAttribute = document.getElementById("${attribute.name}").value;
		    			//alert("plainAttribute:" + plainAttribute);
		    			preCacheNavigationTitles(plainAttribute, document);
					    
					    #if($currentEditorId == 2 && $activateExtendedEditorOnLoad == "false")
							changeEditor(0, '${attribute.name}');
						#end
												
					</script>
					
				#elseif($attribute.inputType == "select")
				<!-- Handles the input type select = dropbox -->
					$attributeTitle ("$attribute.name") $attributeDescription <br/>
					<select $readonly size="1" id="$attribute.name" name="$attribute.name" class="$class">
		    			#foreach($value in $attribute.getContentTypeAttribute("values").getContentTypeAttributeParameterValues())
		    				<option value="$value.id" #checkSelected("$value.id" "$!this.getAttributeValue($attribute.name)")>$value.getLocalizedValue("label", $session.locale)</option>
		    			#end
		    		</select>

				#elseif($attribute.inputType == "checkbox")
				<!-- Handles the input type checkbox -->
					$attributeTitle ("$attribute.name") $attributeDescription <br/>
	    			#foreach($value in $attribute.getContentTypeAttribute("values").getContentTypeAttributeParameterValues())
						<input $readonly type="checkbox" id="$attribute.name" name="$attribute.name" value="$value.id" #checkCheckedBySplit("$value.id" "$!this.getAttributeValue($attribute.name)")>$value.getLocalizedValue("label", $session.locale)
	    			#end

				#elseif($attribute.inputType == "radiobutton")
				<!-- Handles the input type radiobutton -->
					$attributeTitle ("$attribute.name") $attributeDescription <br/>
	    			#foreach($value in $attribute.getContentTypeAttribute("values").getContentTypeAttributeParameterValues())
						<input $readonly type="radio" id="$attribute.name" name="$attribute.name" value="$value.id" #checkCheckedBySplit("$value.id" "$!this.getAttributeValue($attribute.name)")>$value.getLocalizedValue("label", $session.locale)
	    			#end

				#end
				
			</td>
		</tr>
	#end
		<tr>
			<td colspan="3">
				$ui.getString("tool.contenttool.associatedAttachments")<br/>
				<table border="0" width="100%" cellspacing="0">
				<tr>
					#set($counter = 0)
					#foreach($digitalAsset in $digitalAssets)
						#set($digitalAssetUrl = "$this.getDigitalAssetUrl($digitalAsset.digitalAssetId)")
						<td valign="bottom" align="center" class="bordered">
							<input type="hidden" id="digitalAsset$digitalAsset.assetKey" value="$digitalAssetUrl">
							<a href="javascript:openPopup('$digitalAssetUrl', 'Preview', 'width=600,height=500,resizable=yes');"><img class="scaledbordered" src="$this.getDigitalAssetThumbnailUrl($digitalAsset.digitalAssetId)">
							<br/>$digitalAsset.assetKey</a><br/>
							#if($readonly == "")
								<a href="javascript:openPopup('ViewDigitalAsset!update.action?contentVersionId=$contentVersionId&contentId=$contentId&languageId=$languageId&digitalAssetId=$digitalAsset.digitalAssetId','DigitalAsset','width=500,height=400,resizable=no');">$ui.getString("tool.contenttool.editAttachment")</a> / 
								<a href="ViewContentVersion!deleteDigitalAsset.action?contentVersionId=$contentVersionId&contentId=$contentId&languageId=$languageId&digitalAssetId=$digitalAsset.digitalAssetId">$ui.getString("tool.contenttool.deleteAttachment")</a>
							#end
						</td>
						#set($counter = $counter + 1)
						#if ($counter == 5)
						</tr>
						<tr>
							#set($counter = 0)	
						#end
					#end
					
					#if($counter == 0)
						<td>$ui.getString("tool.contenttool.noAttachmentsRightNow")</td>
					#end	
				</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="3">&nbsp;<br>
				<a href="javascript:openPopup('ViewDigitalAsset.action?contentVersionId=$contentVersionId', 'DigitalAsset', 'width=400,height=200,resizable=no');">Upload new asset</a>
			</td>
		</tr>
	
	<script type="text/javascript">
		function validateAndSubmitContentForm()
		{
			pastedTime = count; 
			
			if(beenWarned)
			{
				answer = confirm("You have not saved for " + pastedTime + " minutes. We strongly recommends you copy the text so you don't risk loosing it if you have been inactive for to long. Do you want to save anyway?");
			}
			
			if (!beenWarned || answer)
			{
				isValid = true;
				
				#foreach($attribute in $contentTypeAttributes)
	   				currentEditorId = currentEditorIdHash["${attribute.name}CurrentEditorId"];
	   				if(currentEditorId)
		   				document.getElementById("currentEditorId").value = currentEditorId;
	   				
	   				//alert("currentEditorId:" + currentEditorId);
					if(currentEditorId == 1)
					{
						var wysiwygEditor = htmlEditors["${attribute.name}WYSIWYGEditor"];
						//alert("WYSIWYG:" + wysiwygEditor.getHTML());
						
						var text = wysiwygEditor.getHTML();
						//alert("text1:" + text);
						untransformedAttribute = untransformAttribute(text);
						//alert("untransformedAttribute:" + untransformedAttribute);
						document.getElementById("$attribute.name").value = untransformedAttribute;
					}
					else if(currentEditorId == 2)
					{
						document.getElementById("$attribute.name").value = document.applets("${attribute.name}InfoGlueCodeEditor").getText();
					}
	
	   				#if($attribute.inputType != "digitalAsset")
						//isCurrentValid = validate${attribute.name}();
						//if(isCurrentValid == false)
						//	isValid = false;
					#end
				#end
				
				if(isValid)
				{
					buildVersionValue(); 
					document.editForm.submit();
				}
			}
		}
	
		function validateAndSubmitContentFormThenExit()
		{
			//alert("Action:" + document.editForm.action);
			document.editForm.action = "UpdateContentVersion!saveAndExit.action";
			validateAndSubmitContentForm();		
		}
	
		
		function buildVersionValue()
		{
			var versionValue = "<?xml version='1.0' encoding='UTF-8'?>";
			versionValue += "<article xmlns='x-schema:ArticleSchema.xml'>";
			versionValue += "<attributes>";
			
			#foreach($attribute in $contentTypeAttributes)
   				#if($attribute.inputType != "digitalAsset")
					versionValue += "<$attribute.name>";
					versionValue += "<![CDATA[" + getValue("${attribute.name}") + "]]>";
					//versionValue += "<![CDATA[" + document.editForm.${attribute.name}.value + "]]>";
					versionValue += "</$attribute.name>";
				#end
			#end
			
			versionValue += "</attributes>";
			versionValue += "</article>";
			
			//alert("versionValue:" + versionValue);				
			document.editForm.versionValue.value = versionValue;
		}
				
		function getValue(elementId)
		{
			var value = "";
			//alert(elementId);
			
			var allElem = document.editForm.elements;
			//alert("allElem:" + allElem.length);
		  	for(i=0;i<allElem.length;i++)
			{
			    var element = allElem[i];
			    //alert("element.name:" + element.name);
			    //alert("element.type:" + element.type);
			    
			    if(element.name == elementId)
			    {
			    	if(element.type=='checkbox' || element.type=='radio')
			        {
			        	//alert("element.checked:" + element.checked);
			        	if(element.checked == true)
			          	{
			          		if(value == "")
				          		value += element.value;
							else
								value += ',' + element.value;				
			          	}
			        }
					else
					{
						//alert("elementId:" + elementId);
						//alert(document.getElementById(elementId).value);
						fieldName = "document.editForm." + elementId;
						//alert(fieldName);
						//alert(eval(fieldName).value);
						value = eval(fieldName).value;
						//value = document.getElementById(elementId).value;		
					}
			    }      
			}	
										
			//alert("value:" + value);
			return value;
		}
		
		</script>
		<input type="hidden" id="versionValue" name="versionValue" value=""/>
		<input type="hidden" id="currentEditorId" name="currentEditorId" value=""/>
		</td>
	</tr>
	
	<!-- end fields -->

	<tr>
		<td colspan="3">&nbsp;</td>
	</tr>
	<tr>
		<input type="hidden" id="languageId" name="languageId" value="$languageId"/>
		<td colspan="3">
			<a href="javascript:validateAndSubmitContentForm();"><img src="$ui.getString("images.contenttool.buttons.next")" width="50" height="25" border="0"></a>
		</td>
	</tr>
</table>
</form>

</div>

#endContentTool()