#define( $headerMarkup )
	<script type="text/javascript">
	<!--
		function save()
		{
			document.editForm.submit();
		}
	-->
	</script>

#end

#beginLightCommonToolV3Impl("tool.contenttool.changeVersionLanguage.header" "$!contentId" "contentId=$contentId&repositoryId=$!repositoryId&isBranch=$isBranch" false true $!disableCloseButton $headerMarkup)

	#lightMenuToolbar("" $buttons $rightButtons) 

	<div style="clear: both;"></div>

	<h3>$ui.getString("tool.contenttool.changeVersionLanguage.header")</h3>
	
	<form method="post" name="editForm" action="ChangeVersionLanguage!V3.action">
		<input type="hidden" name="contentId" value="$!contentId">
		<input type="hidden" name="contentVersionId" value="$!contentVersionId">
		<input type="hidden" name="isBranch" value="$!isBranch">
		<input type="hidden" name="unrefreshedContentId" value="$!contentId">
		<input type="hidden" name="repositoryId" value="$!repositoryId">
		<input type="hidden" name="changeTypeId" value="1">
		#hiddenField("returnAddress" $!returnAddress)
		#hiddenField("userSessionKey" $!userSessionKey)
		#hiddenField("disableCloseButton" $!disableCloseButton)		
		
		<p>
			$ui.getString("tool.contenttool.changeVersionLanguage.text")
		</p>
		<p>
			$ui.getString("tool.managementtool.repositoryLanguages.header")<br/>
			<select class="languageId" name="languageId">
			#foreach ($languageVO in $languageVOList)
				<option value="$languageVO.id">$languageVO.getName()</option>
			#end
			</select>
		</p>
	</form>

#lightFooterToolbar($footerButtons)
		
#endLightCommonToolV3()