#beginManagementToolV3("tool.managementtool.messageSent.title" "" false)

<link rel="stylesheet" href="script/jqueryplugins-latest/ui/css/jquery-ui.css" type="text/css" media="screen" title="Flora (Default)">
<script type="text/javascript">
	function closeDialog()
	{
		if(parent && parent.refreshContent) 
			parent.refreshContent($parentContentId, 2, -1); 

		if(parent && parent.closeInlineDiv) 
			parent.closeInlineDiv(); 
		else if(parent && parent.closeDialog) 
			parent.closeDialog(); 
		else if (window.opener)
			window.close();
		else
			history.back();
	}
</script>

<h3>Files imported</h3>
<p>
  	Click on close to reload the context to see the new contents
</p>

<p>
	<a href="javascript:closeDialog();">Close</a>
</p>

#endManagementTool()
