#define( $headerMarkup )
	<script type="text/javascript" src="script/jqueryplugins/thickbox/thickbox-compressed.js"></script>
	<link rel="stylesheet" type="text/css" href="script/jqueryplugins/thickbox/thickbox-ig.css" />

	<link rel="stylesheet" type="text/css" href="css/embla/admin.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="css/skins/${theme}/adminEmbla.css" />

	<script type="text/javascript" src="script/embla/admin.js"></script>
	<script type="text/javascript">
		
		/* Proxy functions */
		function refreshContent(contentId, changeTypeId, addedContentId)
		{
			$("#treeIframe").get(0).contentWindow.refreshContent(contentId, changeTypeId, addedContentId);
		}		
	
		function openUrlInWorkArea(url)
		{
			//alert("url:" + url);
			document.getElementById("workIframe").src = url;
		}

		function refreshAll()
		{
			if($("#workIframe").get(0).contentWindow.refreshAll)
				$("#workIframe").get(0).contentWindow.refreshAll();
		}

		function refreshWorkSurface()
		{
			//alert("refreshWorkSurface");
			$("#workIframe").get(0).contentDocument.location.reload();
		}
				
		function refreshView(viewName)
		{
			//alert("viewName:" + viewName + ":" + $("#workIframe").attr("src"));
			if($("#workIframe").get(0).contentWindow.refreshView)
				$("#workIframe").get(0).contentWindow.refreshView(viewName);
		}
	
		function resize(isLoop)
		{
			var windowWidth = $(window).width();
			var windowHeight = $(window).height();
			$("#toolsColumn").height(windowHeight - $("#toolsColumn").offset().top);
			$("#treeIframe").height($("#toolsColumn").height() - $("#toolsColumn").position().top);
			$("#work").width(windowWidth - ($("#toolsColumn").width() + 6)).height($("#toolsColumn").height());
			$("#workIframe").width($("#work").width()).height($("#work").height());
			
			if(!isLoop && $(window).width() > windowWidth)
				resize(true)
		}
		
		var isItAnActivationCall = false;
		function setIsItAnActivationCall(value) {
			isItAnActivationCall=value;
			
			setTimeout("refreshTreeSize();",500);			
		}

		function refreshTreeSize()
		{
			if($("#treeIframe").get(0).contentWindow.resizeTreeIframe)
				$("#treeIframe").get(0).contentWindow.resizeTreeIframe($("#treeIframe").height(), $("#treeIframe").width());
		}
				
		function refreshRepositoryList()
		{
			jQuery.getJSON("ViewCommonAjaxServices!repositories.action", function(jsonData) {
				if(jsonData.repository)
				{
					var oldVal = $("#repositorySelect").val();
					$("#repositorySelect").empty();
					jQuery.each(jsonData.repository, function(i,item){
		
						//alert("jsonData:" + item.id + ":" + item.name);
						if(item.name != "empty")
						{
							if(oldVal == item.id)
								$("#repositorySelect").append("<option value='" + item.id + "' selected='selected'>" + item.name + "</option>");
							else
								$("#repositorySelect").append("<option value='" + item.id + "'>" + item.name + "</option>");
						}	
					});
				}
			});
			
			return false;
		}
		
		$(document).ready(function() {
			resize(false);
   			
	   		window.onresize = function() {
	   			resize(false);
   			}

			$("#toolsColumn").resizable({ handles: 'e', stop: function(event, ui) { resize(false); } });

			openUrlInWorkArea("ViewContentToolStartPage!V3.action");
		});
		
		function changeRepository(selectBox)
		{
			document.location.href = "ViewContentTool!V3.action?repositoryId=" + selectBox.value;
		}	
						
		var structureToolMenuUrl = "ViewStructureToolMenu!V3.action?repositoryId=";
		var contentToolMenuUrl	 = "ViewContentToolMenu!V3.action?repositoryId=";
		
		var oldWidth = 0;
		function setOldWidth(anOldWidth)
		{
			//alert("OldWidth:" + anOldWidth);
			oldWidth = anOldWidth;
		}
		
		function getOldWidth()
		{
			//alert("oldWidth:" + oldWidth);
			return oldWidth;
		}
		
		function minimizeToolColumn()
		{
			setOldWidth($('#toolsColumn').width()); 
			$('#toolsColumn > *').hide(); 
			$('#minimizedBar').show(); 
			$('#toolsColumn').width(20);
			resize(); 
		}

		function restoreToolColumn()
		{
			//$('#work').width($('#work').width() - getOldWidth() - 20);
			//$('#workIframe').width($('#work').width());
			$('#toolsColumn > *').show(); 
			$('#minimizedBar').hide(); 
			$('#toolsColumn').width(getOldWidth());
			resize(); 
		}
		
	</script>
#end
 
#beginLightCommonToolV3Impl("tool.common.adminTool.header" "" "" false true true $!headerMarkup false "")

<div style="float: left; width: 100%; height: 100%; overflow: hidden;">
	<div id="menutoolbar" class="$toolbarVariant">
		<div id="menutoolbarLeft" style="position: absolute; z-index: 5; padding-left: 4px; padding-top: 2px;">
		</div>
	</div>
	<div style="clear: both"></div>
	
	<div id="toolsColumn">
		<div id="minimizedBar" style="display: none; width: 100%; float: left;">
	    	<img src="images/v3/doubleForwardArrows.png" onclick="restoreToolColumn(); return false;" style="display: block; float: left; width: 16px; height:16; margin-left: 4px; margin-top: 8px;" alt="reload"/>
		</div>
		
		<div class="onlyExpanded" id="repositoryChoiceDiv">
	    	<select id="repositorySelect" onchange="changeRepository(this);">
	    		#foreach($repository in $authorizedRepositoryVOList)
	    		<option value="$repository.id" #if($repository.id == $repositoryId)selected="selected"#end>$repository.name</option>
	    		#end
	    	</select>
	    	<img src="images/v3/reload.png" onclick="refreshRepositoryList(); $('#treeIframe').get(0).contentWindow.reload();" style="display: block; float: left; width: 16px; height:16; margin-left: 4px; margin-top: 6px;" alt="reload"/>
	    	<img src="images/v3/doubleBackArrows.png" onclick="minimizeToolColumn(); return false;" style="display: block; float: left; width: 16px; height:16; margin-left: 4px; margin-top: 8px;" alt="reload"/>
	    </div>
	
		<iframe id="treeIframe" name="treeIframe" src="ViewContentToolMenu!V3.action?repositoryId=$repositoryId" width="100%" height="250" frameborder="0" allowtransparency="true"></iframe>
	
	</div>

	<div id="work" style="float: left;">
		<iframe id="workIframe" name="workIframe" src="" width="100%" height="100%" frameborder="0" allowtransparency="true"></iframe>
	</div>
</div>

<div id="contextMenuDiv">
</div>

</body>
</html>