#beginLightCommonToolV3("tool.contenttool.assetDialog.assetDialogHeader" "" "" false false $!disableCloseButton)

	<script type="text/javascript">
	<!--
		var selectedAssetElement;
		var contentId;
		var assetKey = "";
		var firstAssetKey;
		var assetUrl;
			
		function markAsset(object, aContentId, anAssetKey, actualAssetKey, anAssetUrl)
		{			
			if(selectedAssetElement)
			{
				selectedAssetElement.parentNode.style.border = "1px solid #d8d8d8";
				selectedAssetElement.parentNode.style.background = "url(css/images/v3/imgbox_bg.gif) repeat";
				selectedAssetElement.parentNode.style.backgroundImage = "url(css/images/v3/imgbox_bg.gif)";
				selectedAssetElement.style.background = "url(css/images/v3/imgbox_bg.gif) repeat";
				selectedAssetElement.style.backgroundImage = "url(css/images/v3/imgbox_bg.gif)";
			}
			
			contentId = aContentId;	
			if(actualAssetKey)
				assetKey = actualAssetKey;
			assetUrl = anAssetUrl;
			
			if(parent.assetMarked)
				parent.assetMarked(contentId, assetKey, assetUrl);
			
			selectedAssetElement = document.getElementById("digitalAsset" + anAssetKey);
			if(selectedAssetElement)
			{
				selectedAssetElement.parentNode.style.border = "1px solid orange";
				selectedAssetElement.parentNode.style.background = "url(css/images/v3/imgboxselected_bg.gif) repeat";
				selectedAssetElement.parentNode.style.backgroundImage = "url(css/images/v3/imgboxselected_bg.gif)";
				selectedAssetElement.style.background = "url(css/images/v3/imgboxselected_bg.gif) repeat";
				selectedAssetElement.style.backgroundImage = "url(css/images/v3/imgboxselected_bg.gif)";
			}
		}
	
		function onOk()
		{
			if(assetKey == "")
				alert("$ui.getString("tool.contenttool.assetDialog.mustChooseAttachment")");
			else
			{
				#if(!$treatAsLink)
					parent.onOk(contentId, assetKey, assetUrl);
				#else
					parent.onOk(contentId, assetKey, assetUrl);
				#end
			}
		}
	
		function onCancel() 
		{
		    parent.onCancel(null);
			return false;
		}	
	
		function initSub(contentId) 
		{
			#if($contentId)
			if(typeof(lastAssetKey) != 'undefined')
			{
				if(document.referrer != null && document.referrer != '')
					markAsset(this, '$!contentId', firstAssetKey, firstAssetKey, '');
				else
					markAsset(this, '$!contentId', lastAssetKey, lastAssetKey, '');
			}
			#end
		};
	
		function deleteAsset(url, assetKey)
		{
			var returnAddress = document.location.href;  
			if (confirm('$ui.getString("tool.contenttool.assetDialog.confirmAssetDeletionLabel") ' + assetKey))
			{
				window.location.href=url + "&returnAddress=" + escape(returnAddress);
			}
		}

		function getContentVersionId()
		{
			return $contentVersionId;
		}

		$(document).ready(function(){
			//alert("Loaded:" + document.location.href);
			setTimeout("initSub()", 500);
			if(parent && parent.getContentVersionId)
			{
				var parentContentVersionId = parent.getContentVersionId();
				var contentVersionId = "$!contentVersionId";
				//alert("parentContentVersionId:" + parentContentVersionId + "=" + contentVersionId);
				if(contentVersionId != parentContentVersionId)
				{
					alert("You have switched to a working version - we must reload the dialog.");
					//alert("parent.location.href:" + parent.location.href + ":" + parentContentVersionId + "=" + contentVersionId);
					//alert("parent.location.href:" + document.location.href + ":" + parentContentVersionId + "=" + contentVersionId);
					parent.location.reload(true);
					parent.loadFrame(2);
					/*
					if(parent.location.href.indexOf("contentVersionId") > -1)
					{
						parent.location.href = "ViewContent!V3.action?contentId=$!contentId&repositoryId=$!repositoryId"
					}
					else if(confirm("Reload?")){
						parent.location.reload(true);
					}
					*/
				}
				
			}
		});
	-->
	</script>
	<link rel="stylesheet" type="text/css" href="css/assets.css" />
	<link rel="stylesheet" type="text/css" href="css/cms.css" />

</head>

<body class="generaltooledit">

#if($enableInlineButtons)<div id="assets" class="imgBoxContainer resizableDiv">#end

#set($counter = 0)
#foreach($digitalAsset in $inheritedDigitalAssets)
	#set($digitalAssetUrl = $this.getDigitalAssetUrl($digitalAsset.digitalAssetId))
	<div class="imgBox">
    	<div class="imgBoxTop" id="digitalAsset$formatter.encodeURI($digitalAsset.assetKey, 'utf-8')" #if($assetKey == "$digitalAsset.assetKey") style="background:url(css/images/v3/imgboxselected_bg.gif) repeat;" #else style="background:url(css/images/v3/imgbox_bg.gif) repeat;" #end>
            <div id="imgBoxTopInner" class="imgBoxTopInner">
            	<input type="hidden" id="digitalAsset$formatter.encodeURI($formatter.encodeURI($digitalAsset.assetKey, 'utf-8'), 'utf-8')" value="$digitalAssetUrl">
				#set($singleEncodedAssetKey = "$formatter.encodeURI($digitalAsset.assetKey, 'utf-8')")
				#set($doubleEncodedAssetKey = "$formatter.encodeURI($formatter.encodeURI($digitalAsset.assetKey, 'utf-8'), 'utf-8')")
				#set($thumbnailImageUrl = "$this.getDigitalAssetThumbnailUrl($digitalAsset.digitalAssetId, 100, 60, 'ffffff', 'center', 'middle', 100, 60, 75)")
				<img #if($contentId)ondblclick="onOk();" onclick="markAsset(this, $!contentId, '$singleEncodedAssetKey', '$singleEncodedAssetKey', '$thumbnailImageUrl');"#end src="$thumbnailImageUrl" alt="$digitalAsset.assetKey ($digitalAsset.assetContentType - $formatter.formatFileSize($digitalAsset.assetFileSize))" />
             	<p title="$digitalAsset.assetKey ($digitalAsset.assetContentType - $formatter.formatFileSize($digitalAsset.assetFileSize))" class="assetKeyP"><a class="assetKeyHref" #if($contentId)ondblclick="onOk();" href="javascript:markAsset(this, $!contentId, '$doubleEncodedAssetKey', '$doubleEncodedAssetKey', '$thumbnailImageUrl');"#else href="$digitalAssetUrl" target="_blank" #end>#if($digitalAsset.assetKey.length() > 18)$digitalAsset.assetKey.substring(0,18)..#else$digitalAsset.assetKey#end</a></p>
                #if($showSelectButtonByEachImage && $contentId)<a href="javascript:markAsset(this, $!contentId, '$doubleEncodedAssetKey', '$doubleEncodedAssetKey', '$thumbnailImageUrl');onOk();"><b>Add asset to selection</b></a>#end
				#if($assetKey == $digitalAsset.assetKey)
					<script type="text/javascript">
					<!--
						var firstAssetKey = '$formatter.encodeURI($digitalAsset.assetKey, 'utf-8')';
					-->
					</script>	
				#else
					#if($counter == 0 && (!$assetKey || $!assetKey == ''))
						<script type="text/javascript">
						<!--
							var firstAssetKey = '$formatter.encodeURI($digitalAsset.assetKey, 'utf-8')';
						-->
						</script>
					#end
				#end
				<script type="text/javascript">
				<!--
					var lastAssetKey = '$formatter.encodeURI($digitalAsset.assetKey, 'utf-8')';
				-->
				</script>	
				#set($counter = $counter + 1)
            </div>
        </div>
	  	<div class="imgBoxBottom">
			<a class="previewImg" href="$digitalAssetUrl" title="$ui.getString("tool.contenttool.viewAttachment")" target="_blank"></a>
			#if($disableImageEditor != "true" && ($digitalAssetUrl.indexOf(".gif") > -1 || $digitalAssetUrl.indexOf(".jpg") > -1 || $digitalAssetUrl.indexOf(".png") > -1))
			<a class="editImg" href="#" onclick="parent.openInlineDiv('ImageEditor.action?contentVersionId=$contentVersionId&digitalAssetId=$digitalAsset.digitalAssetId&clearHistory=true', 600, 800, true, true, ''); " title="$ui.getString("tool.contenttool.editAttachment")"></a>
			#end
			##<a class="updateImg" href="#" onclick="parent.openInlineDiv('ViewDigitalAsset!update.action?contentVersionId=$!contentVersionId&contentId=$!contentId&languageId=$!languageId&digitalAssetId=$digitalAsset.digitalAssetId', 600, 800, true, true, ''); " title="$ui.getString("tool.contenttool.updateAttachment")"></a>
			##<a class="deleteImg" href="#" onclick="deleteAsset('ViewContentVersion!deleteDigitalAssetStandalone.action?contentVersionId=$!contentVersionId&contentId=$!contentId&languageId=$!languageId&digitalAssetId=$digitalAsset.digitalAssetId&returnAddress=$formatter.encodeURI($currentURL)', '$digitalAsset.assetKey');" title="$ui.getString("tool.contenttool.deleteAttachment")"></a>
			<a class="updateImg" href="#" onclick="parent.openInlineDiv('ViewDigitalAsset!update.action?contentVersionId=$!contentVersionId&digitalAssetId=$digitalAsset.digitalAssetId', 600, 800, true, true, '');" title="$ui.getString("tool.contenttool.updateAttachment")"></a>
			<a class="deleteImg" href="#" onclick="deleteAsset('ViewContentVersion!deleteDigitalAssetStandalone.action?contentVersionId=$!contentVersionId&digitalAssetId=$digitalAsset.digitalAssetId&returnAddress=$formatter.encodeURI($currentURL)', '$digitalAsset.assetKey');" title="$ui.getString("tool.contenttool.deleteAttachment")"></a>
		</div>
 	</div>
#end

#if($counter == 0)
<p>
	$ui.getString("tool.contenttool.noAssetsOrNoContentSelectedLabel")
</p>
#end

#if($enableInlineButtons)</div>#end

#if($enableInlineButtons)
<div style="display: block; float: left; width: 100%; height: 20px; margin-top: 6px; padding-top: 0px;"">

	#if($contentId)
		<a class='igButton' href="#" onclick="onOk();"><span class='igButtonOuterSpan'><span class='linkInsert'>$ui.getString("tool.contenttool.assetDialog.chooseAttachment")</span></span></a>
	#end

	#if($contentVersionVO.id)
		<a class='igButton' href="#" onclick="openPopup('ViewDigitalAsset.action?contentVersionId=$contentVersionVO.id', 'DigitalAsset', 'width=400,height=200,resizable=no');"><span class='igButtonOuterSpan'><span class='linkUpload'>$ui.getString("tool.contenttool.uploadNewAttachment")</span></span></a>
	#end

</div>
#end

</body>
</html>
