#define( $headerMarkup )
	<script type="text/javascript">
	<!-- 
	    function notifyIsLoaded()
	    {
	    }
	    
	    function notifyExp(v)
	    {
	    }

		function htmlTreeItemClick(itemId, repoId)
		{
		    document.inputForm.newParentContentId.value = itemId;
		}
	
		function loadMainArea(contentId, repositoryId, path)
		{
		    document.inputForm.newParentContentId.value = contentId;
		}
	    
	    function save()
		{
			var newParentContentId = document.inputForm.newParentContentId.value;
			if(newParentContentId != "")
			{
			    if (confirm('$ui.getString("tool.contenttool.moveContent.areYouSureWarning")'))
				{
					document.inputForm.submit();
				}
			}
		    else
		    {
				alert("$ui.getString("tool.contenttool.moveContent.mustSelectContentWarning")");
			}
		}
	-->
	</script>
#end

#beginLightCommonToolV3Impl("tool.contenttool.moveContent.header" "" "" false true $!disableCloseButton $headerMarkup)
	
	#lightMenuToolbar("" $buttons $rightButtons) 

	<div style="clear: both;"></div>
		
	<form name="inputForm" action="MoveContent!V3.action">
		<input type="hidden" name="userSessionKey" value="$userSessionKey"/>
		<input type="hidden" name="repositoryId" value="$repositoryId"/>
		<input type="hidden" name="contentId" value="$contentId"/>
		<input type="hidden" name="newParentContentId" value=""/>
		<input type="hidden" name="changeTypeId" value="3">
		<input type="hidden" name="returnAddress" value="$returnAddress">
		<input type="hidden" name="originalAddress" value="$originalAddress">
	
		<div id="igEditArea" class="igScrollArea" onfocus="this.blur();">
	
		<h3>$ui.getString("tool.contenttool.moveContent.headline")</h3>
		
		<p>
			<iframe frameborder="0" name="itreeFrame" id="itreeFrame" src="ViewContentHtmlTree!V3.action?showLeafs=no&repositoryId=${repositoryId}" width="350" height="460" ></iframe>
		</p>
	
		#lightFooterToolbar($footerButtons)
	
	</form>

#endLightCommonToolV3()