.imgBoxContainer {
	width: 99%;
	height: 370px;
	display: block;
	float: left;
	overflow: auto;
}
.imgBox {
	width:134px;
	height:124px;
	background:url(../../images/v3/imgbox_bg.gif) repeat;
	border:solid 1px #d8d8d8;
	display:block;
	float:left;
	margin:2px 4px 4px 2px;
	text-align:center;
	}
.imgBoxTop { 
	position:relative; 
	height:90px; 
	text-align:center;
	margin: 10px 10px 0px 10px;
	background:url(../../images/v3/imgbox_bg.gif) repeat;
}
.imgBoxTopInner { 
	padding-top: 10px;
	text-align:center;
	background:url(../../images/v3/imgbox_bg.gif) repeat;
}
.imgBoxBottom { 
	display:inline;
	float:left;
	text-align:center;
	margin: 0px 13px 0px 13px;		
}
.imgBoxTopInner img {
	border:solid 1px #d8d8d8;
	cursor: pointer;
}

.imgBoxBottom a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	position:relative; 
	width:26px;
	height:16px;
	display:block;
	float:left;
}
.assetKeyP {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	margin: 0px; 
	padding: 0px;
	text-align: center;
	width: 100%;
	float: left;
	display: block;
}
.assetKeyHref {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}
.previewImg {
	background:url(../../images/v3/previewIcon.png) no-repeat center;}
.editImg {
	background:url(../../images/v3/edit_img.gif) no-repeat center;}
.updateImg {
	background:url(../../images/v3/update_img.gif) no-repeat center;}
.deleteImg {
	background:url(../../images/v3/delete_img.gif) no-repeat center;}
.linkUpload {	
	background:url(../../images/v3/refresh_img.png) no-repeat center;
	background-position: 0px 0px;
	}
.linkInsert {
	background:url(../../images/v3/insert_img.gif) no-repeat center;
	background-position: 0px 0px;
	}
.linkCancel {
	background:url(../../images/v3/cancelIcon.gif) no-repeat center;
	background-position: 0px 0px;
	}
	