#define( $headerMarkup )
	<script type="text/javascript" src="script/jqueryplugins-latest/thickbox/thickbox-compressed.js"></script>
	<link rel="stylesheet" type="text/css" href="script/jqueryplugins-latest/thickbox/thickbox-ig.css" />
	
	<link type="text/css" href="script/jqueryplugins-latest/ui/css/jquery-ui.css" rel="stylesheet" />	
	<script type="text/javascript" src="script/jqueryplugins-latest/ui/js/jquery-ui.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="css/admin.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="css/skins/${theme}/admin.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="css/skins/${theme}/main.css" />
	#foreach($extension in $extensions)
	<link rel="stylesheet" type="text/css" href="extensions/$extension/css/main.css" />	
	#end	

	<script type="text/javascript">
	<!--	
		window.hasButtonHover = false;
		window.hasDropDownHover = false;
		
		/* Proxy functions */
		function refreshContent(contentId, changeTypeId, addedContentId)
		{
			if(typeof $("#ContentToolIframe").get(0).contentWindow.refreshContent === 'function')
				$("#ContentToolIframe").get(0).contentWindow.refreshContent(contentId, changeTypeId, addedContentId);
		}		

		function refreshPage(siteNodeId, changeTypeId, addedSiteNodeId)
		{
			$("#StructureToolIframe").get(0).contentWindow.refreshPage(siteNodeId, changeTypeId, addedSiteNodeId);
		}		
	
		function resize()
		{
			$("#work").height((document.body.clientHeight - $("#header").height() - $("#footer").height()) - 1);
			$("#work > iframe").height((document.body.clientHeight - $("#header").height() - $("#footer").height()) - 1);
			var checkForWidth = 390;
			if($(document).height() > $(window).height())
				checkForWidth = checkForWidth - 16;

			if($(window).width() - $("#menucontent").width() < checkForWidth)
			{
				$("#igAccountSectionButton").show();
				$("#igAccountSection").css("position","absolute").css("right", "0px").css("background-color", "white").css("top", "30px").css("border", "1px solid #ccc").css("width", "200px").css("padding-top", "10px").hide();
				$("#igAccountSection .igToolbarHeaderButton").css("float", "right").css("clear", "both");
			}
			else
			{
				$("#igAccountSectionButton").hide();
				$("#igAccountSection").css("position","relative").css("float","right").css("background-color", "transparent").css("top", "0px").css("border", "0px").width(340).show();
				$("#igAccountSection .igToolbarHeaderButton").css("float", "right").css("clear", "");
			}
		}
    	var stopClose = false;
		function closeAccountSection()
		{
			if($('#igAccountSectionButton').is(':visible'))
			{
				setTimeout(function(){
					if(!window.hasButtonHover && !window.hasDropDownHover && !stopClose)
						$('#igAccountSection').slideUp();
				}, 100);				
			}
		}

		function openCloseAccountOnClick()
		{
			if($('#igAccountSectionButton').is(':visible'))
			{
				$('#igAccountSection').slideToggle();
				
				setTimeout(function(){
					if($('#igAccountSection').is(':visible'))
						stopClose = false;
				}, 1000);
			}
			
		}
		
		$(function() {
				
    		resize();
    		
	   		window.onresize = function() {
	   			resize();
    		}
			
			#foreach($tool in $userTools)
				#if($initialToolName == "$tool.toolName")
					#if($tool.toolName == "StructureTool" && "$!siteNodeId" != "")
						activateTool('${tool.toolName}', '$tool.title', '${tool.actionUrl}?siteNodeId=$!siteNodeId', '');			
					#elseif($tool.toolName == "ContentTool" && "$!contentId" != "")
						activateTool('${tool.toolName}', '$tool.title', '${tool.actionUrl}?contentId=$!contentId&languageId=$!languageId', '');			
					#else
						activateTool('${tool.toolName}', '$tool.title', '$tool.actionUrl', '');			
					#end
				#end
			#end
			
			setTimeout(function(){
				var initialToolIframe = document.getElementById("" + activeToolName + "Iframe");
				if(initialToolIframe.contentWindow.document.location.href.indexOf("loading.html") > -1)
				{
					initialToolIframe.contentWindow.document.location.href = initialToolIframe.src;
				}
				
			}, 1000);
			
			$(document).mouseover(function(e) {
		    	$("#debug").text("mouseover: " + isDragActive + ":"/* + getDragHTML()*/);
				if(isDragActive && !isLocalDragActive && getDragHTML() != "")
				{
					isLocalDragActive = true;
					//var offset = $("#structureMarkup").offset();
					//$("#menuOverlayDiv").css("top", offset.top).css("left", offset.left).width($("#structureMarkup").width()).height($("#structureMarkup").height()).show();
					//$("#tempDraggable").remove();
					//$("body").append("<div id=\"tempDraggable\" style=\"position: absolute; top: 0px; left: 0px;\">" + getDragHTML() + "</div>");
					//$("#debug").text("Added tempDraggable and size:" + $("#tempDraggable").size());
				}
		    });
		
			$(document).mousemove(function(e) {
				if(isLocalDragActive)
				{
					var pageCoords = "( " + e.pageX + ", " + e.pageY + " )";
				    var clientCoords = "( " + e.clientX + ", " + e.clientY + " )";
					$("#tempDraggable").css("top", e.pageY + "px").css("left", e.pageX + "px");
					//$("#debug").text("Size:" + $("#tempDraggable").size());
				}
			});
			
			$(document).mouseup(function(e) {
				if(isDragActive)
				{
					isDragActive = false;
					isLocalDragActive = false;
					isDragCompleted = true;
					$("#menuOverlayDiv").hide();
					$("#tempDraggable").remove();
		    	}
			});
			
			$(document).mouseout(function() {
		    	$("#debug").text("mouseout");
		      	//$("#tempDraggable").remove();
		    });
		    
			$("#searchField").focus(function () {
		    	$(this).val("").css("color", "black");
		    }).blur(function () {
		    	if($(this).val() == "")
		    		$(this).val("$ui.getString("tool.common.searchDialog.searchFieldDefaultText")").css("color", "#ccc");
		    	else if($(this).val() == "$ui.getString("tool.common.searchDialog.searchFieldDefaultText")")
		     		$(this).css("color", "#ccc");
			});
		
			$("#igAccountSection").hover(
				function() {
					window.hasDropDownHover = true;
			  	}, function() {
					window.hasDropDownHover = false;
			    	closeAccountSection();
			  	}
			);
		
			$("#igAccountSectionButton").hover(
				function() {
					window.hasButtonHover = true;
			  	}, function() {
			  		window.hasButtonHover = false;
			    	closeAccountSection();
			  	}
			);
			initMessageSystem();
			
			#if($infoGluePrincipal.isAdministrator)
				setTimeout(function() { alert("You should only use this account to solve access rights issues etc as this is not a normal user account and some features are disabled because of that."); }, 1000);
			#end
		});
				
	-->
	</script>
	
	<script type="text/javascript">
		
		var dataListenerWindow;
		function registerDataListenerWindow(aDataListenerWindow) { dataListenerWindow = aDataListenerWindow; }
		function getDataListenerWindow() { return dataListenerWindow; }
	
		
		var activeToolName = "none";
		function getActiveToolName() { return activeToolName; }
	
		function activateTool(toolName, windowTitle, url, workAreaUrl)
		{
			if(activeToolName == toolName && workAreaUrl == "")
				return false;
			
			if(activeToolName != toolName)
			{
				if(toolName == "ContentTool" || toolName == "StructureTool")
				{
					jQuery.get("ViewCommonAjaxServices!repositoryName.action?toolName=" + toolName, function(data) {
						//alert("Current located in " + data);
						if(data != "")
							document.title = "" + toolName + " - " + data;
						else
							document.title = "" + toolName
					});
				}
				else
				{
					document.title = "" + toolName;
				}
				
				$("#" + toolName + "Tab").removeClass("middleTabPart").addClass("middleTabPartSelected");
				$("#" + toolName + "Tab .leftTabPart").removeClass("leftTabPart").addClass("leftTabPartSelected");
				$("#" + toolName + "Tab .rightTabPart").removeClass("rightTabPart").addClass("rightTabPartSelected");
				$("#" + toolName + "Tab .menutab").removeClass("menutab").addClass("menutabSelected");
	
				$("#" + activeToolName + "Tab").removeClass("middleTabPartSelected").addClass("middleTabPart");
				$("#" + activeToolName + "Tab .leftTabPartSelected").removeClass("leftTabPartSelected").addClass("leftTabPart");
				$("#" + activeToolName + "Tab .rightTabPartSelected").removeClass("rightTabPartSelected").addClass("rightTabPart");
				$("#" + activeToolName + "Tab .menutabSelected").removeClass("menutabSelected").addClass("menutab");
			}
			
			var oldIframe = document.getElementById("" + activeToolName + "Iframe");
			var targetIframe = document.getElementById("" + toolName + "Iframe");
			
			if(targetIframe.src.indexOf("loading.html") > -1)
			{
				targetIframe.src = url;
				if(workAreaUrl && workAreaUrl != "")
				{
					$(targetIframe).load(function() {
						if(workAreaUrl && workAreaUrl != "" && targetIframe && targetIframe.contentWindow.openUrlInWorkArea)
						{
							targetIframe.contentWindow.openUrlInWorkArea(workAreaUrl);
						}
					});
				}
			}
			else
			{	
				if(workAreaUrl && workAreaUrl != "" && targetIframe && targetIframe.contentWindow.openUrlInWorkArea)
				{
					targetIframe.contentWindow.openUrlInWorkArea(workAreaUrl);
				}
			}
			
			if(oldIframe)
			{
				if(oldIframe.contentWindow.setIsItAnActivationCall)
					oldIframe.contentWindow.setIsItAnActivationCall(false);
				oldIframe.className = "inactiveTool";
			}
			
			if(targetIframe.contentWindow.setIsItAnActivationCall)
				targetIframe.contentWindow.setIsItAnActivationCall(true);
				
			targetIframe.className = "";
	
			activeToolName = toolName;
			
			return false;
		}
		
		function openUrlInWorkArea(url, tabLabel, targetTab, tabLabelPrefix, toolName)
		{
			//alert("url:" + url + " - " + tabLabel + " - " + targetTab + " - " + tabLabelPrefix + " - " + toolName);
		
			var toolUrl = $("#" + toolName + "Link").attr("href");
			activateTool(toolName, toolName, toolUrl, url);
		}

		function getDeliverLanguageId()
		{
			var location = $("#StructureToolIframe")[0].contentWindow.frames["workIframe"].document.location.href;
			var languageId = $("#StructureToolIframe")[0].contentWindow.frames["workIframe"].languageId;
			if(location.indexOf("ViewPage.action") > -1)
				return -1;
			else if(location.indexOf("ViewPage!renderDecoratedPage") > -1 && !languageId)
				return -1;
			else
				return languageId;
		}
				
		function refreshRepositoryList()
		{
			#foreach($tool in $userTools)
				if($("#${tool.toolName}Iframe").get(0).contentWindow.refreshRepositoryList)
					$("#${tool.toolName}Iframe").get(0).contentWindow.refreshRepositoryList();
			#end
		}
		
		$(document).mouseup(function (e)
		{
		    var container = $("#igAccountSection");
		    var containerButton = $(".igAccountSection");
		    if (!containerButton.is(e.target) && !container.is(e.target) // if the target of the click isn't the container...
		        && container.has(e.target).length === 0) // ... nor a descendant of the container
		    {
		    	if(containerButton.is(':visible'))
			        container.hide();
		    }
		});
	</script>
	
	<script type="text/javascript" src="script/embla/drag.js"></script>
	<script type="text/javascript" src="script/embla/admin.js"></script>
	#foreach($extension in $extensions)
	<script type="text/javascript" src="extensions/$extension/js/main.js"></script>	
	#end	

	<link rel="icon" href="$this.getThemeFileWithFallback("/images/icons/ig-16.png")" type="image/png" />
	<link rel="SHORTCUT ICON" href="$this.getThemeFileWithFallback("/images/icons/ig-16.png")" />

	<meta http-equiv="Expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

#end

#set($userTools = $availableTools)

#beginLightEmblaTool("tool.common.adminTool.header" "" "" false true true $headerMarkup false "mainTool")

  	<div id="header">
  		<div id="menucontent">
			#foreach($tool in $userTools)
				<span id="${tool.toolName}Tab" class="middleTabPart">
					##<span class="leftTabPart">
					##	<span class="rightTabPart">
						<a href="$tool.actionUrl" id="${tool.toolName}Link" class="menutab $tool.cssClass" onclick="return activateTool('${tool.toolName}', '$tool.title', '$tool.actionUrl', '');">$tool.title</a>
					##	</span>
					##</span>
				</span>
			#end
		</div>
		
		#if($this.getHeaderHTML() != "")
			<div style="position: absolute; top: 2px; right: 10px;">
				$this.getHeaderHTML()
			</div>
		#end
				
		<div id="igAccountSectionButton" style="position: absolute; top: 10px; right: 10px;">
			<a href="#" class="igAccountSection" onmouseover="$('#igAccountSection').slideDown();" onclick="openCloseAccountOnClick();"></a>
		</div>
		
		<div id="igAccountSection" style="float: right; padding-top: 10px; padding-bottom: 0; margin-right: 10px; text-align: right;">
		
			<div style="margin-right: 10px; display: inline-block;">
			$ui.getString("tool.common.loggedInAsLabel"): $infoGluePrincipal.displayName
			<a href="#" id="logoutButton" name="logoutButton" title="$ui.getString("header.link.signout")">$ui.getString("header.link.signout")</a>
			<script type="text/javascript">
			<!--
				$("#logoutButton").click(function(){
					document.location.href = "Login!logout.action";
	        	});
			-->
			</script>
			</div>
			<br/>
			#if($this.switchInfoButtonLabelToThisHelpUrl != "")
				<a class='igToolbarButton igToolbarHeaderButton' href="javascript:openHelpUrl('$this.switchInfoButtonLabelToThisHelpUrl', window.toolbarKey, window.helpExtraParameters);" id="versionInfoButton" name="versionInfoButton" title="$ui.getString("header.link.versionInfo") - $infoGlueVersion"><span class='igToolbarButtonOuterSpan igToolbarHeaderButton'><span class='helpIndex' title="$ui.getString("header.link.versionInfo") - $infoGlueVersion">$infoButtonLabel</span></span></a>
			#else
				<a class='igToolbarButton igToolbarHeaderButton' href="#" id="versionInfoButton" name="versionInfoButton" title="$ui.getString("header.link.versionInfo") - $infoGlueVersion"><span class='igToolbarButtonOuterSpan igToolbarHeaderButton'><span class='versionInfo' title="$ui.getString("header.link.versionInfo") - $infoGlueVersion">$infoButtonLabel</span></span></a>
				<script type="text/javascript">
				<!--
					$("#versionInfoButton").click(function(){
						openInlineDiv("VersionInfo.action", 600, 800, true, true, "Version");
		        	});
				-->
				</script>
			#end
	
			#if($this.hasAccessTo("TrashcanTool.Read", true, false))
				<a class='igToolbarButton igToolbarHeaderButton' href="#" id="trashcanButton" name="trashcanButton" title="$ui.getString("header.link.trashcan")"><span class='igToolbarButtonOuterSpan igToolbarHeaderButton'><span class='trashcan' title="$ui.getString("header.link.trashcan")">$ui.getString("header.link.trashcan")</span></span></a>
				<script type="text/javascript">
				<!--
					$("#trashcanButton").click(function(){
						openInlineDiv("Trashcan.action", 600, 800, true, true, "Trashcan");
		        	});
				-->
				</script>
			#end
			
			<a class='igToolbarButton igToolbarHeaderButton' href="#" id="mySettingsButton" name="mySettingsButton" title="$ui.getString("tool.managementtool.mysettings.header")"><span class='igToolbarButtonOuterSpan igToolbarHeaderButton'><span class='mySettings' title="$ui.getString("tool.managementtool.mysettings.header")">$ui.getString("tool.managementtool.mysettings.header")</span></span></a>
			<script type="text/javascript">
			<!--
				$("#mySettingsButton").click(function(){
					javascript:openMySettings();
	        	});
			-->
			</script>
			
		</div>
  	</div>
  	
  	<div id="work">
		#foreach($tool in $userTools)
  		<iframe id="${tool.toolName}Iframe" name="${tool.toolName}Iframe" class="inactiveTool" src="loading.html" width="100%" height="350" frameborder="0" allowtransparency="true"></iframe>
		#end
  	</div>
	
	<div id="messagesDiv" style="display: none;">
		<div id="messages" style="border: 1px solid #ccc; height: 400px; overflow: auto;"></div>
		#if($this.hasAccessTo("ChatTool.Write", true, false))
		<div id="messageInput" style="margin-top: 4px; padding: 2px; border: 1px solid #ccc; background-color: #dff0fc;"><input type="text" style="width: 80%;" id="chatMessage" name="chatMessage"/> <input type="button" onclick="sendMessage();" value="Send"/></div>
		#end
	</div>
	
	<div id="popupAlertMessageDivContainer"> 
		<div id="popupAlertMessageDiv">
			<div class="closeAlertMessageButton" onclick="top.hideNotification()"></div>
			<p></p>
	    </div>
	</div>
	
</body>
</html>
