#define( $headerMarkup )
	<script type="text/javascript" src="script/jqueryplugins-latest/thickbox/thickbox-compressed.js"></script>
	<link rel="stylesheet" type="text/css" href="script/jqueryplugins-latest/thickbox/thickbox-ig.css" />

	<link type="text/css" href="script/jqueryplugins-latest/ui/css/jquery-ui.css" rel="stylesheet" />	
	<script type="text/javascript" src="script/jqueryplugins-latest/ui/js/jquery-ui.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="css/admin.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="css/skins/${theme}/main.css" />
	
	<script type="text/javascript">
	<!--	
		$(function() {
	
			#if($infoGluePrincipal.isAdministrator)
				alert("You should only use this account to solve access rights issues etc as this is not a normal user account and some features are disabled because of that.");
			#end
			
			resize();
						
			$("#tabsContainer").html("<ul></ul>");
			$("#tabsContainer").tabs({
	                            select: function(event, ui) { 
												var href = $(ui.tab).attr("href");
												if(href.indexOf("structureTabDiv") > -1)
													activateTool('structureMarkup', '$ui.getString('tool.common.structureTool.name')', '$ui.getString("tool.common.adminTool.header")', false, '$ui.getString("tool.common.pageTabLabelPrefix")'); 
												else if(href.indexOf("contentTabDiv") > -1)
													activateTool('contentMarkup', '$ui.getString('tool.common.contentTool.name')', '$ui.getString("tool.common.adminTool.header")', false, '$ui.getString("tool.common.contentTabLabelPrefix")'); 
												else if(href.indexOf("managementTabDiv") > -1)
													activateTool('managementMarkup', '$ui.getString('tool.common.managementTool.name')', '$ui.getString("tool.common.adminTool.header")', false, '$ui.getString("tool.common.managementTabLabelPrefix")'); 
												else if(href.indexOf("publishingTabDiv") > -1)
													activateTool('publishingMarkup', '$ui.getString('tool.common.publishingTool.name')', '$ui.getString("tool.common.adminTool.header")', false, '$ui.getString("tool.common.publishingTabLabelPrefix")'); 
												else if(href.indexOf("mydesktopTabDiv") > -1)
													activateTool('mydesktopMarkup', '$ui.getString('tool.common.myDesktopTool.name')', '$ui.getString("tool.common.adminTool.header")', false, '$ui.getString("tool.common.mydesktopTabLabelPrefix")'); 
											},
											panelTemplate: '<div id="newTabDiv" class="inlineTabDiv newTabDiv">Loading...</div>',
											tabTemplate: '<li><a id="newTabLabel" href="#{href}"><span>#{label}</span></a> <a href="#" id="newTabLabelMaximize" style="padding-right: 2px;"><span style="display: inline; width: 14px; float: left; background: url(css/images/v3/maximizeTabIcon.png) no-repeat; cursor: pointer;">&nbsp;</span></a> <a href="#" id="newTabLabelClose" style="padding-left: 4px;"><span style="display: inline; width: 14px; float: left; background: url(css/images/v3/closeTabIcon.gif); cursor: pointer;">&nbsp;</span></a></li>',
											add: function(event, ui) { $("#tabsContainer").tabs("select", "\#" + ui.panel.id); }
										});

			$("#tools").resizable({
				handles: 'e',
				resize: function() {
					$("#toolsAccordion").accordion("resize");
					resize();
				},
				minHeight: 140,
				maxWidth: 400,
				minWidth: 200
			});
		
			#if($initialToolName == "ContentTool")
				activateTool("contentMarkup", "$ui.getString('tool.common.contentTool.name')", "$ui.getString("tool.common.adminTool.header")", false, '$ui.getString("tool.common.contentTabLabelPrefix")');
				openUrlInWorkArea("ViewContentToolStartPage!V3.action", "$ui.getString('tool.common.contentTool.name')", "content", "$ui.getString('tool.common.contentTabLabelPrefix')");
			#elseif($initialToolName == "StructureTool")
				activateTool("structureMarkup", "$ui.getString('tool.common.structureTool.name')", "$ui.getString("tool.common.adminTool.header")", false, '$ui.getString("tool.common.pageTabLabelPrefix")');
				#set($rootSiteNode = $this.getRepositoryRootSiteNode($repositoryId))
				openUrlInWorkArea("ViewSiteNode!V3.action?siteNodeId=$rootSiteNode.id&repositoryId=$repositoryId", "$rootSiteNode.name", "structure", "$ui.getString('tool.common.pageTabLabelPrefix')");
			#elseif($initialToolName == "ManagementTool")
				activateTool("managementMarkup", "$ui.getString('tool.common.managementTool.name')", "$ui.getString("tool.common.adminTool.header")", false, '$ui.getString("tool.common.managementTabLabelPrefix")');
				openUrlInWorkArea("ViewManagementToolStartPage!V3.action", "$ui.getString('tool.common.managementTool.name')", "management", "$ui.getString('tool.common.managementTabLabelPrefix')");
			#elseif($initialToolName == "PublishingTool")
				activateTool("publishingMarkup", "$ui.getString('tool.common.publishingTool.name')", "$ui.getString("tool.common.adminTool.header")", false, '$ui.getString("tool.common.publishingTabLabelPrefix")');
				openUrlInWorkArea("ViewPublishingToolStartPage!V3.action", "$ui.getString('tool.common.publishingTool.name')", "publishing", "$ui.getString('tool.common.publishingTabLabelPrefix')");
			#elseif($initialToolName == "MyDesktopTool")
				activateTool("mydesktopMarkup", "$ui.getString('tool.common.myDesktopTool.name')", "$ui.getString("tool.common.adminTool.header")", false, '$ui.getString("tool.common.mydesktopTabLabelPrefix")');
				openUrlInWorkArea("ViewMyDesktop.action", "$ui.getString('tool.common.myDesktopTool.name')", "mydesktop", "$ui.getString('tool.common.mydesktopTabLabelPrefix')");
			#end

			var i = 0;
		    $(document).mouseover(function(e) {
		    	$("#debug").text("mouseover: " + isDragActive + ":"/* + getDragHTML()*/);
				if(isDragActive && !isLocalDragActive && getDragHTML() != "")
				{
					isLocalDragActive = true;
					var offset = $("#structureMarkup").offset();
					$("#menuOverlayDiv").css("top", offset.top).css("left", offset.left).width($("#structureMarkup").width()).height($("#structureMarkup").height()).show();
					$("#tempDraggable").remove();
					$("body").append("<div id=\"tempDraggable\" style=\"position: absolute; top: 0px; left: 0px;\">" + getDragHTML() + "</div>");
					$("#debug").text("Added tempDraggable and size:" + $("#tempDraggable").size());
				}
		    });
		
			$(document).mousemove(function(e) {
				if(isLocalDragActive)
				{
					var pageCoords = "( " + e.pageX + ", " + e.pageY + " )";
				    var clientCoords = "( " + e.clientX + ", " + e.clientY + " )";
					$("#tempDraggable").css("top", e.pageY + "px").css("left", e.pageX + "px");
					//$("#debug").text("Size:" + $("#tempDraggable").size());
				}
			});
			
			$(document).mouseup(function(e) {							
				if(isDragActive)
				{
					isDragActive = false;
					isLocalDragActive = false;
					isDragCompleted = true;
					$("#menuOverlayDiv").hide();
					$("#tempDraggable").remove();
		    	}
			});
			
			$(document).mouseout(function() {
		    	$("#debug").text("mouseout");
		      	//$("#tempDraggable").remove();
		    });
		    
		    $("#searchField").focus(function () {
		    	$(this).val("").css("color", "black");
		    }).blur(function () {
		    	if($(this).val() == "")
		    		$(this).val("$ui.getString("tool.common.searchDialog.searchFieldDefaultText")").css("color", "#ccc");
		    	else if($(this).val() == "$ui.getString("tool.common.searchDialog.searchFieldDefaultText")")
		     		$(this).css("color", "#ccc");
			});
		
			initMessageSystem();
		});
		
		var structureToolMenuUrl = "ViewStructureToolMenu!V3.action?repositoryId=";
		var contentToolMenuUrl	 = "ViewContentToolMenu!V3.action?repositoryId=";
		
	-->
	</script>
	
	<script type="text/javascript" src="script/v3/admin.js"></script>
	
	<link rel="icon" href="css/images/icons/ig-16.png" type="image/png" />
	<link rel="SHORTCUT ICON" href="css/images/icons/ig-16.png" />
	<meta http-equiv="Expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
#end

#define( $rightMenuMarkup )
	<form name="searchForm" id="searchForm" method="post" action="#" onsubmit="return search($repositoryId, '$ui.getString("tool.common.searchTabLabelPrefix")');">
		<input type="text" name="searchField" id="searchField" value="$ui.getString("tool.common.searchDialog.searchFieldDefaultText")"/> <img id="searchButton" src="css/images/v3/searchButtonIcon.png" onclick="if($('#searchField').val() == '$ui.getString("tool.common.searchDialog.searchFieldDefaultText")') alert('State search text'); else search($repositoryId, '$ui.getString("tool.common.searchTabLabelPrefix")');" alt="Search"/>
	</form>
#end

################################
##BEGIN REAL CODE
################################

#beginLightCommonToolV3Impl("tool.common.adminTool.header" "" "" false true true $headerMarkup false "")

	#lightMenuToolbarImpl("" $buttons $rightButtons $rightMenuMarkup) 

	<div style="clear: both;"></div>
	
	<div id="contextMenuDiv">
    </div>

	<div id="menuOverlayDiv" style="display: none; position: absolute; z-index: 100;">
    </div>

	<div id="genericDialog" title="genericQuestion" style="display: none">
    	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Do you really want to perform this action?</p>
    </div>

	<div id="igEditArea" class="igScrollArea" style="overflow: hidden;">
		
		<div id="tools">
			<div id="activeToolHeader">
				<h3>Loading...</h3>
            </div>
			
			<div style="clear: both;"></div>
			<div id="activeTool">
				#if($this.hasAccessTo("StructureTool.Read"))
				<div id="structureMarkup" style="display: none; float: left;">
					<div class="onlyExpanded" id="structureRepositoryChoiceDiv" style="float: left;">
                    	<a id="structureRepositoriesDivHandle" href="#" onclick="$('#structureRepositoriesDiv').toggle(); return false;" style="display: block; float: left; width: 90%; overflow: hidden; margin-top: 6px; margin-bottom: 6px; font-weight: bold; text-indent: 8px; text-decoration: none;">$repositoryName</a>
                    	<img src="css/images/v3/refresh.png" onclick="$('#structureTreeIframe').get(0).contentWindow.reload(); return false;" style="display: block; float: left; width: 16px; overflow: hidden; margin-left: 4px; margin-top: 6px; margin-bottom: 6px; font-weight: bold;" alt="reload"/>
                    	<div id="structureRepositoriesDiv" class="repositoryList" style="position: absolute; margin-top: 25px; z-index: 10; display: none;">
                    		<ul>
                    			#foreach($repository in $authorizedRepositoryVOList)
                    			<li><a #if($repository.id == $repositoryId)class="current"#end href="#" onclick="return changeRepository($repository.id, '$repository.name', 'structureTreeIframe', structureToolMenuUrl, 'structureRepositoriesDiv');">$repository.name</a></li>
                    			#end
                    		</ul>
	                    	<div class="shadow" style="border-top: 1px solid #ADD1FF; width: 100%; height: 20px; float: left;"></div>
                    	</div>
                    </div>

					<iframe id="structureTreeIframe" name="structureTreeIframe" src="ViewStructureToolMenu!V3.action?repositoryId=$repositoryId" width="100%" height="350" frameborder="0"></iframe>

					<div class="onlyExpanded" id="paletteDiv" style="float: left; height: 150px;">
                    	<div id="componentPaletteHeader">
                    		<h3 style="float: left;">$ui.getString('tool.common.favouriteComponentsHeader')</h3>
                    		<a href="javascript:toggleFavourites();" style="float: right;"><img src="css/images/v3/downArrows.png" style="margin-top: 1px; margin-right: 1px;" width="16" height="16" border="0" alt="Close area"/></a>
                        </div>
						<iframe id="paletteIframe" name="paletteIframe" src="ViewComponentPalette.action" width="100%" height="150" frameborder="0"></iframe>
                    </div>
				</div>
				#end
				#if($this.hasAccessTo("ContentTool.Read"))
				<div id="contentMarkup" style="display: none; float: left;">
					<div class="onlyExpanded" id="contentRepositoryChoiceDiv" style="float: left;">
                    	<a id="contentRepositoriesDivHandle" href="#" onclick="$('#contentRepositoriesDiv').toggle(); return false;" style="display: block; float: left; width: 90%; overflow: hidden; margin-top: 6px; margin-bottom: 6px; font-weight: bold; text-indent: 8px; text-decoration: none;">$repositoryName</a>
                    	<img src="css/images/v3/refresh.png" onclick="$('#contentTreeIframe').get(0).contentWindow.reload(); return false;" style="display: block; float: left; width: 16px; overflow: hidden; margin-left: 4px; margin-top: 6px; margin-bottom: 6px; font-weight: bold;" alt="reload"/>
                    	<div id="contentRepositoriesDiv" class="repositoryList" style="position: absolute; margin-top: 25px; z-index: 10; display: none;">
                    		<ul>
                    			#foreach($repository in $authorizedRepositoryVOList)
                    			<li><a #if($repository.id == $repositoryId)class="current"#end href="#" onclick="return changeRepository($repository.id, '$repository.name', 'contentTreeIframe', contentToolMenuUrl, 'contentRepositoriesDiv');">$repository.name</a></li>
                    			#end
                    		</ul>
	                    	<div class="shadow" style="border-top: 1px solid #ADD1FF; width: 100%; height: 20px; float: left;"></div>
                    	</div>
                    </div>
					
					<iframe id="contentTreeIframe" name="contentTreeIframe" src="ViewContentToolMenu!V3.action?repositoryId=$repositoryId" width="100%" height="350" frameborder="0"></iframe>
					
				</div>
				#end
				#if($this.hasAccessTo("ManagementTool.Read"))
				<div id="managementMarkup" style="display: none;">
					<iframe id="managementTreeIframe" class="repositoryListFrame" name="managementTreeIframe" src="ViewManagementToolMenu!V3.action" width="100%" height="500" frameborder="0"></iframe>
				</div>
				#end
				#if($this.hasAccessTo("PublishingTool.Read"))
				<div id="publishingMarkup" style="display: none;">
					<iframe id="publishingTreeIframe" class="repositoryListFrame" name="publishingTreeIframe" src="ViewPublishingToolMenu.action" width="100%" height="500" frameborder="0"></iframe>
				</div>
				#end
				#if($this.hasAccessTo("MyDesktopTool.Read"))
				<div id="mydesktopMarkup" style="display: none;">
					<iframe id="mydesktopTreeIframe" name="mydesktopTreeIframe" src="ViewMyDesktopToolMenu.action" width="100%" height="500" frameborder="0"></iframe>
				</div>
				#end
				#*
				#if($this.hasAccessTo("FormEditor.Read"))
				<div id="formeditorMarkup" style="display: none;">
					<iframe id="formeditorTreeIframe" name="formeditorTreeIframe" src="/infoglueDeliverWorking/formeditor/menu" width="100%" height="500" frameborder="0"></iframe>
				</div>
				#end
				*#
            </div>
			<div style="clear: both;"></div>
			
			<div id="availableTools">
				<div id="availableToolsSizeControlBar"><img src="css/images/v3/smallBarDownArrow.png" width="7" height="7" onclick="toggleAvailableToolsSize();" alt="minimize"/></div>
				<ul>
					#if($this.hasAccessTo("StructureTool.Read"))
					<li id="structureMarkupLink"><a href="#" class="structure" onclick="return activateTool('structureMarkup', '$ui.getString('tool.common.structureTool.name')', '$ui.getString("tool.common.adminTool.header")', true, '$ui.getString("tool.common.pageTabLabelPrefix")');">$ui.getString('tool.common.structureTool.name')</a></li>
					#end
					#if($this.hasAccessTo("ContentTool.Read"))
    				<li id="contentMarkupLink"><a href="#" class="content" onclick="return activateTool('contentMarkup', '$ui.getString('tool.common.contentTool.name')', '$ui.getString("tool.common.adminTool.header")', true, '$ui.getString("tool.common.contentTabLabelPrefix")');">$ui.getString('tool.common.contentTool.name')</a></li>
					#end
					#if($this.hasAccessTo("ManagementTool.Read"))
    				<li id="managementMarkupLink"><a href="#" class="management" onclick="return activateTool('managementMarkup', '$ui.getString('tool.common.managementTool.name')', '$ui.getString("tool.common.adminTool.header")', true, '$ui.getString("tool.common.managementTabLabelPrefix")');">$ui.getString('tool.common.managementTool.name')</a></li>
					#end
					#if($this.hasAccessTo("PublishingTool.Read"))
    				<li id="publishingMarkupLink"><a href="#" class="publishing" onclick="return activateTool('publishingMarkup', '$ui.getString('tool.common.publishingTool.name')', '$ui.getString("tool.common.adminTool.header")', true, '$ui.getString("tool.common.publishingTabLabelPrefix")');">$ui.getString('tool.common.publishingTool.name')</a></li>
					#end
					#if($this.hasAccessTo("MyDesktopTool.Read"))
    				<li id="mydesktopMarkupLink"><a href="#" class="mydesktop" onclick="return activateTool('mydesktopMarkup', '$ui.getString('tool.common.myDesktopTool.name')', '$ui.getString("tool.common.adminTool.header")', true, '$ui.getString("tool.common.mydesktopTabLabelPrefix")');">$ui.getString('tool.common.myDesktopTool.name')</a></li>
					#end
					#if($this.hasAccessTo("FormEditor.Read", true))
    				<li id="formeditorMarkupLink"><a href="#" class="formeditor" onclick="window.open('/infoglueDeliverWorking/formeditor','Form editor','');/*return activateTool('formeditorMarkup', '$ui.getString('tool.common.formEditorTool.name')', '$ui.getString("tool.common.adminTool.header")', true, '$ui.getString("tool.common.formsTabLabelPrefix")');*/">$ui.getString('tool.common.formEditorTool.name')</a></li>
					#end
				</ul>
			</div>
			
		</div>

		<div id="work">
			<div id="tabsContainer" style="width: 100%; float:left;">
            	<!--
            	<ul>
				</ul>
				-->
            </div>
		</div>
	</div>

	##lightFooterToolbar($footerButtons)
	<div style="clear: both;"></div>
	<div id="footertoolbar">
		<div style="float:left; margin-left: 4px;">
			
			<div style="float: left;">
				<a class='igToolbarButton igToolbarHeaderButton' href="#" id="logoutButton" name="logoutButton" title="$ui.getString("header.link.signout")"><span class='igToolbarButtonOuterSpan igToolbarHeaderButton'><span class='logout' title="$ui.getString("header.link.signout")">$ui.getString("header.link.signout")</span></span></a>
				<script type="text/javascript">
				<!--
					$("#logoutButton").click(function(){
						document.location.href = "Login!logout.action";
		        	});
        		-->
        		</script>

				<a class='igToolbarButton igToolbarHeaderButton' href="#" id="trashcanButton" name="trashcanButton" title="$ui.getString("header.link.trashcan")"><span class='igToolbarButtonOuterSpan igToolbarHeaderButton'><span class='trashcan' title="$ui.getString("header.link.trashcan")">$ui.getString("header.link.trashcan")</span></span></a>
				<script type="text/javascript">
				<!--
					$("#trashcanButton").click(function(){
						openInlineDiv("Trashcan.action", 600, 800, true, true, "Trashcan");
		        	});
        		-->
        		</script>

				<a class='igToolbarButton igToolbarHeaderButton' href="#" id="mySettingsButton" name="mySettingsButton" title="$ui.getString("tool.managementtool.mysettings.header")"><span class='igToolbarButtonOuterSpan igToolbarHeaderButton'><span class='mySettings' title="$ui.getString("tool.managementtool.mysettings.header")">$ui.getString("tool.managementtool.mysettings.header")</span></span></a>
				<script type="text/javascript">
				<!--
					$("#mySettingsButton").click(function(){
						javascript:openMySettings();
		        	});
        		-->
        		</script>
			</div>
			
			<div id="versionBox">
				$ui.getString("tool.common.loggedInAsLabel"): $infoGluePrincipal.displayName
				<div id="versionInfo">Version: $infoGlueVersion ($infoGlueVersionReleaseDate)</div>
			</div>

			<div id="messagesDiv" style="display: none;">
				<div id="messages" style="border: 1px solid #ccc; height: 400px; overflow: auto;"></div>
				<div id="messageInput" style="margin-top: 4px; padding: 2px; border: 1px solid #ccc; background-color: #dff0fc;"><input type="text" style="width: 80%;" id="chatMessage" name="chatMessage"/> <input type="button" onclick="sendMessage();" value="Send"/></div>
			</div>
			<!--
			<div style="float:left; margin-left: 50px; padding-top: 0px; width: 400px; height: 30px; overflow: hidden;">
				Debug: <div id="debug" style="float: left; width: 100%"></div>
			</div>
			-->
		</div>

		<div id="logotypeBox">
			<img src="css/images/v3/infoglueLogo.png" alt="logo"/><!--<a href="#" onclick="refreshRepositoryList();">Refresh</a>-->
		</div>
	</div>
	

#endLightCommonToolV3()