<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
	<title>Footer</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="Pragma" content="no-cache" />
	<link rel="stylesheet" type="text/css" href="css/cms.css" /> 
	<script src="script/ajax/scripts.js" language="JavaScript" type="text/javascript"></script> 
</head>

<body class="cmstool">

<table border="0" cellspacing="0" cellpadding="0">
<tr>
	<td><img src="images/trans.gif" width="4" height="1"/></td>
	<td colspan="3" bgcolor="#FFFFFF" width="100%"><img src="images/trans.gif" width="1" height="1"/></td>	
	<td><img src="images/trans.gif" width="4" height="1"/></td>
</tr>
<tr>
	<td><img src="images/trans.gif" width="4" height="1"/></td>
	<td class="whitelabel" style="padding-top: 5px; font-size: 11px;" width="90%" valign="top"><b>$ui.getString("footer.application.name") Version build:</b> $infoGlueVersion ($infoGlueVersionReleaseDate)</td>
	<td class="whitelabel" style="padding-top: 5px;" align="right" valign="top"><img src="images/$ui.getString("images.header.loggedInAsLabel")" width="119" height="13"/><img src="images/trans.gif" width="5" height="13"/></td>
	<td class="whitelabel" style="padding-top: 5px; font-size: 12px; font-family: Arial, Verdana; white-space:nowrap;" valign="top">&nbsp;$infoGluePrincipal.displayName</td>
	<td><img src="images/trans.gif" width="4" height="1"/></td>
</tr>
</table>

</body>

</html>
