#define($scripts)
	<script type="text/javascript">
	<!--
		function closeDialog()
		{
			if(parent && parent.closeInlineDiv) 
				parent.closeInlineDiv(); 
			else if(parent && parent.closeDialog) 
				parent.closeDialog(); 
			else if(top.closeInlineDiv)
				top.closeInlineDiv();
			else if(top.closeDialog)
				top.closeDialog();
			else 
				window.close();		
		}

		function reloadAllGUI()
		{
			top.location.reload();
		}
		
		function refreshParent(actionUrl, target, targetTitle)
		{
			//alert("actionUrl: " + actionUrl + ":" + target + ":" + targetTitle);
			//alert("top.getIsIGStandardTools: " + top.getIsIGStandardTools);
			//alert("top.getActiveToolName: " + top.getActiveToolName() + " $unrefreshedNodeId $changeTypeId $newContentId ");
			
			if(top.getIsIGStandardTools && top.getIsIGStandardTools() == true)
			{
				if(top.getActiveToolName() == "ContentTool")
				{
					//alert($unrefreshedNodeId);
					#if($unrefreshedNodeId && $changeTypeId && $newContentId)
					try
					{
						parent.refreshContent($unrefreshedNodeId, $changeTypeId, $newContentId);
					}
					catch(e) {alert("e:" + e);}
					#end
					
					if("$changeTypeId" == "1" || "$changeTypeId" == "3") //The item was published - lets reload the views.
					{
						#if($languageId && "$languageId" != "null")
							parent.openUrlInWorkArea("ViewContentVersion!V3.action?contentId=$unrefreshedNodeId&languageId=$languageId");
						#else
							parent.openUrlInWorkArea("ViewContent!V3.action?contentId=$unrefreshedNodeId");
						#end
					}
					else if("$changeTypeId" == "4")
					{
						parent.openUrlInWorkArea("ViewContent!V3.action?contentId=$unrefreshedNodeId");
					}
				}
				else if(top.getActiveToolName() == "StructureTool")
				{
					#if($siteNodeId)
						if(parent.refreshPage)
							parent.refreshPage($siteNodeId, 2, $siteNodeId);
						else if(parent.parent.refreshPage)
							parent.parent.refreshPage($siteNodeId, 2, $siteNodeId);
					#else
						if(parent.refreshPage)
							parent.refreshPage($this.getActionExtraData("unrefreshedNodeId"), $changeTypeId, $newSiteNodeId);
						else if(parent.parent.refreshPage)
							parent.parent.refreshPage($this.getActionExtraData("unrefreshedNodeId"), $changeTypeId, $newSiteNodeId);
					#end
					
					var currentMenutoolbarLeftUrl = top.getCurrentMenutoolbarLeftUrl();
					//alert("currentMenutoolbarLeftUrl:" + currentMenutoolbarLeftUrl);
	   	   	  		var position = currentMenutoolbarLeftUrl.indexOf("siteNodeId=${newSiteNodeId}&");
	   	   	  		//alert("position:" + position + ": changeType: $changeTypeId");
					if("$changeTypeId" == "3")
					{
						#if($siteNodeId)
							parent.openUrlInWorkArea(actionUrl);
						#else
							parent.openUrlInWorkArea("ViewSiteNode.action?siteNodeId=$newSiteNodeId&repositoryId=$repositoryId");
						#end
					}
					else if("$changeTypeId" == "4")
					{
						parent.openUrlInWorkArea("ViewSiteNode.action?siteNodeId=$unrefreshedNodeId");
					}
					else if(position == -1) 
					{
						//alert(window.name);
						if(window.name.indexOf("TB_iframe") == -1)
						{
	    					//top.refreshTopToolBar('tool.structuretool.siteNodeComponentsHeader', 'tool.structuretool.siteNodeComponentsHeader', 'siteNodeId=$newSiteNodeId&repositoryId=$repositoryId&isBranch=true', $unrefreshedNodeId, $changeTypeId, -1);
							#if($siteNodeId)
		    					parent.openUrlInWorkArea(actionUrl);
							#else
		    					parent.openUrlInWorkArea("ViewSiteNode.action?siteNodeId=$newSiteNodeId&repositoryId=$repositoryId");
							#end
						}
					  	else
					  	{
					  		if(parent.refreshWorkSurface)
						  		parent.refreshWorkSurface();
						  	else if(parent.parent.refreshWorkSurface)
						  		parent.parent.refreshWorkSurface();
						}
					}
				}
				
				if(actionUrl && target && targetTitle)
				{
					if(parent.openUrlInWorkArea)
						parent.openUrlInWorkArea(actionUrl);
					else if(parent.parent.openUrlInWorkArea)
						parent.parent.openUrlInWorkArea(actionUrl);
				}
			}
			else
			{
				top.document.location.href = actionUrl;
			}
			
			/*
			if(parent.refreshNode)
			{
				#if($siteNodeId)
					parent.refreshNode($siteNodeId, 2, $siteNodeId);
				#else
					parent.refreshNode($this.getActionExtraData("unrefreshedNodeId"), $changeTypeId, $newSiteNodeId);
				#end
				
				var currentMenutoolbarLeftUrl = parent.getCurrentMenutoolbarLeftUrl();
				//alert("currentMenutoolbarLeftUrl:" + currentMenutoolbarLeftUrl);
   	   	  		var position = currentMenutoolbarLeftUrl.indexOf("siteNodeId=${newSiteNodeId}&");
   	   	  		//alert("position:" + position + ": changeType: $changeTypeId");
				if("$changeTypeId" == "3")
				{
					#if($siteNodeId)
						parent.openUrlInWorkArea(actionUrl, "AAAAAAA", "structure", "$ui.getString("tool.common.pageTabLabelPrefix")");
					#else
						parent.openUrlInWorkArea("ViewSiteNode.action?siteNodeId=$newSiteNodeId&repositoryId=$repositoryId", "$!this.getActionExtraData('siteNodeName')", "structure", "$ui.getString("tool.common.pageTabLabelPrefix")");
					#end
				}
				else if(position == -1) 
				{
					if(window.name.indexOf("TB_iframe") == -1)
					{
    					parent.refreshTopToolBar('tool.structuretool.siteNodeComponentsHeader', 'tool.structuretool.siteNodeComponentsHeader', 'siteNodeId=$newSiteNodeId&repositoryId=$repositoryId&isBranch=true', $unrefreshedNodeId, $changeTypeId, -1);
						#if($siteNodeId)
	    					parent.openUrlInWorkArea(actionUrl, "AAAAAAAA", "structure", "$ui.getString("tool.common.pageTabLabelPrefix")");
						#else
	    					parent.openUrlInWorkArea("ViewSiteNode.action?siteNodeId=$newSiteNodeId&repositoryId=$repositoryId", "$!this.getActionExtraData('siteNodeName')", "structure", "$ui.getString("tool.common.pageTabLabelPrefix")");
						#end
					}
				  	else
				  		parent.refreshWorkArea("structure");
				}
			}
			else 
			{
				if(top.getIsIGStandardTools && top.getIsIGStandardTools() == true)
				{
					if(top.getActiveToolName() == "ContentTool")
					{
						#if($unrefreshedNodeId && $changeTypeId && $newContentId)
							top.frames["contentTreeIframe"].refreshContent($unrefreshedNodeId, $changeTypeId, $newContentId);
						#end
						
						//if($changeTypeId == "4")
					}
					else
					{
						#if($siteNodeId)
							top.frames["structureTreeIframe"].refreshNode($siteNodeId, 2, $siteNodeId);
						#else
							top.frames["structureTreeIframe"].refreshNode($this.getActionExtraData("unrefreshedNodeId"), $changeTypeId, $newSiteNodeId);
						#end
						
						var currentMenutoolbarLeftUrl = top.getCurrentMenutoolbarLeftUrl();
						//alert("currentMenutoolbarLeftUrl:" + currentMenutoolbarLeftUrl);
		   	   	  		var position = currentMenutoolbarLeftUrl.indexOf("siteNodeId=${newSiteNodeId}&");
		   	   	  		//alert("position:" + position + ": changeType: $changeTypeId");
						if("$changeTypeId" == "3")
						{
							#if($siteNodeId)
								top.openUrlInWorkArea(actionUrl, "AAAAAAA", "structure", "$ui.getString("tool.common.pageTabLabelPrefix")");
							#else
								top.openUrlInWorkArea("ViewSiteNode.action?siteNodeId=$newSiteNodeId&repositoryId=$repositoryId", "$!this.getActionExtraData('siteNodeName')", "structure", "$ui.getString("tool.common.pageTabLabelPrefix")");
							#end
						}
						else if(position == -1) 
						{
							if(window.name.indexOf("TB_iframe") == -1)
							{
		    					top.refreshTopToolBar('tool.structuretool.siteNodeComponentsHeader', 'tool.structuretool.siteNodeComponentsHeader', 'siteNodeId=$newSiteNodeId&repositoryId=$repositoryId&isBranch=true', $unrefreshedNodeId, $changeTypeId, -1);
								#if($siteNodeId)
			    					top.openUrlInWorkArea(actionUrl, "AAAAAAAA", "structure", "$ui.getString("tool.common.pageTabLabelPrefix")");
								#else
			    					top.openUrlInWorkArea("ViewSiteNode.action?siteNodeId=$newSiteNodeId&repositoryId=$repositoryId", "$!this.getActionExtraData('siteNodeName')", "structure", "$ui.getString("tool.common.pageTabLabelPrefix")");
								#end
							}
						  	else
						  		top.refreshWorkArea("structure");
						}
					}
					
					if(actionUrl && target && targetTitle)
						top.openUrlInWorkArea(actionUrl, targetTitle, target);
				}
			}
			*/
			
			closeDialog();
		}
    -->
	</script>
	
#end

#if($automaticClose)

	#set($repositoryId = $this.getActionExtraData("repositoryId"))
	#set($newSiteNodeId = $this.getActionExtraData("siteNodeId"))
	#set($unrefreshedNodeId = $this.getActionExtraData("unrefreshedNodeId"))
	#set($newContentId = $this.getActionExtraData("contentId"))
	#set($changeTypeId = $this.getActionExtraData("changeTypeId"))
	#set($languageId = $this.getActionExtraData("languageId"))

	$scripts
	<script type="text/javascript">
		#if($this.skipResultDialogIfPossible)
			#set($parentCall = false)
			#if($firstActionLink.target == 'structure' || $firstActionLink.target == 'content' || $firstActionLink.target == 'management')
				#set($parentCall = true)
			#end
			
			//alert("$firstActionLink.actionURL : $unrefreshedNodeId $this");
			#if($firstActionLink.actionURL == "refreshParent")
				refreshParent(null,null,null);
			#else 
				#if($parentCall)
					refreshParent('$firstActionLink.actionURL','$firstActionLink.target','$firstActionLink.targetTitle');
				#else
					//alert("IsJS: + $firstActionLink.isJavascript");
					#if($firstActionLink.isJavascript)
						//alert("$firstActionLink.actionURL == javascript:closeDialog(); $unrefreshedNodeId");
						#if($firstActionLink.actionURL == "javascript:closeDialog();" && $unrefreshedNodeId)
							try
							{
								//alert(parent.refreshPage);
								parent.refreshPage($unrefreshedNodeId, 1, $unrefreshedNodeId);
							}
							catch(e) {alert("e:" + e);}
						#end
						$firstActionLink.actionURL
					#else
						parent.location.href = "$firstActionLink.actionURL";
					#end
				#end
			#end
		#else
			//alert("actionUrl: $actionUrl");
			refreshParent('$actionUrl', '$target', '$targetTitle');
		#end
	</script>	
#elseif($isAutomaticRedirect)		
	<script type="text/javascript">
		top.location.href = "$firstActionLink.actionURL";
	</script>	
#else

	#beginLightCommonToolV3("tool.common.inlineOperationDoneHeader" "" "" false true false)
	
	#set($repositoryId = $this.getActionExtraData("repositoryId"))
	#set($newSiteNodeId = $this.getActionExtraData("siteNodeId"))
	#set($unrefreshedNodeId = $this.getActionExtraData("unrefreshedNodeId"))
	#set($newContentId = $this.getActionExtraData("contentId"))
	#set($changeTypeId = $this.getActionExtraData("changeTypeId"))
	#set($languageId = $this.getActionExtraData("languageId"))

	$scripts
	<link rel="stylesheet" type="text/css" href="css/cms.css"/>
		
	<div onfocus="this.blur();">
	    
		#lightMenuToolbar("" $buttons $rightButtons) 
	
		<div style="clear: both;"></div>
		
		<h3 style="padding-left: 16px;">$message</h3>
		
		<div class="inlineTabDiv" onfocus="this.blur();">	
		
			#foreach($link in $actionLinks)			

				#set($parentCall = false)
				#if($link.target == 'structure' || $link.target == 'content' || $link.target == 'management')
					#set($parentCall = true)
				#end

				#if($link.actionURL == "refreshParent")
					#set($actionUrl = "javascript:refreshParent(null,null,null);")
				#else 
					#set($actionUrl = $link.actionURL)
					#if($parentCall)
						#set($actionUrl = "javascript:refreshParent('$actionUrl','$link.target','$link.targetTitle');")
					#end
				#end
				
			<p>
				<a id="$link.id" 
					#if($parentCall) 
						href="$actionUrl"
					#else 
						href="$actionUrl"
					#end 
					
					#if(!$parentCall && !$link.isJavascript)
						#if($link.target) 
							target="$link.target" 
						#elseif(!$parentCall && $link.actionURL != "refreshParent") 
							target="_parent"
						#end
					#end 
					
					style="display:block; #if($link.backgroundImageURL != '') background-image: url('$link.backgroundImageURL'); background-repeat: no-repeat; padding-left: 26px;#end padding-top: 8px; height: 20px;"><strong>$link.text</strong></a>
				$link.description
			</p>
			#end
		
		</div>
	
		#lightFooterToolbar($footerButtons)
			
	</div>

	#set($refreshToolbarAndMenu = $this.getActionExtraData("refreshToolbarAndMenu"))
	#if($refreshToolbarAndMenu == "true")

		<script type="text/javascript">
		<!--			
			$(document).ready(function(){
				
				try 
				{ 
					//alert("1:" + top.getIsIGStandardTools);
					if(top.getIsIGStandardTools && top.getIsIGStandardTools() == true)
					{
						var currentMenutoolbarLeftUrl = top.getCurrentMenutoolbarLeftUrl();
						//alert("currentMenutoolbarLeftUrl:" + currentMenutoolbarLeftUrl);
		   	   	  		var position = currentMenutoolbarLeftUrl.indexOf("siteNodeId=${newSiteNodeId}&");
						if(position == -1) 
						{
							if(window.name.indexOf("TB_iframe") == -1)
        					{
            					top.refreshTopToolBar('tool.structuretool.siteNodeComponentsHeader', 'tool.structuretool.siteNodeComponentsHeader', 'siteNodeId=$newSiteNodeId&repositoryId=$repositoryId&isBranch=true', $unrefreshedNodeId, $changeTypeId, -1);
    							top.openUrlInWorkArea("ViewSiteNode.action?siteNodeId=$newSiteNodeId&repositoryId=$repositoryId", "sssssssssssss");
    							//parent.parent.frames["toolbar"].refreshStructureToolBarAndMenu('$this.getCMSBaseUrl()', 'tool.structuretool.siteNodeComponentsHeader', 'tool.structuretool.siteNodeComponentsHeader', 'siteNodeId=$newSiteNodeId&repositoryId=$repositoryId&isBranch=true', '$unrefreshedNodeId', '$changeTypeId', '$newSiteNodeId'); 
							}
						}
					}
					else
					{
    					var agt=navigator.userAgent.toLowerCase();
    			   	    if(agt.indexOf("safari")!=-1)
    			   	    {
    			   	   	    if(parent && parent.parent && parent.parent.frames[2] && parent.parent.frames[2].refreshStructureToolBar) 
    						{
    			   	   	  		var position = parent.parent.frames[2].document.location.href.indexOf("siteNodeId=${newSiteNodeId}&");
    			   	   	  		if(position == -1)
    								parent.parent.frames[2].refreshStructureToolBarAndMenu('$this.getCMSBaseUrl()', 'tool.structuretool.siteNodeComponentsHeader', 'tool.structuretool.siteNodeComponentsHeader', 'siteNodeId=$newSiteNodeId&repositoryId=$repositoryId&isBranch=true', '$unrefreshedNodeId', '$changeTypeId', '$newSiteNodeId'); 
    						}
    			   		}
    			   	    else	
    			   	    {
    				   	    if(parent && parent.parent && parent.parent.frames["toolbar"] && parent.parent.frames["toolbar"].refreshStructureToolBar)
    						{
    							var position = parent.parent.frames["toolbar"].document.location.href.indexOf("siteNodeId=${newSiteNodeId}&");
    							if(position == -1) 
    							{
    								parent.parent.frames["toolbar"].refreshStructureToolBarAndMenu('$this.getCMSBaseUrl()', 'tool.structuretool.siteNodeComponentsHeader', 'tool.structuretool.siteNodeComponentsHeader', 'siteNodeId=$newSiteNodeId&repositoryId=$repositoryId&isBranch=true', '$unrefreshedNodeId', '$changeTypeId', '$newSiteNodeId'); 
    							}
    						}
    					}
					}
				} 
				catch(e) {alert("e:" + e);}

			});
	 	-->
		</script>	
	#end
		
	#endCommonToolV3()

#end