<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">

<html>
<head>
	<title>InfoGlue CMS login complete</title>
	<link rel="icon" href="images/icons/ig-16.png" type="image/png" />
	<link rel="SHORTCUT ICON" href="images/icons/ig-16.png" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
</script> 
</head>

<body style="background: white">
	<h1>Login complete</h1>
	<p>Close this window and try the last action again.
	<a href="javascript:window.opener.location.reload(); window.close();">Close</a>
	</p>
</body>
</html>
