#beginLightCommonToolV3Impl("tool.common.versionInfo.title" "" "" false true $!disableCloseButton "" false "")

<script type="text/javascript">
<!--
		
	$(document).ready(function(){

		$("#tabsContainer").tabs({ show:function() { resizeScrollArea(); } });
	});
	
//-->
</script>

#lightMenuToolbar("" $buttons $rightButtons)

<div style="clear: both;"></div>

	<h3>
		$ui.getString("tool.common.about.title")
	</h3>
	<p>
		$aboutHTML
	</p>
		
	<h3>$ui.getString("tool.common.versionDialog.supportTabLabel")</h3>
	<ul>
		<li><a href="http://www.infoglue.org/support" target="_blank">Support</a></li>
		<li><a href="http://www.infoglue.org/chat" target="_blank">Online chat</a></li>
		<li><a href="http://www.infoglue.org/forum" target="_blank">Forums</a></li>
	</ul>


	<h3>$ui.getString("tool.common.versionDialog.versionInfoTabLabel")</h3>
	<p>
		Version: $infoGlueVersion<br>
		Release date: $infoGlueVersionReleaseDate<br/>
	</p>


#lightFooterToolbar($footerButtons)

#endCommonToolV3()