#define( $headerMarkup )

	<style type="text/css">
		@import "script/jqueryplugins-latest/dataTables/media/css/ig_table.css";
	</style>
	<script type="text/javascript" language="javascript" src="script/jqueryplugins-latest/dataTables/media/js/jquery.dataTables.min.js"></script>

	<link rel="stylesheet" type="text/css" href="css/cms.css" />
	
	<script type="text/javascript">
	<!--
		function addUserRow()
		{
			var currentUserRowIndex = $("#currentUserRowIndex").val();
			var previousRow 		= $("#" + currentUserRowIndex + "_userRow");
				
			var newRowId 			= parseInt(currentUserRowIndex) + 1;
			var newRow 				= previousRow.clone(true);
			
			var inputFields 		= newRow.find("input");
			
			inputFields.each(function(index) {
				var oldName = $(this).attr("name");
				var newName = newRowId + oldName.substring(oldName.indexOf("_"));
				$(this).attr("name", newName);
				$(this).prop("checked", false);
			});
			
			newRow.find("#" + currentUserRowIndex + "_userName").attr("id", newRowId + "_userName");
			newRow.attr("id", newRowId + "_userRow");
			previousRow.find(".addButton").remove();
			newRow.find(".showUsers").attr("href", "javascript: setSelectedUserRow(" + newRowId + "); showUsers(" + newRowId + ")");
			newRow.find(".selectMyself").attr("href", "javascript: selectMyself(" + newRowId + ")");
			
			$("#usersTable").append(newRow);
			
			$("#" + newRowId + "_userName").val("");
			$("#" + newRowId + "_userName").focus();
			$("#currentUserRowIndex").val(newRowId);
		}
		
		function setSelectedUserRow(aRowId)
		{
			$("#selectedUserRowIndex").val(aRowId);
		}
		
		function checkForEnter(evt)
		{
			evt = evt || window.event;
		    var charCode = evt.keyCode || evt.which;
		    if (charCode == 13) 
		    {
		        addUserRow();
		    }
		}
		
		function showDiv(id)
		{
			document.getElementById(id).style.visibility = 'visible';
		}
		
		function hideDiv(id)
		{
			document.getElementById(id).style.visibility = 'hidden';
		}
		
		function showUsers()
		{
			openPopup('ViewListSystemUser!userListForPopupV3.action', 'Users', 'width=400,height=600,resizable=yes,scrollbars=yes');
		}
		
		function selectUser(userName)
		{
			var selectedUserRowIndex = $("#selectedUserRowIndex").val();
			$("#" + selectedUserRowIndex + "_userName").val(userName);
			addUserRow();
		}
	
		function selectMyself(aRowIndex)
		{
			document.getElementById(aRowIndex + "_userName").value = "$infoGluePrincipal.name";
			addUserRow();
		}
		
		function toggleRole(roleName)
		{
			#foreach($interceptionPointVO in $interceptionPointVOList)
				var checkboxName = "${interceptionPointVO.id}_" + roleName + "_hasAccess";
				if($("#" + checkboxName).attr('checked'))
					$("#" + checkboxName).attr('checked', false);
				else
					$("#" + checkboxName).attr('checked', true);
			#end
		}
		
		function deleteUser(userName)
		{
			document.addUserForm.action = "UpdateAccessRights!deleteUserV3.action";
			document.getElementById("userName").value = userName;
			document.addUserForm.submit();
		}
		
		function validateAndSubmitForm()
		{
			save();
		}
		
		function save()
		{
			$("form").get(0).submit();
		}
				
		function saveAndExit(action)
		{
			//$("form").get(0).action = action;
			if(parent.saveFormAndExit)
				parent.saveFormAndExit(window);
			else
			{
				document.editForm.closeOnLoad.value = "true";
				save();
			}
		}
		
		
		#set($anonymousPrincipal = $anonymousPrincipal)
		//alert("anonymousPrincipal: + $anonymousPrincipal.roles");
		//alert("anonymousPrincipal: + $anonymousPrincipal.groups");
		var roles = new Array($!anonymousPrincipal.roles.size());
		var groups = new Array($!anonymousPrincipal.groups.size());
		
		var hasGroupLimitation = false;
		
		function confirmSave()
		{
			var x=0;
			var selected = false;
			
			//alert("roles:" + roles.length);
			for (x=0; x<roles.length; x++)
			{
				var roleElementId = roles[x];
				//alert("roleElementId:" + roleElementId);
				var element = document.getElementById(roleElementId);
				//alert("element:" + element.checked);
				if(element && element.checked)
				{
					//alert("element:" + element.name + ":" + element.checked);
					selected = true;
				}
			}
			
			#set($anonymousGroupsSize = $anonymousPrincipal.groups.size())
			#if($anonymousGroupsSize > 0)
			//alert("hasGroupLimitation:" + hasGroupLimitation);
			if(selected && hasGroupLimitation)
			{
				var y=0;
				var selected = false;
				//alert("groups:" + groups.length);
				for (y=0; y<groups.length; y++)
				{
					var groupElementId = groups[y];
					//alert("groupElementId:" + groupElementId);
					var element = document.getElementById(groupElementId);
					//alert("element:" + element.checked);
					if(element && element.checked)
					{
						selected = true;
					}
				}
			} 
			#end
			
			//alert("selected:" + selected);
			//alert("useAnonymousWarningCheck:" + useAnonymousWarningCheck);
			if(!selected && useAnonymousWarningCheck)
			{
				if(confirm('$ui.getString("tool.contenttool.accessRightsAnonymousWarning")'))
				{
					document.editForm.submit();
				}
			}
			else
			{
				document.editForm.submit();
			}
		}
	
		function confirmSaveAndExit()
		{
			var x=0;
			var selected = false;
			
			//alert("roles:" + roles.length);
			for (x=0; x<roles.length; x++)
			{
				var roleElementId = roles[x];
				//alert("roleElementId:" + roleElementId);
				var element = document.getElementById(roleElementId);
				//alert("element:" + element.checked);
				if(element && element.checked)
				{
					//alert("element:" + element.name + ":" + element.checked);
					selected = true;
				}
			}
			
			#set($anonymousGroupsSize = $anonymousPrincipal.groups.size())
			#if($anonymousGroupsSize > 0)
			//alert("hasGroupLimitation:" + hasGroupLimitation);
			if(selected && hasGroupLimitation)
			{
				var y=0;
				var selected = false;
				//alert("groups:" + groups.length);
				for (y=0; y<groups.length; y++)
				{
					var groupElementId = groups[y];
					//alert("groupElementId:" + groupElementId);
					var element = document.getElementById(groupElementId);
					//alert("element:" + element.checked);
					if(element && element.checked)
					{
						selected = true;
					}
				}
			} 
			#end
	
			document.editForm.returnAddress.value = "$returnAddress";
			//alert("selected:" + selected);
			//alert("useAnonymousWarningCheck:" + useAnonymousWarningCheck);
			if(!selected && useAnonymousWarningCheck)
			{
				if(confirm('$ui.getString("tool.contenttool.accessRightsAnonymousWarning")'))
				{
					document.editForm.submit();
				}
			}
			else
			{
				document.editForm.submit();
			}
		}
	
		#if($saved == "true")
		$(document).ready(function() {
			setTimeout(function() {$("#saved").hide("slow");}, 1000);
		});
		#end
	
		$(document).ready(function(){
			#if($closeOnLoad)
				if(parent && parent.document.location.href != document.location.href && parent.closeInlineDiv) parent.closeInlineDiv(); else if(parent && parent.document.location.href != document.location.href && parent.closeDialog) parent.closeDialog(); else { window.close();}
			#else
				$("#tabsContainer").tabs( {
					#if($anchor)
						selected: $anchor,
					#end
					show:function() { resizeScrollArea(); }
				});
			#end

			$('#tabsContainer').bind('tabsselect', function(event, ui) 
			{
			    $("#anchor").val(ui.index);
			    console.log("Selected tab: " + $("#anchor").val());
			});
		});
	-->
	</script>
	
	<style type="text/css">
		#rolesTable th, #usersTable th {
			border-bottom: 1px solid #ccc;
			text-indent: 2px;
			text-align: left;
		}
		#rolesTable td, #usersTable td {
			border-bottom: 1px solid #ccc;
			text-indent: 2px;
			text-align: left;
		}
		
		.groupTable #footertoolbar {
			position: absolute !important;
			bottom: 0px;
		}
	</style>
#end

#beginLightCommonToolV3Impl("tool.contenttool.accessRights.header" "" "" false true $!disableCloseButton $headerMarkup false "")

	#if(!$showInline)
		#lightMenuToolbar("" $buttons $rightButtons)
	
	<div style="clear: both;"></div>

	<h3>
		$ui.getString("tool.contenttool.accessRights.header")
		#if($errorMessage && $errorMessage != "")<span style="color:red">$errorMessage</span>#end
		#if($stateChanged)<span style="color:red">You must publish the page for these access rights to be active live</span>#end
	</h3>
	#end
	
	<div id="tabsContainer" class="flora cleanTopDiv">      

		<ul>
	        <li><a href="#rolesTab"><span>$ui.getString("tool.common.accessRights.rolesAndGroupsTabLabel")</span></a></li>
	        <li><a href="#usersTab"><span>$ui.getString("tool.common.accessRights.usersTabLabel") <b>($accessRightsUserRows.size())</b></span></a></li>	        
	        <li><a href="#debugTab"><span>Debug</b></span></a></li>	        
	    </ul>

		<div id="rolesTab" class="inlineTabDiv">
			
			<form method="post" name="editForm" action="UpdateAccessRights.action">
				<input type="hidden" name="interceptionPointCategory" value="$interceptionPointCategory"/>
				<input type="hidden" name="parameters" value="$extraParameters"/>
				#foreach($extraMultiParameter in $extraMultiParameters)
				<input type="hidden" name="extraMultiParameter" value="$extraMultiParameter"/>
				#end
				<input type="hidden" name="returnAddress" value="$unencodedCurrentUrl"/>
				<input type="hidden" name="userSessionKey" value="$userSessionKey"/>
				<input type="hidden" name="closeOnLoad" value="false"/>
				<input type="hidden" name="anchor" id="anchor" value="$anchor"/>
				<input type="hidden" id="currentUserRowIndex" name="currentUserRowIndex" value="0"/>
				<input type="hidden" id="selectedUserRowIndex" name="selectedUserRowIndex" value="0"/>
				
				#set($interceptionPointIndex = 0)
				#foreach($interceptionPointVO in $interceptionPointVOList)
					#set($accessRightGroupIndex = 0)
					#set($groups = [])
					#set($groups = $accessRightGroupsMap.get($interceptionPointVO.id))
					#foreach($accessRightGroup in $groups)
						<input type="hidden" name="${interceptionPointVO.id}_${accessRightGroupIndex}_groupName" value="$accessRightGroup.groupName"/>
						#set($accessRightGroupIndex = $accessRightGroupIndex + 1)
					#end
				#end
				
				<script type="text/javascript">var useAnonymousWarningCheck = false;</script>
				
				#if($saved == "true")
					<p id="saved" style="color: red; width: 300px; font-weight: bold; border: 1px solid black; padding: 10px 2px 10px 4px; margin: 0px 0px 5px 0px;">
					Rights saved...
					</p>
				#end
			
				<table id="rolesTable" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<th>$ui.getString("tool.common.accessRights.roleNameLabel")</th>
					<th>&nbsp;</th>
					<th><img src="css/images/trans.gif" width="10" height="1" alt=""/></th>
					#set($colspan = 1)
					#foreach($interceptionPointVO in $interceptionPointVOList)
						#if($interceptionPointVO.name == "Content.Read" || $interceptionPointVO.name == "SiteNodeVersion.Read")
							<script type="text/javascript">useAnonymousWarningCheck = true;</script>	
						#end
			
						##if(($interceptionPointVO.getUsesExtraDataForAccessControl() && $extraParameters && $extraParameters != "") || (!$interceptionPointVO.getUsesExtraDataForAccessControl() && (!$extraParameters || $extraParameters == "")))
						#if(($interceptionPointVO.getUsesExtraDataForAccessControl() && (($extraParameters && $extraParameters != "") || $extraMultiParameters)) || (!$interceptionPointVO.getUsesExtraDataForAccessControl() && (!$extraParameters || $extraParameters == "") && !$extraMultiParameters))

							#set($accessRightId = -1)
							#set($hasGroupLimitations = false)
							#set($accessRightId = $accessRightHasAccessMap.get("${interceptionPointVO.id}_${extraParameters}"))
							#set($accessRightGroups = [])
							#set($accessRightGroups = $accessRightGroupsMap.get($accessRightId))
							#if($accessRightGroups.size() > 0)
								#set($hasGroupLimitations = true)
							#end
							
							#set($dotIndex = $interceptionPointVO.name.indexOf(".") + 1)
							<th style="text-align: center;">$interceptionPointVO.name.substring($dotIndex)
							##if($accessRightId > -1)
								#if($hasGroupLimitations)
									<script type="text/javascript">hasGroupLimitation = true;</script>
									<br/><a href="javascript:showDiv('groups$accessRightId');" title="Limited by groups also - click to view."><img src="css/images/groups.gif" border="0" alt=""/></a>
								#else
									#if($accessRightId > -1)
									<br/><a href="javascript:showDiv('groups$accessRightId');" title="Not limited by groups at the moment"><img src="css/images/groupsInactive.gif" border="0" alt=""/></a>
									#else
										<br/><a href="javascript:alert('You must state at least one role first');" title="Not limited by groups at the moment"><img src="css/images/groupsInactive.gif" border="0" alt=""/></a>
									#end
								#end
							##end
							</th>
							<th><img src="css/images/trans.gif" width="10" height="1" alt=""/></th>
							#set($colspan = $colspan + 3)
						#end
					#end
					<th>&nbsp;</th>
				</tr>
								
				#set($roleIndex = 0)
				#foreach ($role in $roleList)
				
					#if($role.isActive)
		
					#set($isOdd = $velocityCount % 2)
					#if($isOdd==0)
						#set($class = "class='lightGreen'")
					#else
						#set($class = "class='white'")
					#end
					
					<tr>
						<td>
							$role.displayName #if($role.displayName == "anonymous") (All users, logged in or not have this role)#end
							<input type="hidden" name="${roleIndex}_roleName" value="$role.name"/>
						</td>
						<td><img src="css/images/v3/check.png" width="16" height="16" alt="Check/uncheck all on this row" title="Check/uncheck all on this row" onclick="toggleRole('${role.name}');"/></td>
						<td>&nbsp;</td>
						#set($interceptionPointIndex = 0)
						#foreach($interceptionPointVO in $interceptionPointVOList)
							##if(($interceptionPointVO.getUsesExtraDataForAccessControl() && $extraParameters && $extraParameters != "") || (!$interceptionPointVO.getUsesExtraDataForAccessControl() && (!$extraParameters || $extraParameters == "")))
							#if(($interceptionPointVO.getUsesExtraDataForAccessControl() && (($extraParameters && $extraParameters != "") || $extraMultiParameters)) || (!$interceptionPointVO.getUsesExtraDataForAccessControl() && (!$extraParameters || $extraParameters == "") && !$extraMultiParameters))
								<td style="text-align: center;">
									#set($checked = "")
									#set($key = "${interceptionPointVO.id}_${extraParameters}_$role.name")
									#set($key2 = "${interceptionPointVO.id}_${extraParameters}")
									#set($hasAccess = $accessRightHasAccessMap.get($key))
									#if($hasAccess)
										#set($checked = "checked")
										#set($accessRightId = $accessRightHasAccessMap.get($key2))
									#end
																		
									#if($interceptionPointVO.name == "Content.Read" || $interceptionPointVO.name == "SiteNodeVersion.Read")
										#set($anonymousRolesCount = 0)
										#foreach($anonymousRole in $anonymousPrincipal.roles)
											#if($anonymousRole.name == $role.name)
												<script type="text/javascript">
													//alert("Anonymous role found $role.name");
													roles[$anonymousRolesCount] = "${interceptionPointVO.id}_${role.name}_hasAccess";
												</script>
												#set($anonymousRolesCount = $anonymousRolesCount + 1)
											#end
										#end
									#end
																				
									<input type="hidden" name="${interceptionPointIndex}_InterceptionPointId" value="$interceptionPointVO.id"/>
									<input type="hidden" name="${interceptionPointVO.id}_${roleIndex}_roleName" value="$role.name"/>
									<input type="checkbox" id="${interceptionPointVO.id}_${role.name}_hasAccess" name="${interceptionPointVO.id}_${role.name}_hasAccess" value="true" $checked/>
									
								</td>
								<td>&nbsp;</td>
								#set($interceptionPointIndex = $interceptionPointIndex + 1)
							#end
						#end
						<td>&nbsp;</td>
					</tr>
					#set($roleIndex = $roleIndex + 1)
				#end
				#end
				</table>	
			</form>
		</div>
				
		<div id="usersTab" class="inlineTabDiv">
		
			<form method="post" name="addUserForm" action="UpdateAccessRights!addUserV3.action">
				<input type="hidden" name="interceptionPointCategory" value="$interceptionPointCategory"/>
				<input type="hidden" name="parameters" value="$extraParameters"/>
				#foreach($extraMultiParameter in $extraMultiParameters)
				<input type="hidden" name="extraMultiParameter" value="$extraMultiParameter"/>
				#end
				<input type="hidden" name="returnAddress" value="$returnAddress"/>

				<table id="usersTable" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<th style="white-space:nowrap;">$ui.getString("tool.common.accessRights.usersWithAccessLabel")</th>
					<th><img src="css/images/trans.gif" width="10" height="1" alt=""/></th>
					#set($colspan = 1)
					#foreach($interceptionPointVO in $interceptionPointVOList)
						##if(($interceptionPointVO.getUsesExtraDataForAccessControl() && $extraParameters && $extraParameters != "") || (!$interceptionPointVO.getUsesExtraDataForAccessControl() && (!$extraParameters || $extraParameters == "")))
						#if(($interceptionPointVO.getUsesExtraDataForAccessControl() && (($extraParameters && $extraParameters != "") || $extraMultiParameters)) || (!$interceptionPointVO.getUsesExtraDataForAccessControl() && (!$extraParameters || $extraParameters == "") && !$extraMultiParameters))
							#set($accessRightId = -1)
				
							#set($keyAccessRightId = "${interceptionPointVO.id}_${extraParameters}")
							#set($accessRightId = $accessRightHasAccessMap.get($keyAccessRightId))
							#set($dotIndex = $interceptionPointVO.name.indexOf(".") + 1)
							<th style="text-align: center;">$interceptionPointVO.name.substring($dotIndex)</th>
							<th><img src="css/images/trans.gif" width="10" height="1" alt=""/></th>
							#set($colspan = $colspan + 2)
						#end
					#end
					<th><img src="css/images/trans.gif" width="10" height="1" alt=""/></th>		
				</tr>
				
				#foreach($accessRightsUserRow in $accessRightsUserRows)
				<tr>
					<td>$accessRightsUserRow.userName</td>
					<td>&nbsp;</td>
					#set($interceptionPointIndex = 0)
					#foreach($interceptionPointVO in $interceptionPointVOList)
						##if(($interceptionPointVO.getUsesExtraDataForAccessControl() && $extraParameters && $extraParameters != "") || (!$interceptionPointVO.getUsesExtraDataForAccessControl() && (!$extraParameters || $extraParameters == "")))
						#if(($interceptionPointVO.getUsesExtraDataForAccessControl() && (($extraParameters && $extraParameters != "") || $extraMultiParameters)) || (!$interceptionPointVO.getUsesExtraDataForAccessControl() && (!$extraParameters || $extraParameters == "") && !$extraMultiParameters))
							<td style="text-align: center;">
								#set($checked = "")
								#if($accessRightsUserRow.accessRights.get($interceptionPointVO.id) == true)
									#set($checked = "checked")
								#end 
								<input type="hidden" name="${interceptionPointVO.id}_${userIndex}_userName" value="$accessRightsUserRow.userName"/>
								<!--<input type="checkbox" name="${interceptionPointVO.id}_${accessRightsUserRow.userName}_hasAccess" value="true" $checked>-->
								<input type="checkbox" name="${interceptionPointVO.id}_${accessRightsUserRow.userName}_hasAccess" value="true" disabled="true" $checked/>
							</td>
							<td>&nbsp;</td>
							#set($interceptionPointIndex = $interceptionPointIndex + 1)
						#end
					#end
					<td><a href="javascript:deleteUser('$accessRightsUserRow.userName');"><img src="css/images/delete.gif" width="12" height="12" border="0" alt=""/></a></td>
				</tr>
				#end	

				#set($colspan = $colspan+2)
				
				#if($accessRightsUserRows.size() == 0)
				<tr>
					<td style="border-bottom: 0px; margin-button: 20px;" colspan="$colspan">No rights set on users</td>
				</tr>
				#end
			
				<tr>
					<td style="border-bottom: 0px; margin-button: 20px;" colspan="$colspan">&nbsp;</td>
				</tr>
				
				<tr>
					<th colspan="$colspan">$ui.getString("tool.common.accessRights.addUserText")</th>
				</tr>
				<tr id="0_userRow">
					<td style="padding-top: 4px; white-space: nowrap;">
						<input type="textfield" id="0_userName" name="0_userName" value="" style="display: block; float: left; width: 80px;" onkeydown="checkForEnter();" />
						<a class="showUsers" href="javascript: setSelectedUserRow(0); showUsers(0);" style="display: block; float: left; height: 20px; width: 20px; background: url(css/images/spyglassIcon.gif) no-repeat 0px 0px; margin-left: 4px;">&nbsp;</a>
						<a class="selectMyself" href="javascript:selectMyself(0);" style="display: block; float: left; height: 20px; width: 20px; background: url(css/images/user18.gif) no-repeat 0px 0px; margin-left: 4px;">&nbsp;</a>
					</td>
					<td>&nbsp;</td>
					#set($interceptionPointIndex = 0)
					#foreach($interceptionPointVO in $interceptionPointVOList)
						##if(($interceptionPointVO.getUsesExtraDataForAccessControl() && $extraParameters && $extraParameters != "") || (!$interceptionPointVO.getUsesExtraDataForAccessControl() && (!$extraParameters || $extraParameters == "")))
						#if(($interceptionPointVO.getUsesExtraDataForAccessControl() && (($extraParameters && $extraParameters != "") || $extraMultiParameters)) || (!$interceptionPointVO.getUsesExtraDataForAccessControl() && (!$extraParameters || $extraParameters == "") && !$extraMultiParameters))
							<td style="text-align: center; padding-top: 2px;" valign="top">
								#set($checked = "")
								##if($this.getHasAccessRight($interceptionPointVO.id, $extraParameters, $role.name))
									##set($checked = "checked")
									##set($accessRightId = $this.getAccessRightId($interceptionPointVO.id, $extraParameters))
								##end 
								
								<input type="hidden" name="0_${interceptionPointIndex}_InterceptionPointId" value="$interceptionPointVO.id"/>
								<input type="hidden" name="0_interceptionPointId" value="$interceptionPointVO.id"/>
								<input type="checkbox" name="0_${interceptionPointVO.id}_hasAccess" value="true" $checked/>
							</td>
							<td>&nbsp;</td>
							#set($interceptionPointIndex = $interceptionPointIndex + 1)
						#end
					#end
					<td>
						<!--
						<a class="addButton" href="javascript: addUserRow();" style="display: block; float: left; border: 1px solid #ccc; height: 14px; background: url(css/images/v3/footerBackground.gif) repeat-x 0px -10px; white-space: nowrap; padding: 2px 10px 2px 10px; margin-left: 4px;">$ui.getString("tool.common.accessRights.addUserButtonLabel")</a>
						-->
					</td>
				</tr>
				</table>
			</form>
			<p>
				<!--
				$ui.getString("tool.common.accessRights.addMoreUsers.label")
				<div style="clear:both;"></div>
				-->
				<a href="javascript:document.addUserForm.submit();" style="display: block; float: left; border: 1px solid #ccc; height: 14px; background: url(css/images/v3/footerBackground.gif) repeat-x 0px -10px; white-space: nowrap; padding: 2px 10px 2px 10px; margin-left: 4px;">$ui.getString("tool.common.accessRights.addUserButtonLabel")</a>
			</p>	
		</div>

		<div id="debugTab" class="inlineTabDiv">
			<pre>$extraAccessRightInfo</pre>
		</div>
		
		#**************************************#
		#* GROUPS DIV                         *#
		#**************************************#
		
		#set($interceptionPointIndex = 0)
		#foreach($interceptionPointVO in $interceptionPointVOList)
			#set($accessRightId = -1)
			
			#set($keyAccessRightId = "${interceptionPointVO.id}_${extraParameters}")
			#set($accessRightId = $accessRightHasAccessMap.get($keyAccessRightId))
			
			##set($accessRightIds = $this.getAccessRightIds($interceptionPointVO.id, $extraParameters))
			
			#if($accessRightId > -1)
				
				#set($accessRightGroups = [])
				##set($accessRightGroups = $this.getAccessRightGroups($accessRightId))
				#set($accessRightGroups = $accessRightGroupsMap.get($accessRightId))
				<script type="text/javascript">
				
					function confirmGroupSave(form, field, interceptionPointName)
					{
						$("#" + $(form).attr("id") + " .dataTables_filter input").val("").trigger('keypress').trigger('keydown').trigger('keyup');
					
						var y=0;
						var selected = false;
						//alert("groups:" + groups.length);
						for (y=0; y<groups.length; y++)
						{
							var groupElementId = groups[y];
							//alert("groupElementId:" + groupElementId);
							var element = document.getElementById(groupElementId);
							//alert("element:" + element.checked);
							if(element && element.checked)
							{
								selected = true;
							}
						}
						
						var skipGroupCheck = true;
						#set($anonymousGroupsSize = $anonymousPrincipal.groups.size())
						#if($anonymousGroupsSize > 0)
							skipGroupCheck = false;
							var allUnchecked = true;
							//alert("field: document.groups${accessRightId}Form.groupName");
						 	//alert("field: " + field.length);
							for (i = 0; i < field.length; i++)
							{
								//alert("Field:" + field[i].value + field[i].checked);
								if(field[i] && field[i].checked)
								{
									//alert("Field checked:" + field[i].value);
									allUnchecked = false;
								}
							}	
						#end
						
						//alert("allUnchecked:" + allUnchecked);
						//alert("interceptionPointName:" + interceptionPointName);
						if(!skipGroupCheck && !selected && !allUnchecked && (interceptionPointName == "SiteNodeVersion.Read" || interceptionPointName == "Content.Read"))
						{
							if(confirm('$ui.getString("tool.contenttool.accessRightsAnonymousWarning")'))
							{
								form.submit();
							}
						}
						else
						{
							form.submit();
						}
					}
					
					$(document).ready(function(){
						#set($extraParameter = '"sScrollY": "300px", "bPaginate": false, "bScrollCollapse": true, "aoColumns": [ { "sWidth": "30px" }, null, null, null ]')
						#initDataTableImpl("dataTable${interceptionPointVO.id}" $extraParameter)
					});
		
				</script>
				
				<div id="groups$accessRightId" class="groupTable" style="position: absolute; overflow: auto; top: 10px; left: 50px; visibility: hidden; width:700px; height:500px; background-color: white; border:1px solid black;">

					<form method="POST" id="groups${accessRightId}Form" name="groups${accessRightId}Form" action="UpdateAccessRights!addGroups.action">
						<input type="hidden" name="interceptionPointCategory" value="$interceptionPointCategory">
						<input type="hidden" name="parameters" value="$extraParameters">
						<input type="hidden" name="accessRightId" value="$accessRightId">
						<input type="hidden" name="returnAddress" value="$returnAddress">

						<div id="menutoolbar">
							<div id="menutoolbarLeft" style="position: absolute; z-index: 1005; padding-left: 4px; padding-top: 2px;">
								<div style="float: left; padding-top: 8px; padding-left: 10px;">$ui.getString("tool.managementtool.assignedGroups.label")</div>
							</div>
							<div id="menutoolbarRight" style="float:right; z-index: 1005;">
								<a class='igToolbarButton igToolbarHeaderButton' href="#" onclick="hideDiv('groups$accessRightId');" title="$ui.getString("tool.common.closeWindowButton.title")"><span class='igToolbarButtonOuterSpan igToolbarHeaderButton'><span class='close' title="$ui.getString("tool.common.closeWindowButton.title")">$ui.getString("tool.common.closeWindowButton.label")</span></span></a>
							</div>
						</div>


						<div style="clear: both;"></div>

						<table bgcolor="white" cellpadding="0" cellspacing="0" border="1" class="display" id="dataTable${interceptionPointVO.id}">
						<thead>
							<tr>
								<th>&nbsp;</th>
								<th>$ui.getString("entity.Group.groupName.label")</th>
								<th>$ui.getString("entity.Group.source.label")</th>
								<th>$ui.getString("entity.Group.groupType.label")</th>
							</tr>
						</thead>
						
						<tbody>
							#foreach($group in $groupList)
								
								#if($group.isActive)
									#set($selected = "")
									#set($selectedSortText = "1")
									#foreach($accessRightGroup in $accessRightGroups)
										#if($accessRightGroup.groupName == $group.name)
											#set($selected = "checked='1'")
											#set($selectedSortText = "0")
										#end
									#end
						
									#if($interceptionPointVO.name == "Content.Read" || $interceptionPointVO.name == "SiteNodeVersion.Read")
										#set($anonymousGroupsCount = 0)
										#foreach($anonymousGroup in $anonymousPrincipal.groups)
											#if($anonymousGroup.name == $group.name)
												<script type="text/javascript">
													//alert("Anonymous group found $group.name");
													groups[$anonymousGroupsCount] = "${interceptionPointVO.id}_${group.name}_hasAccess";
												</script>
												#set($anonymousGroupsCount = $anonymousGroupsCount + 1)
											#end
										#end
									#end
						
									<tr>
										<td><span style="display:none;">$selectedSortText</span><input type="checkbox" id="${interceptionPointVO.id}_${group.name}_hasAccess" name="groupName" value="${group.name}" $selected/></td>
									  	<td>$group.displayName</td>
									  	<td>$group.source</td>
									  	<td>$group.groupType</td>
									</tr>
								#end
							#end
							
						</tbody>
						
						</table>

					</form>
					
					<div style="clear: both;"></div>
					<div id="footertoolbar" onfocus="this.blur();">
						<div style="float:left; margin-left: 10px;">
							<input type="button" class='save' onclick="confirmGroupSave(document.groups${accessRightId}Form, document.groups${accessRightId}Form.groupName, '$interceptionPointVO.name');" title="$ui.getString("tool.common.saveButton.title")" value="$ui.getString("tool.common.saveButton.label")"/>
							<input type="button" class='cancel' onclick="hideDiv('groups$accessRightId');" title="$ui.getString("tool.common.cancelButton.title")" value="$ui.getString("tool.common.cancelButton.label")"/>
						</div>
					</div>					
				</div>			
			#end
			#set($interceptionPointIndex = $interceptionPointIndex + 1)
		#end
	</div>
	
	#if(!$showInline)
		#lightFooterToolbar($footerButtons)
	#end
	
#endCommonToolV3()
