<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html>
<head>
	<title>PageEditor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>

<frameset rows="30,*" FRAMESPACING="0" FRAMEBORDER="NO" BORDER="0">
  <frame name="header" marginwidth="0" marginheight="0" scrolling="no" noresize target="header" src="DeleteContent!fixPageHeader.action">
  <frame name="work" marginwidth="0" marginheight="0" scrolling="no" noresize target="work" src="${componentRendererUrl}${componentRendererAction}?siteNodeId=$siteNodeId&contentId=-1">
</frameset>

</html>