#define( $headerMarkup )

	<style type="text/css">
		@import "script/jqueryplugins-latest/dataTables/media/css/ig_table.css";

		.linkAction td {border-bottom-width: 0;}
		.contactPersonEmail {font-weight: bold;}
		.mainRow {}
	</style>
	<script type="text/javascript" language="javascript" src="script/jqueryplugins-latest/dataTables/media/js/jquery.dataTables.min.js"></script>

	<script type="text/javascript">
	<!--
		var isClicked = false;
		function addComponent(componentId) {
			//alert("siteNodeId: $siteNodeId");
			//alert("languageId: $languageId");
			//alert("parentComponentId: $!parentComponentId");
			//alert("contentId: $!contentId");
			//alert("$slotId: $slotId");
			//alert("componentId:" + componentId);
			if(!isClicked){
				isClicked = true;
				url = "ViewSiteNodePageComponents!addComponent.action?siteNodeId=$siteNodeId&languageId=$languageId&contentId=$contentId&parentComponentId=$!parentComponentId&componentId=" + componentId + "&slotId=$slotId&specifyBaseTemplate=$!specifyBaseTemplate&showSimple=$showSimple";
				//alert("url" + url);
				parent.document.location.href = url;
				isClicked = false;
			}
		}

		function changeRepository(selectBox)
		{
			var repositoryId = selectBox.value;
			var url = "ViewSiteNodePageComponents!listComponents.action?siteNodeId=$siteNodeId&languageId=$languageId&contentId=$contentId&parentComponentId=$!parentComponentId&slotId=$slotId&specifyBaseTemplate=$!specifyBaseTemplate&showSimple=$showSimple&$allowedComponentNamesAsUrlEncodedString&$disallowedComponentNamesAsUrlEncodedString&$allowedComponentGroupNamesAsUrlEncodedString&filterRepositoryId=" + repositoryId;
			//alert("url:" + url);
			document.location.href = url;
		}

		function toggleDiv(id)
		{
			var div = document.getElementById(id);
			if(div.style.display == 'none')
				div.style.display = 'block';
			else
				div.style.display = 'none';
		}

		function deleteAllReferences()
		{
			document.location.href = "DeleteSiteNode!deleteAllReferences.action?siteNodeId=$originalSiteNodeId";
		}

		$(document).ready(function(){

			#set($extraParameter = '"iDisplayLength":5,"aLengthMenu":[5, 10, 25, 50]')
			#initDataTableImpl("contentVersions" $extraParameter)
			#initDataTableImpl("siteNodes" $extraParameter)

			$("#tabsContainer").tabs(
	  			{
	  				cache: false,
	  				show:function() { resizeScrollArea();}
	  			}
	  		);

		});
	-->
	</script>
#end

#beginLightCommonToolV3Impl("tool.structuretool.deleteSiteNode.header" "$originalSiteNodeId" "siteNodeId=$originalSiteNodeId&repositoryId=$!repositoryId&changeTypeId=$changeTypeId" false true $!disableCloseButton $headerMarkup false "")

#lightMenuToolbar("" $buttons $rightButtons)

<div style="clear: both;"></div>

<h3>$ui.getString("tool.structuretool.fixReferencesBeforeDelete.header")</h3>

<div id="tabsContainer" class="flora cleanTopDiv">
	<ul>
        <li><a href="#contentReferencesTab"><span>$ui.getString("tool.structuretool.contentVersionReferences.header")</span></a></li>
        <li><a href="#pageReferencesTab"><span>$ui.getString("tool.structuretool.siteNodeReferences.header")</span></a></li>
    </ul>

    <div id="contentReferencesTab" class="inlineTabDiv">
		<table cellpadding="0" cellspacing="0" border="1" class="display" id="contentVersions" width="100%">
			<thead>
				<tr>
					<th>$ui.getString("tool.common.action.label")</th>
					<th>$ui.getString("tool.contenttool.searchResultContentHeader")</th>
					<th>$ui.getString("tool.structuretool.deleteReferences.referencesFound")</th>
					<th>$ui.getString("tool.structuretool.contactPersonEmail.label")</th>
				</tr>
			</thead>
			<tbody>
				#set($hasContentReferences = false)
				#foreach ($referenceBean in $referenceBeanList)
					#if($referenceBean.referencingCompletingObject.class.name.indexOf("Content") > -1)
						#set($hasContentReferences = true)
						#set($lastIndex = $referenceBean.versions.size() - 1)
						<tr>
							<td><a class="deleteCross" href="DeleteSiteNode!deleteReference.action?siteNodeId=$originalSiteNodeId#foreach($version in $referenceBean.versions)#foreach($registryVO in $version.registryVOList)&registryId=$registryVO.id#end#end&returnAddress=$returnAddress&userSessionKey=$userSessionKey">&nbsp;</a></td>
							##<td><a class="deleteCross" title="$ui.getString("tool.common.delete.label") $infogluePrincipal.name" href="DeleteSystemUser.action?userName=$formatter.encodeBase64($infogluePrincipal.name)&igSecurityCode=$securityCode">&nbsp;</a></td>
							<td>
								<a href="ViewContentVersion!standalone.action?contentId=$referenceBean.referencingCompletingObject.contentId&languageId=$referenceBean.versions.get($lastIndex).referencingObject.languageId" target="_blank">$referenceBean.path</a>
			 				</td>
			 				<td>
			 					$referenceBean.versions.get($lastIndex).registryVOList.size()
			 				</td>
			 				<td>
								$referenceBean.contactPersonEmail
			 				</td>
						</tr>
					#end
				#end

				#if(!$hasContentReferences)
					<tr>
						<td>&nbsp;</td>
						<td>$ui.getString("tool.structuretool.noContentReferencesFound")</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
				#end

			</tbody>
		</table>
    </div>

    <div id="pageReferencesTab" class="inlineTabDiv">
		<table cellpadding="0" cellspacing="0" border="1" class="display" id="siteNodes" width="100%">
			<thead>
				<tr>
					<th>$ui.getString("tool.common.action.label")</th>
					<th>$ui.getString("tool.contenttool.searchResultPageHeader")</th>
					<th>$ui.getString("tool.structuretool.deleteReferences.referencesFound")</th>
					<th>$ui.getString("tool.structuretool.contactPersonEmail.label")</th>
				</tr>
			</thead>
			<tbody>
				#set($hasPageReferences = false)
				#foreach ($referenceBean in $referenceBeanList)
					#if($referenceBean.referencingCompletingObject.class.name.indexOf("SiteNode") > -1)
						#set($hasPageReferences = true)
						#set($lastIndex = $referenceBean.versions.size() - 1)
						<tr>
							<td><a class="deleteCross" href="DeleteSiteNode!deleteReference.action?siteNodeId=$originalSiteNodeId#foreach($version in $referenceBean.versions)#foreach($registryVO in $version.registryVOList)&registryId=$registryVO.id#end#end&returnAddress=$returnAddress&userSessionKey=$userSessionKey">&nbsp;</a></td>
							##<td><a class="deleteCross" title="$ui.getString("tool.common.delete.label") $infogluePrincipal.name" href="DeleteSystemUser.action?userName=$formatter.encodeBase64($infogluePrincipal.name)&igSecurityCode=$securityCode">&nbsp;</a></td>
							<td>
								<a href="ViewContentVersion!standalone.action?contentId=$referenceBean.referencingCompletingObject.contentId&languageId=$referenceBean.versions.get($lastIndex).referencingObject.languageId" target="_blank">$referenceBean.path</a>
			 				</td>
			 				<td>
			 					$referenceBean.versions.get($lastIndex).registryVOList.size()
			 				</td>
			 				<td>
								$referenceBean.contactPersonEmail
			 				</td>
						</tr>
					#end
				#end

				#if(!$hasPageReferences)
					<tr>
						<td>&nbsp;</td>
						<td>$ui.getString("tool.contenttool.noPageReferencesFound")</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
				#end

			</tbody>
		</table>
    </div>
</div>
#*
<div id="igEditArea" class="igScrollArea" onfocus="this.blur();">

	<form method="POST" name="editForm" action="DeleteSiteNode.action" style="margin: 0px 16px 0px 16px;">
		<table border="0" cellpadding="2" cellspacing="0" width="100%">
			<tr>
				<td colspan="4" width="100%"><b>$ui.getString("tool.structuretool.siteNodeReferences.header")</b></td>
			</tr>
			#set($hasPageReferences = false)
			#foreach ($referenceBean in $referenceBeanList)		
				#if($referenceBean.referencingCompletingObject.class.name.indexOf("SiteNode") > -1)
					#set($hasPageReferences = true)
					<tr>
						<td><img src="css/images/tree/structureRoot.gif"></td>
						<td width="100%">$referenceBean.path / <a href="DeleteContent!fixPage.action?siteNodeId=$referenceBean.referencingCompletingObject.siteNodeId&contentId=-1&returnAddress=$returnAddress" target="_blank">$referenceBean.name</a> ($ui.getString("tool.structuretool.contactPersonEmail.label") <span class="contactPersonEmail">$referenceBean.contactPersonEmail</span>) #if($referenceBean.registryVOList.size() > 1)- $referenceBean.registryVOList.size() $ui.getString("tool.structuretool.referencesFound")#end</td>
						<td><a href="DeleteContent!fixPage.action?siteNodeId=$referenceBean.referencingCompletingObject.siteNodeId&contentId=-1" target="_blank"><img src="css/images/edit.gif" border="0"></a></td>
						<td><a href="DeleteSiteNode!deleteReference.action?siteNodeId=$originalSiteNodeId#foreach($version in $referenceBean.versions)#foreach($registryVO in $version.registryVOList)&registryId=$registryVO.id#end#end&returnAddress=$returnAddress&userSessionKey=$userSessionKey"><img src="css/images/ok_icon.gif" border="0"></a><img src="css/images/trans.gif" border="0" width="5" height="5"></td>		
					</tr>	
				#end
			#end
			#if(!$hasPageReferences)
				<tr>
					<td colspan="4">$ui.getString("tool.structuretool.noPageReferencesFound")</td>		
				</tr>	
			#end
			
			<tr>
				<td colspan="4"><img src="css/images/trans.gif" height="10" width="1"></td>
			</tr>
			<tr>
				<td colspan="4" width="100%"><b>$ui.getString("tool.structuretool.contentVersionReferences.header")</b></td>
			</tr>
			#set($hasContentReferences = false)
			#foreach ($referenceBean in $referenceBeanList)
				#if($referenceBean.referencingCompletingObject.class.name.indexOf("Content") > -1)
					#set($hasContentReferences = true)
					#set($lastIndex = $referenceBean.versions.size() - 1)
					#set($languageId = $referenceBean.versions.get($lastIndex).referencingObject.languageId)
					<tr>
						<td><img src="css/images/tree/contentRoot.gif"></td>
						<td width="100%"><span class="mainRow">$referenceBean.path / <a href="ViewContentVersion!standalone.action?contentId=$referenceBean.referencingCompletingObject.contentId&languageId=$languageId" target="_blank">$referenceBean.name</a></span> $ui.getString("tool.structuretool.contactPersonEmail.label") <span class="contactPersonEmail">$referenceBean.contactPersonEmail</span> - $referenceBean.versions.size() $ui.getString("tool.structuretool.referencesFound")</td>
						<td nowrap="1"><a href="ViewContentVersion!standalone.action?contentId=$referenceBean.referencingCompletingObject.contentId&languageId=$languageId" target="_blank"><img src="css/images/edit.gif" border="0"></a><img src="css/images/trans.gif" border="0" width="5" height="5"></td>
						<td nowrap="1"><a href="DeleteSiteNode!deleteReference.action?siteNodeId=$originalSiteNodeId#foreach($version in $referenceBean.versions)#foreach($registryVO in $version.registryVOList)&registryId=$registryVO.id#end#end&returnAddress=$returnAddress&userSessionKey=$userSessionKey"><img src="css/images/ok_icon.gif" border="0"></a><img src="css/images/trans.gif" border="0" width="5" height="5"></td>		
					</tr>	
				#end
			#end
			#if(!$hasContentReferences)
				<tr>
					<td colspan="4">$ui.getString("tool.structuretool.noContentReferencesFound")</td>		
				</tr>
			#end
			<tr>
				<td style="border-width: 0;" colspan="4"><img src="images/trans.gif" height="10" width="1"></td>
			</tr>
			<tr class="linkAction">
				<td class="smalllabel" colspan="4" width="100%"><a href="DeleteSiteNode!deleteAllReferences.action?siteNodeId=$originalSiteNodeId">$ui.getString("tool.structuretool.removeAllReferences")</td>
			</tr>
		</table>
	</form>

</div>*#

#lightFooterToolbar($footerButtons)

#endCommonToolV3()