#define( $headerMarkup )

	<style type="text/css">
		@import "script/jqueryplugins-latest/dataTables/media/css/ig_table.css";
	</style>
	<script type="text/javascript" language="javascript" src="script/jqueryplugins-latest/dataTables/media/js/jquery.dataTables.min.js"></script>

	<script type="text/javascript">
	<!-- 
		var isClicked = false;
		function changeComponent(componentId)
	    {
	    	//alert("siteNodeId: $siteNodeId");
	    	//alert("languageId: $languageId");
	    	//alert("parentComponentId: $!parentComponentId");
	    	//alert("contentId: $!contentId");
	    	//alert("$slotId: $slotId");
	    	//alert("componentId:" + componentId);
	    	var regardAsCompatible = document.getElementById("regardAsCompatible").checked;
	    	var changeMethod = $("#changeMethod").val();
	    	var recursionMethod = $("#recursionMethod").val();
			if(!isClicked){
				isClicked = true;
		    	url = "ViewSiteNodePageComponents!changeComponent.action?siteNodeId=$siteNodeId&languageId=$languageId&contentId=$contentId&componentId=$!componentId&newComponentContentId=" + componentId + "&slotId=$slotId&specifyBaseTemplate=$!specifyBaseTemplate&showSimple=$showSimple&regardAsCompatible=" + regardAsCompatible + "&recursionMethod=" + recursionMethod + "&changeMethod=" + changeMethod;
			    //alert("url" + url);
			    
			    var confirmMessage = "$ui.getString("tool.structuretool.changeComponentError.messageVariant1")";
			    if(changeMethod == "matchComponentContentId" && recursionMethod == "onlyThisPage")
			    	confirmMessage = "$ui.getString("tool.structuretool.changeComponentError.messageVariant2")";
			    else if(changeMethod == "matchComponentIdAndSlotName" && recursionMethod == "thisAndSubpages")
			    	confirmMessage = "$ui.getString("tool.structuretool.changeComponentError.messageVariant3")";
			    else if(changeMethod == "matchComponentContentId" && recursionMethod == "thisAndSubpages")
			    	confirmMessage = "$ui.getString("tool.structuretool.changeComponentError.messageVariant4")";
			    else if(changeMethod == "matchComponentIdAndSlotName" && recursionMethod == "theEntireRepository")
				    confirmMessage = "$ui.getString("tool.structuretool.changeComponentError.messageVariant5")";
			    else if(changeMethod == "matchComponentContentId" && recursionMethod == "theEntireRepository")
					confirmMessage = "$ui.getString("tool.structuretool.changeComponentError.messageVariant6")";
			    
			    if(confirm(confirmMessage))
			    {
			    	parent.location.href = url;
			    }
		    }
	    }
	
		function changeRepository(selectBox)
		{
			var repositoryId = selectBox.value;
	    	var regardAsCompatible = document.getElementById("regardAsCompatible").checked;
	    	var changeMethod = $("#changeMethod").val();
	    	var recursionMethod = $("#recursionMethod").val();
			var url = "ViewSiteNodePageComponents!listComponentsForChange.action?siteNodeId=$siteNodeId&languageId=$languageId&contentId=$contentId&parentComponentId=$!parentComponentId&slotId=$slotId&componentId=$!componentId&specifyBaseTemplate=$!specifyBaseTemplate&showSimple=$showSimple&$allowedComponentNamesAsUrlEncodedString&$disallowedComponentNamesAsUrlEncodedString&$allowedComponentGroupNamesAsUrlEncodedString&filterRepositoryId=" + repositoryId + "&regardAsCompatible=" + regardAsCompatible + "&recursionMethod=" + recursionMethod + "&changeMethod=" + changeMethod;
			//alert("url:" + url);
			document.location.href = url;
		}

		function toggleDiv(id)
		{
			var div = document.getElementById(id);
			if(div.style.display == 'none')
				div.style.display = 'block';
			else
				div.style.display = 'none';
		}

		
		$(document).ready(function(){

			#set($extraParameter = '"iDisplayLength": 20')
			#if($useSimpleComponentDialog)
			#set($extraParameter = '"aoColumns": [ { "sWidth": "30px" }, null ], "iDisplayLength": 20')
			#end
			#initDataTableImpl("dataTable" $extraParameter)
			
			$("#dataTable_filter :text").focus();
			
			$("#tabsContainer").tabs({ cache: false, show:function(event, ui) { 
					resizeScrollArea(); 
				}, 
				select: function(e, ui) { 
					if(ui.index == 1) {
						//alert("Loading forms");
						jQuery.get("ViewSiteNodePageComponents!listFormComponentsForChange.action", function(data) {
								//alert('Data:' + data);
								$("#formsTab").html(data);
								
								#set($extraParameter = '"iDisplayLength": 20')
								#initDataTableImpl("dataTableForms" $extraParameter)
							});
					}
				}
			});

		});
	-->
	</script>
#end

#beginLightCommonToolV3Impl("tool.structuretool.chooseComponentToAddTitle" "$!siteNodeId" "" false true $!disableCloseButton $headerMarkup false "")

#lightMenuToolbar("" $buttons $rightButtons) 

<div style="clear: both;"></div>

<h3>$ui.getString("tool.structuretool.clickComponentToChangeToLabel") - $componentName</h3>
<div id="tabsContainer" class="flora cleanTopDiv">      
	<ul>
        <li><a href="#simpleTab"><span>$ui.getString("tool.common.basic.label")</span></a></li>
        <li><a href="#formsTab"><span>$ui.getString("tool.common.forms.label")</span></a></li>
        <li><a href="#advancedTab"><span>$ui.getString("tool.common.advanced.label")</span></a></li>
    </ul>

	<div id="simpleTab" class="inlineTabDiv">
		
		<table cellpadding="0" cellspacing="0" border="1" class="display" id="dataTable">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th>$ui.getString("tool.structuretool.componentNameLabel")</th>
				#if(!$useSimpleComponentDialog)
				<th>$ui.getString("tool.structuretool.repositoryLabel")</th>
				<th>$ui.getString("tool.structuretool.groupNameLabel")</th>
				#end
			</tr>
		</thead>
		<tbody>
			
		#set($prevId = -1)
		#set($sortedComponents = $this.getSortedComponents($sortProperty))
		#foreach ($content in $sortedComponents)
			#set($duplicate = false)
			#if($prevId == $content.id)
				#set($duplicate = true)
			#end
			#set($prevId = $content.id)
			
			#set($hasAccessToContent = true)
			#if($content.isProtected == 1)
				#set($hasAccessToContent = $this.hasAccessTo("Component.Select", "$content.id"))
			#end
			
			#if($hasAccessToContent && !$duplicate && ($filterRepositoryId == -1 || $content.repositoryId == $filterRepositoryId))

				#set($imageUrl = $this.getDigitalAssetUrl($content.id, "thumbnail"))
				#if("$!imageUrl" == "")
					#set($imageUrl = "css/images/componentIcon.gif")
				#end
				<tr>
					#if($imageUrl.indexOf("componentIcon.gif") > -1)
						#set($width = "16")
					#else
						#set($width = "40")
					#end
					<td align="center"><a href="javascript:changeComponent('$content.id');"><img src="$imageUrl" border="0" width="$width"></a>&nbsp;</td>
					<td>
						<a href="javascript:changeComponent('$content.id');">$content.getName()</a><br/><br/>
						#if($content.extraProperties.get("Description") != "Unknown" && $content.extraProperties.get("Description") != "")
						<span id="descLayer$content.id" style="margin-top: 4px;"><b>$ui.getString("tool.structuretool.descriptionLabel"):</b><br/>
						#if($content.extraProperties.get("Description"))
							$content.extraProperties.get("Description")
						#else
							No description
						#end
						</span>
						#end
					</td>
					#if(!$useSimpleComponentDialog)
					<td>
						#foreach ($repositoryVO in $allRepositories)
					    	#if($repositoryVO.id == $content.repositoryId)
					    		$repositoryVO.getName()
					    	#end
					    #end
					</td>
					<td>$content.extraProperties.get("GroupName").replaceAll(",","<br/>")</td>
					#end
				</tr>
				#set($imageUrl = "")
			#end
		#end
			
		</tbody>
		</table>
		<br/>
		<br/>
	</div>
	
	<div id="formsTab" class="inlineTabDiv">
		
	</div>
	
	<div id="advancedTab" class="inlineTabDiv">
		#if(!$useSimpleComponentDialog)
		<p>
			#set($allRepositories = $repositories)
		    	
			$ui.getString("tool.structuretool.addComponentChangeRepositoryLabel")<br/>
			<select size="1" name="repositoryId" class="sitedropbox" onChange="javascript:changeRepository(this);" class="contenttool">
			    <option value="-1" #if($repositoryVO.id == $filterRepositoryId) selected="1" #end>$ui.getString("tool.structuretool.allRepostoriesLabel")</option>
			    #foreach ($repositoryVO in $allRepositories)
			    <option value="$repositoryVO.getRepositoryId()" #if($repositoryVO.id == $filterRepositoryId) selected="1" #end>$repositoryVO.getName()</option>
			    #end
			</select>
		</p>
		#end
		
		<p>
			$ui.getString("tool.structuretool.changeComponentMethod.label")<br/>
			<select size="1" id="changeMethod" name="changeMethod" class="sitedropbox" class="contenttool">
			    <option value="matchComponentIdAndSlotName">$ui.getString("tool.structuretool.changeComponentMethod.matchComponentIdAndSlotName.label")</option>
			    <!--<option value="matchComponentId">$ui.getString("tool.structuretool.changeComponentMethod.matchComponentId.label")</option>-->
			    <option value="matchComponentContentId">$ui.getString("tool.structuretool.changeComponentMethod.matchComponentContentId.label")</option>
			</select>
		</p>
		<p>
			$ui.getString("tool.structuretool.changeComponentRecursionOptions.label")<br/>
			<select size="1" id="recursionMethod" name="recursionMethod" class="sitedropbox" class="contenttool">
			    <option value="onlyThisPage">$ui.getString("tool.structuretool.changeComponentRecursionOptions.onlyThisPage.label")</option>
			    <option value="thisAndSubpages">$ui.getString("tool.structuretool.changeComponentRecursionOptions.thisAndSubpages.label")</option>
			    <option value="theEntireRepository">$ui.getString("tool.structuretool.changeComponentRecursionOptions.theEntireRepository.label")</option>
			</select>
		</p>
		<p>
			Keep other components and properties intact<br/>
			<input type="checkbox" name="regardAsCompatible" id="regardAsCompatible" value="true" checked="checked"/><br/>
		</p>
		
	</div>
</div>
	
##lightFooterToolbar($footerButtons)
	
#endCommonToolV3()