#beginLightCommonToolV3Impl("tool.structuretool.chooseComponentToAddTitle" "$!siteNodeId" "" false true $!disableCloseButton "" false "")

	<div class="fullymarginalized">
		<h3>$ui.getString("tool.structuretool.changeComponentError.header")</h3>
		<p>$ui.getString("tool.structuretool.changeComponentError.text")</p>
		<ul>
		#foreach ($erroneousSiteNodePath in $erroneousSiteNodePaths)
			<li style="padding-bottom: 2px;">$erroneousSiteNodePath</li>
		#end
		</ul>
	</div>

#endCommonToolV3()
