#define( $headerMarkup )
	<script type="text/javascript">
	<!-- 
		$(document).ready(function() {
			#if($errorsOccurred)
				alert("$ui.getString("tool.contenttool.moveMultiplePages.failureText")");
			#else
				alert("$ui.getString("tool.contenttool.siteNodeMoved.confirmation", $siteNodeVO.name)");
			#end
	
			parent.refreshTreeSurface();
			if(close) close(); if(parent && parent.document.location.href != document.location.href && parent.closeInlineDiv) parent.closeInlineDiv(); else if(parent && parent.document.location.href != document.location.href && parent.closeDialog) parent.closeDialog(); else { window.close();}
		});
	-->
	</script>
#end

#beginLightCommonToolV3Impl("tool.structuretool.moveMultipleSiteNode.finished" "" "" false true $!disableCloseButton $headerMarkup false "")
	
#*
	#lightMenuToolbar("" $buttons $rightButtons) 

	<div style="clear: both;"></div>

	<h3>$ui.getString("tool.structuretool.moveMultipleSiteNode.finished")</h3>
	<p>
		$ui.getString("tool.contenttool.moveMultiplePages.successText")
	</p>
	#if($errorsOccurred)
	<p>
		$ui.getString("tool.contenttool.moveMultiplePages.failureText")
	</p>
	#end
	
	#lightFooterToolbar($footerButtons)
*#

#endLightCommonToolV3()

