#define( $headerMarkup )
	<script type="text/javascript">
	<!-- 
		$(document).ready(function() {
			parent.refreshTreeSurface();
		});
	-->
	</script>
#end

#beginLightCommonToolV3Impl("tool.structuretool.moveMultipleSiteNode.finished" "" "" false true $!disableCloseButton $headerMarkup false "")
	
	#lightMenuToolbar("" $buttons $rightButtons) 

	<div style="clear: both;"></div>

	<h3>$ui.getString("tool.structuretool.moveMultipleSiteNode.finished")</h3>
	<p>
		$ui.getString("tool.contenttool.moveMultiplePages.successText")
	</p>
	#if($errorsOccurred)
	<p>
		$ui.getString("tool.contenttool.moveMultiplePages.failureText")
	</p>
	#end
	
	#lightFooterToolbar($footerButtons)

#endLightCommonToolV3()

