<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
	<title>Select destination node</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	
	<script type="text/javascript" language="JavaScript">
	<!-- 
	    function notifyIsLoaded()
	    {
	    }
	    
	    function notifyExp(v)
	    {
	    }

		function htmlTreeItemClick(itemId, repoId)
		{
		    document.inputForm.newParentSiteNodeId.value = itemId;
		}
	
		function loadMainArea(siteNodeId, repositoryId, path)
		{
		    document.inputForm.newParentSiteNodeId.value = siteNodeId;
		}
	    
	    function submitMove()
		{
			//alert("Here we should refresh the tree and close this window by calling either viewSiteNode with refreshParams or call the tree...");
			siteNodeId = document.inputForm.siteNodeId.value;
		    newParentSiteNodeId = document.inputForm.newParentSiteNodeId.value;
			changeTypeId = 3; //3 = Move...
			
			if(newParentSiteNodeId != "")
			{
			    if (confirm('Are you sure you want to move the siteNode to the folder you have just selected?'))
				{
					url = 'MoveSiteNode.action?repositoryId=$repositoryId&siteNodeId=' + siteNodeId + '&newParentSiteNodeId=' + newParentSiteNodeId + "&changeTypeId=" + changeTypeId;
				    //alert('Calling:' + url);
				    self.opener.parent.frames["main"].location.href = url;
				    window.close();
				    //document.inputForm.submit();
				}
			}
		    else
		    {
				alert("You must select a target node to move to.");
			}
		}
	-->
	</script>
	
	<link rel="stylesheet" type="text/css" href="css/cms.css" /> 
</head>

<body class="structuretool">

<table class="structuretool" cellpadding="0" cellspacing="0" border="0" width="100%" height="100%">
<tr>
	<td height="1" colspan="3" bgcolor="#FFFFFF"><img src="images/trans.gif" width="1" height="1"></td>
</tr>
<tr>
	<td bgcolor="#FFFFFF"><img src="images/trans.gif" width="1" height="1"></td>
	<td valign="top" width="100%">
		
		<table cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td class="menu"><img src="images/trans.gif" height="15"></td>
		</tr>
		<tr>
			<td class="menu"><b>Select which node you wish to move the page to</b></td>
		</tr>
		<tr>
			<td class="menu">  
  
  					#if($tree == "applet")
  						#showJavaTree("350" "500" "240" "225" "180" "SiteNode" $repositoryId $hideLeafs)
					#else
						<IFRAME frameborder="0" name="itreeFrame" id="itreeFrame" src="ViewStructureHtmlTree.action?showLeafs=no&repositoryId=${repositoryId}" width="350" height="500" align="baseline"></IFRAME>
					#end

			</td>
		</tr>	
		<tr>
			<td class="menu"><img src="images/trans.gif" height="5"></td>
		</tr>
		<tr>
			<td><form name="inputForm" action="">
				<input type="hidden" name="siteNodeId" value="$siteNodeId">
				<input type="hidden" name="newParentSiteNodeId" value="">
				<a href="javascript:submitMove();"><img src="$ui.getString("images.structuretool.buttons.save")" border="0"></a>
				<a href="javascript:window.close();"><img src="$ui.getString("images.structuretool.buttons.cancel")" border="0"></a>
				</form>
			</td>
		</tr>		
		</table>
	
	</td>	
	<td bgcolor="#999999"><img src="images/trans.gif" width="1" height="1"></td>
</tr>
<tr>
	<td height="1" colspan="3" bgcolor="#FFFFFF"><img src="images/trans.gif" width="1" height="1"></td>
</tr>
</table>


</body>
</html>
