#define( $headerMarkup )

	<style type="text/css">
		@import "script/jqueryplugins/dataTables/media/css/ig_table.css";
	</style>
	<script type="text/javascript" language="javascript" src="script/jqueryplugins/dataTables/media/js/jquery.dataTables.min.js"></script>

	<script type="text/javascript">
	<!-- 
	   	function changeComponent(componentId)
	    {
	    	//alert("siteNodeId: $siteNodeId");
	    	//alert("languageId: $languageId");
	    	//alert("parentComponentId: $!parentComponentId");
	    	//alert("contentId: $!contentId");
	    	//alert("$slotId: $slotId");
	    	//alert("componentId:" + componentId);
	    		
	    	url = "ViewSiteNodePageComponents!changeComponent.action?siteNodeId=$siteNodeId&languageId=$languageId&contentId=$contentId&componentId=$!componentId&newComponentContentId=" + componentId + "&slotId=$slotId&specifyBaseTemplate=$!specifyBaseTemplate&showSimple=$showSimple";
		    //alert("url" + url);
	    	parent.location.href = url;
	    }
	
		function changeRepository(selectBox)
		{
			var repositoryId = selectBox.value;
			var url = "ViewSiteNodePageComponents!listComponentsForChange.action?siteNodeId=$siteNodeId&languageId=$languageId&contentId=$contentId&parentComponentId=$!parentComponentId&slotId=$slotId&componentId=$!componentId&specifyBaseTemplate=$!specifyBaseTemplate&showSimple=$showSimple&$allowedComponentNamesAsUrlEncodedString&$disallowedComponentNamesAsUrlEncodedString&$allowedComponentGroupNamesAsUrlEncodedString&filterRepositoryId=" + repositoryId;
			//alert("url:" + url);
			document.location.href = url;
		}

		function toggleDiv(id)
		{
			var div = document.getElementById(id);
			if(div.style.display == 'none')
				div.style.display = 'block';
			else
				div.style.display = 'none';
		}

		
		$(document).ready(function(){

			#set($extraParameter = '')
			#initDataTableImpl("dataTable" $extraParameter)
			
		});
	-->
	</script>
#end

#beginLightCommonToolV3Impl("tool.structuretool.chooseComponentToAddTitle" "$!siteNodeId" "" false true $!disableCloseButton $headerMarkup false "")

#lightMenuToolbar("" $buttons $rightButtons) 

<div style="clear: both;"></div>

<h3>$ui.getString("tool.structuretool.clickComponentToAddLabel")</h3>
<p>
	#set($allRepositories = $repositories)
    	
	$ui.getString("tool.structuretool.addComponentChangeRepositoryLabel")<br/>
	<select size="1" name="repositoryId" class="sitedropbox" onChange="javascript:changeRepository(this);" class="contenttool">
	    <option value="-1" #if($repositoryVO.id == $filterRepositoryId) selected="1" #end>$ui.getString("tool.structuretool.allRepostoriesLabel")</option>
	    #foreach ($repositoryVO in $allRepositories)
	    <option value="$repositoryVO.getRepositoryId()" #if($repositoryVO.id == $filterRepositoryId) selected="1" #end>$repositoryVO.getName()</option>
	    #end
	</select>
</p>

<div id="igEditArea" class="igScrollArea" onfocus="this.blur();">

	<table cellpadding="0" cellspacing="0" border="1" class="display" id="dataTable">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th>$ui.getString("tool.structuretool.componentNameLabel")</th>
				<th>$ui.getString("tool.structuretool.repositoryLabel")</th>
				<th>$ui.getString("tool.structuretool.groupNameLabel")</th>
			</tr>
		</thead>
		<tbody>
			
		#set($prevId = -1)
		#set($sortedComponents = $this.getSortedComponents($sortProperty))
		#foreach ($content in $sortedComponents)
			#set($duplicate = false)
			#if($prevId == $content.id)
				#set($duplicate = true)
			#end
			#set($prevId = $content.id)
			
			#set($hasAccessToContent = true)
			#if($content.isProtected == 1)
				#set($hasAccessToContent = $this.hasAccessTo("Component.Select", "$content.id"))
			#end
			
			#if($hasAccessToContent && !$duplicate && ($filterRepositoryId == -1 || $content.repositoryId == $filterRepositoryId || $this.getIsPagePartTemplate($content.contentTypeDefinitionId)))

				#set($imageUrl = $this.getDigitalAssetUrl($content.id, "thumbnail"))
				#if("$!imageUrl" == "")
					#set($imageUrl = "images/componentIcon.gif")
				#end
				<tr>
					#if($imageUrl.indexOf("componentIcon.gif") > -1)
						#set($width = "16")
					#else
						#set($width = "40")
					#end
					<td align="center"><a href="javascript:changeComponent('$content.id');"><img src="$imageUrl" border="0" width="$width"></a>&nbsp;</td>
					<td>
						<a href="javascript:changeComponent('$content.id');">$content.getName()</a><br/><br/>
						#if($content.extraProperties.get("Description") != "Unknown" && $content.extraProperties.get("Description") != "")
						<span id="descLayer$content.id" style="margin-top: 4px;"><b>$ui.getString("tool.structuretool.descriptionLabel"):</b><br/>
						#if($content.extraProperties.get("Description"))
							$content.extraProperties.get("Description")
						#else
							No description
						#end
						</span>
						#end
					</td>
					<td>
						#foreach ($repositoryVO in $allRepositories)
					    	#if($repositoryVO.id == $content.repositoryId)
					    		$repositoryVO.getName()
					    	#end
					    #end
					</td>
					<td>$content.extraProperties.get("GroupName").replaceAll(",","<br/>")</td>
				</tr>
				#set($imageUrl = "")
			#end
		#end
			
		</tbody>
	</table>

</div>

#lightFooterToolbar($footerButtons)
	
#endCommonToolV3()

#*
<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
	<title>$ui.getString("tool.structuretool.chooseComponentToAddTitle")</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	
	<script type="text/javascript" language="JavaScript">
	<!-- 
	-->
	</script>
	
	<link rel="stylesheet" type="text/css" href="css/cms.css" /> 
	<link rel="stylesheet" type="text/css" href="css/componentEditor.css" /> 
</head>

<body class="structuretooledit">

#set($allRepositories = $repositories)

<table class="structuretooledit" cellpadding="0" cellspacing="0" border="0" width="100%" height="100%">
<tr>
	<td valign="top">
		
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tr>
			<td colspan="5"><img src="images/trans.gif" height="10"></td>
		</tr>
		<tr class="darkapricot">
			<td colspan="5" class="smalllabel">$ui.getString("tool.structuretool.clickComponentToAddLabel")</td>
		</tr>
		<tr>
			<td colspan="5" height="1" bgcolor="#FEF8D0"><img src="images/trans.gif" width="1" height="1"></td>
		</tr>
		<tr>
			<td colspan="5" height="1" bgcolor="#F0E1B4"><img src="images/trans.gif" width="1" height="1"></td>
		</tr>
		<tr>
			<td colspan="5" height="1"><img src="images/trans.gif" width="1" height="15"></td>
		</tr>
		<tr>
			<td colspan="5">$ui.getString("tool.structuretool.addComponentChangeRepositoryLabel")<br/>
		  		<select size="1" name="repositoryId" class="sitedropbox" onChange="javascript:changeRepository(this);" class="contenttool">
				    <option value="-1" #if($repositoryVO.id == $filterRepositoryId) selected="1" #end>$ui.getString("tool.structuretool.allRepostoriesLabel")</option>
				    #foreach ($repositoryVO in $allRepositories)
				    <option value="$repositoryVO.getRepositoryId()" #if($repositoryVO.id == $filterRepositoryId) selected="1" #end>$repositoryVO.getName()</option>
				    #end
				</select>
			</td>
		</tr>
		<tr>
			<td height="5"><img src="images/trans.gif" width="1" height="15"></td>
		</tr>	
		<tr style="background-color:#F0E1B4; height:20px;">
			<td height="1" width="50">&nbsp;</td>
			<td height="1">
				<strong><a href="ViewSiteNodePageComponents!listComponentsForChange.action?siteNodeId=$siteNodeId&languageId=$languageId&contentId=$contentId&specifyBaseTemplate=$!specifyBaseTemplate&parentComponentId=$!parentComponentId&slotId=$slotId&filterRepositoryId=$filterRepositoryId&sortProperty=name&showSimple=$showSimple&$allowedComponentNamesAsUrlEncodedString&$disallowedComponentNamesAsUrlEncodedString&$allowedComponentGroupNamesAsUrlEncodedString">$ui.getString("tool.structuretool.componentNameLabel")</a></strong>
				#if($sortProperty == "name")<img src="images/downArrow.gif">#end
			</td>
			<td height="1">
				<strong><a href="ViewSiteNodePageComponents!listComponentsForChange.action?siteNodeId=$siteNodeId&languageId=$languageId&contentId=$contentId&specifyBaseTemplate=$!specifyBaseTemplate&parentComponentId=$!parentComponentId&slotId=$slotId&filterRepositoryId=$filterRepositoryId&sortProperty=repositoryId&showSimple=$showSimple&$allowedComponentNamesAsUrlEncodedString&$disallowedComponentNamesAsUrlEncodedString&$allowedComponentGroupNamesAsUrlEncodedString">$ui.getString("tool.structuretool.repositoryLabel")</a></strong>
				#if($sortProperty == "repositoryId")<img src="images/downArrow.gif">#end
			</td>
			<td height="1">
			<strong><a href="ViewSiteNodePageComponents!listComponentsForChange.action?siteNodeId=$siteNodeId&languageId=$languageId&contentId=$contentId&specifyBaseTemplate=$!specifyBaseTemplate&parentComponentId=$!parentComponentId&slotId=$slotId&filterRepositoryId=$filterRepositoryId&sortProperty=GroupName&showSimple=$showSimple&$allowedComponentNamesAsUrlEncodedString&$disallowedComponentNamesAsUrlEncodedString&$allowedComponentGroupNamesAsUrlEncodedString">$ui.getString("tool.structuretool.groupNameLabel")</a></strong>
				#if($sortProperty == "GroupName")<img src="images/downArrow.gif">#end
			</td>
			<td height="1" width="20"><img src="images/trans.gif" width="20" height="1"></td>
		</tr>
		<tr>
			<td colspan="5" height="1" bgcolor="#FEF8D0"><img src="images/trans.gif" width="1" height="1"></td>
		</tr>
		<tr>
			<td colspan="5" height="1" bgcolor="#F0E1B4"><img src="images/trans.gif" width="1" height="1"></td>
		</tr>
		#set($prevId = -1)
		#set($isOdd = true)
		#set($sortedComponents = $this.getSortedComponents($sortProperty))
		#foreach ($content in $sortedComponents)
			#set($duplicate = false)
			#if($prevId == $content.id)
				#set($duplicate = true)
			#end
			#set($prevId = $content.id)
			
			#set($hasAccessToContent = true)
			#if($content.isProtected == 1)
				#set($hasAccessToContent = $this.hasAccessTo("Component.Select", "$content.id"))
			#end
			
			#if($hasAccessToContent && !$duplicate && ($filterRepositoryId == -1 || $content.repositoryId == $filterRepositoryId || $this.getIsPagePartTemplate($content.contentTypeDefinitionId)))

				#if($isOdd)
					#set($class = "class='lightapricot'")
					#set($isOdd = false)
				#else
					#set($class = "class='white'")
					#set($isOdd = true)
				#end
				
				#set($imageUrl = $this.getDigitalAssetUrl($content.id, "thumbnail"))
				#if("$!imageUrl" == "")
					#set($imageUrl = "images/componentIcon.gif")
				#end
				<tr $class style="padding-bottom: 2px;">
					#if($imageUrl.indexOf("componentIcon.gif") > -1)
						#set($width = "16")
					#else
						#set($width = "40")
					#end
					<td align="center" rowspan="2" style="border-bottom: 1px solid #666666;"><a href="javascript:changeComponent('$content.id');"><img src="$imageUrl" border="0" width="$width"></a>&nbsp;</td>
					<td valign="middle"><a href="javascript:changeComponent('$content.id');">$content.getName()</a></td>
					<td valign="middle">
						#foreach ($repositoryVO in $allRepositories)
					    	#if($repositoryVO.id == $content.repositoryId)
					    		$repositoryVO.getName()
					    	#end
					    #end
					</td>
					<td valign="middle">$content.extraProperties.get("GroupName")</td>
					<td valign="middle" rowspan="2" style="border-bottom: 1px solid #666666;">
						#if($content.extraProperties.get("Description") != "Unknown" && $content.extraProperties.get("Description") != "")
						<img src="images/questionMarkGrad.gif" onclick="toggleDiv('descLayer$content.id');" aonMouseOver="showDiv('descLayer$content.id');" aonMouseOut="hideDiv('descLayer$content.id');">
						#else
						&nbsp;
						#end
					</td>
				</tr>
				<tr $class style="height: 0px;">
					<td colspan="3" style="height: 0px; border-bottom: 1px solid #666666;">
						<span id="descLayer$content.id" style="display:none; padding-bottom: 4px;"><b>$ui.getString("tool.structuretool.descriptionLabel"):</b><br/>
						#if($content.extraProperties.get("Description"))
							$content.extraProperties.get("Description")
						#else
							No description
						#end
						</span>
					</td>
				</tr>
				#set($imageUrl = "")
			#end
		#end
		
		<tr>
			<td colspan="4">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="4"><a href="javascript:window.close();"><img src="$ui.getString("images.structuretool.buttons.cancel")" border="0"></a></td>
		</tr>
		</table>
	</td>	
</tr>
</table>

</body>
</html>
*#