#define( $headerMarkup )

	<style type="text/css">
		@import "script/jqueryplugins-latest/dataTables/media/css/ig_table.css";
	</style>
	<script type="text/javascript" language="javascript" src="script/jqueryplugins-latest/dataTables/media/js/jquery.dataTables.min.js"></script>

	<script type="text/javascript">
	<!-- 
		var isClicked = false;
		function addComponent(componentId) {
			//alert("siteNodeId: $siteNodeId");
			//alert("languageId: $languageId");
			//alert("parentComponentId: $!parentComponentId");
			//alert("contentId: $!contentId");
			//alert("$slotId: $slotId");
			//alert("componentId:" + componentId);
			if(!isClicked){
				isClicked = true;
				url = "ViewSiteNodePageComponents!addComponent.action?siteNodeId=$siteNodeId&languageId=$languageId&contentId=$contentId&parentComponentId=$!parentComponentId&componentId=" + componentId + "&slotId=$slotId&specifyBaseTemplate=$!specifyBaseTemplate&showSimple=$showSimple";
				//alert("url" + url);
				parent.document.location.href = url;
				isClicked = false;
			}
		}
	
		function changeRepository(selectBox)
		{
			var repositoryId = selectBox.value;
			var url = "ViewSiteNodePageComponents!listComponents.action?siteNodeId=$siteNodeId&languageId=$languageId&contentId=$contentId&parentComponentId=$!parentComponentId&slotId=$slotId&specifyBaseTemplate=$!specifyBaseTemplate&showSimple=$showSimple&$allowedComponentNamesAsUrlEncodedString&$disallowedComponentNamesAsUrlEncodedString&$allowedComponentGroupNamesAsUrlEncodedString&filterRepositoryId=" + repositoryId;
			//alert("url:" + url);
			document.location.href = url;
		}

		function toggleDiv(id)
		{
			var div = document.getElementById(id);
			if(div.style.display == 'none')
				div.style.display = 'block';
			else
				div.style.display = 'none';
		}
		
		$(document).ready(function(){

			#set($extraParameter = '')
			#initDataTableImpl("dataTable" $extraParameter)
			
		});
	-->
	</script>
#end

#beginLightCommonToolV3Impl("tool.structuretool.chooseComponentToAddTitle" "$!siteNodeId" "" false true $!disableCloseButton $headerMarkup false "")

#lightMenuToolbar("" $buttons $rightButtons) 

<div style="clear: both;"></div>

<h3>$ui.getString("tool.structuretool.clickComponentToAddLabel")</h3>
<p>
	#set($allRepositories = $repositories)
    	
	$ui.getString("tool.structuretool.addComponentChangeRepositoryLabel")<br/>
	<select size="1" name="repositoryId" class="sitedropbox" onChange="javascript:changeRepository(this);" class="contenttool">
	    <option value="-1" #if($repositoryVO.id == $filterRepositoryId) selected="1" #end>$ui.getString("tool.structuretool.allRepostoriesLabel")</option>
	    #foreach ($repositoryVO in $allRepositories)
	    <option value="$repositoryVO.getRepositoryId()" #if($repositoryVO.id == $filterRepositoryId) selected="1" #end>$repositoryVO.getName()</option>
	    #end
	</select>
</p>

<div id="igEditArea" class="igScrollArea" onfocus="this.blur();">

	<table cellpadding="0" cellspacing="0" border="1" class="display" id="dataTable">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th>$ui.getString("tool.structuretool.componentNameLabel")</th>
				<th>$ui.getString("tool.structuretool.repositoryLabel")</th>
				<th>$ui.getString("tool.structuretool.groupNameLabel")</th>
			</tr>
		</thead>
		<tbody>
			
		#set($prevId = -1)
		#set($sortedComponents = $this.getSortedComponents($sortProperty))
		#foreach ($content in $sortedComponents)
			#set($duplicate = false)
			#if($prevId == $content.id)
				#set($duplicate = true)
			#end
			#set($prevId = $content.id)
			
			#set($hasAccessToContent = true)
			#if($content.isProtected == 1)
				#set($hasAccessToContent = $this.hasAccessTo("Component.Select", "$content.id"))
			#end
			
			#if($hasAccessToContent && !$duplicate && ($filterRepositoryId == -1 || $content.repositoryId == $filterRepositoryId || $this.getIsPagePartTemplate($content.contentTypeDefinitionId)))
				
				#set($imageUrl = $this.getDigitalAssetUrl($content.id, "paletteThumbnail"))
				#if("$!imageUrl" == "")
					#set($imageUrl = $this.getDigitalAssetUrl($content.id, "thumbnail"))
					#if("$!imageUrl" == "")
						#set($imageUrl = "css/images/componentIcon.gif")
					#end
				#end
				<tr>
					#if($imageUrl.indexOf("componentIcon.gif") > -1)
						#set($width = "16")
					#else
						#set($width = "80")
					#end
					<td align="center"><a href="javascript:addComponent('$content.id');"><img src="$imageUrl" border="0" width="$width"></a>&nbsp;</td>
					<td>
						<a href="javascript:addComponent('$content.id');">$content.getName()</a><br/><br/>
						#if($content.extraProperties.get("Description") != "Unknown" && $content.extraProperties.get("Description") != "")
						<span id="descLayer$content.id" style="margin-top: 4px;"><b>$ui.getString("tool.structuretool.descriptionLabel"):</b><br/>
						#if($content.extraProperties.get("Description"))
							$content.extraProperties.get("Description")
						#else
							No description
						#end
						</span>
						#end
					</td>
					<td>
						#foreach ($repositoryVO in $allRepositories)
					    	#if($repositoryVO.id == $content.repositoryId)
					    		$repositoryVO.getName()
					    	#end
					    #end
					</td>
					<td>$content.extraProperties.get("GroupName").replaceAll(",","<br/>")</td>
				</tr>
				#set($imageUrl = "")
			#end
		#end
			
		</tbody>
	</table>

</div>

#lightFooterToolbar($footerButtons)

#endCommonToolV3()