<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
	<title>$ui.getString("tool.structuretool.chooseContentLabel")</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	
	<script type="text/javascript" language="JavaScript">
	<!-- 
		var exp;
	
	    function notifyExp(v)
	    {
	    	// The html tree notifies this page about the
	    	// current expansion key, so that we can reload
	    	// the tree with the same expansion.
	    	exp=v;
	    }
		function changeRepository(selectBox)
		{
			var repositoryId = selectBox.value;
			var url = "${currentAction}?repositoryId=" + repositoryId + "&siteNodeVersionId=${siteNodeVersionId}&availableServiceBindingId=$availableServiceBindingId&tree=$tree";
			document.location.href = url;
		}
		
		function loadMainArea(entityId, repositoryId, path)
		{
			document.inputForm.entityId.value = entityId;
		 	document.inputForm.repositoryId.value = repositoryId;
		 	document.inputForm.path.value = path;	
		}
	    
	    function submitBindning()
		{
		    //alert("Here we commit the binding and close the window...");
			entityId = document.inputForm.entityId.value;
			path = document.inputForm.path.value;
		    var repositoryId = document.inputForm.repositoryId.value;
			bindingTypeId = 0; //0 = Content, 1 = SiteNode
			
			qualifyerXML = "<?xml version='1.0' encoding='UTF-8'?>";
			qualifyerXML += "<qualifyer>";
			qualifyerXML += 	"<contentId>" + entityId + "</contentId>";
			qualifyerXML += "</qualifyer>";
			 		    
		    var url = 'CreateServiceBinding.action?repositoryId=$repositoryId&siteNodeVersionId=$siteNodeVersionId&availableServiceBindingId=$availableServiceBindingId&serviceDefinitionId=$serviceDefinitionId&stay=true&path=' + escape(path) + '&entityId=' + entityId + "&qualifyerXML=" + escape(qualifyerXML);
		    //alert('Calling:' + url);
		    //alert('qualifyerXML:' + qualifyerXML);
		    self.opener.parent.frames["main"].location.href = url;
		    window.close();
		    //document.inputForm.submit();
		}
	-->
	</script>
	
	<link rel="stylesheet" type="text/css" href="css/cms.css" /> 
</head>

<body class="contenttooledit">

<table class="contenttooledit" cellpadding="0" cellspacing="0" border="0">
<tr>
	<td valign="top" width="100%">
		
		<table cellpadding="0" cellspacing="0" border="0">
		<tr class="darkgreen">
			<td class="smalllabel">$ui.getString("tool.structuretool.chooseContentForBindingLabel")</td>
		</tr>
		<tr>
			<td bgcolor="#EEF7DC" colspan="4" height="1"><img src="images/trans.gif" width="1" height="1"></td>
		</tr>
		<tr>
			<td bgcolor="#C7D1B3" colspan="4" height="1"><img src="images/trans.gif" width="1" height="1"></td>
		</tr>
		<tr>
			<td height="1"><img src="images/trans.gif" width="1" height="5"></td>
		</tr>		
		<!-- 
		HERE IS THE REPOSITORY-LIST FOR LATER 
		-->
		<tr>
			<td>
		  		<select size="1" name="repositoryId" class="sitedropbox" onChange="javascript:changeRepository(this);" class="contenttool">
				    <option value="">$ui.getString("tool.contenttool.chooseRepositoryLabel")</option>
				    #foreach ($repositoryVO in $repositories)
				    <option value="$repositoryVO.getRepositoryId()">$repositoryVO.getName()</option>
				    #end
				</select>
			</td>
		</tr>
		<tr>
			<td height="1"><img src="images/trans.gif" width="1" height="5"></td>
		</tr>		
		<tr>
			<td class="menu">    
				#if($tree == "applet")
					#showJavaTree("350" "400" "254" "248" "208" "Content" $repositoryId "false")
				#else
					<IFRAME frameborder="0" name="itreeFrame" id="itreeFrame" src="ViewContentHtmlTree!bindingView.action?repositoryId=${repositoryId}" width="350" height="400" align="baseline"></IFRAME>
				#end
			</td>
		</tr>	
		<tr>
			<td colspan="3"><img src="images/trans.gif" width="1" height="5"></td>
		</tr>
		<tr>
			<td colspan="3">
				<a href="javascript:submitBindning();"><img src="$ui.getString("images.structuretool.buttons.save")" border="0"></a>
				<a href="javascript:window.close();"><img src="$ui.getString("images.structuretool.buttons.cancel")" border="0"></a>
			</td>
		</tr>
		<tr>
			<td>
				<form name="inputForm" action="CreateServiceBinding.action">
					<input type="hidden" name="entityId" value="">
					<input type="hidden" name="repositoryId" value="">
					<input type="hidden" name="path" value="">
					<input type="hidden" name="qualifyerXML" value="">
				</form>
			</td>
		</tr>		
		</table>
	
	</td>	
</tr>
</table>

<div style="RIGHT:10px; LEFT:10px; position:absolute; BOTTOM:5px; visibility:visible; z-index:0">
<hr size=1 noshade>
<small><font color="#666666">$ui.getString("tool.common.treestyleLabel"): <a style="color: #666666" href="${currentAction}?repositoryId=${repositoryId}&siteNodeVersionId=${siteNodeVersionId}&availableServiceBindingId=$availableServiceBindingId&tree=applet">$ui.getString("tool.common.treestyleApplet")</a> | <a style="color: #666666" href="${currentAction}?repositoryId=${repositoryId}&siteNodeVersionId=${siteNodeVersionId}&availableServiceBindingId=$availableServiceBindingId&tree=html">$ui.getString("tool.common.treestyleHTML")</a> </small></font>
</div>

</body>
</html>
