<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#beginManagementTool("tool.managementtool.createRedirect.header" "tool.managementtool.createRedirect.header" "")

<div class="fullymarginalized">

	<form name="editForm" method="POST" action="CreateRedirect.action">
		<input type="hidden" name="igSecurityCode" value="$!securityCode"/>
		<p>#editField("Redirect.url" "url" $!url "51")</p>
		<p>#editField("Redirect.redirectUrl" "redirectUrl" $!redirectUrl "51")</p>
		<p>#editDateField("SiteNode.publishDateTime" "publishDateTime" $!publishDateTime "30" "date"  "ViewCalendar.action?date=$!publishDateTime.time&formPath=document.editForm.publishDateTime" "$dateReadonly")</p>
		<p>#editDateField("SiteNode.expireDateTime" "expireDateTime" $!expireDateTime "30" "date"  "ViewCalendar.action?date=$!expireDateTime.time&formPath=document.editForm.expireDateTime" "$dateReadonly")</p>
	</form>

</div>

<div onfocus="this.blur();" id="footertoolbar">
	<div style="float: left; margin-left: 10px;">
		<input type="button" class="save" value="$ui.getString("tool.common.saveButton.label")" onclick="save(document.editForm);"/>
		<input type="button" class="cancel" value="$ui.getString("tool.common.cancelButton.label")" onclick="document.location.href='ViewListRedirect.action';"/>
	</div>
</div>

</body>
</html>
