<!DOCTYPE HTML>
<html>
  <head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		* {
			box-sizing: border-box;
		}
		body {
			color            : #123456;
			background-color : #FAF8F8;
			font-family      : "trebuchet ms", trebuchet;
			font-size        : 14px;
			background		 : url(css/images/v3/body-bg2.jpg) center center fixed no-repeat;
			background-size	 : cover;
			-webkit-background-size	: cover;
			-moz-background-size	: cover;
			-o-background-size		: cover;
		}
		
		.loginBox {
			position: absolute;
		  	top: 0;
		  	right: 0;
		 	bottom: 0;
		 	left: 0;
		 	margin: auto;
		 	width: 410px;
		  	height: 320px;
			min-width: 360px;
			border: 1px solid #eee;
			padding: 30px;
			background-color: white;
		}
		
		.namePart1 {
			font-family: "trebuchet ms", trebuchet;
			font-size: 70px;
			color:#5acbed;
		}
		.namePart2 {
			font-family: "trebuchet ms", trebuchet;
			font-size: 70px;
			color: #FFAD32;
		}
		.loginBody {
			margin-left: 60px;
		}
		
		input[type="text"],input[type="password"] { 
			width: 220px; 
			font-size: 14px; 
			border-radius: 3px;
			font-family: verdana; 
			padding: 8px; 
			background-color: white; 
			border: 1px solid #ccc; 
		}
			
		input:-webkit-autofill {
	        -webkit-box-shadow: 0 0 0px 1000px white inset;
	    }
		.login {
			##margin-top: 20px;
			padding: 4px 10px 4px 4px;
			font-size: 14px;
			font-family: verdana;
			border: 1px solid #ffaa00;
			padding: 10px 10px;
			width: 220px;
			text-align: center;
			border-radius: 3px;
			background: #ffd644; /* Old browsers */
			background: -moz-linear-gradient(top,  #ffd644 0%, #ffad33 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd644), color-stop(100%,#ffad33)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #ffd644 0%,#ffad33 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #ffd644 0%,#ffad33 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #ffd644 0%,#ffad33 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #ffd644 0%,#ffad33 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd644', endColorstr='#ffad33',GradientType=0 ); /* IE6-9 */
		}
		
		label {
			display: none;
		}
	</style> 
	
	<script type="text/javascript" language="Javascript">
	<!--
		function expandAndFocus()
		{
			document.getElementById("j_username").focus();
		}			
		-->
	</script>

</head>

<body onLoad="javascript:expandAndFocus();">

<div id="loginBox" class="loginBox">

	<div class="loginHeader" style="background: url(css/images/v3/infoglueBox.png) no-repeat; text-indent: 90px;"><span class="namePart1">Info</span><span class="namePart2">glue</span></div>
	<div class="loginBody">
		<form name="inputForm" method="POST" action="$referringUrl">
			
			<p style="color: red;">Login failed - please try again!<br>$errorMessage</p>
			<p>
				<label id="labelUserName" for="j_username">Username</label>
				<input class="input" type="text" id="j_username" name="j_username" value="" placeholder="Username">	
			</p>
			<p>
				<label id="labelPassword" for="j_password">Password</label>
				<input class="input" type="password" name="j_password" value="" placeholder="Password">
			</p>
			
			<p>
				##<div style="display: inline-block; width: 70px;">&nbsp;</div>
				<input type="submit" class="login" title="Login" value="Login">
			</p>
			
		</form>
			
	</div>
</div>

</body>
</html>