<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#beginManagementTool("tool.managementtool.deleteRepository.header" "tool.managementtool.deleteRepository.header" "")

<div class="fullymarginalized">

<h1>$ui.getString("tool.managementtool.deleteRepository.header")</h1>

<p>
    $ui.getString("tool.common.constraintsOnRepositoryDelete.header")

	<br><br>
    <input type="button" onclick="document.location.href='ViewListRepository.action?title=Repositories';" value="$ui.getString("tool.common.cancelButton.label")"/> | <input type="button" onclick="document.location.href='DeleteRepository!markForDeleteByForce.action?repositoryId=$repositoryId&byPassTrashcan=$byPassTrashcan&igSecurityCode=$!securityCode';" value="$ui.getString("tool.common.nextButton.label")"/>
</p>
</div>

#endManagementTool()