#define($headerMarkup)

	<script type="text/javascript">
	<!-- 		
		function downloadFile()
		{
			window.open("ViewLogging!downloadFile.action?logFileName=" + $("#logFileName").val(), "Download", "");
		}
	-->
	</script>
#end

#beginLightCommonToolV3Impl("tool.managementtool.viewSystemTools.header" "" "" false true false $headerMarkup false "")

<div class="fullymarginalized">

	<h3>$ui.getString("tool.managementtool.loggingTool.header")</h3>
	<form id="logForm" name="logForm" action="ViewLogging.action"> 
		<strong>$ui.getString("tool.managementtool.logFiles.label"):</strong><br/>
		<select id="logFileName" name="logFileName">
			#foreach($file in $logFiles)
			#set($fileSize = $this.getFileSize($file.length()))
			<option value="$file.path" #checkSelected("$file.path" $!logFileName)>$file.name ($this.getLastModifiedDateString($file.lastModified()) - Size: $fileSize)</option>
			#end
		</select>
		<strong>$ui.getString("tool.managementtool.logLines.label"):</strong>
		<select id="logLines" name="logLines">
			<option value="10" #checkSelected("$logLines" "10")>10</option>
			<option value="50" #checkSelected("$logLines" "50")>50</option>
			<option value="100" #checkSelected("$logLines" "100")>100</option>
			<option value="500" #checkSelected("$logLines" "500")>500</option>
			<option value="1000" #checkSelected("$logLines" "1000")>1000</option>
			<option value="10000" #checkSelected("$logLines" "10000")>10000</option>
		</select>
		<a href="#" onclick="downloadFile(); return false;">$ui.getString("tool.common.download.label")</a>
		<br/>
		
		<strong>$ui.getString("tool.managementtool.logFragment.label"):</strong><br/>
  	</form>
  	<p>
  		<textarea id="logFragment" name="logFragment" class="normaltextfield" rows="10" cols="50" style="width:90%; height: 400px; border: 1px solid #333333; font-family: Arial; font-size: 10px;">$logFragment</textarea><br/>
		<input id="submit" type="submit" value="$ui.getString("tool.managementtool.logRefresh.label")" onclick="document.logForm.submit();"/>
	</p>
</div>

</body>
</html>
