#beginLightCommonToolV3Impl("tool.managementtool.viewContentTypeDefinition.header" "$!contentTypeDefinitionId" "contentTypeDefinitionId=$!contentTypeDefinitionId" false true $!disableCloseButton "" false "highGreyBackground")

<script type="text/javascript">
<!--
	function save(form)
	{
		form.submit();
	}

	function saveAndExit(form, action)
	{
		form.action = action;
		save(form);
	}
	
	function submitNewAttribute()
	{
		if(document.editForm.inputTypeId.selectedIndex > 0)
		{
			document.editForm.action = "ViewContentTypeDefinition!insertAttribute.action";
			document.editForm.submit();
		}
		else
		{
			alert("You must select a input type first.");
		}
	}

	function syncDropboxes()
	{
		document.editForm.inputTypeId.selectedIndex = document.editForm.inputTypeId2.selectedIndex;
	}

	function showPropertyDiv(id)
	{
		document.getElementById(id).style.visibility = 'visible';
		document.getElementById(id).style.display = 'block';
	}

	function showProperty(attributeName)
	{
		$("#dynamicData").empty();
		var url = "ViewContentTypeDefinition!viewAttribute.action?contentTypeDefinitionId=$!contentTypeDefinitionId&currentContentTypeEditorViewLanguageCode=$!currentContentTypeEditorViewLanguageCode&attributeName=" + attributeName;
		jQuery.get(url, function(data, status, request) {
		  	//alert('Attribute HTML: ' + status + ":" + data);
		  	if(status == 'success')
		  	{
		  		$("#dynamicData").html(data);
		  	}
		  }
		);
	}

	function hidePropertyDiv(id)
	{
		document.getElementById(id).style.visibility = 'hidden';
		document.getElementById(id).style.display = 'none';
	}

	function showDiv(id)
	{
		document.getElementById(id).style.visibility = 'visible';
	}

	function hideDiv(id)
	{
		document.getElementById(id).style.visibility = 'hidden';
	}

	function changeViewLanguage()
	{

		window.location.href = "ViewContentTypeDefinition.action?contentTypeDefinitionId=$contentTypeDefinitionId&currentContentTypeEditorViewLanguageCode=" + document.editForm.languageCode.value;
	}
	
	function checkDisplay(value, id)
	{
		if(value == "image")
		{
			document.getElementById(id).style.display = "block";
			//document.getElementById(id + "width").readonly = false;
			//document.getElementById(id + "height").readonly = false;
		}
		else
		{
			document.getElementById(id).style.display = "none";
			//document.getElementById(id + "width").readonly = true;
			//document.getElementById(id + "height").readonly = true;
		}
	}
	
	function showAddValidatorFormDiv(attributeName)
	{
		document.newValidatorForm.attributeName.value = attributeName;
		document.newValidatorForm.attributeToExpand.value = attributeName;
		showDiv('newValidatorFormLayer');
	}
	
	function htmlTreeItemClick(itemId, repoId, path)
	{
		//alert("itemId:" + itemId);
		document.editForm.detailPageResolverData.value = itemId;
		$("#detailPagePath").text(path);
		$("#siteNodeTreeDiv").hide();
	}

	$(document).ready(function(){
		$("#tabsContainer").tabs({ show:function() { resizeScrollArea(); } });
		#if($tabToActivate > -1)
			$("#tabsContainer").tabs("select", $tabToActivate);
		#end
		$("#detailPageResolverClass").change(function () {
        	//alert("Value:" + $(this).val());
        	//alert("CSS:" + $(this).children("option:selected").hasClass("usesPagePicker"));
        	//alert("CSS:" + $(this).children("option:selected").attr("class"));
        	if($(this).children("option:selected").hasClass("usesPagePicker"))
        	{
        		$("#pagePickerArea").show();
        	}
        	else
        	{
        		$("#pagePickerArea").hide();
        		$("#detailPageResolverData").val("");
        	}
        });
        
        if("$!attributeToExpand" != "")
	        showProperty("$!attributeToExpand");
	});	
-->
</script>

<div id="newValidatorFormLayer" style="border: 1px solid black; background-color: white; LEFT:250px; position:absolute; TOP:250px; visibility:hidden; z-index:1">
	<form name="newValidatorForm" action="ViewContentTypeDefinition!insertAttributeValidator.action" method="POST">
	<input type="hidden" name="igSecurityCode" value="$!securityCode"/>
	
	<h3>Create new validator</h3>
	<table border="0" cellpadding="4" cellspacing="0" style="margin-left: 12px; margin-right: 10px;">
	<tr>
		<td><b>Validation Type</b></td>
		<td>
			<select size="1" name="validatorName" class="sitedropbox">
			    <option value="required">Required</option>
			    <option value="requiredif">Required If</option>
			    <option value="matchRegexp">Match Regexp</option>
			    <option value="greaterThan">Greater than</option>
			    <option value="lessThan">Less than</option>
			    <option value="greaterThanEquals">Greater than or equal</option>
			    <option value="lessThanEquals">Less than or equal</option>
			 </select>
		</td>
	</tr>
	<tr>
		<td colspan="2" class="buttonPane">
			<input type="submit" class="saveAndExit" value="$ui.getString("tool.common.saveAndExitButton.label")"/>
			<input type="button" class="cancel" value="$ui.getString("tool.common.cancelButton.label")" onclick="hideDiv('newValidatorFormLayer');"/>
		</td>
	</tr>
	</table>
	<input type="hidden" name="contentTypeDefinitionId" value="$contentTypeDefinitionId">
	<input type="hidden" name="attributeName" value="$attribute.name">
	<!--
	<input type="hidden" name="attributeParameterValueLocale" value="$!currentContentTypeEditorViewLanguageCode">
	<input type="hidden" name="currentContentTypeEditorViewLanguageCode" value="$!currentContentTypeEditorViewLanguageCode">
	-->
	<input type="hidden" name="attributeToExpand" value="${attribute.name}">
	</form>
</div>


#set($categoryKeys = $definedCategoryKeys)
#set($categoryList = $allCategories)

#foreach($category in $categoryKeys)
#set($categoryKey = $category.value)
<div id="${categoryKey}PropertyLayer" style="border: 1px solid black; background-color: white; left: 150px; position: absolute; top: 50px; visibility:hidden; z-index:1">
	<h3>Edit Category attribute<h3>
	<form name="${categoryKey}PropertiesForm" action="ViewContentTypeDefinition!updateCategoryKey.action" method="POST">
	<input type="hidden" name="igSecurityCode" value="$!securityCode"/>
	<table border="0" cellpadding="4" cellspacing="0">
	<tr>
		<td><b>Category Key</b></td>
		<td><input type="textfield" name="newCategoryKey" value="$categoryKey" class="normaltextfield"></td>
	</tr>
	<tr>
		<td><b>Title</b></td>
		<td><input type="textfield" name="title" value="$!category.title" class="normaltextfield"></td>
	</tr>
	<tr>
		<td><b>Description</b></td>
		<td><input type="textfield" name="description" value="$!category.description" class="normaltextfield"></td>
	</tr>
	<tr>
		<td><b>Base Category</b></td>
		<td>
			#addCategorySelect("categoryId" $categoryList $category.categoryId)
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="css/images/trans.gif" width="80" height="5" border="0">
		</td>
	</tr>
	<tr>
		<td colspan="2" class="buttonPane">
			<input type="submit" class="saveAndExit" value="$ui.getString("tool.common.saveAndExitButton.label")"/>
			<input type="button" class="cancel" value="$ui.getString("tool.common.cancelButton.label")" onclick="hideDiv('${categoryKey}PropertyLayer');"/>
		</td>
	</tr>
	</table>
	<input type="hidden" name="contentTypeDefinitionId" value="$contentTypeDefinitionId">
	<input type="hidden" name="categoryKey" value="$categoryKey">
	<input type="hidden" name="tabToActivate" value="2">
	</form>
</div>
#end


#foreach($assetKeyDefinition in $definedAssetKeys)
<div id="${assetKeyDefinition.assetKey}PropertyLayer" class="smallPropDiv" style="border: 1px solid black; background-color: white; left:150px; position:absolute; top:100px; width: 500px; visibility:hidden; z-index:1">
	<h3>Edit AssetKey</h3>
	<div id="${assetKeyDefinition.assetKey}PropertiesBody" class="smallPropDivBody">
		<form name="${assetKeyDefinition.assetKey}PropertiesForm" action="ViewContentTypeDefinition!updateAssetKey.action" method="POST">
		<input type="hidden" name="igSecurityCode" value="$!securityCode"/>
		<p>
			<b>Asset Key:</b> <input type="textfield" name="newAssetKey" value="$assetKeyDefinition.assetKey" class="normaltextfield">
		</p>
		<p>
			<b>Mandatory:</b> <input type="checkbox" name="isMandatory" value="true" #checkChecked("true" "$assetKeyDefinition.isMandatory")>
		</p>
		<p>
			<b>Max size(b):</b> <input type="textfield" name="maximumSize" value="$!assetKeyDefinition.maximumSize" class="normaltextfield">
		</p>
		<p>
			<b>AssetType:</b>
			<select name="allowedContentTypes" onchange="checkDisplay(this.value, 'imageProperties${assetKeyDefinition.assetKey}');">
			 	<option value="any" #checkSelected("$assetKeyDefinition.allowedContentTypes" "any")>Any</option>
			 	<option value="image" #checkSelected("$assetKeyDefinition.allowedContentTypes" "image")>Image</option>
			</select>
		</p>
		<div id="imageProperties${assetKeyDefinition.assetKey}" style="#if($assetKeyDefinition.allowedContentTypes == "any") display: none; #else display: block;#end">
		<p>
			<b>Width:</b>
			<input id="imageProperties${assetKeyDefinition.assetKey}width" type="textfield" name="imageWidth" value="$!assetKeyDefinition.imageWidth" class="normaltextfield">
		</p>
		<p>
			<b>Height:</b></td>
			<input id="imageProperties${assetKeyDefinition.assetKey}width" type="textfield" name="imageHeight" value="$!assetKeyDefinition.imageHeight" class="normaltextfield">
		</p>
		<p>
			<b>Asset transformation setting:</b></td>
			<textarea id="imageProperties${assetKeyDefinition.assetKey}assetUploadTransformationsSettings" name="assetUploadTransformationsSettings" class="normaltextarea" style="width: 400px;">$!assetKeyDefinition.assetUploadTransformationsSettings</textarea>
		</p>
		</div>
		<p class="buttonPane">
			<input type="submit" class="saveAndExit" value="$ui.getString("tool.common.saveAndExitButton.label")"/>
			<input type="button" class="cancel" value="$ui.getString("tool.common.cancelButton.label")" onclick="hideDiv('${assetKeyDefinition.assetKey}PropertyLayer');"/>
		</p>
	</div>	
	
	<input type="hidden" name="contentTypeDefinitionId" value="$contentTypeDefinitionId">
	<input type="hidden" name="assetKey" value="${assetKeyDefinition.assetKey}">
	<input type="hidden" name="tabToActivate" value="1">
	</form>
</div>
#end

<div id="siteNodeTreeDiv" style="z-index: 10; border: 1px solid black; position: absolute; top: 50px; left: 50px; display: none; background-color: white; height: 600px; width: 400px;">
	<iframe id="structureTreeIframe" src="" width="100%" height="550" frameborder="0"></iframe>
	<a href="#" onclick="$('#siteNodeTreeDiv').hide();">Cancel</a>
</div>

<form name="editForm" method="post" action="UpdateContentTypeDefinition.action">
	<input type="hidden" name="igSecurityCode" value="$!securityCode"/>
	<input type="hidden" name="contentTypeDefinitionId" value="$contentTypeDefinitionId">
	<input type="hidden" name="currentContentTypeEditorViewLanguageCode" value="$!currentContentTypeEditorViewLanguageCode">
	<input type="hidden" name="schemaValue" value="$formatter.escapeHTML($!schemaValue)">
	<input type="hidden" id="detailPageResolverData" name="detailPageResolverData" value="$!detailPageResolverData"/>

	<p>
		#editTextField("ContentTypeDefinition.name" "name" $!name "51" "normaltextfield" "")
	</p>
	<p>
		#selectField("ContentTypeDefinition.type" "type" $!type [["0", "Ordinary Content Type"], ["1", "Role Properties"], ["2", "User Properties"], ["3", "Group Properties"]])
	</p>
	<p>
		#selectField("ContentTypeDefinition.versionsToKeep" "versionsToKeep" $!versionsToKeep [["-1", "All"], ["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"], ["5", "5"], ["10", "10"], ["20", "20"], ["50", "50"]])
	</p>
	<p>
		$ui.getString("entity.ContentTypeDefinition.parent.label")<br/>
		<select name="parentContentTypeDefinitionId" id="parentContentTypeDefinitionId">
			<option value="-1">-</option>
			#foreach($contentType in $contentTypeDefinitions)
				<option value="$contentType.id" #if($contentType.id == $parentId)selected="selected"#end>$contentType.name</option>
			#end
		</select>
	</p>
	<p>
		$ui.getString("entity.ContentTypeDefinition.detailPageResolverClass.label")<br/>
		<select name="detailPageResolverClass" id="detailPageResolverClass">
			<option value="">None</option>
			#set($showPagePicker = false)
			#foreach($contentPageResolver in $contentPageResolvers)
				<option #if($contentPageResolver.usesSiteNodeSelectionDialog())class="usesPagePicker"#end value="$contentPageResolver.class.name" #if($contentPageResolver.class.name == $detailPageResolverClass)selected="selected" #if($contentPageResolver.usesSiteNodeSelectionDialog())#set($showPagePicker = true)#end #end>$contentPageResolver.name</option>
			#end
		</select>

		<div id="pagePickerArea" #if(!$showPagePicker) style="display: none;" #end>
		<p class="buttonPane">
			$ui.getString("entity.ContentTypeDefinition.currentPickedPage.label"): <span id="detailPagePath">#if("$!detailPageResolverData" != "")$!this.getSiteNodePath($converter.toNonNegativeInteger("$!detailPageResolverData"))#else $ui.getString("entity.ContentTypeDefinition.noPickedPage.label") #end</span> <br/>
			<input class="add" type="button" onclick="$('#siteNodeTreeDiv').height($(window).height() - 180); $('#structureTreeIframe').height($(window).height() - 200); $('#structureTreeIframe').attr('src', 'ViewStructureHtmlTree!V3.action'); $('#siteNodeTreeDiv').show();" value="$ui.getString("entity.ContentTypeDefinition.selectPage.label")"/>
			<input class="deleteCross" type="button" onclick="$('#detailPageResolverData').val(''); $('#detailPagePath').text('Save to clear');" value="$ui.getString("entity.ContentTypeDefinition.clearPage.label")"/>
		</p>
		</div>
	</p>
	
	<div id="tabsContainer" class="flora">      
		<ul>
	        <li><a href="#attributesTab">Attributes</a></li>
	        <li><a href="#assetKeysTab">Asset keys</a></li>	        
	        <li><a href="#categoryKeysTab">Categories</a></li>	        
	    </ul>
			
		<div id="attributesTab" class="inlineTabDiv">

			<div style="padding: 0px 20px 0px 16px;">
				<div style="float: left;">
					<select size="1" name="inputTypeId" class="sitedropbox">
					    <option value="" selected>Choose element type</option>
					    <!--<option value="label">Label</option>-->
					    <option value="textfield">TextField</option>
					    <option value="textarea">TextArea</option>
					    <option value="checkbox">CheckBox</option>
					    <option value="radiobutton">RadioButton</option>
					    <option value="select">SelectBox</option>
					    <option value="hidden">Hidden</option>
					    <option value="dateField">DateField</option>
		   		 		<option value="customfield">Custom field</option>
					    <option value="tab">Tab</option>
					    <!--<option value="password">Password</option>-->
					    <!--<option value="image">SubmitImage</option>-->
					    <!--<option value="submit">SubmitButton</option>-->
					    <!--<option value="clear">ClearButton</option>-->
					</select>
					<input class="add" type="button" onclick="submitNewAttribute();" value="$ui.getString("tool.common.addButton.label")"/>
				</div>
				<div style="float: right;">
					<select onChange="javascript:changeViewLanguage();" size="1" name="languageCode" class="sitedropbox" style="margin-top: 10px;">
					    <option value="">default</option>
						#foreach ($languageVO in $availableLanguages)
							#if($languageVO.languageCode == $!currentContentTypeEditorViewLanguageCode)
							<option value="$languageVO.getLanguageCode()" selected>$languageVO.getName()</option>
							#else
							<option value="$languageVO.getLanguageCode()">$languageVO.getName()</option>
							#end
						#end
					</select>
				</div>
				<div style="clear: both;"></div>

				<table width="100%" cellpadding="2" cellspacing="0" border="0" style="background-color: white; border: 1px solid #ccc">
				#set($count = 0)
				#foreach($attribute in $contentTypeAttributes)
					#set($title = $!attribute.getContentTypeAttribute("title").getContentTypeAttributeParameterValue().getLocalizedValue("label", "$!currentContentTypeEditorViewLanguageCode"))
					#set($title = $!attribute.getContentTypeAttribute("title").getContentTypeAttributeParameterValue().getLocalizedValue("label", "$!currentContentTypeEditorViewLanguageCode"))
					
					<tr>
						<td height="20" style="border-bottom: 1px solid #ccc">#if(!$attribute.inherited)<a href="ViewContentTypeDefinition!moveAttributeUp.action?contentTypeDefinitionId=$contentTypeDefinitionId&title=$title&attributeName=$attribute.name"><img src="css/images/moveUp.gif" border="0"></a><a href="ViewContentTypeDefinition!moveAttributeDown.action?contentTypeDefinitionId=$contentTypeDefinitionId&title=$title&attributeName=$attribute.name"><img src="css/images/moveDown.gif" border="0"></a>#end</td>
						<td style="border-bottom: 1px solid #ccc"><img src="css/images/v3/fieldIcons/${attribute.inputType}.png"></td>
						<td style="border-bottom: 1px solid #ccc" width="90%">
							#if(!$attribute.inherited)<a name="${attribute.name}" href="javascript:showProperty('${attribute.name}');">#end$attribute.name ($title) of type $attribute.inputType#if(!$attribute.inherited)</a>#end
						</td>
						<td style="border-bottom: 1px solid #ccc">
							#if(!$attribute.inherited)
							<a href="javascript:showProperty('${attribute.name}');"><img src="css/images/properties.gif" border="0"></a>
							<a href="ViewContentTypeDefinition!deleteAttribute.action?contentTypeDefinitionId=$contentTypeDefinitionId&title=$title&attributeName=$attribute.name"><img src="css/images/delete.gif" border="0"></a>
							#end
						</td>
					</tr>
					#set($count = $count + 1)
				#end
				</table>
			</div>
		</div>
	
		<div id="categoryKeysTab" class="inlineTabDiv">

			<h4>Defined Categories</h4>
			<table width="80%" cellpadding="4" cellspacing="0" border="1" style="border: 1px solid #ccc; border-collapse:collapse;">
				<tr>
					<th/>
					<td width="45%"><b>Attribute (Key)</b></td>
					<td width="45%"><b>Base Category</b></td>
				</tr>
				#foreach($category in $categoryKeys)
				#set($categoryKey = $category.value)
				<tr>
					<td align="right">
						#if(!$category.inherited)
						<a href="javascript:showDiv('${categoryKey}PropertyLayer');"><img src="css/images/properties.gif" border="0"></a>
						<a href="ViewContentTypeDefinition!deleteCategoryKey.action?contentTypeDefinitionId=$contentTypeDefinitionId&categoryKey=$categoryKey"><img src="css/images/delete.gif" border="0"></a>
						#end
					</td>
					<td width="45%">#if(!$category.inherited)<a href="javascript:showDiv('${categoryKey}PropertyLayer');">#end$category.title ($categoryKey)#if(!$category.inherited)</a>#end</td>
					<td width="45%">$category.categoryName</td>
				</tr>
				#end
			</table>

			<p style="margin-left: 10px; margin-top: 0px;">
				<input class="add" type="button" onclick="document.location.href = 'ViewContentTypeDefinition!insertCategoryKey.action?contentTypeDefinitionId=$contentTypeDefinitionId&tabToActivate=2';" value="Add Category"/>
			</p>

		</div>
		
		<div id="assetKeysTab" class="inlineTabDiv">

			<h4>Defined Asset Keys</h4>
			<table width="80%" cellpadding="4" cellspacing="0" border="1" style="border: 1px solid #ccc; border-collapse:collapse;">
				<tr>
					<th align="right" style="background-color: #efefef;">&nbsp;</th>
					<th align="left" width="45%" style="background-color: #efefef;"><nobr><b>Asset Key</b></nobr></th>
					<th align="left" width="45%" style="background-color: #efefef;"><nobr><b>IsMandatory</b></nobr></th>
				</tr>
				#foreach($assetKeyDefinition in $definedAssetKeys)
				<tr>
					<td width="10%">
						#if(!$assetKeyDefinition.inherited)
						<a href="ViewContentTypeDefinition!moveAssetKeyUp.action?contentTypeDefinitionId=$contentTypeDefinitionId&title=$title&assetKey=$assetKeyDefinition.assetKey"><img src="css/images/moveUp.gif" border="0"></a><a href="ViewContentTypeDefinition!moveAssetKeyDown.action?contentTypeDefinitionId=$contentTypeDefinitionId&title=$title&assetKey=$assetKeyDefinition.assetKey"><img src="css/images/moveDown.gif" border="0"></a>
						<a href="javascript:showDiv('${assetKeyDefinition.assetKey}PropertyLayer');"><img src="css/images/properties.gif" border="0"></a>
						<a href="ViewContentTypeDefinition!deleteAssetKey.action?contentTypeDefinitionId=$contentTypeDefinitionId&assetKey=$assetKeyDefinition.assetKey"><img src="css/images/delete.gif" border="0"></a>
						#end	
					</td>
					<td align="left" width="40%"><nobr>#if(!$assetKeyDefinition.inherited)<a href="javascript:showDiv('${assetKeyDefinition.assetKey}PropertyLayer');">#end$assetKeyDefinition.assetKey#if(!$assetKeyDefinition.inherited)</a>#end</nobr></td>
					<td align="left"><nobr>$assetKeyDefinition.isMandatory</nobr></td>
				</tr>
				#end
			</table>
			<p style="margin-left: 10px; margin-top: 0px;">
				<input class="add" type="button" onclick="document.location.href = 'ViewContentTypeDefinition!insertAssetKey.action?contentTypeDefinitionId=$contentTypeDefinitionId&tabToActivate=1';" value="Add Asset Key"/>
			</p>

		</div>
	</div>
</form>

</div>

<div id="dynamicData">
</div>

<div id="footertoolbar">
	<div style="float: left; margin-left: 10px;">
		<input type="button" class="save" value="$ui.getString("tool.common.saveButton.label")" onclick="save(document.editForm);"/>
		<input type="button" class="saveAndExit" value="$ui.getString("tool.common.saveAndExitButton.label")" onclick="saveAndExit(document.editForm, 'UpdateContentTypeDefinition!saveAndExit.action');"/>
		<input type="button" class="cancel" value="$ui.getString("tool.common.cancelButton.label")" onclick="document.location.href='ViewListContentTypeDefinition.action';"/>
	</div>
</div>

<script type="text/javascript">
	#if($activatedName.size() > 0)
		document.location.href = document.location.href + "#$activatedName.get(0)"; 
		showDiv("${activatedName.get(0)}PropertyLayer");
	#end
</script>
</body>
</html>


