#define($headerMarkup)
	
	<script type="text/javascript" src="script/jqueryplugins-latest/thickbox/thickbox-compressed.js"></script>
	<link rel="stylesheet" type="text/css" href="script/jqueryplugins-latest/thickbox/thickbox-ig.css" media="all" />
	
	<style type="text/css">
		@import "script/jqueryplugins-latest/dataTables/media/css/ig_table.css";
		
		#TB_ajaxContent {
			padding: 0px !important;
			width: 100% !important;
			}
			
		td {
			border-bottom: 0px !important;
		}

	</style>
	<script type="text/javascript" language="javascript" src="script/jqueryplugins-latest/dataTables/media/js/jquery.dataTables.min.js"></script>

	<script type="text/javascript">
	<!-- 	
		var isDataTable2Initiated = false;
		var isBatchViewInitiated = false;
						
		var encodedRoleName = "$encodedRoleName";
		
		$(document).ready(function(){
			#set($extraParameter = '"iDisplayLength": 10, "bProcessing": true, "bServerSide": true, "fnServerData": function ( sSource, aoData, fnCallback ) { jQuery.post( sSource, aoData, fnCallback, "json" ); }, "sAjaxSource": "ViewListSystemUser!processAndFilterAssignedForRole.action?roleName=" + encodedRoleName, "aoColumns": [ { "sWidth": "30px" }, null, null, null ]')

			#initDataTableImpl("dataTable" $extraParameter)
			
			#if($hasAccessToManageUsers && $supportsUpdate)
				#initDeleteLink()
			#else
				$(".deleteCross").live("click", function () {
					#if(!$hasAccessToManageUsers)
						alert("You are not allowed to administer users for this role");
					#else if(!$supportsUpdate)
						alert("This role is not manageble from Infoglue");
					#end
					return false;
				});
			#end
			
			$("#dataTable_processing").prepend("<img src='css/images/loading.gif' width='16'/>").css("color", "blue");
			$("#dataTable_filter input[type=text]").hide();
			$("#dataTable_filter").append("<input type='text' id='searchField'/> <img id='reset' src='css/images/v3/cross.png'>");
			$("#reset").click(function() { $("#searchField").val(""); $("#dataTable_filter input[type=text]").val("").trigger('keyup'); }).hide();
			$("#searchField").keyup(function(e) {
				if(e.keyCode == 13) {
					if($("#searchField").val().length == 0)
					{
						$("#reset").trigger('click');	
					}
					else if($("#searchField").val().length > 2)
					{
						//alert("search:" + $("#dataTable_filter input[type=text]"));
						$("#dataTable_filter input[type=text]").val($("#searchField").val()).trigger('keyup');
						$("#reset").show();
					}
					else
						alert("You must state at least 3 characters for the search to work");
				}
			});

			$("#tabsContainer").tabs({ 
				show:function(e, ui) { 
					if(ui.index == 0) 
					{
						if(!isDataTable2Initiated)
						{
							#set($extraParameter2 = '"iDisplayLength": 10, "bProcessing": true, "bServerSide": true, "fnServerData": function ( sSource, aoData, fnCallback ) { jQuery.post( sSource, aoData, fnCallback, "json" ); }, "sAjaxSource": "ViewListSystemUser!popupProcessAndFilter.action?filterAssignedRoleUsers=true&roleName=" + encodedRoleName, "aoColumns": [ { "sWidth": "30px" }, null, null ]')
							#initDataTableImpl("dataTable2" $extraParameter2)
				
							$("#dataTable2_processing").prepend("<img src='css/images/loading.gif' width='16'/>").css("color", "blue");
							$("#dataTable2_filter input[type=text]").hide();
							$("#dataTable2_filter").append("<input type='text' id='searchField2'/> <img id='reset2' src='css/images/v3/cross.png'>");
							$("#reset2").click(function() { $("#searchField2").val(""); $("#dataTable2_filter input[type=text]").val("").trigger('keyup'); }).hide();
							$("#searchField2").keyup(function(e) {
								if(e.keyCode == 13) {
									if($("#searchField2").val().length == 0)
									{
										$("#reset2").trigger('click');	
									}
									else if($("#searchField2").val().length > 2)
									{
										$("#dataTable2_filter input[type=text]").val($("#searchField2").val()).trigger('keyup');
										$("#reset2").show();
									}
									else
										alert("You must state at least 3 characters for the search to work");
								}
							});
		
							isDataTable2Initiated=true;
						}
					}	
					else if(ui.index == 1) 
					{
						if(!isBatchViewInitiated)
						{	
							$('#rightButton').click(function() {  
						  		return !$('#unAssignedUserNames option:selected').remove().appendTo('#userName');  
						 	});  
						 	$('#leftButton').click(function() {  
						  		return !$('#userName option:selected').remove().appendTo('#unAssignedUserNames');  
						 	});  
							
							#if($hasAccessToManageUsers)
								$('#rightAllButton').click(function() {  
							  		return !$('#unAssignedUserNames option').remove().appendTo('#userName');  
							 	});  
							 	$('#leftAllButton').click(function() {  
							  		return !$('#userName option').remove().appendTo('#unAssignedUserNames');  
							 	});  
							#end
 
							jQuery.getJSON("ViewListSystemUser!processAndFilterAssignedForRole.action?roleName=" + encodedRoleName + "&sEcho=" + new Date().getTime() + "&format=compact", function(data) {
								//alert("Receiving:" + data.users.length);
								$("#userName").empty();
								jQuery.each(data.users, function(i,item){
									//alert("item:" + item.name);
									$("#userName").append("<option value='" + item.userName + "'>" + item.name + "</option>");
								});
								
								jQuery.getJSON("ViewListSystemUser!popupProcessAndFilter.action?sEcho=" + new Date().getTime() + "&format=compact&filterAssignedRoleUsers=true&roleName=" + encodedRoleName, function(data) {
									//alert("Receiving:" + data.users.length);
									$("#unAssignedUserNames").empty();
									jQuery.each(data.users, function(i,item){
										//alert("item:" + item.name);
										$("#unAssignedUserNames").append("<option value='" + item.userName + "'>" + item.name + "</option>");
									});
								});
								
							});

							isBatchViewInitiated=true;
						}
					}
						
					resizeScrollArea();
				}
			});			
		});
						
		function selectUser(userName)
		{
			$.post("UpdateRole!addUser.action", { "userName": "" + userName, roleName: "$roleName", igSecurityCode: "$securityCode"}, function(data) { document.location.href = "ViewRole.action?roleName=$encodedRoleName"; } );
			//document.location.href = "ViewRole.action?roleName=$encodedRoleName";
		}
		
		function save(form)
		{
			form.submit();
		}
	
		function saveAndExit(form, action)
		{
			form.action = action;
			save(form);
		}
		
		function showAddUserDialog()
		{
			openInlineDiv('#TB_inline?inlineId=addUserDialog', 600, 800, false, false, 'Add user to this role');
			
			$("#searchFieldBatch").keypress(function (e) {
				if((e.which ? e.which : e.keyCode) == 13)
				{
					searchUsers(false);
					return false;
				}
				else
					return true;
			});
		}

		function searchUsers(active)
		{
			var searchString = $("#searchFieldBatch").val();
			if(searchString.length == 0)
			{
				jQuery.getJSON("ViewListSystemUser!popupProcessAndFilter.action?roleName=" + encodedRoleName + "&filterAssignedRoleUsers=true&sEcho=" + new Date().getTime() + "&format=compact", function(data) {
					$("#unAssignedUserNames").empty();
					jQuery.each(data.users, function(i,item){
						$("#unAssignedUserNames").append("<option value='" + item.userName + "'>" + item.name + "</option>");
					});
				});
			}
			if(searchString.length < 3)
			{
				if(active)
					alert("Must state at least 3 characters");
			}
			else
			{
				//alert("Searching for " + searchString);
				jQuery.getJSON("ViewListSystemUser!popupProcessAndFilter.action?roleName=" + encodedRoleName + "&sSearch=" + searchString + "&filterAssignedRoleUsers=true&sEcho=" + new Date().getTime() + "&format=compact", function(data) {
					//alert("Receiving:" + data.users.length);
					$("#unAssignedUserNames").empty();
					jQuery.each(data.users, function(i,item){
						//alert("item:" + item.name);
						$("#unAssignedUserNames").append("<option value='" + item.userName + "'>" + item.name + "</option>");
					});
				});
			}
		}
		
		//Batch assign
		function assignUsers()
		{
			$("#unAssignedUserNames").empty();
			document.batchForm.newRoleName.value = document.editForm.newRoleName.value;
			document.batchForm.description.value = document.editForm.description.value;
			
			var list = document.getElementById("userName");
		  	sNode = list.options;
		  	for(i=0;i<sNode.length;i++)
			{
				currentNode = sNode[i];
				currentNode.selected = true;
			}
			
			$("#batchForm").submit();
		}

	-->
	</script>

#end

################################
##BEGIN REAL CODE
################################

#set($encodedRoleName = $formatter.encodeBase64($roleName))

#if($supportsUpdate == false)
	#set($readonly = "disabled")
#else
	#set($readonly = "")
#end
#set($hasAccessToManageUsers = $this.hasAccessTo("Role.ManageUsers", "$roleName"))
#set($isAnonymousRole = false)
#if($!roleName == "anonymous")
	#set($hasAccessToManageUsers = false)
	#set($isAnonymousRole = true)
#end

#beginLightCommonToolV3Impl("tool.managementtool.viewRole.header" "" "roleName=$formatter.encodeBase64($roleName)" false true $!disableCloseButton $headerMarkup true "")

	##lightMenuToolbar("" $buttons $rightButtons) 
	
	<div id="addUserDialog" style="display: none; padding-bottom: 10px; padding-top: 30px;">
		
		<div id="tabsContainer" class="flora" style="margin-top: 10px;">      
			<ul>
		        <li><a href="#basicTab"><span>$ui.getString("tool.common.basic.label")</span></a></li>
		        <li><a href="#batchTab"><span>Batch</span></a></li>	        
		    </ul>
	
			<div id="basicTab" class="inlineTabDiv">
				<h4>Click on the name of the user you wish to add to this role</h4>
				<table cellpadding="0" cellspacing="0" border="1" class="display" id="dataTable2">
					<thead>
						<tr>
							<th>$ui.getString("entity.SystemUser.userName.label")</th>
							<th>$ui.getString("entity.SystemUser.firstName.label")</th>
							<th>$ui.getString("entity.SystemUser.lastName.label")</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			
			<div id="batchTab" class="inlineTabDiv">
				<h4>Mark users and click the add all - will replace all existing users</h4>
				<form id="batchForm" name="batchForm" action="UpdateRole.action" method="post">
					<input type="hidden" name="igSecurityCode" value="$!securityCode"/>
					<input type="hidden" name="roleName" value="$!roleName">
					<input type="hidden" name="newRoleName" value="">
					<input type="hidden" name="description" value="">
					<table>
					<tr>
						<td valign="top">
							<input type="textfield" id="searchFieldBatch" value="" style="width: 220px"/> <input type="button" onclick="searchUsers(true);" value="Search" class="search" style="border: 0px;"/><br/>
							<select id="unAssignedUserNames" name="unAssignedUserNames" multiple="1" size="20" style="width: 300px">
								<option>Loading users... please wait</option>
							</select>
						</td>
						<td valign="middle">
							<INPUT TYPE="button" id="rightButton" name="right" VALUE="&gt;&gt;" style="width:50px; font-family: verdana; font-size: 10px; padding-left: 4px !important"><BR><BR>
							<INPUT TYPE="button" id="rightAllButton" name="rightAll" VALUE="All &gt;&gt;" style="width:50px; font-family: verdana; font-size: 10px; padding-left: 4px !important"><BR><BR>
							<INPUT TYPE="button" id="leftButton" name="left" VALUE="&lt;&lt;" style="width:50px; font-family: verdana; font-size: 10px; padding-left: 4px !important"><BR><BR>
							<INPUT TYPE="button" id="leftAllButton" name="leftAll" VALUE="All &lt;&lt;" style="width:50px; font-family: verdana; font-size: 10px; padding-left: 4px !important">
						</td>
						<td valign="top" style="padding-top: 7px;">
							Assigned users<br/>
							<select id="userName" name="userName" multiple="1" size="20" style="width: 300px;">
								<option>Loading users... please wait</option>
							</select>
						</td>
					</tr>
					</table>
					
					<div onfocus="this.blur();" id="toolbar">
						<div style="float: left; margin-left: 10px;">
							<input type="button" class="save" value="$ui.getString("tool.common.saveButton.label")" onclick="assignUsers();"/>
						</div>
					</div>
				</form>
								
			</div>
		</div>
	</div>

	<div style="clear: both;"></div>
	
	<h3>$ui.getString("tool.managementtool.viewRole.header") #if(!$supportsUpdate)(Read only)#end</h3>
	
	<div id="igEditArea" class="igScrollArea" onfocus="this.blur();">
		
	<form method="post" name="editForm" action="UpdateRole.action">
		<input type="hidden" name="igSecurityCode" value="$!securityCode"/>
		<input type="hidden" name="roleName" value="$!roleName">
		<p>
			#editTextFieldCSS("Role.roleName" "newRoleName" $!roleName "50" true $readonly "longtextfield")
		</p>
		<p>
			#editTextFieldCSS("Role.description" "description" $!description "50" true $readonly "longtextfield")
		</p>
		
		<p>#editTextFieldCSS("Role.source" "source" $source "50" true $readonly "longtextfield")</p>
		<p>#yesNoDropDown("Role.isActive" "isActive" $isActive)</p>
		<p>
			$ui.getString("tool.contenttool.lastUpdatedLabel"): $modifiedDateTime
		</p>
					
		<h4>Base role properties on content type definition</h4>
		<p>	
			<select name="contentTypeDefinitionId" $readonly>
				<option value="">Choose type</option>
				#foreach ($contentTypeDefinitionVO in $contentTypeDefinitionVOList)
					#set($selected = "")
					#foreach ($assignedContentTypeDefinitionVO in $assignedContentTypeDefinitionVOList)
						#if($assignedContentTypeDefinitionVO.id == $contentTypeDefinitionVO.id)
							#set($selected = "selected")
						#end 
					#end
					<option value="$contentTypeDefinitionVO.id" $selected>$contentTypeDefinitionVO.getName()</option>
				#end
			</select>
		</p>			
		
		<h4>Users assigned to this role #if($supportsUpdate && $hasAccessToManageUsers) - <a href="javascript:showAddUserDialog();">Add users</a>#else (you are not allowed to add users)#end</h4>
		<p>
		  	<table cellpadding="0" cellspacing="0" border="1" class="display" id="dataTable">
				<thead>
					<tr>
						<th>Action</th>
						<th>$ui.getString("entity.SystemUser.userName.label")</th>
						<th>$ui.getString("entity.SystemUser.firstName.label")</th>
						<th>$ui.getString("entity.SystemUser.lastName.label")</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</p>

	</form>
	
</div>

#if($supportsUpdate)
<div onfocus="this.blur();" id="footertoolbar">
	<div style="float: left; margin-left: 10px;">
		<input type="button" class="save" value="$ui.getString("tool.common.saveButton.label")" onclick="save(document.editForm);"/>
		<input type="button" class="saveAndExit" value="$ui.getString("tool.common.saveAndExitButton.label")" onclick="saveAndExit(document.editForm, 'UpdateRole!saveAndExit.action');"/>
		<input type="button" class="cancel" value="$ui.getString("tool.common.cancelButton.label")" onclick="document.location.href='ViewListRole.action';"/>
	</div>
</div>
#end

</body>
</html>
