<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#beginManagementTool("tool.managementtool.viewSystemTools.header" "tool.managementtool.viewSystemTools.header" "")

<div class="fullymarginalized">

	<h2>$ui.getString("tool.managementtool.archiveTool.header")</h2>
	<p>
		<a href="ViewArchiveTool!inputArchiveOldAssets.action?numberOfVersionsToKeep=3">$ui.getString("tool.managementtool.archiveAssets.title") - $ui.getString("tool.managementtool.archiveAssets.leadin")</a>
	</p>
	<p>
		<a href="ViewArchiveTool!inputRestoreAssetArchive.action">$ui.getString("tool.managementtool.restoreAssetArchive.title") - $ui.getString("tool.managementtool.restoreAssetArchive.leadin")</a>
	</p>
	#if($numberOfCleanedContentVersions)
	<p style="color:red;">
		#if($deleteVersions)
			Number of versions cleaned: $numberOfCleanedContentVersions content versions and $numberOfCleanedSiteNodeVersions site node versions
		#else
			Number of versions that will be cleaned:  $numberOfCleanedContentVersions content versions and $numberOfCleanedSiteNodeVersions site node versions
		#end
	</p>
	#end
	<p>
		<a href="ViewArchiveTool!cleanOldVersions.action?igSecurityCode=$!securityCode">$ui.getString("tool.managementtool.cleanOldVersionsDiagnose.title") - $ui.getString("tool.managementtool.cleanOldVersionsDiagnose.leadin")</a>
	</p>
	<p>
		<a href="javascript:if(confirm('Make sure you take a backup of the database first. The versions will be completely deleted and not possible to restore again. Do you want to continue?')) document.location.href = 'ViewArchiveTool!cleanOldVersions.action?deleteVersions=true&igSecurityCode=$!securityCode';">$ui.getString("tool.managementtool.cleanOldVersions.title") - $ui.getString("tool.managementtool.cleanOldVersions.leadin")</a>
	</p>
	
#endManagementTool()
