<?xml version="1.0" encoding="UTF-8"?> 
 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
	<title>$ui.getString("tool.managementtool.importRepository.header")</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
	<link rel="stylesheet" type="text/css" href="css/cms.css" /> 
	<link rel="stylesheet" type="text/css" href="css/infogluecommons.css" /> 
	
	<script type="text/javascript" src="script/jquery/jquery-1.2.6.min.js"></script>
	<script language="JavaScript" src="script/listview.js"></script>
	<script type="text/javascript" src="script/infogluecommons.js"></script>

	<meta http-equiv="pragma" CONTENT="no-cache" />
	<meta http-equiv="expires" CONTENT="-1" />
	##<meta http-equiv="refresh" content="5">
	
	<style type="text/css">
		.processDetails {
		}
		.processDetails .label {
			font-weight: bold;
			display: none; ## Overriden by script
		}
		.processDetails .label:after {
			margin-right:5px;
			content: ":";
		}
		p.errorMessage {
			color: red;
			font-weight: bold;
		}
		ul.actions {
			list-style-type: none;
		}
		ul.actions li {
			display: inline-block;
		}
		ul.actions li::after {
			content: "|";
			margin: 0 10px;
		}
		ul.actions li:last-child::after {
			content: "";
			margin: 0;
		}

		ol.processEvents {
			display: none; ## Overriden by script
		}

		.container {
			padding: 8px;
			border: 1px solid #C3D0E1;
			margin: 0 0 16px 0;
		}
		.container.error {
			border-left-color: red;
		}
		#finishedMessageArea.error, .processError {
			color:red;
		}
		.container h4 {
			margin: 0;
		}

		.container .actions {
			margin: 0;
			padding: 0;
		}

		.container .processEvents {
			margin-bottom: 0;
		}

		.activate::before {
			content: " ";
			background: transparent url("css/images/workinganim.gif") no-repeat center center;
			width: 12px;
			height: 12px;
			display: block;
			background-size: 10px 10px;
			margin: 1px 0 0;
		}

		.template {display: none;}
	</style>
</head>

<body class="managementtooledit">

<div class="fullymarginalized">

<h1>Import/Copy status</h1>

<p id="memoryMessage></p>

<p id="ongoingMessageArea"></p>
<div id="ongoingList"></div>

## Will be filled with content from JavaScript below
<h3>Finished imports</h2>
<p id="finishedMessageArea"></p>
<div id="finishedList"></div>

## The template below will be used by the JavaScript to create process objects. Both ongoing and finished import share the same template.
## The classes will be used to select containers for process information. Therefore changes here needs to be reflected in the JavaSCript below.
<div id="template" class="template container">
	<h4></h4>
	<div class="processDetails">
		<p class="processInfo">
			<span class="label labelStarted">$ui.getString("tool.managementtool.importRepository.status.label.started")</span><span class="valueStarted"></span>
			<span class="label labelEnded">$ui.getString("tool.managementtool.importRepository.status.label.ended")</span><span class="valueEnded"></span>
		</p>
		<p class="processError"></p>
		<ul class="actions">
			<li class="deleteProcessAction"><a href="javascript:void(0)" onclick="deleteProcess(this)"><img src="css/images/delete.gif" width="12" height="12" border="0"> Remove</a></li>
			<li class="toggleEventsAction"><a href="javascript:void(0)" onclick="toggleProcessEventList(this)">$ui.getString("tool.managementtool.importRepository.status.showProcessEvents")</a></li>
		</ul>
		<ol class="processEvents"></ol>
	</div>
</div>

<p>
	<a href="javascript:window.close();">$ui.getString("tool.contenttool.close")</a>
</p>

</div>

<script type="text/javascript">
		var Updater = function() {
			this.poller = null;

			var megabyte = 1024 * 1024;
			function formatFileSize(bytes) {
				if (bytes) {
					return (bytes / megabyte).toFixed(3);
				} else {
					return "";
				}
			}

			this.updateView = function()
			{
				jQuery.getJSON('ImportRepository!showProcessesAsJSON.action', function(data) {
					if (data)
					{
						if (data.error)
						{
							jQuery("#ongoingMessageArea").attr("class", "error").text(data.error.message + "(" + data.error.type + ")");
							jQuery("#finishedMessageArea").attr("class", "error").text(data.error.message + "(" + data.error.type + ")");
						}
						else ## Assumes valid response
						{
							if (data.memoryMessage)
							{
								jQuery("#memoryMessage").text("$ui.getString("tool.managementtool.importRepository.status.showProcessEvents") " + data.memoryMessage);
							}
							else
							{
								jQuery("#memoryMessage").text("$ui.getString("tool.managementtool.importRepository.status.showProcessEvents")");
							}
							##
							## Generate process list
							var ongoingIds = new Array();
							var finishedIds = new Array();
							for (var processListId in data.processes) {
								var process = data.processes[processListId];

								## Get first selected element. List with zero elements otherwise
								var container = jQuery("#container_" + process.processId).eq(0);
								## Generate new container
								if (container.length === 0)
								{
									container = jQuery("#template").clone();
									container.removeClass("template");
									container.attr("id", "container_" + process.processId);

									container.find("h4").text(process.processId);
									container.show();
									if (process.status === 0 || process.status === 1)
									{
										container.find(".processEvents").show();
										jQuery("#ongoingList").append(container);
									}
									else
									{
										container.find(".processEvents").hide();
										jQuery("#finishedList").append(container);
									}
								}

								## Status specific stuff
								// Not started processes are listed with running ones
								if (process.status === 0 || process.status === 1)
								{
									ongoingIds.push(process.processId);

									## Move process container if its status has changed and a list move is needed
									## This should be impossible but for completeness it is included
									if (container.parent("#finishedList").length)
									{
										container.appendTo("#ongoingList");
										container.find(".processEvents").show();
									}

									## Ongoing events does not have actions
									container.find(".actions").hide();
								}
								// Erroneous proccesses are listed with completed ones
								else if (process.status === 2 || process.status === 3)
								{
									finishedIds.push(process.processId);

									## Move process container if its status has changed and a list move is needed
									if (container.parent("#ongoingList").length)
									{
										container.appendTo("#finishedList");
										container.find(".processEvents").hide();
									}

									##
									## Handle process actions
									var processActions = container.find(".actions").eq(0);
									processActions.show();

								}

								## Handle general actions stuff
								container.find('.actions').data('processId', process.processId);

								## Handle process information
								var processInfo = container.find(".processInfo").eq(0);
								if (process.status === 0) // not started
								{
									processInfo.find(".labelStarted").hide();
									processInfo.find(".valueStarted").text("$ui.getString("tool.managementtool.importRepository.status.processNotStarted")");
								}
								else
								{
									##ongoingHtmlList += '<p><span class="label">Started: </span>' + process.started + "</p>";
									processInfo.find(".labelStarted").show();
									processInfo.find(".valueStarted").text(process.started);
									if(process.started !== process.finished)
									{
										processInfo.find(".labelEnded").show();
										processInfo.find(".valueEnded").text(process.finished);
									}
								}

								## Handle process errors
								var processError = container.find(".processError").eq(0);
								if (process.errorMessage)
								{
									processError.text("$ui.getString("tool.managementtool.importRepository.status.errorMessage") " + process.errorMessage);
									container.addClass("error");
								}
								else
								{
									processError.text("");
									container.removeClass("error");
								}

								## Handle process events
								var processEvents = container.find(".processEvents").eq(0);
								processEvents.attr("id", "processEvents_" + process.processId);

								var numberOfEvents = process.processEvents.length + (process.status === 1 ? 1 : 0); ## Add one for the loading 
								if (processEvents.children("li").length !== numberOfEvents)
								{
									processEvents.empty();
									for (var processEventListId in process.processEvents) {
										##ongoingHtmlList += "<li>" + process.processEvents[processEventListId] + "</li>";
										processEvents.append('<li>' + process.processEvents[processEventListId] + '</li>');
									}
									if (process.status === 1)
									{
										processEvents.append('<li><img class="loadingSmall" src="css/images/v3/loadingAnimation.gif"/></li>');
									}
								}
							}

							## TODO: Remove removed processes

							if (ongoingIds.length === 0)
							{
								jQuery("#ongoingMessageArea").addClass("message").text("$ui.getString("tool.managementtool.importRepository.status.noOngoingImport")");
							}
							else
							{
								jQuery("#ongoingMessageArea").removeClass("message").text("");
							}
							if (finishedIds.length === 0)
							{
								jQuery("#finishedMessageArea").addClass("message").text("$ui.getString("tool.managementtool.importRepository.status.noFinishedImport")");
							}
							else
							{
								jQuery("#finishedMessageArea").removeClass("class", "").text("");
							}
						}
					}
				});
			};
			this.start = function(interval)
			{
				if (!interval)
				{
					interval = 5000;
				}
				this.updateView();
				this.poller = setInterval(this.updateView, interval);
			};
			this.stop = function()
			{
				if (this.poller)
				{
					clearInterval(this.poller);
					this.poller = null;
				}
			};
			return this;
		};

		updater = Updater();
		updater.start(5000);

		function deleteProcess(link)
		{
			var obj = jQuery(link);
			var actions = obj.parents('.actions');
			if (actions && actions.data("processId"))
			{
				var container = jQuery('#container_' + actions.data("processId"));
				if (container)
				{
					var link = 'ImportRepository!deleteProcessBean.action?processId=' + actions.data("processId");
					container.addClass("deleting");
					obj.css("visibility", "hidden");
					jQuery.ajax({
						  type: "GET"
						, url: link
						, error: function(request, error) {
							jQuery('#processError').text("$ui.getString("tool.managementtool.importRepository.status.errorRemovingProcess")");
							container.removeClass("deleting");
							obj.css("visibility", "visible");
						  }
						, success: function() {
							container.removeClass("deleting");
							obj.css("visibility", "visible");
							container.remove();
						  }
					});
				}
				else
				{
					alert("$ui.getString("tool.managementtool.importRepository.status.couldNotRemoveProcess")");
				}
			}
			else
			{
				alert("$ui.getString("tool.managementtool.importRepository.status.couldNotRemoveProcess")");
			}
		}
		function toggleProcessEventList(link)
		{
			var obj = jQuery(link);
			var actions = obj.parents('.actions');
			if (actions && actions.data("processId"))
			{
				var list = "processEvents_" + actions.data("processId");
				jQuery("#" + list).slideToggle(400, function() {
					if (jQuery(this).is(":visible"))
					{
						obj.text("$ui.getString("tool.managementtool.importRepository.status.showProcessEvents")");
					}
					else
					{
						obj.text("$ui.getString("tool.managementtool.importRepository.status.hideProcessEvents")");
					}
				});
			}
		}
	</script>
</body>
</html>
