<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#beginManagementTool("tool.managementtool.viewRedirect.header" "tool.managementtool.viewRedirect.header" "redirectId=$redirectId&name=$name")

<div class="fullymarginalized">

		<form name="editForm" method="POST" action="UpdateRedirect.action">
			<input type="hidden" name="igSecurityCode" value="$!securityCode"/>
			<input type="hidden" name="redirectId" value="$!redirectId">

			<h3>$ui.getString("tool.managementtool.viewRedirect.header")</h3>
			<p>#editField("Redirect.url" "url" $!url "100")</p>
			<p>#editField("Redirect.redirectUrl" "redirectUrl" $!redirectUrl "100")</p>
			<p>#editDateField("SiteNode.publishDateTime" "publishDateTime" $!publishDateTime "30" "date"  "ViewCalendar.action?date=$!publishDateTime.time&formPath=document.editForm.publishDateTime" "$dateReadonly")</p>
			<p>#editDateField("SiteNode.expireDateTime" "expireDateTime" $!expireDateTime "30" "date"  "ViewCalendar.action?date=$!expireDateTime.time&formPath=document.editForm.expireDateTime" "$dateReadonly")</p>
			<p>$ui.getString("tool.structuretool.versionModifiedDateTime"): $!createdDateTime</p>
			<p>$ui.getString("tool.contenttool.versionModifier"): $!modifier</p>
		</form>
</div>

<div onfocus="this.blur();" id="footertoolbar">
	<div style="float: left; margin-left: 10px;">
		<input type="button" class="save" value="$ui.getString("tool.common.saveButton.label")" onclick="save(document.editForm);"/>
		<input type="button" class="saveAndExit" value="$ui.getString("tool.common.saveAndExitButton.label")" onclick="saveAndExit(document.editForm, 'UpdateRedirect!saveAndExit.action');"/>
		<input type="button" class="cancel" value="$ui.getString("tool.common.cancelButton.label")" onclick="document.location.href='ViewListRedirect.action';"/>
	</div>
</div>

</body>
</html>


