#define($headerMarkup)

	<style type="text/css">
		@import "script/jqueryplugins/dataTables/media/css/ig_table.css";
	</style>
	<script type="text/javascript" language="javascript" src="script/jqueryplugins/dataTables/media/js/jquery.dataTables.min.js"></script>

	<script type="text/javascript">
	<!-- 		
		$(document).ready(function(){
			#set($extraParameter = '"aoColumns": [ { "sWidth": "30px" }, null, null, null ]')
			#initDataTableImpl("dataTable" $extraParameter)
			#initDeleteLink()
		});
	-->
	</script>
#end

################################
##BEGIN REAL CODE
################################

#beginLightCommonToolV3Impl("tool.managementtool.repositoryList.header" "" "" false true $!disableCloseButton $headerMarkup true "")

	<div style="clear: both;"></div>
	
	<h3>$ui.getString("tool.managementtool.repositoryList.header")</h3>
	
	<div id="igEditArea" class="igScrollArea" onfocus="this.blur();">
		
		<table cellpadding="0" cellspacing="0" border="1" class="display" id="dataTable">
			<thead>
				<tr>
					<th>$ui.getString("tool.common.action.label")</th>
					<th>$ui.getString("entity.Repository.name.label")</th>
					<th>$ui.getString("entity.Repository.description.label")</th>
					<th>$ui.getString("entity.Repository.dnsName.label")</th>
				</tr>
			</thead>
			<tbody>
			
				#foreach($repositoryVO in $repositories)
					<tr>
						<td><a class="deleteCross" title="$ui.getString("tool.common.delete.label") $repositoryVO.name" href="DeleteRepository!markForDelete.action?repositoryId=$repositoryVO.id&igSecurityCode=$securityCode">&nbsp;#*$ui.getString("tool.common.delete.label")*#</a></td>
						<td>
							<a href="ViewRepository.action?repositoryId=$repositoryVO.repositoryId&title=Repository%20details" class="group">$repositoryVO.name</a>
						</td>
						<td>$repositoryVO.description</td>
						<td>$repositoryVO.dnsName</td>
					</tr>
				#end
				
			</tbody>
		</table>
				
	</div>
		
#endLightCommonToolV3()