<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#beginManagementTool("tool.managementtool.welcomeHeader" "tool.managementtool.welcomeHeader" "")

<div class="fullymarginalized">

	<h3>$ui.getString("tool.managementtool.welcomeHeader")</h3>
	<p>$ui.getString("tool.managementtool.welcomeText")</p>

</div>
	
</body>
</html>
