<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#beginManagementTool("tool.managementtool.viewSystemTools.header" "tool.managementtool.viewSystemTools.header" "")

<div class="fullymarginalized">

	<h2>$ui.getString("tool.managementtool.archiveTool.header")</h2>
	
	<h3>Asset archiving</h3>
	<p>
		<a href="ViewArchiveTool!inputArchiveOldAssets.action?numberOfVersionsToKeep=3">$ui.getString("tool.managementtool.archiveAssets.title") - $ui.getString("tool.managementtool.archiveAssets.leadin")</a>
	</p>
	<p>
		<a href="ViewArchiveTool!inputRestoreAssetArchive.action">$ui.getString("tool.managementtool.restoreAssetArchive.title") - $ui.getString("tool.managementtool.restoreAssetArchive.leadin")</a>
	</p>

	<h3>Version archiving</h3>
	#if($cleaningMap)
		<p style="color:red;">
			#if($deleteVersions)
				Deleted versions per content type:<br/>
			#else
				Number of versions that will be cleaned per content type:<br/>
			#end
			
			<ul style="margin-left: 16px; padding-left: 16px; list-style-type: initial;">
			#foreach($key in $cleaningMap.keySet())
				<li>$key: $cleaningMap.get($key) versions</li>
			#end
			</ul>
			
			#if($deleteVersions)
				<p>
					<a href="ViewArchiveTool!cleanOldVersions.action?igSecurityCode=$!securityCode">$ui.getString("tool.managementtool.cleanOldVersionsDiagnose.title") - $ui.getString("tool.managementtool.cleanOldVersionsDiagnose.leadin")</a>
				</p>
			#else
				<p>
					<input type="button" onclick="document.location.href = 'ViewArchiveTool!cleanOldVersions.action?igSecurityCode=$!securityCode';" value="Check again"/>
					<input type="button" onclick="if(confirm('Make sure you take a backup of the database first. The versions will be completely deleted and not possible to restore again. Do you want to continue?')) document.location.href = 'ViewArchiveTool!cleanOldVersions.action?deleteVersions=true&igSecurityCode=$!securityCode';" value="$ui.getString("tool.managementtool.cleanOldVersions.title")"/>
				</p>
			#end		
		</p>
	#else
		<p>
			<a href="ViewArchiveTool!cleanOldVersions.action?igSecurityCode=$!securityCode">$ui.getString("tool.managementtool.cleanOldVersionsDiagnose.title") - $ui.getString("tool.managementtool.cleanOldVersionsDiagnose.leadin")</a>
		</p>
	#end
	
#endManagementTool()
