#define($headerMarkup)

	<style type="text/css">
		@import "script/jqueryplugins/dataTables/media/css/ig_table.css";
	</style>
	<script type="text/javascript" language="javascript" src="script/jqueryplugins/dataTables/media/js/jquery.dataTables.min.js"></script>

	<script type="text/javascript">
	<!-- 		
		$(document).ready(function(){
			
			#set($selectedTabId = ", selected: 0")
			#if("$tabId" == "systemManaged")
				#set($selectedTabId = ", selected: 1 ")
			#end
			
			$("#tabsContainer").tabs({ show:function() { resizeScrollArea(); } $selectedTabId });
			#set($extraParameter = '"aoColumns": [ { "sWidth": "30px" }, null, null, null ]')
			#initDataTableImpl("dataTableUserManaged" $extraParameter)
			#initDataTableImpl("dataTableSystemManaged" $extraParameter)
			#initDeleteLink()
		});
	-->
	</script>
#end

################################
##BEGIN REAL CODE
################################

#beginLightCommonToolV3Impl("tool.managementtool.redirectList.header" "" "" false true $!disableCloseButton $headerMarkup true "")

	<div style="clear: both;"></div>
	
	<h3>$ui.getString("tool.managementtool.redirectList.header")</h3>
	
	<div id="tabsContainer" class="flora">      

		<ul>
	        <li><a href="#userManagedTab"><span>$ui.getString("tool.managementtool.redirectList.userManagedTab")</span></a></li>
	        <li><a href="#systemManagedTab"><span>$ui.getString("tool.managementtool.redirectList.systemManagedTab")</span></a></li>	        
	    </ul>

		<div id="userManagedTab" class="inlineTabDiv">
		
			<table cellpadding="0" cellspacing="0" border="1" class="display" id="dataTableUserManaged">
			<thead>
				<tr>
					<th>$ui.getString("tool.common.action.label")</th>
					<th>$ui.getString("entity.Redirect.url.label")</th>
					<th>$ui.getString("entity.Redirect.redirectUrl.label")</th>
					<th>Active</th>
				</tr>
			</thead>
			<tbody>
			
				#foreach($redirectVO in $userRedirects)
					<tr>
						<td><a class="deleteCross" title="$ui.getString("tool.common.delete.label") $redirectVO.url" href="DeleteRedirect.action?redirectId=$redirectVO.id&igSecurityCode=$securityCode&tabId=userManaged">&nbsp;#*$ui.getString("tool.common.delete.label")*#</a></td>
						<td>
							<a href="ViewRedirect.action?redirectId=$redirectVO.id" class="group">$redirectVO.url</a>
						</td>
						<td>$redirectVO.redirectUrl</td>
						<td>$formatter.formatDate($redirectVO.publishDateTime, "yyyy-MM-dd") - $formatter.formatDate($redirectVO.expireDateTime, "yyyy-MM-dd")</td>
					</tr>
				#end
				
			</tbody>
			</table>
			
		</div>

		<div id="systemManagedTab" class="inlineTabDiv">
		
			<table cellpadding="0" cellspacing="0" border="1" class="display" id="dataTableSystemManaged">
			<thead>
				<tr>
					<th>$ui.getString("tool.common.action.label")</th>
					<th>$ui.getString("entity.Redirect.url.label")</th>
					<th>$ui.getString("entity.Redirect.redirectUrl.label")</th>
					<th>Active</th>
				</tr>
			</thead>
			<tbody>
			
				#foreach($redirectVO in $systemRedirects)
					<tr>
						<td><a class="deleteCross" title="$ui.getString("tool.common.delete.label") $redirectVO.url" href="DeleteRedirect.action?redirectId=$redirectVO.id&igSecurityCode=$securityCode&tabId=systemManaged">&nbsp;#*$ui.getString("tool.common.delete.label")*#</a></td>
						<td>
							<a href="ViewRedirect.action?redirectId=$redirectVO.id" class="group">$redirectVO.url</a>
						</td>
						<td>$redirectVO.redirectUrl</td>
						<td>$formatter.formatDate($redirectVO.publishDateTime, "yyyy-MM-dd") - $formatter.formatDate($redirectVO.expireDateTime, "yyyy-MM-dd")</td>
					</tr>
				#end
				
			</tbody>
		</table>
				
	</div>
		
	</div>
	
	<!--<div id="igEditArea" class="igScrollArea" onfocus="this.blur();">-->
		
		
				
	</div>
		
#endLightCommonToolV3()