<?xml version="1.0" encoding="UTF-8"?> 
 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  
#beginManagementTool("$titleKey" "$toolbarKey" "$arguments")

<script language="javascript" src="script/jsrsClient.js"></script>

<script type="text/javascript">
<!--
	var allowSave = true;  //Sets to false if one does not close like one should
	var currentEditorIdHash = new Array();

	function refreshView(viewName)
	{
		//Change when this is a tabbed solution
		document.location.reload(true);
		/*
		//alert("viewName:" + viewName);
		if(viewName == "contentVersionAssets")
		{
			loadFrame(2);
			$("#tabsContainer").tabs("select", 2);
			//$("#tabsContainer").tabs("load", 2)
		}
		*/
	}

	//*******************************************
	// This function changes language version
	//*******************************************
	
	function changeLanguage()
	{
		languageId = document.editForm.languageId.value;
		
		if (confirm('$ui.getString("tool.contenttool.languageVersionChangeWarning")'))
		{
			window.location.href="$currentAction?ownerEntityId=$formatter.encodeBase64($ownerEntityId)&languageId=" + languageId;
		}
		else
		{
			document.editForm.languageId.selectedIndex = originalIndex - 1;
		}
	}

	//*******************************************
	// This function opens up the form editor
	//*******************************************
	
	function openFormEditor(url)
	{
		allowSave = false;
		openPopup(url, "FormEditor", "width=700,height=600,left=" + (document.body.clientWidth / 4) + ",top=50,toolbar=no,status=yes,scrollbars=yes,location=no,menubar=no,directories=no,resizable=yes");
	}

	//*******************************************
	// This function opens up the form editor
	//*******************************************
	
	function openRelationEditor(url)
	{
		allowSave = false;
		openPopup(url, "RelationEditor", "width=700,height=600,left=" + (document.body.clientWidth / 4) + ",top=50,toolbar=no,status=yes,scrollbars=yes,location=no,menubar=no,directories=no,resizable=yes");
	}
	
	function addCategory(attributeName, selectName)
	{
		var categoryId = document.getElementById(selectName).value;
		document.getElementById("model/attributeName").value = attributeName;
		document.getElementById("model/category/categoryId").value = categoryId;
		document.catForm.submit();
	}

	function deleteCategory(propertiesCategoryId)
	{
		document.catForm.action = "PropertiesCategory!delete.action";
		document.getElementById("propertiesCategoryId").value = propertiesCategoryId;
		document.catForm.submit();
	}

	//*******************************************
	// This is a timer that warns the user about saving his work once in a while so he does not
	// get a new login-screen next time he saves.
	//*******************************************
	var beenWarned = false;
	var inaktiveTime = 0;
	var timeout = ($sessionTimeout / 60) * 60 * 1000;
    function warnForTimeout()
    {
       	alert("Please save your work often to avoid loosing it due to the security timeout. If you suspect you might not have saved for 10-20 minutes or so we recommend you copy all of your text before you press save so you don't risk loosing it.");
		beenWarned = true;
		inaktiveTime = inaktiveTime + timeout;
		setTimeout("warnForTimeout()", timeout);
	}
	
	
	//*******************************************
	// This is a timer that keeps track of the number of minutes the user has been on the page without saving.
	//*******************************************
	var textArea;
	//var contentVersionId 	= "$contentVersionId";
	//var contentId 			= "$contentId";
	var languageId 			= "$languageId";
	
	var count = 0;
	var minute = 60000;
	function doTimer()
	{
		count += 1;
		setTimeout("doTimer();", minute);
	}
	
	doTimer();
	setTimeout("warnForTimeout()", timeout);
-->
</script>
	
<div class="fullymarginalized">

	<h3>Properties for $ownerEntityId</h3>
	<form method="POST" name="editForm" action="${updateAction}.action">
		<input type="hidden" name="igSecurityCode" value="$!securityCode"/>
		<table border="0" width="500">
		
			<tr> 
				<td>
					$ui.getString("tool.contenttool.languageVersionsLabel")<br/>
					<select class="mediumdrop" name="languageId" onChange="javascript:changeLanguage();">
					#foreach ($languageVO in $availableLanguages)
						#if($languageVO.getLanguageId().intValue() == $languageId.intValue())
							<option value="$languageVO.getLanguageId()" selected>$languageVO.getName()</option>
							<script type="text/javascript">
							<!--
								var originalIndex = $velocityCount;	
							-->
							</script>
						#else
							<option value="$languageVO.getLanguageId()">$languageVO.getName()</option>
						#end
					#end
					</select>
				</td>
				<td width="40%"><img src="css/images/trans.gif" width="10" height="1"></td>
				<td>&nbsp;</td>
			</tr>	
			<tr>
				<td colspan="3">&nbsp;</td>
			</tr>
		</table>	
		 
		<table border="0" width="500">	
			<!-- here goes the field generation -->
				
			#if($stateId == 1 || $stateId == 2 || $stateId == 3)
				#set($readonly = "disabled") 
			#else
				#set($readonly = "")
			#end
				
			#foreach($attribute in $contentTypeAttributes)
				
				## ANNOTATION ELEMENTS
				#set($attributeTitle = "")
				#set($attributeTitle = $!attribute.getContentTypeAttribute("title").getContentTypeAttributeParameterValue().getLocalizedValue("label", $session.locale))
				#if($attributeTitle == "")
					#set($attributeTitle = "$attribute.name")
				#end
		
				#set($attributeDescription = "")
				#set($attributeDescription = $!attribute.getContentTypeAttribute("description").getContentTypeAttributeParameterValue().getLocalizedValue("label", $session.locale))
				#if($attributeDescription != "")
					#set($attributeDescription = "- $attributeDescription")
				#end
			
				#set($class = "")
				#set($class = $!attribute.getContentTypeAttribute("class").getContentTypeAttributeParameterValue().getValue("label"))
				#if($class == "")
					#set($class = "longtextfield")
				#end
		
				#set($rows = "")
				#set($rows = $!attribute.getContentTypeAttribute("rows").getContentTypeAttributeParameterValue().getValue("label"))
				#if($rows == "")
					#set($rows = "5")
				#end
		
				#set($cols = "")
				#set($cols = $!attribute.getContentTypeAttribute("cols").getContentTypeAttributeParameterValue().getValue("label"))
				#if($cols == "")
					#set($cols = "75")
				#end
		
				#set($enableWYSIWYG = "")
				#set($enableWYSIWYG = $!attribute.getContentTypeAttribute("enableWYSIWYG").getContentTypeAttributeParameterValue().getLocalizedValue("label", $session.locale))
				#if($enableWYSIWYG == "")
					#set($enableWYSIWYG = "false")
				#end
		
				#set($enableFormEditor = "")
				#set($enableFormEditor = $!attribute.getContentTypeAttribute("enableFormEditor").getContentTypeAttributeParameterValue().getLocalizedValue("label", $session.locale))
				#if($enableFormEditor == "")
					#set($enableFormEditor = "false")
				#end
		
				#set($enableContentRelationEditor = "")
				#set($enableContentRelationEditor = $!attribute.getContentTypeAttribute("enableContentRelationEditor").getContentTypeAttributeParameterValue().getLocalizedValue("label", $session.locale))
				#if($enableContentRelationEditor == "" || $enableContentRelationEditor == "false")
					#set($enableContentRelationEditor = $!attribute.getContentTypeAttribute("enableRelationEditor").getContentTypeAttributeParameterValue().getLocalizedValue("label", $session.locale))
					#if($enableContentRelationEditor == "" || $enableContentRelationEditor == "false")
						#set($enableContentRelationEditor = "false")
					#end
				#end
				
				#set($enableStructureRelationEditor = "")
				#set($enableStructureRelationEditor = $!attribute.getContentTypeAttribute("enableStructureRelationEditor").getContentTypeAttributeParameterValue().getLocalizedValue("label", $session.locale))
				#if($enableStructureRelationEditor == "")
					#set($enableStructureRelationEditor = "false")
				#end
				
				<tr>
					<td colspan="3"><img src="css/images/trans.gif" width="1" height="5"/></td>
				</tr>
				<tr>
					<td colspan="3">
						#if($attribute.inputType == "textfield")
							$attributeTitle ("$attribute.name") $attributeDescription<br/>
							<input $readonly type="text" length="50" class="$class" maxlength="" id="$attribute.name" name="$attribute.name" value="$this.getAttributeValue($attribute.name)"/>
						#elseif($attribute.inputType == "textarea")
		
							<table cellpadding="0" cellspacing="0" border="0" width="100%">
							    <tr>
							    	<td align="left">$attributeTitle ("$attribute.name") $attributeDescription </td>
							    	<td align="right">
							    		#if($enableFormEditor == "false" && $enableContentRelationEditor == "false"  && $enableStructureRelationEditor == "false")
							    			<a href="javascript:changeEditor(0, '${attribute.name}');">$ui.getString("tool.contenttool.editorPlainLabel")</a> 
										#end
							    		#if($enableFormEditor == "false" && $enableContentRelationEditor == "false"  && $enableStructureRelationEditor == "false" && $enableWYSIWYG == "true")
							    		| <a href="javascript:changeEditor(1, '${attribute.name}');">$ui.getString("tool.contenttool.editorHTMLWYSIWYG")</a> 
							    		#end
									</td>
							    </tr>
							</table>
						
							#set($width = 0)
							#set($width = $!attribute.getContentTypeAttribute("width").getContentTypeAttributeParameterValue().getLocalizedValueAsInt("label", $session.locale))
							#if($width == 0)
								#set($width = 700)
							#end
		
							#set($height = 0)
							#set($height = $!attribute.getContentTypeAttribute("height").getContentTypeAttributeParameterValue().getLocalizedValueAsInt("label", $session.locale))
							#if($height == 0)
								#set($height = 150)
							#end
							
							#set($wysiwygHeight = $height - 40)
							#if($width >= 700)
								#set($wysiwygHeight = $height - 20)
							#end
												
							<textarea $readonly rows="$rows" cols="$cols" style="visibility: visible; width:${width}px; height:${height}px; border: 1px solid #C2D0E2;font-family:verdana,arial,sans-serif;font-size:8pt;" id="$attribute.name" name="$attribute.name" $readonly $onchange>$this.getAttributeValue($attribute.name)</textarea>
												
							#if($enableWYSIWYG == "true")
								<!-- Here comes the WYSIWYG-editor layer -->
								<div id="${attribute.name}EditorType1" name="${attribute.name}EditorType1" style="position:absolute; visibility: hidden; width:${width}px; height:${wysiwygHeight}px; z-index:1; border: 0px none #000000;">
								    <img src="css/images/trans.gif" width="1" height="12">
								    <br>
								    <table cellpadding="0" cellspacing="0" border="0">
								    <tr>
								    	<td colspan="2" align="right" bgcolor="white">
								    		
								    		<style type="text/css">
											<!--
												.headline { font-family: arial black, arial; font-size: 28px; letter-spacing: -1px; }
											  	.headline2{ font-family: verdana, arial; font-size: 12px; }
											  	.subhead  { font-family: arial, arial; font-size: 18px; font-weight: bold; font-style: italic; }
											  	.backtotop{ font-family: arial, arial; font-size: xx-small;  }
											  	.code     { background-color: #EEEEEE; font-family: Courier New; font-size: x-small; margin: 5px 0px 5px 0px; padding: 5px; border: black 1px dotted;}
											    font { font-family: arial black, arial; font-size: 28px; letter-spacing: -1px; }
											-->
											</style>
											
											<script language="Javascript1.2">
											<!-- // load htmlarea
												_editor_url = "applications/WYSIWYGEditor/";  // URL to htmlarea files
												var win_ie_ver = parseFloat(navigator.appVersion.split("MSIE")[1]);
												if (navigator.userAgent.indexOf('Mac')        >= 0) { win_ie_ver = 0; }
												if (navigator.userAgent.indexOf('Windows CE') >= 0) { win_ie_ver = 0; }
												if (navigator.userAgent.indexOf('Opera')      >= 0) { win_ie_ver = 0; }
												if (win_ie_ver >= 5.5) {
												  document.write('<scr' + 'ipt src="' +_editor_url+ 'editor.js"');
												  document.write(' language="Javascript1.2"></scr' + 'ipt>');  
												} else { document.write('<scr'+'ipt>function editor_generate() { return false; }</scr'+'ipt>'); }
											// -->
											</script>
												
											<textarea $readonly name="${attribute.name}WYSIWYG" rows="$rows" cols="$cols"  style="visibility:hidden; width:${width}px; height:${wysiwygHeight}px; border: 1px solid #C2D0E2; font-family:verdana,arial,sans-serif;font-size:8pt;"></textarea>				    		
											<script language="javascript1.2">
												editor_generate('${attribute.name}WYSIWYG');
											</script>
			
								    	</td>
								    </tr>
								    </table>
								</div>
							#end
							
							#if($enableFormEditor == "true")
								<!-- Here comes the Form editor layer -->
								<input type="hidden" name="${attribute.name}EditorType3IsActive" value="false">
								<div id="${attribute.name}EditorType3" name="${attribute.name}EditorType3" style="position:absolute; visibility: hidden; width:${width}px; height:${height}px; z-index:1; border: 0px none #000000;">
								    <img src="css/images/trans.gif" width="1" height="12">
								    <br>
								    <table cellpadding="0" cellspacing="0" border="0" width="100%" height="100%">
								    <tr>
								    	<td colspan="2" bgcolor="white" valign="top">
											#if($entityId > -1)
											As the form editor is somewhat complex you have to open it in a new window.
											Click <a href="javascript:openFormEditor('ViewFormEditor.action?contentVersionId=$!contentVersionId&contentVersionAttributeName=$!attribute.name');changeEditor(3, '${attribute.name}');"><strong>here</strong></a> for it.
											Edit the form there and close the window when you are done. 
											#else
											You cannot use the editor until you have saved the first version of this content. Fill
											in the rest of the form values and save without entering anything in this field. After that you
											will be able to use the editor.
											#end
										</td>
								    </tr>
								    </table>
								</div>
								<input type="hidden" id="${attribute.name}Hidden" name="${attribute.name}Hidden" value="$this.getAttributeValue($attribute.name)">
								
							#end
							
							#if($enableContentRelationEditor == "true" && $readonly == "")
								<!-- Here comes the Content Relation editor layer -->
								<input type="hidden" id="${attribute.name}EditorType4IsActive" name="${attribute.name}EditorType4IsActive" value="false">
								<div id="${attribute.name}EditorType4" name="${attribute.name}EditorType4" style="display:none; width:${width}px; height:${height}px; z-index:1; border: 1px solid #C2D0E2; overflow: auto;">
								    <table cellpadding="0" cellspacing="0" border="0" width="100%" height="100%">
								    <tr>
								    	<td colspan="2" bgcolor="white" valign="top">
								    		<p style="margin-top:5px; margin-left:5px;">
								    		#if($entityId > -1)
												Related Contents (<a href="javascript:openRelationEditor('ViewContentRelationEditor.action?updateAction=ViewContentRelationEditor!updateQualifyerInEntityProperties.action&entityName=$!entityName&entityId=$!entityId&attributeName=$!attribute.name');"><strong>Edit relations</strong></a>)
												<hr noshade size="1">
												#set($qualifyers = $this.getContentRelationQualifyers($this.getUnescapedAttributeValue($attribute.name)))
												<table border="0">
												#foreach($qualifyer in $qualifyers)
													<tr>
														<td valign="middle">
														<img src="css/images/tree/xp/item.png"> 
														</td>
														<td valign="middle">
														$qualifyer.getPath() 
														</td>
														<td></td>
														<td valign="middle">
														(<a href="javascript:openPopup('ViewContent!standalone.action?contentId=${qualifyer.getValue()}', 'editcontent', 'width=600,height=500,resizable=yes,scrollbars=yes');">Edit</a>)
														</td>
													</tr>
												#end
												</table>
											#else
												You cannot use the editor until you have saved the first version of this content. Fill
												in the rest of the form values and save without entering anything in this field. After that you
												will be able to use the editor.
											#end
											</p>
										</td>
								    </tr>
								    </table>
								</div>
								<input type="hidden" id="${attribute.name}Hidden" name="${attribute.name}Hidden" value="$this.getAttributeValue($attribute.name)">
								
								<script type="text/javascript">
									document.getElementById('${attribute.name}').style.display = "none";
									document.getElementById('${attribute.name}EditorType4').style.display = "block";							
								</script>
							#end
								
							
							#if($enableStructureRelationEditor == "true" && $readonly == "")
								<!-- Here comes the Structure Relation editor layer -->
								<input type="hidden" id="${attribute.name}EditorType5IsActive" name="${attribute.name}EditorType5IsActive" value="false">
								<div id="${attribute.name}EditorType5" name="${attribute.name}EditorType5" style="display:none; width:${width}px; height:${height}px; z-index:1; border: 1px solid #C2D0E2; overflow: auto;">
								    <table cellpadding="0" cellspacing="0" border="0" width="100%" height="100%">
								    <tr>
								    	<td colspan="2" bgcolor="white" valign="top">
											<p style="margin-top:5px; margin-left:5px;">
											#if($entityId > -1)
												Related SiteNodes (<a href="javascript:openRelationEditor('ViewStructureRelationEditor.action?updateAction=ViewStructureRelationEditor!updateQualifyerInEntityProperties.action&entityName=$!entityName&entityId=$!entityId&attributeName=$!attribute.name');"><strong>Edit relations</strong></a>)
												<hr noshade size="1">
												#set($qualifyers = $this.getSiteNodeRelationQualifyers($this.getUnescapedAttributeValue($attribute.name)))
												<table border="0">
												#foreach($qualifyer in $qualifyers)
													<tr>
														<td valign="middle">
														<img src="css/images/tree/xp/item.png"> 
														</td>
														<td valign="middle">
														$qualifyer.getPath() 
														</td>
													</tr>
												#end
												</table>
											#else
												You cannot use the editor until you have saved the first version of this content. Fill
												in the rest of the form values and save without entering anything in this field. After that you
												will be able to use the editor.
											#end
											</p>
										</td>
								    </tr>
								    </table>
								</div>	
								<input type="hidden" id="${attribute.name}Hidden" name="${attribute.name}Hidden" value="$this.getAttributeValue($attribute.name)">
								
								<script type="text/javascript">
									document.getElementById('${attribute.name}').style.display = "none";
									document.getElementById('${attribute.name}EditorType5').style.display = "block";							
								</script>
							#end
							
							#if($enableFormEditor == "true" && $readonly == "" && $contentVersionId > -1)
				    		<script type="text/javascript">
				    			document.getElementById('${attribute.name}').style.display = "none";
				    			showdiv = document.getElementById('${attribute.name}EditorType3');
								showdiv.style.visibility = "visible";
				    		</script>
				    		#end
				    		#if($enableContentRelationEditor == "true" && $readonly == "" && $contentVersionId > -1)
				    		<script type="text/javascript">
				    			document.getElementById('${attribute.name}').style.display = "none";
				    			showdiv = document.getElementById('${attribute.name}EditorType4');
								showdiv.style.visibility = "visible";
				    		</script>
				    		#end
				    		#if($enableStructureRelationEditor == "true" && $readonly == "" && $contentVersionId > -1)
				    		<script type="text/javascript">
				    			document.getElementById('${attribute.name}').style.display = "none";
				    			showdiv = document.getElementById('${attribute.name}EditorType5');
								showdiv.style.visibility = "visible";
				    		</script>
				    		#end
				    							
							<script type="text/javascript">
							
					    		var plainAttribute = document.getElementById("${attribute.name}").value;
							    		
								#if($currentEditorId == 1)
									changeEditor(1, "${attribute.name}");
								#elseif($currentEditorId == 2)
									changeEditor(2, "${attribute.name}");
								#elseif($currentEditorId == 3)
									changeEditor(3, "${attribute.name}");
								#elseif($currentEditorId == 4)
									changeEditor(4, "${attribute.name}");
								#else
									currentEditorIdHash["${attribute.name}CurrentEditorId"] = 0;
								#end
							</script>
							
						#elseif($attribute.inputType == "select")
						<!-- Handles the input type select = dropbox -->
							$attributeTitle ("$attribute.name") $attributeDescription <br/>
							<select $readonly size="1" id="$attribute.name" name="$attribute.name" class="$class">
				    			#foreach($value in $attribute.getContentTypeAttribute("values").getContentTypeAttributeParameterValues())
				    				<option value="$value.id" #checkSelected("$value.id" "$this.getAttributeValue($attribute.name)")>$value.getLocalizedValue("label", $session.locale)</option>
				    			#end
				    		</select>
		
						#elseif($attribute.inputType == "checkbox")
						<!-- Handles the input type checkbox -->
							$attributeTitle ("$attribute.name") $attributeDescription <br/>
			    			#foreach($value in $attribute.getContentTypeAttribute("values").getContentTypeAttributeParameterValues())
								<input $readonly type="checkbox" id="$attribute.name" name="$attribute.name" value="$value.id" #checkCheckedBySplit("$value.id" "$this.getAttributeValue($attribute.name)")>$value.getLocalizedValue("label", $session.locale)
			    			#end
		
						#elseif($attribute.inputType == "radiobutton")
						<!-- Handles the input type radiobutton -->
							$attributeTitle ("$attribute.name") $attributeDescription <br/>
			    			#foreach($value in $attribute.getContentTypeAttribute("values").getContentTypeAttributeParameterValues())
								<input $readonly type="radio" id="$attribute.name" name="$attribute.name" value="$value.id" #checkCheckedBySplit("$value.id" "$this.getAttributeValue($attribute.name)")>$value.getLocalizedValue("label", $session.locale)
			    			#end
		
						#end
						
					</td>
				</tr>
			#end
			
			#if($entityId)
				<tr>
					<td colspan="3"><img src="css/images/trans.gif" width="1" height="5"/></td>
				</tr>
				#set($allCategoryKeys = $definedCategoryKeys)
				#if($allCategoryKeys.size() > 0)
				<tr>
					<tr>
						<td colspan="3">$ui.getString("tool.contenttool.relatedCategories")</td>
					</tr>
					<td colspan="3" class="bordered">
						#foreach($categoryKey in $allCategoryKeys)
							#if($velocityCount > 1)
							<br>
							#end
							
							#set($keyAttribute = $categoryKey.value)
							#set($dropdownName = "${keyAttribute}${velocityCount}categoryId")
							#set($availableCategories = $this.getAvailableCategories($categoryKey.categoryId))
							<table border="0" width="100%" cellspacing="0" style="background-color: white;">
								<tr valign="bottom" class="darkgreen">
									<td width="80%">$categoryKey.title ("$keyAttribute") - $categoryKey.description</td>
									<td align="right">
		                            #if($entityId)
										#addCategorySelect($dropdownName $availableCategories "")
									#end
									</td>
									<td align="right">
		                            #if($entityId)
										<a href="javascript:addCategory('${keyAttribute}', '${dropdownName}');"><img src="css/images/v3/add.png" border="0"/></a>
									#end
									</td>
								</tr>
							</table>
							<table border="0" width="100%" cellspacing="0" cellpadding="2" aclass="bordered" style="border-top: 1px solid black;">
							#set($relatedCategories = $this.getRelatedCategories($keyAttribute))
							#foreach($relation in $relatedCategories)
		                        #set($isOdd = $velocityCount % 2)
								#set($class = "class='white'")
								#if($isOdd == 0)
									##set($class = "class='darkgreen'")
									#set($class = "class='lightgreen'")
								#end
								<tr $class>
									<td width="50%">$relation.category.getLocalizedDisplayName($this.languageCode, "none") ($relation.category.name)</td>
									<td width="50%" align="right">
										<a href="javascript:deleteCategory('$relation.propertiesCategoryId');"><img src="css/images/delete.gif" border="0"/></a>
									</td>
								</tr>
							#end
							#if($relatedCategories.size() == 0)
								<tr class="white">
									<td colspan="2">
									#if(!$entityId)
										$ui.getString("tool.contenttool.saveToRelateCategoriesPrefix") $keyAttribute
									#else
										$ui.getString("tool.contenttool.noCategoriesPrefix") $keyAttribute
									#end
									</td>
								</tr>
							#end
							</table>
						#end
					</td>
				</tr>
				<tr>
					<td colspan="3"><img src="css/images/trans.gif" width="1" height="5"/></td>
				</tr>
				
				#end
				
				<tr>
					<td colspan="3">
						$ui.getString("tool.contenttool.associatedAttachments")<br/>
						<table border="0" width="100%" cellspacing="0">
						<tr>
							#set($counter = 0)
							#foreach($digitalAsset in $digitalAssets)
								#set($digitalAssetUrl = "$this.getDigitalAssetUrl($digitalAsset.digitalAssetId)")
								<td valign="bottom" align="center" class="bordered">
									<input type="hidden" id="digitalAsset$digitalAsset.assetKey" value="$digitalAssetUrl">
									<a href="javascript:openPopup('$digitalAssetUrl', 'Preview', 'width=600,height=500,resizable=yes');"><img class="scaledbordered" src="$this.getDigitalAssetThumbnailUrl($digitalAsset.digitalAssetId)">
									<br/>$digitalAsset.assetKey</a><br/>
									#if($readonly == "")
										<a href="javascript:openPopup('ViewDigitalAsset!update.action?digitalAssetId=$digitalAsset.digitalAssetId&entity=$!entityName&entityId=$entityId','DigitalAsset','width=500,height=400,resizable=no');">$ui.getString("tool.contenttool.editAttachment")</a> / 
										<a href="DeleteDigitalAsset.action?digitalAssetId=$digitalAsset.digitalAssetId&entity=$!entityName&entityId=$entityId&returnAddress=$formatter.encodeURI($currentURL)">$ui.getString("tool.contenttool.deleteAttachment")</a>
									#end
								</td>
								#set($counter = $counter + 1)
								#if ($counter == 5)
								</tr>
								<tr>
									#set($counter = 0)	
								#end
							#end
							
							#if($counter == 0)
								<td>$ui.getString("tool.contenttool.noAttachmentsRightNow")</td>
							#end
						</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td colspan="3">&nbsp;<br>
						<a href="javascript:openPopup('ViewDigitalAsset.action?entity=$!entityName&entityId=$entityId', 'DigitalAsset', 'width=400,height=200,resizable=no')">Upload new asset</a>
					</td>
				</tr>
			#else
				<tr>
					<td colspan="3">
						$ui.getString("tool.contenttool.associatedAttachments")<br/>
						<table border="0" width="100%" cellspacing="0">
						<tr>
							<td valign="bottom" align="center" class="bordered" height="20">
								You must save the properties before you can upload any assets
							</td>
						</tr>
						</table>
					</td>
				</tr>
			#end
				
			<script type="text/javascript">
				function validateAndSubmitContentForm()
				{
					if(allowSave == false)
					{
						alert("$ui.getString("tool.contenttool.cannotSaveBecauseInvalidClose")");
						return;
					}
				
					pastedTime = count; 
					
					if(beenWarned)
					{
						answer = confirm("You have not saved for " + pastedTime + " minutes. We strongly recommends you copy the text so you don't risk loosing it if you have been inactive for to long. Do you want to save anyway?");
					}
					
					if (!beenWarned || answer)
					{
						isValid = true;
						
						#foreach($attribute in $contentTypeAttributes)
			   				currentEditorId = currentEditorIdHash["${attribute.name}CurrentEditorId"];
			   				if(currentEditorId)
			   					document.getElementById("currentEditorId").value = currentEditorId;
			   				
			   				//alert("currentEditorId:" + currentEditorId);
							if(currentEditorId == 1)
							{
								//document.getElementById("${attribute.name}WYSIWYG").
								//alert("WYSIWYG:" + document.getElementById("${attribute.name}WYSIWYG").value);
								//document.getElementById("${attribute.name}WYSIWYG").focus();
								document.getElementById("$attribute.name").value = document.getElementById("${attribute.name}WYSIWYG").value;
								document.getElementById("$attribute.name").value = untransformAttribute(document.getElementById("$attribute.name").value);
							}
							else if(currentEditorId == 2)
							{
								document.getElementById("$attribute.name").value = document.applets("InfoGlueCodeEditor").getText();
							}
			
			   				#if($attribute.inputType != "digitalAsset")
								//isCurrentValid = validate${attribute.name}();
								//if(isCurrentValid == false)
								//	isValid = false;
							#end
						#end
						
						if(isValid)
						{
							buildVersionValue(); 
							document.editForm.submit();
						}
					}
				}
			
				function validateAndSubmitContentFormThenExit()
				{
					//alert("Action:" + document.editForm.action);
					document.editForm.action = "$updateAction!saveAndExit.action";
					validateAndSubmitContentForm();		
				}
			
				
				function buildVersionValue()
				{
					var versionValue = "<?xml version='1.0' encoding='UTF-8'?>";
					versionValue += "<article>";
					versionValue += "<attributes>";
					
					#foreach($attribute in $contentTypeAttributes)
		   				#if($attribute.inputType != "digitalAsset")
							versionValue += "<$attribute.name>";
							versionValue += "<![CDATA[" + getValue("${attribute.name}") + "]]>";
							versionValue += "</$attribute.name>";
						#end
					#end
					
					versionValue += "</attributes>";
					versionValue += "</article>";
					
					//alert("versionValue:" + versionValue);				
					document.editForm.value.value = versionValue;
				}
						
				function getValue(elementId)
				{
					var value = "";
					//alert(elementId);
					
					var allElem = document.editForm.elements;
					//alert("allElem:" + allElem.length);
				  	for(i=0;i<allElem.length;i++)
					{
					    var element = allElem[i];
					    //alert("element.name:" + element.name);
					    //alert("element.type:" + element.type);
					    
					    if(element.name == elementId)
					    {
					    	if(element.type=='checkbox' || element.type=='radio')
					        {
					        	//alert("element.checked:" + element.checked);
					        	if(element.checked == true)
					          	{
					          		if(value == "")
						          		value += element.value;
									else
										value += ',' + element.value;				
					          	}
					        }
							else
							{
								/*
								fieldName = "document.editForm." + elementId;
								value = eval(fieldName).value;
								*/
								
								var hiddenField = document.getElementById(elementId + "Hidden");
								if(hiddenField)
									fieldName = "document.editForm." + elementId + "Hidden";
								else
									fieldName = "document.editForm." + elementId;
								
		
								value = eval(fieldName).value;
								
							}
					    }      
					}	
												
					//alert("value:" + value);
					return value;
				}
						
				</script>
				<input type="hidden" id="value" name="value" value=""/>
				<input type="hidden" id="currentEditorId" name="currentEditorId" value=""/>
				</td>
			</tr>
			
			<!-- end fields -->
		
			<tr>
				<td colspan="3">&nbsp;</td>
			</tr>
			<tr>
				<input type="hidden" name="ownerEntityId" value="$!ownerEntityId">
				<input type="hidden" name="contentTypeDefinitionId" value="$!contentTypeDefinitionId">
				<input type="hidden" name="entityId" value="$!entityId">
				<input type="hidden" name="returnAddress" value="$returnAddress">
			</tr>
		</table>
	</form>
	
	<form id="catForm" name="catForm" action="PropertiesCategory!add.action" method="POST">
		<input type="hidden" name="igSecurityCode" value="$!securityCode"/>
		<input type="hidden" id="propertiesCategoryId" name="propertiesCategoryId" value="">
		<input type="hidden" id="model/attributeName" name="model/attributeName" value="">
		<input type="hidden" id="model/category/categoryId" name="model/category/categoryId" value="">
		<input type="hidden" name="model/entityName" value="$entityName">
		<input type="hidden" name="model/entityId" value="$entityId">
		<input type="hidden" name="returnAddress" value="$returnAddress">
	</form>

</div>

<div onfocus="this.blur();" id="footertoolbar">
	<div style="float: left; margin-left: 10px;">
		#if($readonly == "")
		<input type="button" class="save" value="$ui.getString("tool.common.saveButton.label")" onclick="validateAndSubmitContentForm();"/>
		<input type="button" class="saveAndExit" value="$ui.getString("tool.common.saveAndExitButton.label")" onclick="validateAndSubmitContentFormThenExit();"/>
		#end
		<input type="button" class="cancel" value="$ui.getString("tool.common.cancelButton.label")" onclick="document.location.href='$cancelAddress';"/>
	</div>
</div>

</body>
</html>