<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<script type="text/javascript">
function reloadMenu()
{
	var menuFrame = parent.header;
	menuFrame.location.reload();
}
</script>

#beginManagementTool("tool.managementtool.viewAuthorizationSwitchManagementGroup.header" "tool.managementtool.viewAuthorizationSwitchManagementGroup.header" "")

<div class="fullymarginalized">
<form method="POST" name="editForm" action="AuthorizationSwitchManagement!updateGroup.action">
<input type="hidden" name="igSecurityCode" value="$!securityCode"/>
<input type="hidden" name="groupName" value="$groupName"/>
<table>
	<tr>
		<td colspan="2" class="biglabel">$ui.getString("tool.managementtool.viewAuthorizationSwitchManagementGroup.intro", $groupName)</td>
	</tr>
	<tr>
		<td colspan="2" class="biglabel">
			<select name="newGroupName" id="newGroupName"> 	
			#foreach ($group in $groups)
				<option id="$group.name">$group.displayName ($group.name)</option>
			#end
			</select>
		</td>
	</tr>
	
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="2">$ui.getString("tool.managementtool.viewAuthorizationSwitchManagementGroup.info", $accessRights.size())</td>
	</tr>	
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>

	<tr>
		<input type="hidden" name="interceptorId" value="$!interceptorId">
		<td>
			<input type="image" src="$ui.getString("images.managementtool.buttons.save")" width="50" height="25" border="0">
			<a href="AuthorizationSwitchManagement.action"><img border="0" src="$ui.getString("images.managementtool.buttons.cancel")" width="50" height="25"></a>
		</td>
		
	</tr>	
</table>
</div>

#endManagementTool()