<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
	<title>My Settings - change password</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	
	<link rel="stylesheet" type="text/css" href="css/cms.css" /> 
	<link rel="stylesheet" type="text/css" href="css/infogluecommons.css" /> 
	
	<script language="JavaScript" src="script/listview.js"></script>
	<script type="text/javascript" src="script/infogluecommons.js"></script>

	<META HTTP-EQUIV="pragma" CONTENT="no-cache" />
	<META HTTP-EQUIV="expires" CONTENT="-1" />	
</head>

<body class="managementtooledit">

<div class="fullymarginalized">
<form method="POST" name="editForm" action="UpdateSystemUserPassword.action">
<input type="hidden" name="igSecurityCode" value="$!securityCode"/>
<table>
	<tr>
		<td>#editField("SystemUser.oldPassword" "oldPassword" "$!oldPassword" "51")</td>
	</tr>		
	<tr>
		<td>#editField("SystemUser.newPassword" "newPassword" "$!newPassword" "51")</td>
	</tr>
	<tr>
		<td>#editField("SystemUser.verifiedNewPassword" "verifiedNewPassword" "$!verifiedNewPassword" "51")</td>
	</tr>
	
	#set($infogluePrincipalId = $formatter.encodeURI($userName)) 
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>	
		<input type="hidden" name="userName" value="$!userName">
		<input type="hidden" name="returnAddress" value="$!returnAddress">
		<td>
			<input type="image" src="$ui.getString("images.managementtool.buttons.save")" width="50" height="25" border="0">
			<a href="$returnAddress"><img border="0" src="$ui.getString("images.managementtool.buttons.cancel")" width="50" height="25"></a>
		</td>
	</tr>
</table>
</form>
</div>

</body>
</html>
