<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#beginManagementTool("tool.managementtool.viewSystemUserPasswordDialog.header" "tool.managementtool.viewSystemUserPasswordDialog.header" "userName=$formatter.encodeURI($userName)")

<div class="fullymarginalized">

	<form name="editForm" method="POST" action="ViewPasswordTool.action">
		<input type="hidden" name="igSecurityCode" value="$!securityCode"/>
		<h3>$ui.getString("tool.managementtool.password.header")</h3>
		<p>$ui.getString("tool.managementtool.password.introduction")</p>
		<p>
		 	Enter password:<br/>
			<input type="password" name="password" value=""/>
		</p>
	</form>	
</div>

<div onfocus="this.blur();" id="footertoolbar">
	<div style="float: left; margin-left: 10px;">
		<input type="button" class="next" value="Generate" onclick="save(document.editForm);"/>
		<input type="button" class="cancel" value="$ui.getString("tool.common.cancelButton.label")" onclick="document.location.href='ViewSystemTools.action';"/>
	</div>
</div>

</body>
</html>