<?xml version="1.0" encoding="UTF-8"?> 
 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  
#beginManagementTool("tool.managementtool.viewSystemTools.header" "tool.managementtool.viewSystemTools.header" "")

<div class="fullymarginalized">

	<h3>$ui.getString("tool.managementtool.inconsistenciesTool.header")</h3>

	<table cellpadding="2" cellspacing="2">
	<tr>
		<th align="left">Type</td>
		<th align="left">Description</th>
		<th align="left">Actions</th>
	</tr>
	#if($inconsistencies.size() == 0)
		<tr><td>$ui.getString("tool.managementtool.inconsistenciesTool.noFoundInconsistencies")</td></tr>
	#else
		#foreach($inconsistency in $inconsistencies)
		<tr style="border:1px solid #CCCCCC;">
			<td>$inconsistency.referenceType</td>
			<td>
			#if($inconsistency.entityName == "org.infoglue.cms.entities.content.Content")
				#if($inconsistency.referencingEntityCompletingName == "org.infoglue.cms.entities.content.Content")
					#if($inconsistency.referenceType == 0)
						#set($editUrl = "ViewContentVersion!standalone.action?contentVersionId=$inconsistency.referencingEntityId")
						Innehållet med id $inconsistency.entityId refererades som en länk i innehållet "$this.getContentVO($inconsistency.referencingEntityCompletingId).name"
					#elseif($inconsistency.referenceType == 1)
						#set($editUrl = "ViewContentVersion!standalone.action?contentVersionId=$inconsistency.referencingEntityId")
						Innehållet med id $inconsistency.entityId hade en fil som refereras som en inline bild i innehållet "$this.getContentVO($inconsistency.referencingEntityCompletingId).name"
					#elseif($inconsistency.referenceType == 5)
						#set($editUrl = "ViewContentVersion!standalone.action?contentVersionId=$inconsistency.referencingEntityId")
						Sidan med id $inconsistency.entityId refererades som en sidrelation i innehållet "$this.getContentVO($inconsistency.referencingEntityCompletingId).name"
					#elseif($inconsistency.referenceType == 6)
						#set($editUrl = "ViewContentVersion!standalone.action?contentVersionId=$inconsistency.referencingEntityId")
						Innehållet med id $inconsistency.entityId refererades som en innehållsrelation i innehållet "$this.getContentVO($inconsistency.referencingEntityCompletingId).name"
					#end
				#elseif($inconsistency.referencingEntityCompletingName == "org.infoglue.cms.entities.structure.SiteNode")
					#if($inconsistency.referenceType == 0)
						#set($editUrl = "ViewContentVersion!standalone.action?contentVersionId=$inconsistency.referencingEntityId")
						Innehållet med id $inconsistency.entityId refererades som en länk i innehållet "$this.getSiteNodeVO($inconsistency.referencingEntityCompletingId).name"
					#elseif($inconsistency.referenceType == 1)
						#set($editUrl = "ViewContentVersion!standalone.action?contentVersionId=$inconsistency.referencingEntityId")
						Innehållet med id $inconsistency.entityId hade en fil som refereras som en inline bild i innehållet "$this.getSiteNodeVO($inconsistency.referencingEntityCompletingId).name"
					#elseif($inconsistency.referenceType == 2)
						#set($viewUrl = "${componentRendererUrl}${componentRendererAction}?siteNodeId=$inconsistency.referencingEntityCompletingId")
						Innehållet med id $inconsistency.entityId refererades som en komponent av en version av sidan "$this.getSiteNodeVO($inconsistency.referencingEntityCompletingId).name"
					#elseif($inconsistency.referenceType == 3)
						#set($viewUrl = "${componentRendererUrl}${componentRendererAction}?siteNodeId=$inconsistency.referencingEntityCompletingId")
						Innehållet med id $inconsistency.entityId refererades av en komponent på en version av sidan "$this.getSiteNodeVO($inconsistency.referencingEntityCompletingId).name"
					#end
				#end
			#elseif($inconsistency.entityName == "org.infoglue.cms.entities.structure.SiteNode")
				#if($inconsistency.referencingEntityCompletingName == "org.infoglue.cms.entities.content.Content")
					#if($inconsistency.referenceType == 0)
						#set($editUrl = "ViewContentVersion!standalone.action?contentVersionId=$inconsistency.referencingEntityId")
						Sidan med id $inconsistency.entityId refererades i texten av en version av innehållet "$this.getContentVO($inconsistency.referencingEntityCompletingId).name"
					#elseif($inconsistency.referenceType == 1)
						#set($editUrl = "ViewContentVersion!standalone.action?contentVersionId=$inconsistency.referencingEntityId")
						Innehållet med id $inconsistency.entityId hade en fil som refereras som en inline bild i innehållet "$this.getSiteNodeVO($inconsistency.referencingEntityCompletingId).name"
					#elseif($inconsistency.referenceType == 2)
						#set($viewUrl = "${componentRendererUrl}${componentRendererAction}?siteNodeId=$inconsistency.referencingEntityCompletingId")
						Innehållet med id $inconsistency.entityId refererades som en komponent av en version av sidan "$this.getSiteNodeVO($inconsistency.referencingEntityCompletingId).name"
					#elseif($inconsistency.referenceType == 3)
						#set($viewUrl = "${componentRendererUrl}${componentRendererAction}?siteNodeId=$inconsistency.referencingEntityCompletingId")
						Innehållet med id $inconsistency.entityId refererades av en komponent på en version av sidan "$this.getSiteNodeVO($inconsistency.referencingEntityCompletingId).name"
					#elseif($inconsistency.referenceType == 5)
						#set($editUrl = "ViewContentVersion!standalone.action?contentVersionId=$inconsistency.referencingEntityId")
						Sidan med id $inconsistency.entityId refererades som en sidrelation i innehållet "$this.getContentVO($inconsistency.referencingEntityCompletingId).name"
					#elseif($inconsistency.referenceType == 6)
						#set($editUrl = "ViewContentVersion!standalone.action?contentVersionId=$inconsistency.referencingEntityId")
						Innehållet med id $inconsistency.entityId refererades som en innehållsrelation i innehållet "$this.getContentVO($inconsistency.referencingEntityCompletingId).name"
					#end
				#elseif($inconsistency.referencingEntityCompletingName == "org.infoglue.cms.entities.structure.SiteNode")
					Sidan med id $inconsistency.entityId refererades av en version av sidan "$this.getSiteNodeVO($inconsistency.referencingEntityCompletingId).name"
				#end
			#end
			</td>
			<td>
				#if($editUrl && $editUrl != "")
					<a href="$editUrl" target="_blank"><img src="images/edit.gif" border="0" alt="Fix"></a>
				#else
					<a href="$viewUrl" target="_blank"><img src="images/preview_icon.gif" border="0" alt="Preview"></a>
				#end
				<a href="ViewInconsistencies!removeReference.action?registryId=$inconsistency.id"><img src="images/ok_icon.gif" border="0" alt="Fix"></a>
			</td>
		#end
		</tr>
	#end
	</table>
	
</div>

<div onfocus="this.blur();" id="footertoolbar">
	<div style="float: left; margin-left: 10px;">
		<input type="button" class="close" value="$ui.getString("tool.common.closeWindowButton.label")" onclick="document.location.href='ViewSystemTools.action';"/>
	</div>
</div>

</body>
</html>