#define($headerMarkup)

	<style type="text/css">
		@import "script/jqueryplugins/dataTables/media/css/ig_table.css";
	</style>
	<script type="text/javascript" language="javascript" src="script/jqueryplugins/dataTables/media/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" charset="utf-8">
	<!--
		$(document).ready(function() {
			#set($extraParameter = '')
			#initDataTableImpl("dataTable" $extraParameter)
			#initDeleteLink()
		});
	-->
	</script>
	
	<style type="text/css">
		#dataTable td {
			background-repeat: no-repeat;		
			background-position: 8px 6px;
		}
		.archive {
			background-image: url('images/v3/archiveIcon.png');
			text-indent: 20px;
			white-space: nowrap;
		}
		
		.validation {
			background-image: url('images/v3/validationIcon.png');
			text-indent: 20px;
			white-space: nowrap;
		}
		
		.performance {
			background-image: url('images/v3/performanceIcon.png');
			text-indent: 20px;
			white-space: nowrap;
		}
		
		.logviewer {
			background-image: url('images/v3/logviewerIcon.png');
			text-indent: 20px;
			white-space: nowrap;
		}
		
		.inconsistencies {
			background-image: url('images/v3/inconsistenciesIcon.png');
			text-indent: 20px;
			white-space: nowrap;
		}
		
		.deployment {
			background-image: url('images/v3/deploymentIcon.png');
			text-indent: 20px;
			white-space: nowrap;
		}
		
		.deploymentVC {
			background-image: url('images/v3/deploymentVCIcon.png');
			text-indent: 20px;
			white-space: nowrap;
		}
		
		.password {
			background-image: url('images/v3/passwordIcon.png');
			text-indent: 20px;
		}
		
		.lucene {
			background-image: url('images/v3/luceneIcon.png');
			text-indent: 20px;
		}
	</style>
#end

################################
##BEGIN REAL CODE
################################
#beginLightCommonToolV3Impl("tool.managementtool.viewSystemTools.header" "" "" false true $!disableCloseButton $headerMarkup true "")

	##lightMenuToolbar("" $buttons $rightButtons) 

	<div style="clear: both;"></div>
	
	<div id="igEditArea" class="igScrollArea" onfocus="this.blur();">
	
		<h3>$ui.getString("tool.managementtool.viewSystemTools.header")</h3>
	
		<table cellpadding="0" cellspacing="0" border="1" class="display" id="dataTable">
			<thead>
				<tr>
					<th>Tool</th>
					<th>$ui.getString("entity.Repository.description.label")</th>
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="archive"><a href="ViewArchiveTool!input.action" class="systemLinkLabel">$ui.getString("tool.managementtool.archiveTool.title")</a></td>
					<td>$ui.getString("tool.managementtool.archiveAssets.leadin")</td>
				</tr>
				<tr>
					<td class="validation"><a href="InstallationValidator!input.action?title=Validation" class="systemLinkLabel">$ui.getString("tool.managementtool.validationTool.title")</a></td>
					<td>$ui.getString("tool.managementtool.validation.introduction")</td>
				</tr>
				<tr>
					<td class="performance"><a href="jsp/PerformanceTest.jsp" class="systemLinkLabel">$ui.getString("tool.managementtool.performanceTool.title")</a></td>
					<td>$ui.getString("tool.managementtool.performanceTool.title")</td>
				</tr>
				<tr>
					<td class="inconsistencies"><a href="ViewInconsistencies!input.action?title=Inconsistencies" class="systemLinkLabel">$ui.getString("tool.managementtool.inconsistenciesTool.title")</a></td>
					<td>$ui.getString("tool.managementtool.inconsistenciesTool.introduction")</td>
				</tr>
				<tr>
					<td class="deployment"><a href="ViewDeploymentChooseServer!input.action?title=Deployment" class="systemLinkLabel">$ui.getString("tool.managementtool.deployment.title")</a></td>
					<td>$ui.getString("tool.managementtool.deployment.header")</td>
				</tr>
				<tr>
					<td class="deploymentVC"><a href="#" onclick="if(top.openInlineDiv) top.openInlineDiv('ViewVCDeployment!input.action', 600, 800, true, true, 'Version control sync'); else openPopup('ViewVCDeployment!input.action', 'Version control sync', 'width=800,height=600,resizable=yes,scrollbars=yes');" class="systemLinkLabel">$ui.getString("tool.managementtool.deploymentVC.title")</a></td>
					<td>$ui.getString("tool.managementtool.deploymentVC.header")</td>
				</tr>
				<tr>
					<td class="password"><a href="ViewPasswordTool!input.action?title=Password+generation" class="systemLinkLabel">$ui.getString("tool.managementtool.password.title")</a></td>
					<td>$ui.getString("tool.managementtool.password.header")</td>
				</tr>
				<tr>
					<td class="lucene"><a href="ViewApplicationState!luceneStatistics.action" class="systemLinkLabel">$ui.getString("tool.managementtool.luceneoverview.title")</a></td>
					<td>$ui.getString("tool.managementtool.luceneoverview.introduction")</td>
				</tr>
				<tr>
					<td class="logviewer"><a href="ViewLogging.action?title=Logging" class="systemLinkLabel">$ui.getString("tool.managementtool.loggingTool.title")</a></td>
					<td>$ui.getString("tool.managementtool.loggingTool.header")</td>
				</tr>
	
			</tbody>
		</table>
		
	</div>
		
#endLightCommonToolV3()