.ui-tabs .ui-tabs-hide {
     display: none;
}

.ui-helper-reset {
	font-size:14px;
}

.inlineTabDiv {
	padding-left: 20px;
	overflow: auto;
	background-color: white !important;
}
.inlineTabDiv > form, .inlineTabDiv > table {
	margin: 10px;
}
.inlineSubTabDiv {
	padding-left: 0px;
	display: block;
	float: left;
	overflow: auto;
}

#contentVersionDiv {
	height: 550px; 
	overflow: auto;
}
#contentVersionCategoriesDiv {
	height: 550px; 
	overflow: auto;
}
#contentVersionAssetsDiv {
	height: 550px; 
	overflow: auto;
}
#contentCoverDiv {
	height: 550px; 
	overflow: auto;
}

/* TEST TAB ISSUES */
.ui-widget-header 
{
	background-image:none;
	background-repeat:repeat-x;
	border-top: 1px solid transparent;
	border-bottom: 1px solid #d0d1d0;
   }
.ui-tabs 
{
	border: 0px;
}
.ui-tabs .ui-tabs-nav 
{
	border-left: 0px;
	border-right: 0px;
    padding:2px 2px 0px 8px;
    position:relative;
    background-color: #f6f6f6;
}
.ui-tabs .ui-tabs-nav li a 
{
   	font-size:12px;
	padding: 4px 10px 4px 10px;
    text-decoration:none;
}
.ui-corner-all 
{
	border-bottom-left-radius: 0px 0px !important;
	border-bottom-right-radius: 0px 0px !important;
	border-top-left-radius: 0px 0px !important;
	border-top-right-radius: 0px 0px !important;
	-moz-border-radius-bottomleft:0px !important;
    -moz-border-radius-bottomright:0px !important;
    -moz-border-radius-topleft:0px !important;
    -moz-border-radius-topright:0px !important;
}
.ui-tabs
{
	padding:0px;
}
.ui-tabs .ui-tabs-panel 
{
	padding: 0px;
}

.ui-state-default, .ui-widget-content .ui-state-default 
{ 
	border: 1px solid #d0d1d0; 
	font-weight: bold; 
	outline: none; 
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited 
{
	color: #555555;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited 
{
	color: #555555;
}
.ui-tabs-nav a
{
	background: none;
	color: white; 
}
.ui-tabs-nav .ui-tabs-selected a
{
	background: none; 
}
.ui-tabs-nav .ui-tabs-selected a span 
{
    background-position: 0 -28px;
}
.ui-state-active, .ui-widget-content .ui-state-active 
{ 
	border: 1px solid #d0d1d0;
}
.topDiv, .cleanTopDiv
{
	margin-top: 10px;
}
.cleanTopDiv .ui-tabs-nav {
	background-color: transparent;
}
.transparentTop .ui-tabs-nav {
	background-color: transparent;
}
