#define( $headerMarkup )
	
	<script type="text/javascript">
	<!--
		function submitForm()
		{
			document.editForm.submit();
		}

		$(document).ready(function(){
				
			$("#closeDialog").click(function(){
				if(parent && parent.closeInlineDiv) parent.closeInlineDiv(); else if(parent && parent.closeDialog) parent.closeDialog(); else window.close();
		   	});
		
		});
	-->
	</script>
#end

################################
##BEGIN REAL CODE
################################
#beginLightCommonToolV3Impl("tool.managementtool.deploymentQuick.finishedHeader" "" "" false true $!disableCloseButton $headerMarkup)

	#lightMenuToolbar("" $buttons $rightButtons) 

	<div style="clear: both;"></div>
	
	<form name="editForm" method="post" action="ViewQuickDeploymentSynchronizeContents!input.action">
		<input type="hidden" name="igSecurityCode" value="$!securityCode"/>
		<input type="hidden" name="contentId" value="$contentId"/>	

		<h3>$ui.getString("tool.managementtool.deploymentQuick.finishedHeader") 
			#if($errorMessage && $errorMessage != "")
				<span style="color:red">$errorMessage</span><br/>
			#end
		</h3>

		<p>$ui.getString("tool.managementtool.deploymentQuick.finishedText")</p>
		
		<p>
			<a id="closeDialog" href="javascript:parent.closeDialog();" style="display:block;  padding-top: 8px; height: 20px;"><strong>$ui.getString("tool.common.closeDialogLinkText")</strong></a> 
			$ui.getString("tool.common.closeDialogLinkTitle")
		</p>
		
		#lightFooterToolbar($footerButtons)
		
	</form>

#endLightCommonToolV3()