<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
	<title>$error.getName()</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="Pragma" content="no-cache" />

	<style>
		
		body {
			color            : #123456;
			background-color : #FFFFFF;
			font-family      : verdana, arial, sans-serif;
			font-size        : 11px;
		}
		
		.loginbox {
			background-color : #FFFFFF;
			border-style	 : solid;
			border-width	 : 1px;
			border-color	 : #cecbce;
		}

		.borderedCell {
			background-color : #FFFFFF;
			border-style	 : solid;
			border-width	 : 1px;
			border-color	 : #cecbce;
		}
		
		td {
			font-family      : verdana, arial, sans-serif;
			font-size        : 11px;
			color		 	 : #333333;
		}
		
		.input {
			font-family      : verdana, arial, sans-serif;
			font-size        : 11px;
			border-style	 : solid;
			border-width	 : 1px;	
			border-color     : #cecbce;
		}
		
		div.fullymarginalized {
			margin-top		 : 20%;
			margin-bottom	 : 20%;
			width 			 : 100%;	
		}

		td.headline {
			font-size        : 14px;
			font-weight		 : bold;
		}

	</style> 
	
	<script type="text/javascript" language="Javascript">
	<!--
	
		function expandAndFocus()
		{
			document.inputForm.elements[0].focus();
		}			

		function toggleStacktrace()
		{
			var stacktrace = document.getElementById("stacktrace");
			if(stacktrace.style.display == "block")
				stacktrace.style.display = "none";
			else
				stacktrace.style.display = "block";
		}
		-->
	</script>

	

</head>

<body>

<div class="fullymarginalized">

<table class="loginbox" align="center" border="1" cellspacing="5" cellpadding="0">
<tr>
	<td valign="top" class="borderedCell"><img src="$this.getURLBase()/images/login.jpg" width="130" height="237"/></td>
	<td valign="top" class="borderedCell">
		<table align="center" border="0" cellspacing="0" cellpadding="0" width="200">
		<tr>
			<td colspan="2" style="background-image: url($this.getURLBase()/images/errorHeaderBackground.gif); background-repeat: repeat-x;" align="center"><img src="$this.getURLBase()/images/error.jpg"></td>
		</tr>	
		<tr>
			<td colspan="2"><img src="$this.getURLBase()/images/trans.gif" width="1" height="20"></td>
		</tr>	
		<tr>
			<td><img src="$this.getURLBase()/images/trans.gif" width="20" height="1"></td>
			<td>Message: $error.getMessage()</td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td><img src="$this.getURLBase()/images/trans.gif" width="20" height="1"></td>
			<td>Click <a href="javascript:toggleStacktrace();">here</a> to toggle stacktrace</td>
		</tr>
		<tr>
			<td colspan="2">
				<table id="stacktrace" style="display:none;">
				<tr>
		            <td><img src="$this.getURLBase()/images/trans.gif" width="20" height="1"></td>
		            <td>$error.getStackTrace()</td>
		        </tr>
		        #if($error.hasCause())
		        <tr>
		          <td><img src="$this.getURLBase()/images/trans.gif" width="20" height="1"></td>
		          <td>$error.getCauseMessage()</td>
		        </tr>
		        <tr>
		          <td><img src="$this.getURLBase()/images/trans.gif" width="20" height="1"></td>
		          <td>$error.getCauseStackTrace()</td>
		        </tr>
		        #end
		        </table>
	        </td>
        </tr>
		</table>
	</td>
</tr>	
</table>

</div>
 
</body>
</html>