##*****************************************************
## This is the header for all V3 managementtool pages *
##*****************************************************

#macro(beginLightCommonToolV3 $titleKey $primaryKey $extraData $hasDataTable $endHeadAndDefineBody $disableCloseButton)
	#beginLightCommonToolV3Impl($!titleKey $!primaryKey $!extraData $!hasDataTable $!endHeadAndDefineBody $!disableCloseButton "" false "")
#end

#macro(beginLightCommonToolV3Impl $titleKey $primaryKey $extraData $hasDataTable $endHeadAndDefineBody $disableCloseButton $customHeaderMarkup $skipResize $extraBodyClass)

#set($buttons = $this.getToolbarButtons("$titleKey", "$!primaryKey", "$extraData"))
#set($rightButtons = $this.getRightToolbarButtons("$titleKey", "$!primaryKey", "$extraData", $!disableCloseButton))
#set($footerButtons = $this.getFooterToolbarButtons("$titleKey", "$!primaryKey", "$extraData", $!disableCloseButton))

<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>$ui.getString($titleKey)</title>
	
	<link type="text/css" href="script/jqueryplugins-latest/ui/css/jquery-ui.css" rel="stylesheet" />	
	<script type="text/javascript" src="script/jquery-latest/jquery.min.js"></script>
	<script type="text/javascript" src="script/jqueryplugins-latest/ui/js/jquery-ui.min.js"></script>
	
	<script type="text/javascript" src="script/v3/infoglue.js"></script>
	<script type="text/javascript" src="script/v3/infoglueWidgets.js"></script>

	<link rel="stylesheet" type="text/css" href="css/infoglue.css" />
	<link rel="stylesheet" type="text/css" href="css/infoglueWidgets.css" /> 
	<link rel="stylesheet" type="text/css" href="css/tabs.css" media="screen" />
			
	<link rel="stylesheet" type="text/css" href="css/work.css" />
	<link rel="stylesheet" type="text/css" href="css/skins/${theme}/main.css" />
	
	<script type="text/javascript">
	<!--
		try { document.execCommand('BackgroundImageCache', false, true); } catch(e) {}
	
		$(document).ready(function(){
			/*
			$(":input:first").focus();
	
	 		$("div").each(function(i,e){
	 			$(this).attr("tabindex", "-1");
			});
			*/
			
			#if($skipResize != true)
				resizeScrollArea();
				$(window).resize( function() {
	     			resizeScrollArea();
	 			});
			#end
			
			//alert("document.location.href:" + document.location.href);
			//alert("document.title:" + document.title);
			//alert("window.name:" + window.name);
			
			//title, toolbarKey, arguments, unrefreshedContentId, changeTypeId, newContentId
			
			if(window.name.indexOf("TB_iframe") == -1 && parent.refreshTopToolBar)
			{
				//alert("Calling parent.refreshTopToolBar: $titleKey");
				parent.refreshTopToolBar('$titleKey', '$titleKey', '$extraData', -1, -1, -1);
	 		}
	 	});

		function openWindow(url, windowTitle, options) 
		{
			newWin = window.open(url, windowTitle, options);
			if(newWin)
				newWin.focus();
			else
				alert("Could not open in new window - if you have a popup blocker this is most likely the cause.");
		}
		
	   	function openInlineDiv(url, height, width, modal) 
		{
	   		openInlineDiv(url, height, width, modal, true, "Inline div");
		}
	   	
	   	function openInlineDiv(url, height, width, modal, iframe, title) 
		{
			//alert("openInlineDiv:" + url);   		
			var windowHeight = getWindowHeight();
	   		//alert("windowHeight:" + windowHeight);
	   		if((windowHeight-60) < height)
	   			height = windowHeight - 60;
	
			var windowWidth = getWindowWidth();
	   		//alert("windowWidth:" + windowWidth);
	   		if(windowWidth < width)
	   			width = windowWidth - 60;
	   			
	   	  	var separatorSign = "?";
	   		if(url.indexOf("?") > -1)
		  		separatorSign = "&";
	   		
	   		var addition = separatorSign + "KeepThis=true&" + (iframe ? "TB_iframe=true&" : "") + "height=" + height + "&width=" + width + (modal ? "&modal=true" : "");
			//alert("Showing:" + title + ":" + url + addition);   		
	   		tb_show(title, url + addition, title);
	   	}
		
		
		function callUrlWithAlternative(url, alternateUrl)
		{
			jQuery.ajax({
			    url: '' + alternateUrl,
			    type: 'GET',
			    dataType: 'html',
			    timeout: 1000,
			    error: function(){
	        		openWindow(url, "Help", "");
			    },
			    success: function(xml){
				  	openWindow(alternateUrl, "Help", "");
			    }
			});
		}
	-->
	</script>
	
	<!-- -->
	$customHeaderMarkup
	<!-- -->

	<meta http-equiv="Expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

#if($endHeadAndDefineBody)
</head>

<body class="generaltooledit yui-skin-sam $!extraBodyClass">

<div id="genericDialog" title="genericQuestion" style="display: none">
	<h3>Confirmation</h3>
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>$ui.getString("tool.common.confirmation.text")</p>
</div>

#set( $lvColor = "silver")
#end

#end

##***********************************************************
## A macro to add a toolbar to a page
##***********************************************************
#macro(lightMenuToolbar $headline $buttons $rightButtons)
	#lightMenuToolbarImpl($headline $buttons $rightButtons "")
#end

##***********************************************************
## A macro to add a toolbar to a page
##***********************************************************
#macro(lightMenuToolbarImpl $headline $buttons $rightButtons $rightExtraMarkup)
<div id="menutoolbar">
	<div id="menutoolbarLeft" style="position: absolute; z-index: 5; padding-left: 4px; padding-top: 2px;">
		#if($headline != "")
			<div style="float: left; padding-top: 8px; padding-left: 10px;">$headline | </div>
		#end
		#foreach($button in $buttons)
			#if($button.subButtons.size() == 0)
				<a class='igToolbarButton igToolbarHeaderButton' href="#" id="button$velocityCount" name="button$velocityCount" title="$button.title"><span class='igToolbarButtonOuterSpan igToolbarHeaderButton'><span class='$button.cssClass' title="$button.title">$button.text</span></span></a>
				<script type="text/javascript">
				<!--
				$("#button$velocityCount").click(function(){
	            	#if($button.actionURL.indexOf("javascript") == -1 && $button.isJavascript == false && $button.actionURL != '')
		           		document.location.href = '$button.actionURL';
		           	#else
		           		$button.actionURL
		           	#end
	            });
				-->
				</script>
			#else
				<div id="buttons$velocityCount" style="height: 26px; overflow: hidden; display: block; float: left;">
				<div id="initialButton" style="display: block; float: left;">
				<a class="igToolbarButton igToolbarHeaderButton" style="amargin-top: 0px; margin-bottom: 0px;" href="#" id="button$velocityCount" name="button$velocityCount" title="$button.title"><span class='igToolbarButtonOuterSpan igToolbarHeaderButton'><span class='$button.cssClass' title="$button.title">$button.text</span></span></a>
				</div>
				<div style="clear:both;"></div>
				#set($height = 26)
				#foreach($subButton in $button.subButtons)
					<a class="igToolbarButton igToolbarSubButton" style="margin-top: 0px; margin-bottom: 0px;" href="#" id="subButton$velocityCount" name="subButton$velocityCount" title="$subButton.title"><span class='igToolbarButtonOuterSpan igToolbarSubButtonOuterSpan'><span class='$subButton.cssClass' title="$subButton.title">$subButton.text</span></span></a>
					<div style="clear: both;"></div>
					#set($height = $height + 26)
				#end
				<script type="text/javascript">
				<!--
				$("#button$velocityCount").click(function(){
					if($("#buttons$velocityCount").css("height") == "${height}px")
					{
		            	$("#buttons$velocityCount").css("height", "26px");
						$("#buttons$velocityCount").css("backgroundColor", "transparent");
					}
					else
					{
		            	$("#buttons$velocityCount").css("height", "${height}px");
						$("#buttons$velocityCount").css("backgroundColor", "#e7e7e7");
					}
			    });
				#foreach($subButton in $button.subButtons)
					$("#subButton$velocityCount").click(function(){
						$subButton.actionURL;
		            });
				#end
				-->
				</script>
				</div>	
			#end
		#end
	</div>
	<div id="menutoolbarRight" style="float:right">
		$rightExtraMarkup
		
		#foreach($button in $rightButtons)
			#if($button.id != "")
				<a class='igToolbarButton igToolbarHeaderButton' href="#" id="$button.id" name="$button.id" title="$button.title"><span class='igToolbarButtonOuterSpan igToolbarHeaderButton'><span class='$button.cssClass' title="$button.title">$button.text</span></span></a>
			#else
				<a class='igToolbarButton igToolbarHeaderButton' href="#" id="rightButton$velocityCount" name="rightButton$velocityCount" title="$button.title"><span class='igToolbarButtonOuterSpan igToolbarHeaderButton'><span class='$button.cssClass' title="$button.title">$button.text</span></span></a>
			#end
			<script type="text/javascript">
			<!--
			#if($button.isJavascript == false)
         		#if($button.id != "")
		        	$("#$button.id").click(function(){
						callUrlWithAlternative('http://www.infoglue.org${button.actionURL}', '/infoglueDeliverWorking${button.actionURL}');
		        	});
        		#else
					$("#$button.id").click(function(){
						callUrlWithAlternative('http://www.infoglue.org${button.actionURL}', '/infoglueDeliverWorking${button.actionURL}');
					});
        		#end
        	#else
        		#if($button.id != "")
					$("#$button.id").click(function(){
						$button.actionURL
		        	});
        		#else
	        		$("#$button.id").click(function(){
						$button.actionURL
					});
        		#end
        	#end
			-->
			</script>
		#end
	</div>
</div>
#end


##***********************************************************
## A macro to add a toolbar to a page
##***********************************************************
#macro(lightFooterToolbar $buttons)
<div style="clear: both;"></div>
<div id="footertoolbar" onfocus="this.blur();">
	<div style="float:left; margin-left: 10px;">
		#foreach($button in $buttons)
			<input type="button" class='$button.cssClass' id="footerButton$velocityCount" name="footerButton$velocityCount" title="$button.title" value="$button.text"/>
			<script type="text/javascript">
			<!--
			$("#footerButton$velocityCount").click(function (){
				#if($button.isJavascript == false)
					#if($button.target == "inlineDiv")
	                	openInlineDiv("$button.actionURL", $button.inlineDivPrefferredHeight, $button.inlineDivPrefferredWidth, true, true, "$button.confirmationTitle"); 
					#else
						document.location.href = '$button.actionURL';
					#end
				#else
					$button.actionURL
				#end
				});
			-->
			</script>
		#end
	</div>
</div>
#end

##**************************************************
## This is the footer for all publishingtool pages *
##**************************************************

#macro(endCommonToolV3)
</div>
<div id="systemMessages"></div>
<div id="systemMessagesDialog"></div>
</body>
</html>
#end

#macro(endLightCommonToolV3)
</body>
</html>
#end

####################################
##          Installer macros       #
####################################

#macro(installProgressDiv $step)
<div id="progress">
	<ul id="progressList">
		<li #if($step == 0)class="active"#end#if($step > 0)class="previous"#end>$ui.getString("tool.common.install.introduction.title")</li>
		<li #if($step == 1)class="active"#end#if($step > 1)class="previous"#end>$ui.getString("tool.common.install.database.title")</li>
		<li #if($step == 2)class="active"#end#if($step > 2)class="previous"#end>$ui.getString("tool.common.install.databaseUpgrade.title")</li>
		<li #if($step == 3)class="active"#end#if($step > 3)class="previous"#end>$ui.getString("tool.common.install.server.title")</li>
		<li #if($step == 5)class="active"#end#if($step > 5)class="previous"#end>$ui.getString("tool.common.install.installationFinished.title")</li>
	</ul>
</div>
#end
