<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">

<html>
<head>
	<title>Delivery engine - lucene statistics</title>
	
	<style>
	<!--
		body
		{
			font-family: Arial;
			font-size: 12px;
		}
		table 
		{
			width : 900px;
			margin-right: auto;
			margin-left: auto;
			border: 1px solid #ccc;
			background-color: #f1f1f1;
		}
		.header 
		{
			font-family : Tahoma, Arial;
			font-size 	: 14pt;
			font-weight : bold;
		}
		.label
		{
			font-family		 : Tahoma, Arial;
			font-size		 : 8pt;
			font-weight 	 : bold;
			background-color : #CCCCCC;
		}
		.labelsub
		{
			font-family		 : Tahoma, Arial;
			font-size		 : 8pt;
			font-weight 	 : bold;
			background-color : #FFFFFF;
		}
		.text 
		{
			font-family	:Tahoma, Arial;
			font-size	:8pt;
		}
		.texttrue 
		{
			font-family	:Tahoma, Arial;
			font-size	:8pt;
		}
		.textfalse 
		{
			font-family	:Tahoma, Arial;
			font-size	:8pt;
			color  		:red;
		}
		.fullymarginalized 
		{
			margin-left	: 50px;
			margin-right: 50px;
			margin-top	: 10%;
		}

		
	-->
	</style>
	<script type="text/javascript">
	<!--	
		function toggleDiv(id)
		{
			var div = document.getElementById(id);
			if (navigator.appName == "Microsoft Internet Explorer")
			{
				if(div && div.style.display == 'block')
					div.style.display = "none";
				else
					div.style.display = "block";			
			}
			else
			{
				if(div && div.style.display == 'table-row')
					div.style.display = 'none';
				else
					div.style.display = 'table-row';				
			}
		}
	-->		
	</script>
</head>

<body>

<table cellpadding="4" cellspacing="0">
  <tr>
    <td>
    	<h1>$ui.getString("tool.managementtool.luceneoverview.header")</h1>
	    <p>$ui.getString("tool.managementtool.luceneoverview.introduction")</p>
	    
	  	#if($statusMessage != "")
			<h3 style="color: red;">$statusMessage</h3>
		#end
		<p>
			<b>Number of indexed docs:</b> $indexInformation.get("numDoc")<br/>
			<b>Maximum docs:</b> $indexInformation.get("maxDoc")<br/>
			<b>Index last modified:</b> $indexInformation.get("lastModified")<br/>
			<b>Index lastCommitedContentVersionId:</b> $indexInformation.get("lastCommitedContentVersionId")<br/>
			<br>
			<a href="ViewApplicationState!luceneStatistics.action">Refresh view</a><br>
			<br>
			<a href="ViewApplicationState!deleteIndex.action">Delete index</a> | <a href="ViewApplicationState!indexAll.action">Reindex all</a> 
		</p>
		<hr/>
		
		<h2>Search testbench</h2> 
		<p>
			<form name="inputForm" action="ViewApplicationState!search.action" method="post">
				Search term: <input type="text" name="searchString" id="searchString" value="$searchString"/><br/>
				Search field: <input type="text" name="searchField" id="searchField" value="$searchField"/><br/>
				Max hits: <input type="text" name="maxHits" id="maxHits" value="$maxHits"/><br/><br/>
				<input type="submit" value="Search"/>
			</form>
		</p>
		#if($searchResult)
			<h3>Results #if($searchResult.size() == $maxHits) (limited subset)#end</h3>
			<ul>
				#foreach($doc in $searchResult)
				<li>$formatter.escapeHTML("$doc")</li>
				#end
			</ul>
		#end 
    </td>
  </tr>
</table>

</body>

</html>