<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">

<html>
<head>
	<title>Delivery engine - cache statistics for $cacheName</title>
	
	<style>
	<!--
		body
		{
			font-size: 10px;
		}
		table 
		{
			width : 900px;
			margin-right: auto;
			margin-left: auto;
			border: 1px solid #ccc;
			background-color: #f1f1f1;
		}
		.header 
		{
			font-family : Tahoma, Arial;
			font-size 	: 14pt;
			font-weight : bold;
		}
		.label
		{
			font-family		 : Tahoma, Arial;
			font-size		 : 8pt;
			font-weight 	 : bold;
			background-color : #CCCCCC;
		}
		.label
		{
			font-family		 : arial;
			font-size		 : 8pt;
			font-weight 	 : normal;
		}
		.labelsub
		{
			font-family		 : Tahoma, Arial;
			font-size		 : 8pt;
			font-weight 	 : bold;
			background-color : #FFFFFF;
		}
		.text 
		{
			font-family	:Tahoma, Arial;
			font-size	:8pt;
		}
		.texttrue 
		{
			font-family	:Tahoma, Arial;
			font-size	:8pt;
		}
		.textfalse 
		{
			font-family	:Tahoma, Arial;
			font-size	:8pt;
			color  		:red;
		}
		.fullymarginalized 
		{
			margin-left	: 50px;
			margin-right: 50px;
			margin-top	: 10%;
		}

		
	-->
	</style>
	
	<script type="text/javascript" src="script/jquery/jquery-1.2.6.min.js"></script>
	
	<script type="text/javascript">
	<!--
		function showGroups(cacheName, cacheKey)
		{
			$("#groupsContent").load("ViewApplicationState!cacheEntryGroups.action", { 'cacheName': cacheName, 'cacheKey': cacheKey }, function(response, status, xhr) {
				$("#groupsContent").text(response);
			});
			$("#groups").show();
		}

		function showValues(cacheName, cacheKey)
		{
			$("#groupsContent").load("ViewApplicationState!cacheEntryValue.action", { 'cacheName': cacheName, 'cacheKey': cacheKey }, function(response, status, xhr) {
				$("#groupsContent").text(response);
			});
			$("#groups").show();
		}
		
	-->	
	</script>
	
</head>

<body>

<div id="groups" style="position: absolute; top: 100px; left: 50px; display:none; background: white; width: 70%; height: 300px; overflow: auto; border: 2px solid #333;">
<a href="javascript:$('#groups').hide();">Close</a>
<pre id="groupsContent">
</pre>
</div>

<table cellpadding="4" cellspacing="0">
  <tr>
    <td colspan="4" class="header">InfoGlue Cache Statistics ($serverName)</td>
  </tr>
  <tr>
    <td colspan="4" class="text">&nbsp;</td>
  </tr>
  <tr class="label">
    <td>Item</td>
    <td colspan="3">Value</td>
  </tr>
  <tr class="label">
    <td>InfoGlue cache name</td>
    <td>Item size in bytes</td>
    <td>Details</td>
    <td>Actions <a href="ViewApplicationState!clearCache.action?cacheName=$cacheName">Clear All</a></td>
  </tr>
  #if($cache.class.name == "com.opensymphony.oscache.general.GeneralCacheAdministrator") 
  	  #foreach($cacheEntry in $cacheMap.values())
	  <tr class="value">
	 	 <td>$cacheEntry.key</td>
	 	 <td><a href="javascript:showValues('$cacheName', '$cacheEntry.key');">View value</a></td>
	 	 <td><a href="javascript:showGroups('$cacheName', '$cacheEntry.key');">View groups ($cacheEntry.groups.size() used)</a></td>
	  </tr>
	  #end
  #else  
  	  #foreach($key in $cache.keySet())
	  <tr>
	 	 <td>$key</td>
	 	 <td><a href="javascript:showGroups('$cacheName', '$cacheEntry.key');">View value</a></td>
	 	 <td>&nbsp;</td>
	  </tr>
	  #end
  #end
  <tr>
    <td class="text" colspan="4"><a href="ViewApplicationState!resetComponentStatistics.action">Reset component stats</a></td>
  </tr>
  
</table>

</body>

</html>
