<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">

<html>
<head>
	<title>Delivery engine - cache statistics</title>
	
	<style>
	<!--
		table 
		{
			width : 900px;
			margin-right: auto;
			margin-left: auto;
			border: 1px solid #ccc;
			background-color: #f1f1f1;
		}
		.header 
		{
			font-family : Tahoma, Arial;
			font-size 	: 14pt;
			font-weight : bold;
		}
		.label
		{
			font-family		 : Tahoma, Arial;
			font-size		 : 8pt;
			font-weight 	 : bold;
			background-color : #CCCCCC;
		}
		.labelsub
		{
			font-family		 : Tahoma, Arial;
			font-size		 : 8pt;
			font-weight 	 : bold;
			background-color : #FFFFFF;
		}
		.text 
		{
			font-family	:Tahoma, Arial;
			font-size	:8pt;
		}
		.texttrue 
		{
			font-family	:Tahoma, Arial;
			font-size	:8pt;
		}
		.textfalse 
		{
			font-family	:Tahoma, Arial;
			font-size	:8pt;
			color  		:red;
		}
		.fullymarginalized 
		{
			margin-left	: 50px;
			margin-right: 50px;
			margin-top	: 10%;
		}

		
	-->
	</style>
	<script type="text/javascript">
	<!--	
		function toggleDiv(id)
		{
			var div = document.getElementById(id);
			if (navigator.appName == "Microsoft Internet Explorer")
			{
				if(div && div.style.display == 'block')
					div.style.display = "none";
				else
					div.style.display = "block";			
			}
			else
			{
				if(div && div.style.display == 'table-row')
					div.style.display = 'none';
				else
					div.style.display = 'table-row';				
			}
		}
	-->		
	</script>
</head>

<body>

<table cellpadding="4" cellspacing="0">
  <tr>
    <td colspan="4" class="header">InfoGlue Cache Statistics ($serverName)</td>
  </tr>
  <tr>
    <td colspan="4" class="text">&nbsp;</td>
  </tr>
  <tr class="label">
    <td>InfoGlue cache name</td>
    <td>Cached items</td>
    <td>Estimated size</td>
    <td>Hit/Miss Ratio</td>
    <td>Statistics</td>
    <td>Actions <a href="ViewApplicationState!clearCaches.action">Clear All</a></td>
  </tr>
  <tr>
    <td style="border-bottom: 1px solid #999999;" class="text" valign="top">String pool</td>
    <td style="border-bottom: 1px solid #999999;" class="text" valign="top">$stringPoolSize</td>
    <td style="border-bottom: 1px solid #999999;" class="text" valign="top">n/a</td>
    <td style="border-bottom: 1px solid #999999;" class="text" valign="top">n/a</td>
    <td style="border-bottom: 1px solid #999999;" class="text" valign="top">$stringPoolHits hits</td>
    <td style="border-bottom: 1px solid #999999;" class="text" valign="top"><a href="ViewApplicationState!clearStringPool.action">Clear</a></td>
  </tr>
  #foreach($cacheName in $sortedCaches)
      #set($cache = $caches.get($cacheName))
      
      #if($cache.class.name == "com.opensymphony.oscache.general.GeneralCacheAdministrator") 
      	#set($elementOne = "")
      	#set($elementTwo = "")
      	#foreach($cacheEventListener in $cache.cache.cacheEventListenerList.listenerList)
      		#if($velocityCount == 2)
	      		#set($elementOne = "$cacheEventListener")
      		#else
      			#set($elementTwo = "$cacheEventListener")
      		#end
      	#end
      	#set($parsedData = $this.parseData("$elementOne", "$elementTwo"))
	  #end
	  <tr>
	    <td style="border-bottom: 1px solid #999999;" class="text" valign="top"><a href="ViewApplicationState!cacheDetailsStatistics.action?cacheName=$cacheName">$cacheName</a></td>
	    <td style="border-bottom: 1px solid #999999;"  class="text" valign="top">#if($caches.get($cacheName).class.name == "com.opensymphony.oscache.general.GeneralCacheAdministrator") $cache.getCache().getSize() #else $cache.size() #end</td>
	    <td style="border-bottom: 1px solid #999999;"  class="text" valign="top">
	    	#if($cache.class.name == "com.opensymphony.oscache.general.GeneralCacheAdministrator") 
      			$parsedData.estimatedSize<br/>
		    #end
	    </td>
	    <td style="border-bottom: 1px solid #999999;"  class="text" valign="top">
	    	#if($cache.class.name == "com.opensymphony.oscache.general.GeneralCacheAdministrator") 
		        $parsedData.hitMissRatio %
		    #end
	    </td>
	    <td style="border-bottom: 1px solid #999999;"  class="text" valign="top">
	    	#if($cache.class.name == "com.opensymphony.oscache.general.GeneralCacheAdministrator") 
	    		<span style="font-size: 8pt; font-style: italic;">
		        $parsedData.originalSummary<br/>
		        $parsedData.originalStats
		        </span>
	    	#else 
	    		No additional statistics
	    	#end
	    </td>
	    <td style="border-bottom: 1px solid #999999;"  class="text" valign="top"><a href="ViewApplicationState!clearCache.action?cacheName=$cacheName&returnAddress=ViewApplicationState!cacheStatistics.action">Clear</a> | <a href="ViewApplicationState!clearCache.action?cacheName=$cacheName&clearFileCache=true">Clear (also fileCache)</a></td>
	  </tr>
  #end  <tr>
    <td class="text" colspan="4"><a href="ViewApplicationState!resetComponentStatistics.action">Reset component stats</a></td>
  </tr>
  
</table>

</body>

</html>
